@import "../../../../scss/variables";
@import "../../../../scss/placeholders";
@import "../../../../scss/mixins";

:host {

    position: fixed;
    z-index: $dynamicModalZIndex;
    top: 0;
    right: 0;

    display: flex;

    width: 100vw;
    height: 100vh;

    background-color: rgba(10, 18, 28, .45);

    align-items: center;
    justify-content: center;
    text-align: center;

    letter-spacing: normal;

    div.new-feature-modal {

        width: 375px;
        overflow: hidden;
        background-color: rgba(9, 17, 29, .75);

        @media (max-width: $small_min_width) {
            width: 90%;
        }

        .modal-text-wrapper {

            img.modal-sxm-logo {
                width: 90px;
                height: 90px;
                margin-top: 10px;
                margin-bottom: 32px;
            }

            h2.modal-title, p.modal-description {
                color: #fff;
            }

            h2.modal-title {
                font-size: 21px;
                margin-bottom: 14px;
            }

            p.modal-description {
                font-size: 16px;
                font-weight: normal;
                line-height: 23px;
                margin-bottom: 24px;
            }
        }
    }

    .modal--body {
        display: flex;
        flex-direction: column;
        position: relative;

        width: 420px;
        padding: 34px 32px 0 32px;  // no padding on bottom
        // because error code goes there.

        border-radius: 8px;
        background-color: $white;

        align-items: center;
        justify-content: center;

        letter-spacing: normal;

        @media (max-width: $small_min_width) {
            width: 75%;
        }

        .modal--close {
            position: absolute;
            top: 0;
            right: 0;
            margin: 11px;

            img {
                height: 40px;
                width: 40px;
            }
        }

        .modal-text-wrapper {
            width: 100%; //IE fix for text wrap

            .modal-title {
                @include sxm-font(Gotham-Medium);
                font-size: 18px;
                line-height: 1.33;

                word-wrap: break-word;

                color: $title-black;
            }

            .modal-sxm-logo {
                width: 121px;
                height: 23px;
                margin-bottom: 16px;
            }

            .modal-description {
                @include sxm-font(Gotham-Book);
                font-size: 16px;

                padding: 7px 0 0 0;
                line-height: 1.5;
                color: $title-black;

                // Modal descriptions respond to thoughtfully placed newline characters.
                // Preserve new lines, collapse spaces & tabs, and wrap text.
                white-space: pre-line;
            }

            .modal-aic-promoImage {
                margin-top: 10px;
            }
        }

        // Used when Safari blocks auto-play by pausing the video on startup.
        // This is a special case and we have specific modal styling as a result.
        .modal-description-safari-auto-play-failed {
            @include sxm-font(GothamNarrSSm-Book);
            font-size: 14px;
            color: $grey-blue;
            background-color: $pale-grey_5;
            padding: 16px;
            margin: 14px 0 25px 0;
            text-align: left;
            border-radius: 4px;

            .header,
            .footer-header {
                font-size: inherit;
                @include sxm-font(GothamNarrSSm-Black);
                color: $sxm_blue_2;
            }

            .list-steps {
                margin: 16px 0 20px 0;
                color: $title-black;
                list-style-position: inside;

                p {
                    display: inline;
                }

                .step-bold {
                    @include sxm-font(GothamNarrSSm-Black);
                }
            }

            .footer-desc {
                color: $title-black;
            }
        }

        .curated-cold-start-message {
            padding: 25px 0 25px 0;
        }

        .modal-button--container {
            display: flex;
            flex-direction: column;
            width: 100%;
            flex-grow: 0.5;
            justify-content: flex-end;

            @include sxm-font(Gotham-Bold);
            font-size: 14px;
            font-weight: normal;

            .modal-link {
                display: flex;
                height: 2.5em;
                text-decoration: none;
                border-radius: 4px;
                background-color: $sxm_blue_2;
                justify-content: center;
                align-items: center;
                color: $white;
            }

            button {
                height: 48px;
                line-height: 1.5;
                margin-top: 8px;
                border-radius: 28px;
                color: $white;
            }

            .modal-button-1,
            .modal-button-2 {
                @include sxm-font(Gotham-Bold);
                text-transform: uppercase;
                font-size: 14px;
                border-radius: 28px;
                text-align: center;
                height: 56px;
            }

            .modal-button-1 {
                @extend %primary-button-blue;
            }

            .modal-button-2 {
                @extend %secondary-button-transparent-blue;
            }
        }

        .modal-error-code {
            font-size: 12px;
            line-height: 1.33;
            height: 16px;
            margin: 12px 0 12px 0;
            color: $grey-blue;
        }

        &--alert {
            height: 250px;
            border-radius: 0;
            padding: 35px 40px 16px;
            justify-content: space-between;

            .modal-error-code {
                font-size: 9px;
                margin-bottom: 16px;
            }
        }

        &.no-error-code {
            .modal-error-code {
                display: none;
            }

            padding-bottom: 33px;
        }

        &.safari-auto-play {
            width: 492px;
            padding: 34px 67px 32px 67px;

            .modal-button-1 {
                width: 336px;
            }
        }
    }

    .pandora-ar.modal--body--alert {

        height: 309px;
        width: 700px;
        padding: 0 32px;

        display: flex;
        flex-direction: column;
        position: relative;

        border-radius: 8px;
        background-color: $white;

        align-items: center;
        justify-content: center;

        letter-spacing: normal;

        @media (max-width: $small_min_width) {
            width: 75%;
        }

        .modal--close {
            display: none;
        }

        .modal-text-wrapper {
            width: 100%; //IE fix for text wrap

            .modal-sxm-logo {
                width: 156px;
                height: 156px;
                margin-bottom: 16px;
            }

        }

    }
}
