<div class="{{modalData.customClass}} modal--body"
     id="dynamic-modal"
     [ngClass]="{ 'modal--body--alert': isOverlay,
                  'no-error-code': !modalData.errorCode,
                  'safari-auto-play': modalData.errorCode === SAFARI_AUTO_PLAY_FAILED_ERROR }">

    <button class="modal--close"
            *ngIf="isOverlay"
            (click)="takeButtonAction({})"
            tabindex="3"
            data-focus-trap>
        <img src="../../../../assets/images/close-black.svg"
             role="presentation"
             alt="">
    </button>

    <div class="modal-text-wrapper"
         role="alert"
         attr.aria-label="{{ modalData.header }} {{ modalData.description }}">
        <img class="modal-sxm-logo"
             *ngIf="modalData.logo"
             src={{modalData.logo.url}}
             role="presentation"
             alt="{{modalData.logo.altText | translate}}">
        <h2 class="modal-title" aria-hidden="true">{{ modalData.header }}</h2>
        <p *ngIf="modalData.errorCode !== PLAYBACK_DENIED || PLAYBACK_DENIED && isSafari"
           class="modal-description"
           aria-hidden="true"
           [innerHTML] = "modalData.description"></p>
        <img class="modal-aic-promoImage"
             *ngIf="modalData.promoImage"
            src={{modalData.promoImage.url}}
             role="presentation"
             alt="{{modalData.promoImage.altText | translate}}">
    </div>

    <!-- This is the text container for audio autoplay denied for browsers other than Safari
            that don't have user controls for autoplay -->
    <div *ngIf="modalData.errorCode === PLAYBACK_DENIED && !isSafari"
         class="modal-description-safari-auto-play-failed">

        <footer>
            <span class="footer-header">{{ 'errors.audioPlaybackDenied.descriptionSecondary.footer-0' | translate }}</span>
            <span class="footer-desc">{{ 'errors.audioPlaybackDenied.descriptionSecondary.footer-1' | translate }}</span>
        </footer>
    </div>

    <!-- This is the text container for video autoplay denied for browsers other than Safari
            that don't have user controls for autoplay -->
    <div *ngIf="modalData.errorCode === AUTOPLAY_DENIED && !isSafari"
         class="modal-description-safari-auto-play-failed">

        <footer>
            <span class="footer-header">{{ 'errors.autoPlayDenied.descriptionSecondary.footer-0' | translate }}</span>
            <span class="footer-desc">{{ 'errors.autoPlayDenied.descriptionSecondary.footer-1' | translate }}</span>
        </footer>
    </div>

    <!-- This is the text container for audio autoplay denied for Safari which has user controls for autoplay -->
    <div *ngIf="modalData.errorCode === PLAYBACK_DENIED && isSafari"
         class="modal-description-safari-auto-play-failed">

        <h2 class="header">{{ 'errors.audioPlaybackDenied.headerSafari' | translate }}</h2>

        <ol class="list-steps">
            <li>
                <p>
                    {{ 'errors.audioPlaybackDenied.descriptionSecondary.step1-0' | translate }}
                    <span class="step-bold">{{ 'errors.audioPlaybackDenied.descriptionSecondary.step1-1' | translate }}</span>
                </p>
            </li>
            <li><p>{{ 'errors.audioPlaybackDenied.descriptionSecondary.step2-0' | translate }}</p></li>
            <li>
                <p>
                    {{ 'errors.audioPlaybackDenied.descriptionSecondary.step3-0' | translate }}
                    <span class="step-bold">{{ 'errors.audioPlaybackDenied.descriptionSecondary.step3-1' | translate }}</span>
                </p>
            </li>
        </ol>

        <footer>
            <span class="footer-header">{{ 'errors.audioPlaybackDenied.descriptionSecondary.footer-0' | translate }}</span>
            <span class="footer-desc">{{ 'errors.audioPlaybackDenied.descriptionSecondary.footer-1' | translate }}</span>
        </footer>
    </div>

    <!-- This is the text container for video autoplay denied for Safari which has user controls for autoplay -->
    <div *ngIf="modalData.errorCode === SAFARI_AUTO_PLAY_FAILED_ERROR"
         class="modal-description-safari-auto-play-failed">
        <h2 class="header">{{ 'errors.safariAutoPlayPause.descriptionSecondary.header' | translate }}</h2>

        <ol class="list-steps">
            <li>
                <p>
                    {{ 'errors.safariAutoPlayPause.descriptionSecondary.step1-0' | translate }}
                    <span class="step-bold">{{ 'errors.safariAutoPlayPause.descriptionSecondary.step1-1' | translate }}</span>
                </p>
            </li>
            <li><p>{{ 'errors.safariAutoPlayPause.descriptionSecondary.step2-0' | translate }}</p></li>
            <li>
                <p>
                    {{ 'errors.safariAutoPlayPause.descriptionSecondary.step3-0' | translate }}
                    <span class="step-bold">{{ 'errors.safariAutoPlayPause.descriptionSecondary.step3-1' | translate }}</span>
                </p>
            </li>
        </ol>

        <footer>
            <span class="footer-header">{{ 'errors.safariAutoPlayPause.descriptionSecondary.footer-0' | translate }}</span>
            <span class="footer-desc">{{ 'errors.safariAutoPlayPause.descriptionSecondary.footer-1' | translate }}</span>
        </footer>
    </div>

    <div class="modal-button--container"
        *ngIf="!isOverlay">
        <a *ngIf="modalData.buttonOne.target; else buttonOne"
           class="modal-link"
           (click)="takeButtonAction(modalData.buttonOne)"
           target="{{ modalData.buttonOne.target }}"
           [href]="modalData.buttonOne.link"
           data-focus-trap>{{ modalData.buttonOne.text }}</a>
        <ng-template #buttonOne>
            <button class="modal-button-1"
                    sxm-new-analytics
                    [tagName]="tagName"
                    [tagType]="AnalyticsTagActionConstants.BUTTON_CLICK"
                    [userPath]="btnOneUserPath"
                    [tagText]="btnOneText"
                    [modal]="modalName"
                    [screen]="AnalyticsScreens.MODAL"
                    [elementType]="AnalyticsElementTypes.BUTTON"
                    [buttonName]="AnalyticsTagNameConstants.BUTTON_NAME"
                    [elementPosition]="0"
                    [skipNpData]="true"
                    [inputType]="AnalyticsInputTypes.MOUSE"
                    [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                    [skipCurrentPosition]="true"
                    (click)="takeButtonAction(modalData.buttonOne)"
                    tabindex="1"
                    data-focus-trap>
                <span class="modal-button-1__text">{{ modalData.buttonOne.text }}</span>
            </button>
        </ng-template>
        <button (click)="takeButtonAction(modalData.buttonTwo)"
                class="modal-button-2"
                sxm-new-analytics
                [tagName]="tagName"
                [tagType]="AnalyticsTagActionConstants.BUTTON_CLICK"
                [userPath]="btnTwoUserPath"
                [tagText]="btnTwoText"
                [modal]="modalName"
                [screen]="AnalyticsScreens.MODAL"
                [elementType]="AnalyticsElementTypes.BUTTON"
                [buttonName]="AnalyticsTagNameConstants.BUTTON_NAME"
                [elementPosition]="0"
                [skipNpData]="true"
                [inputType]="AnalyticsInputTypes.MOUSE"
                [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                [skipCurrentPosition]="true"
                *ngIf="modalData.buttonTwo"
                tabindex="2"
                data-focus-trap>
            <span class="modal-button-2__text">{{ modalData.buttonTwo.text }}</span>
        </button>
    </div>
    <div class="modal-error-code">{{ modalData.errorCode }}</div>
</div>
