<div class="sxm-search" *ngIf="!isLoading && (carouselStoreService.searchCarousels | async)">
    <h2 class="search-page-header">
        {{ 'search.searchResultsFor' | translate }}&nbsp;&ldquo;{{ searchKeyword }}&rdquo;
    </h2>

    <div *ngFor="let zone of (carouselStoreService.searchCarousels | async).zone">
        <content-carousel
            [carouselData]="zone.content"
            [searchText]="searchKeyword">
        </content-carousel>
    </div>


    <sxm-no-results [pageName]="noResultsPageName"
                    [filterText]="searchKeyword"
                    [results]="(carouselStoreService.searchCarousels | async).zone">
    </sxm-no-results>
</div>
