@import "../../../scss/variables";
@import "../../../scss/placeholders";
@import "../../../scss/mixins";

.sxm-search {
    margin-top: 18px;

    .search-page-header {
        @include sxm-font(GothamNarrSSm-Black);
        @include content-wrapper();
        font-size: 28px;
        font-weight: 900;
        letter-spacing: normal;
        text-align: left;
        line-height: 1.2;
        color: $title-black;
    }
}
