@import "../../../../scss/variables";
@import "../../../../scss/mixins";

// most toast notifications are orange
.toast-overlay:not(.alt-color) {
    background-color: $orange;
}

// few are blue - if isAltColor via ngClass
.toast-overlay.alt-color {
    background-image: linear-gradient(to bottom, rgba(0, 110, 215, 0.95), $sxm_blue_7);
}

// toast notifications with a CTA button are taller
.toast-overlay.has-cta {
    height: 79px;
}

// toast notifications without a CTA button are shorter
.toast-overlay:not(.has-cta) {
    height: 60px;
}

.toast-overlay {
    // "sticky footer" technique
    // sits on top of player controls, unafected by scrolling
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $toastMsgZIndex;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 6px;
    overflow: hidden; // never show a scroll bar

    opacity: 1;

    font-weight: normal;
    letter-spacing: normal;
    text-align: center;

    .message {
        flex: 1;
        align-self: center;
        line-height: 1.33;

        @include sxm-font(Gotham-Medium);
        font-size: 16px;
        color: white;
    }

    // optional call to action button on RH side
    button {
        min-width: 128px;
        height: 43.8px;
        line-height: 1.43;
        margin: 16.2px;

        background-color: white;
        border-radius: 4px;
        border: 1px solid transparent;

        @include sxm-font(GothamNarrSSm-Medium);
        font-size: 14px;
        color: $grey-blue;

        &.close-btn {
            min-width: 28px;
            background-color: transparent;
            align-self: center;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.has-miniplayer{
    bottom: $playerControlsHeight;
    &.has-remote-player-connected{
        bottom: $playerControlChromeCastHeight;
    }
}
