<div *ngIf="toastInformation.isOpen"
     class="toast-overlay"
     [ngClass]="{
        'alt-color': toastInformation.data.isAltColor,
        'has-cta': toastInformation.data.buttonCTAText,
        'has-miniplayer': isMiniPlayerEnabled,
        'has-close-button': toastInformation.data.hasCloseButton,
        'has-remote-player-connected': (isCasting$ | async)
    }">

    <div class="message">
        {{ alertMsg | async }}
    </div>

    <button *ngIf="toastInformation.data.buttonCTAText"
            (click)="onClickCTA()"
            alt="call to action">
            {{ toastInformation.data.buttonCTAText }}
    </button>

    <button class="close-btn" *ngIf="toastInformation.data.hasCloseButton" (click)="close()" alt="close">
        <img src="../../../../assets/images/close-icon-white.svg" />
    </button>

</div>
