<button class="category"
        progressCursor
        (click)="carouselService.onClickNeriticLinkAction(tileData)"
        attr.aria-label="{{ tileData.line1  }} {{ 'category.category' | translate }}">
    <img class="category-icon"
         alt=""
         src="{{tileData.fgImageUrl}}"
         role="presentation"/>
    <span class="category__name">{{ tileData.line1 }}</span>
</button>
