@import "../../../../../scss/placeholders";
@import "../../../../../scss/global";
@import "../../../../../scss/mixins";

.category {
    height: 36px;
    margin: 0 8px 8px 0;
    @include sxm-font(Gotham-Medium);
    font-size: 16px;
    border-radius: 18px;
    @extend %primary-button-blue;

    &__name {
        margin-right: 18px;
    }

    &-icon {
        background: transparent;
        width: 28px;
        height: 28px;
        margin: 4px 6px 4px 8px;
    }

    &:focus {
        @extend %focus-sub-category;
    }
}
