@import "../../scss/placeholders";
@import "../../scss/global";
@import "../../scss/mixins";

.header-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 9;
    padding-top: 20px;
    padding-bottom: 14px;
    @include progressive-calc(padding-right, 32, 162, 400, 1920, 100vw);
    @include progressive-calc(padding-left, 32, 162, 400, 1920, 100vw);
}

.breadcrumb {
    display: flex;
    align-items: center;

    &__text {
        font-size: 28px;
        line-height: 1;
        text-align: left;
        @include sxm-font(Gotham-Black);
        color: $title-black;
    }

    &__img {
        width: 13px;
        height: 28px;
        margin-right: 18px;
        background-image: url("../../assets/images/left-chevron-categories-dark-blue.svg");
        background-repeat: no-repeat;
    }

   &:hover,
   &:focus {
        .breadcrumb__img {
            background-image: url("../../assets/images/left-chevron-categories-hover-blue.svg");
        }
    }
}

.all-channels-list {
    @include content-wrapper();

    &__item {
        border-bottom: 2px solid $pale-grey;
        height: 123px;
        align-items: center;
    }
}
