<div sxm-sticky
     [stickyClass]="'sticky-bar'"
     class="header-section">
    <button class="breadcrumb"
            (click)="goBack()"
            [attr.title]="'allChannels.accessibility.back' | translate"
            #backBtn
            sxm-new-analytics
            [tagName]="AnalyticsTagNameConstants.BREADCRUMB_BACK"
            [userPath]="AnalyticsUserPaths.BREADCRUMB_BACK"
            [userPathScreenPosition]="2"
            [pageFrame]="AnalyticsPageFrames.HEADER"
            [elementPosition]="0"
            [carouselName]="'allChannels.allChannels' | translate"
            [skipActionSource]="true"
            [skipNpData]="true"
            [elementType]="AnalyticsElementTypes.BUTTON"
            [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
            [inputType]="AnalyticsInputTypes.MOUSE"
            [skipCurrentPosition]="true">
        <span class="breadcrumb__img"></span>
        <span class="breadcrumb__text">{{ 'allChannels.allChannels' | translate  }}</span>
    </button>

    <sxm-filter #filterRef
                filterType="channels"
                (filter)="updateFilter($event)">
    </sxm-filter>
</div>

<ul class="all-channels-list"
    #filterList>
    <li class="all-channels-list__item"
        *ngFor="let tile of tiles$ | async; trackBy : trackTile
                let index = index">

        <channel-list-item
                [tileData]="tile"
                [index]="index"
                [filterText]="filterRef.currentFilter"
                sxm-new-analytics
                [isTile]="true"
                [elementPosition]="2"
                [carouselPosition]="0"
                [zoneOrder]="0"
                [carouselName]="'allChannels.allChannels' | translate"
                [bannerInd]="tile.tileBanner ? (tile.tileBanner.bannerText | uppercase) : null"
                [tileType]="tile.tileContentType | lowercase"
                [tileContentType]="tile.primaryNeriticLink && tile.primaryNeriticLink.contentType | lowercase"
                [consumedPerc]="tile.percentConsumed">
        </channel-list-item>

    </li>
</ul>

<sxm-no-results [results]="tiles$ | async"
                [filterText]="filterRef.currentFilter"
                pageName="channels"></sxm-no-results>
