<div class="no-connectivity">
    <h3 class="no-connectivity__header">
        {{ 'errors.noIPConnectionA' | translate }}
    </h3>
    <p class="no-connectivity__info">
        {{ 'errors.noIPConnectionB' | translate }}
    </p>
</div>
