@import "../../scss/mixins";

%common-no-connectivity {
    @include sxm-font(GothamNarrSSm-Medium);
    width: 300px;
    text-align: center;
    margin: 0 auto 0 auto;
}

.no-connectivity {
    height: 52px;
    position: absolute;
    top: 50%;
    width: 100%;

    &__header {
        @extend  %common-no-connectivity;
        font-size: 24px;
        color: $progress-bar-dark;
    }

    &__info {
        @extend %common-no-connectivity;
        color: $grey-blue;
    }
}

