<div class="overlay-container"
     id="login-overlay">
    <div class="overlay-header">
        <button class="overlay-close"
                (click)="close()"
                [attr.type]= "click"
                [title]="'openAccess.loginOverlay.altText.close' | translate"
                tabindex="0"
                data-focus-trap>
            <img src="../../../../assets/images/close-white.svg"
                 [alt]="'openAccess.loginOverlay.altText.close' | translate">
        </button>

        <img src="../../../../assets/images/sxm-logo.svg"
             role="presentation"
             [alt]="'openAccess.loginOverlay.altText.sxmLogo' | translate"/>
    </div>

    <div class="overlay-body">
        <h2 class="form-header" role="alert">{{ 'openAccess.loginOverlay.header' | translate }}</h2>

        <login-component [viewContainerRef]="viewContainerSplashRef" [closeLoginOverLayFunction]="close.bind(this)"></login-component>

        <a *ngIf="settingsService.isSettingOn('ForgotLink', 'enableForgotLink')"
           [href]="loginService.forgotPasswordUrl"
           target="{{loginService.getTarget(loginService.forgotPasswordUrl, 'iframe_forgotUsernamePassword')}}"
           (click)="enableIframe('forgotUsernamePassword', loginService.forgotPasswordUrl, 'iframe_forgotUsernamePassword')"
           attr.aria-label="{{ 'login.accessibility.forgotUsernamePassword' | translate }}"
           class="forgot-username-password"
           data-focus-trap
           sxm-new-analytics
           [tagName]="AnalyticsTagNameConstants.LOGIN_FORGOT"
           [userPath]="AnalyticsUserPaths.LOGIN_FORGOT"
           [pageFrame]="AnalyticsPageFrames.OVERLAY"
           [elementType]="AnalyticsElementTypes.LINK"
           [elementPosition]="0"
           [linkName]="AnalyticsTagNameConstants.LOGIN_FORGOT_LINK_NAME"
           [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
           [inputType]="AnalyticsInputTypes.MOUSE"
           [skipCurrentPosition]="true">
            {{ 'login.forgotUsernamePassword' | translate }}
        </a>
    </div>

    <footer class="footer">
        <a [href]="loginService.customerAgreementUrl"
           [attr.aria-label]="'login.accessibility.customerAgreement' | translate"
           target="_blank"
           data-focus-trap
           aria-describedby="new-window"
           sxm-new-analytics
           [tagName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER"
           [userPath]="AnalyticsUserPaths.LOGIN_DISCLAIMER"
           [pageFrame]="AnalyticsPageFrames.OVERLAY"
           [elementType]="AnalyticsElementTypes.LINK"
           [elementPosition]="0"
           [tagText]="'login.customerAgreement' | translate"
           [linkName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER_LINK_NAME"
           [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
           [inputType]="AnalyticsInputTypes.MOUSE"
           [skipCurrentPosition]="true">{{ 'login.customerAgreement' | translate }}</a>

        <i class="dot-separator fa fa-circle" aria-hidden="true"></i>

        <a [href]="loginService.privacyPolicyUrl"
           [attr.aria-label]="'login.accessibility.privacyPolicy' | translate"
           target="_blank"
           data-focus-trap
           aria-describedby="new-window"
           sxm-new-analytics
           [tagName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER"
           [userPath]="AnalyticsUserPaths.LOGIN_DISCLAIMER"
           [pageFrame]="AnalyticsPageFrames.OVERLAY"
           [elementType]="AnalyticsElementTypes.LINK"
           [elementPosition]="0"
           [tagText]="'login.privacyPolicy' | translate"
           [linkName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER_LINK_NAME"
           [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
           [inputType]="AnalyticsInputTypes.MOUSE"
           [skipCurrentPosition]="true">{{ 'login.privacyPolicy' | translate }}</a>

        <i class="dot-separator fa fa-circle" aria-hidden="true"></i>

        <button class="locating-you"
           [attr.aria-label]="'login.accessibility.locatingYou' | translate"
           [title]="'login.accessibility.locatingYou' | translate"
           [ngClass]="{ 'visited': locatingYouVisited }"
           (click)="openOverlay(); updateVisitedLink('locatingYou')"
           tabindex="0"
           data-focus-trap
           sxm-new-analytics
           [tagName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER"
           [userPath]="AnalyticsUserPaths.LOGIN_DISCLAIMER"
           [pageFrame]="AnalyticsPageFrames.OVERLAY"
           [elementType]="AnalyticsElementTypes.LINK"
           [elementPosition]="0"
           [tagText]="'login.locatingYou' | translate"
           [linkName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER_LINK_NAME"
           [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
           [inputType]="AnalyticsInputTypes.MOUSE"
           [skipCurrentPosition]="true">
           {{ 'login.locatingYou' | translate }}
        </button>

         <i class="dot-separator fa fa-circle" aria-hidden="true"
            *ngIf="loginService.dataPrivacyUrl"></i>

         <a *ngIf="loginService.dataPrivacyUrl"
            [href]="loginService.dataPrivacyUrl"
            [attr.aria-label]="'login.accessibility.doNotSellMyInfo' | translate"
            target="_blank"
            data-focus-trap
            aria-describedby="new-window"
            sxm-new-analytics
            [tagName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER"
            [userPath]="AnalyticsUserPaths.LOGIN_DISCLAIMER"
            [pageFrame]="AnalyticsPageFrames.OVERLAY"
            [elementType]="AnalyticsElementTypes.LINK"
            [elementPosition]="0"
            [tagText]="'login.doNotSellMyInfo' | translate"
            [linkName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER_LINK_NAME"
            [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
            [inputType]="AnalyticsInputTypes.MOUSE"
            [skipCurrentPosition]="true">{{ 'login.doNotSellMyInfo' | translate }}</a>

    </footer>
</div>
