@import "../../../../scss/variables";
@import "../../../../scss/placeholders";
@import "../../../../scss/mixins";
@import "../../../../scss/pages/login";

.overlay-container {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(9, 17, 29, 0.95);
    z-index: 97;
    // Hard coding this z index for now.
    // Eventually we will want to move the management of
    // this overlay into the overlay component and overlay service
    // Overlay component will manage the stacking by using
    // a nice priority stack and html order.
    // Until that refactor happens do not add a variable to this z-index.
    // But you can change it around to fix any bugs.
    // Just know that eventually it will get removed.

    overflow-y: scroll;
    -ms-overflow-style: scrollbar;

    .overlay-close {
        position: absolute;
        right: 2px;
        top: 2px;
        cursor: pointer;
        background-color: rgba(9, 17, 29, 0.95);

        img {
            width: 40px;
            height: 40px;
        }

        &:focus {
            @extend %accessibility-outline;
        }
    }

    .overlay-header {
        margin-top: 3em;
    }

    .overlay-body {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        margin-top: 3em;
        width: 293px;


        .form-header {
            @include sxm-font(GothamNarrSsm-Book);
            font-size: 20px;
            text-align: center;
            margin-bottom: 1em;
        }

        .error-message--container {
            width: 75%;
            margin-bottom: 1em;
        }

        .overlay-form {
            input,
            button {
                min-height: 48px;
            }
        }

        .login-button {
            margin-top: 40px;
        }
    }

    .footer {
        margin: auto 0 0 0;
        flex: 0 0 30px;
    }
}
