@import "../../../../scss/variables";
@import "../../../../scss/placeholders";
@import "../../../../scss/mixins";

:host {
    line-height: 0;

    .volume-button {
        background-color: $pale-grey_5;
        border-bottom: 2px solid transparent;

        &:focus {
            @extend %focus-blue6-border-bottom2;
        }

        // The button images are varying widths & heights.
        // Pull them left and vertically align them
        // so that the image doesn't wiggle around.
        img {
            display: block;
            float: left;
            margin: auto auto auto 0;
            text-align: left;
            padding-bottom: 1px;
            width: 19.2px;
            height: 15.8px;
        }
    }

    .volume-bar {
        position: absolute;
        right: 0;
        bottom: 105px;

        display: flex;
        align-items: center;
        background-color: $pale-grey_5;
        padding: 0px 16px;
        height: 40px;
        border-radius: 4px;
        box-shadow: $box-shadow-blue;

        &--slider {
            width: 144px;
            height: $playerControlsAudioProgressBarHeight;
            border-radius: 4px;
        }

        .volume-hidden {
            @extend %accessibility-hidden;
        }

        // button text to the left of the slider
        .mute-btn {
            @include sxm-font(Gotham-Medium);
            background-color: transparent;
            font-size: 14px;
            text-transform: uppercase;
            color: $grey3;
            margin-right: 16px;
            border-bottom: 2px solid transparent;
            line-height: 1.43;

            &:focus {
                @extend %focus-blue6-border-bottom2;
            }

            // when the volume is zero, indicate with blue text
            // that the can take an "unmute" action
            &.active {
                color: $sxm-blue-6;
                @extend %focus-blue6-border-bottom2;
            }
        }

        /**
         * Below type="range" css used for volume bar control.
         */
        input[type=range] {
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: none;
            background-color: transparent;
            border-radius: 4px;
            cursor: pointer;

            &:focus,
            &:active,
            &::-moz-focus-inner,
            &::-moz-focus-outer,
            &:-moz-focusring {
                outline: none;
                border: 0;
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none !important;

                // make a 10px white circles
                background-color: $white;
                height: 10px;
                width: 10px;
                border-radius: 50%;

                // add a very slight translucent ring around the scrub ball
                border: 0.5px solid rgba(0, 0, 0, 0.1);

                // add a drop shadow
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

                &:hover {
                    transform: scale(1.4);
                }
            }

            &:focus::-webkit-slider-thumb {
                transform: scale(1.4);
            }

            &::-moz-range-thumb {
                background-color: $white;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                border: 1px solid $white;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

                &:hover {
                    transform: scale(1.4);
                }
            }

            &:focus::-moz-range-thumb {
                transform: scale(1.4);
            }

            &::-moz-range-progress {
                background-color: $sxm_blue_7;
                border-radius: 4px;
                height: $playerControlsAudioProgressBarHeight;
            }

            &::-moz-range-track {
                height: $playerControlsAudioProgressBarHeight;
                border-radius: 4px;
                background-color: $progress-bar-dark;
            }


            /* Required IE11 Slider Styles */
            padding: 0;
            box-sizing: content-box;

            &::-ms-fill-upper {
                background-color: $progress-bar-dark;
            }

            &::-ms-fill-lower {
                background-color: $sxm_blue_7;
            }

            &::-ms-fill-upper,
            &::-ms-fill-lower {
                -webkit-appearance: none;
                border-radius: 4px;
            }

            &::-ms-track {
                border: none;
                color: transparent;
                /*remove bg color from the track, use ms-fill-lower and ms-fill-upper instead */
                background-color: transparent !important; // !important is required for IE
                height: $playerControlsAudioProgressBarHeight;
                -webkit-appearance: none;
            }

            &::-ms-thumb {
                width: 10px;
                height: 10px;
                background-color: $white;
                border-radius: 50%;
                border: none;
                -webkit-appearance: none;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            }

            &:focus::-ms-thumb {
                transform: scale(1.4);
            }
        }
    }
}

/* Button Color Transparent Setting */
:host-context(.video-volume)  {
    .volume-button {
        background-color: transparent;
    }

    .volume-bar {
        bottom: 64px;
        background-color: $circle_dark;

        .mute-btn {
            color: $white;

            &:focus {
                @extend %focus-white-border-bottom;
            }

            &.active {
                color: $white;
                @include sxm-font(Gotham-Bold);
                @extend %focus-white-border-bottom;
            }
        }
    }
}
