<button class="volume-button"
        (click)="onClickVolumeButton()"
        [attr.aria-expanded]="volumeControlIsShown"
        [title]="'playerControls.accessibility.volumeIcon' | translate">
    <img src="{{volumeImageUrl}}.svg"
         [alt]="'playerControls.volumeIconAltText' | translate"/>
</button>
<!--
// ------------------------------------------------------------------------------------------------------
// Volume Bar
// ------------------------------------------------------------------------------------------------------
-->
<div [hidden]="!volumeControlIsShown"
     class="volume-bar">
    <button class="mute-btn"
            (click)="onClickMuteButton()"
            [ngClass]="{ 'active': volume === 0 }">
        {{ 'playerControls.mute' | translate }}
    </button>

    <input class="volume-bar--slider"
           type="range" min="0" max="100" step="1"
           [value]="volume"
           [attr.aria-label]="'playerControls.accessibility.volumeSlider' | translate"
           [attr.aria-valuemin]="0"
           [attr.aria-valuemax]="100"
           [attr.aria-valuenow]="volume"
           [ngStyle]="applyVolumeStyles()"
           (change)="volumeHandler($event)"
           (mousemove)="volumeHandler($event)"
           [title]="'playerControls.accessibility.volumeSlider' | translate"/>
    <span role="status" class="volume-hidden">
        {{ statusVolume === 0 ? ('playerControls.accessibility.muted' | translate) : statusVolume }}
    </span>
</div>
