@import "../../../scss/variables";

.channel-list {
    display: flex;
    flex-flow: column nowrap;
    margin: auto 2%;

    &__item {
        border-bottom: 2px solid $pale-grey;
        height: 123px;
        align-items: center;
    }
}
