<sxm-no-results [results]="carousels.tiles"
                [pageName]="noResultsPageName"></sxm-no-results>

<ul class="channel-list"
    *ngIf="carousels">
    <li class="channel-list__item"
        *ngFor="let tile of carousels.tiles; let index = index">
        <channel-list-item [tileData]="tile"
                           [index]="index"
                           [filterText]="filterText"
                           sxm-new-analytics
                           [isTile]="true"
                           [elementPosition]="0"
                           [carouselPosition]="0"
                           [carouselName]="AnalyticsCarouselNames.CHANNELS"
                           [zoneOrder]="0"
                           [bannerInd]="tile.tileBanner ? (tile.tileBanner.bannerText | uppercase) : null"
                           [tileType]="tile.tileContentType | lowercase"
                           [tileContentType]="tile.primaryNeriticLink && tile.primaryNeriticLink.contentType | lowercase"
                           [consumedPerc]="tile.percentConsumed"></channel-list-item>
    </li>
</ul>
