@import "../../../scss/placeholders";
@import "../../../scss/global";
@import "../../../scss/mixins";

/** Header Styles **/
$transition-time: 0.3s;

/** margins for breadcrumb-nav and show-info-row **/
.div-margins {
    margin: auto 281px;

    @media all and (max-width: $l_max_width) {
        margin: auto 162px;
    }

    @media all and (max-width: $m_max_width) {
        margin: auto 32px;
    }
}

header {
    width: 100%;
    z-index: 2;

    &.show-header-fixed {
      position: fixed;
      top: 162px;
    }

    @media all and (min-width: $m_max_width) {
        &.show-header-fixed {
            top: 108px;
        }
    }

    //Removes the extra top spacing when there is no OA banner.
    &.show-header-fixed.reduce-top-spacing {
        top: 60px;
    }
}

.show-info-container {
    text-align: center;
    @include sxm-font(GothamNarrSSm-Book);
    color: $slate;
    overflow: hidden;
    transition: all $transition-time;
    background-color: $black;

    .on-demand-breadcrumb-nav {
        display: flex;
        @extend .div-margins;

        .back-button{
            background: transparent;
            color: $pale-grey_2;
            @include sxm-font(GothamNarrSSm-Medium);
            font-size: 14px;
            font-weight: 500;
            letter-spacing: -0.2px;
            padding-top: 16px;
            border-bottom: 2px solid transparent;

            .chevron-left {
                margin-right: 14px;
            }

            &:focus {
                .back-button__text {
                    @extend %focus-white-border-bottom
                }
            }
        }

    }

    .on-demand-show-info-row {
        display: flex;
        flex-flow: row nowrap;
        @extend .div-margins;
        padding-top: 16px;
        transition: all $transition-time;
        margin-bottom: 20px;

        .on-demand-show-logo {
            overflow: hidden;
            width: 250px;
            height: 200px;
            transition: all $transition-time;


            @media all and (max-width: $l_max_width) {
                width: 261px;
                height: 209px;
            }

            @media all and (max-width: $m_max_width) {
                width: 222px;
                height: 178px;
            }
            @media all and (max-width: $s_max_width) {
                width: 224px;
                height: 180px;
            }

            @media all and (max-width: $xs_max_width) {
                width: 168px;
                height: 135px;
            }

            &__img {
                height: inherit;
                width: auto;
            }

            &__alt-text {
                align-items: center;
                color: $pale-grey_7;
                display: flex;
                height: inherit;
                justify-content: center;
                text-align: center;
                width: inherit;
            }
        }

        .on-demand-show-text-div {
            margin-left: 20px;
            width: 100%;

            .on-demand-show-text {
                display: flex;
                text-align: left;
                color: $white;
                @include sxm-font(GothamNarrSSm-Book);
                margin-left: 20px;
                flex-direction: column;
                align-self: center;
                transition: all $transition-time;

                .on-demand-show-title {
                    font-size: 24px;
                    display: block;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    max-width: 36vw;
                    transition: all $transition-time;
                }

                .on-demand-show-description {
                    font-size: 14px;
                    display: block;
                    overflow: hidden;
                    line-height: 1.5;
                    word-wrap: break-word;
                    text-overflow: ellipsis;
                    transition: all $transition-time;
                    &.less {
                        max-height: 106px;
                        overflow: hidden;
                    }
                }

                button.toggleText {
                    color: $sxm_blue_2;
                    align-self: flex-start;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.shrink {
    height: 88px;

    .on-demand-show-info-row {
        height: 100%;
        padding-top: 6px;

         .on-demand-show-text-div {
             justify-content: center;
             align-self: center;
             margin: 0;

             .on-demand-show-text {

                 .on-demand-show-title {
                     max-width: 80vw;
                 }
                 .on-demand-show-description {
                     display: none;
                 }
                 button.toggleText {
                     display: none;
                 }
             }
         }
    }

    .on-demand-logo-div,
    .on-demand-breadcrumb-nav{
        display: none;
    }
}

/**
    Episode List Styles
 */
.sxm-on-demand-episode-list-container {
    overflow-y: auto;

    &.show-header-fixed {
      padding-top: 170px;
    }
    .sxm-on-demand-episode-list {
        margin: 0 7%;

        &__item {
            border-bottom: 2px solid $pale-grey;
            height: 123px;
            align-items: center;
        }
    }
}
