<header class="show-header"
        [ngClass]="{ 'reduce-top-spacing': !isActiveOpenAccessSession }">
    <div class="show-info-container"
         [ngStyle]="{ 'background-image': 'url(' + channelBackgroundImageUrl + ')' }">

        <div class="on-demand-breadcrumb-nav">
            <button class="back-button"
                    (click)="navigationService.goBack()"
                    [title]="'allChannels.accessibility.back' | translate">
                <img class="chevron-left"
                     src="../../../assets/images/chevron-left.svg"
                     role="presentation"
                     alt=""/>
                <span class="back-button__text">{{ 'common.back' | translate }}</span>
            </button>
        </div>

        <div class="on-demand-show-info-row">

            <div class="on-demand-logo-div">
                <div class="on-demand-show-logo">
                    <div *ngIf="showLogoUrl && isImageLoaded; then image else text"></div>
                    <ng-template #image>
                        <img class="on-demand-show-logo__img"
                             [src]="showLogoUrl"
                             (error) = "onImageLoadError($event)"
                             role="presentation"
                             alt=""/>
                    </ng-template>

                    <ng-template #text>
                        <span class="on-demand-show-logo__alt-text">{{ showLogoAltText }}</span>
                    </ng-template>
                </div>
            </div>

            <div class="on-demand-show-text-div">
                <div class="on-demand-show-text">
                    <span class="on-demand-show-title">{{ line1 }}</span>
                    <span class="on-demand-show-description"
                          [ngClass]="{ less: readLess }"
                          #onDemandDescContainer> {{ line2$ | async }}</span>
                    <button class="toggleText"
                            *ngIf="toggleTextBtn"
                            (click)="readLess = !readLess">
                        {{( readLess ? 'enhancedEdp.readMore' : 'enhancedEdp.readLess' ) | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="sxm-on-demand-episode-list-container">
    <vertical-list *ngIf="carousel$ | async" [carouselData]="carousel$ | async" [showHeader]="false" [pageTitleAna]="line1"></vertical-list>
</div>
