@import "../../../scss/variables";
@import "../../../scss/global";
@import "../../../scss/mixins";

.shows-list-view-container {
    .show-header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 32px;
        font-size: 18px;
        @include sxm-font(GothamNarrSSm-Book);
        text-align: left;
    }

    .show-list {
        display: flex;
        flex-flow: column nowrap;
        margin: auto 2%;

        &__item {
            border-bottom: 2px solid $pale-grey;
            height: 123px;
            align-items: center;
        }
    }
}




