<sxm-no-results [results]="totalShowCount"
                [pageName]="noResultsPageName"></sxm-no-results>

<div *ngIf="groupedCarouselData">
    <div class="shows-list-view-container"
         *ngFor="let groupedCarousel of groupedCarouselData">
        <div *ngIf="groupedCarousel.carousel && groupedCarousel.carousel.tiles.length > 0">
            <h4 class="show-header">{{ groupedCarousel.groupName.textValue }}</h4>
            <ul class="show-list">
                <li class="show-list__item"
                    *ngFor="let tile of groupedCarousel.carousel.tiles; let index = index">

                    <show-list-item
                        [tileData]="tile"
                        [index]="index"
                        [filterText]="filterText"
                        sxm-new-analytics
                        [isTile]="true"
                        [elementPosition]="2"
                        [carouselName]="groupedCarousel.groupName.textValue"
                        [zoneOrder]="0"
                        [tileType]="tile.tileContentType | lowercase"
                        [tileContentType]="tile.primaryNeriticLink && tile.primaryNeriticLink.contentType | lowercase"
                        [tileContentSubType]="tile.tileContentSubType"></show-list-item>
                </li>
            </ul>
        </div>
    </div>
</div>
