<div double-tap-context-menu
     [contextMenuOptions]="episodeCMOptions"
     class="tile-wrapper {{ tileOrientation }}"
     [ngClass]="tileShape"
     attr.aria-label="{{ ((tileData.isTunedTo$ | async) ? 'carousels.accessibility.currentlyPlaying' : '') | translate }}
        {{ tileData.tileBanner.bannerText }}
        {{ carouselService.getAriaLabelContentType(tileData) | translate }}
        {{ tileData.ariaText | localizeTileText }}
        {{ tileData.line2$ | async | localizeTileText }}"
     role="button"
     tabindex="0">
    <div class="tile-background {{ tileData?.fgImageType }}"
         [ngClass]="{ 'updating': isUpdating,
                      'vod-container': isVodRectangleTile }"
         [lazyLoad]="(lazyLoadEvent$ | async) ? lazyLoadUrl : null"
         [ngStyle]="backgroundStyle">

        <div class="tile-banner"
             *ngIf="tileData.tileBanner.display && tileData.tileBanner.bannerText && tileData.tileBanner.bannerColor"
             [ngStyle]="{ 'background-color': tileData.tileBanner.bannerColor }">
            <p class="tile-banner__text"
               role="presentation"
               aria-hidden="true">
                {{ tileData.tileBanner.bannerText }}
            </p>
        </div>
        <img *ngIf="isVodRectangleTile"
             class="play-image"
             [src]="(tileData.isTunedTo$ | async) ? '../../../../assets/images/play-button-tap.svg' :
             '../../../../assets/images/play-button.svg'"
             alt=""
             role="presentation"
             aria-hidden="true"/>

        <tile-image [class]="tileShape"
                    [tileData]="tileData"
                    (error)="onTileImageError($event)">
        </tile-image>

        <div class="tile-text">
            <div class="tile-text__first-line">
                <div *ngIf="(tileData.isTunedTo$ | async); then npIndicator else episodesImg"></div>
                <ng-template #episodesImg>
                    <img class="episodes-img {{ getContentType() }}"
                         [src]="tileData.iconImageUrl"
                         draggable="false"
                         alt=""
                         role="presentation"/>
                </ng-template>

                <ng-template #npIndicator>
                    <img class="now-playing-indicator"
                         [src]="nowPlayingIndicatorService.playingIndicatorSrc$ | async"
                         draggable="false"
                         alt=""
                         role="presentation"/>
                </ng-template>

                <p class="tile-text__first-line__text"
                   [ngClass]="tileShape"
                   role="presentation"
                   aria-hidden="true">
                   {{ tileData.line1$ | async | localizeTileText }}
                </p>
            </div>

            <p class="tile-text__title"
               [ngClass]="tileShape"
               role="presentation"
               aria-hidden="true" #titleLine>
                {{ formatTitleText(tileData.line2$ | async) }}
            </p>
        </div>

        <div class="episode-progress-bar"
             *ngIf="tileData.percentConsumed">
            <span class="episode-progress"
                  [ngClass]="{ 'fully-consumed': (percentConsumed) === 100 }"
                  [style.width.%]="percentConsumed"></span>
        </div>
    </div>
</div>
