@import "../../../../../scss/variables";
@import "../../../../../scss/placeholders";
@import "../content-tile";

.tile-wrapper {
    .tile-background {
        .tile-text {
            &__first-line {
                .episodes-img {
                    margin-right: 4px;
                    align-self: center;
                    width: 16px;

                    &.now-playing-indicator {
                        width: inherit;
                        height: inherit;
                        margin: 0 0 2px -5px;
                    }
                }
            }

            &__title {
                word-wrap: break-word;
                white-space: normal;
            }
        }
    }
}

.episode-progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 4px;
    background-color: $consumption-bar-blue;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    .episode-progress {
        border-radius: 0 0 0 5.1px;
        background-color: $progress-indicator-green;
    }

    .fully-consumed {
        border-radius: 0 0 5.1px 5.1px;
    }
}

