@import "../../scss/variables";
@import "../../scss/mixins";

.sxm-no-results {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    @include sxm-font(Gotham-Book);
    color: $title-black;
    align-items: center;

    .no-results {
        &-container {
            margin: 0 24px;
        }
        &-header {
            font-size: 22px;
            letter-spacing: 0.4px;
            margin-top: 22px;
        }
        &-message {
            font-size: 16px;
            color: $grey-blue;
            margin: 8px auto 0 auto;
        }
    }
}
