<div class="sxm-no-results"
    *ngIf="results?.length === 0 && noResultsPage">
    <div class="no-results-container">
        <h3 class="no-results-header">
                {{ 'noResults.' + noResultsPage + '.header' | translate }}
                <span *ngIf="displayFilterText()">"{{ filterText }}"</span>
        </h3>

        <p class="no-results-message">{{ 'noResults.' + noResultsPage + '.body' | translate }}</p>
    </div>
</div>

