<div class="sxm-welcome-container" *ngIf="welcomePageScreenInfo && footerAccessInfo">
    <div class="logo-container">
        <img class="sxm-logo"
             role="presentation"
             [src]="welcomePageScreenInfo.logo"
             alt=""/>
    </div>

    <contextual-data-control *ngIf="deepLinkDataExists"
                             (deepLinkExists)="getDeepLinkExists($event)"
                             [relativeUrls]="relativeUrls">
    </contextual-data-control>

    <!-- rotating image carousel -->
    <app-welcome-carousel *ngIf="!deepLinkDataExists"
                          [carouselImages]="carouselImages">
    </app-welcome-carousel>

    <div class="action-buttons-container">
        <button *ngIf="welcomePageScreenInfo.buttonOne && welcomePageScreenInfo.buttonOne.text"
            class="subscribe-button action-button-1"
            (click)="onNeriticAction(welcomePageScreenInfo.buttonOne.neriticAction)"
            sxm-new-analytics
            [tagName]="deepLinkDataExists ? AnalyticsTagNameConstants.WEB_DEEPLINK_SUBSCRIBE
                : AnalyticsTagNameConstants.WEB_WELCOME_SUBSCRIBE"
            [screen]="deepLinkDataExists ? AnalyticsScreens.WEB_DEEP_LINK_PAGE : AnalyticsScreens.WEB_WELCOME_PAGE"
            [buttonName]="AnalyticsTagNameConstants.WEB_WELCOME_SUBSCRIBE_BUTTON"
            [tagText]="welcomePageScreenInfo.buttonOne.text"
            [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
            [actionSource]="AnalyticsTagActionSourceConstants.WEB_FLOW"
            [elementType]="AnalyticsElementTypes.BUTTON"
            [elementPosition]="0"
            [userPath]="AnalyticsScreens.WEB_WELCOME_PAGE + '_' + AnalyticsTagNameConstants.WEB_WELCOME_SUBSCRIBE_BUTTON"
            [pageFrame]="AnalyticsPageFrames.PAGE"
            [inputType]="AnalyticsInputTypes.MOUSE"
            [mercuryEvent]="AnalyticsMercuryEventConstants.EVENT_SXM_EVEREST_TAG_WEB_WELCOME_SUBSCRIBE">
            {{ welcomePageScreenInfo.buttonOne.text }}
        </button>
        <button *ngIf="welcomePageScreenInfo.buttonTwo && welcomePageScreenInfo.buttonTwo.text"
            class="explore-button action-button-2"
            (click)="onNeriticAction(welcomePageScreenInfo.buttonTwo.neriticAction)"
            sxm-new-analytics
            [tagName]="deepLinkDataExists ? AnalyticsTagNameConstants.WEB_DEEPLINK_EXPLORE
                : AnalyticsTagNameConstants.WEB_WELCOME_EXPLORE"
            [screen]="deepLinkDataExists ? AnalyticsScreens.WEB_DEEP_LINK_PAGE : AnalyticsScreens.WEB_WELCOME_PAGE"
            [buttonName]="AnalyticsTagNameConstants.WEB_WELCOME_EXPLORE_BUTTON"
            [tagText]="welcomePageScreenInfo.buttonTwo.text"
            [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
            [actionSource]="AnalyticsTagActionSourceConstants.WEB_FLOW"
            [elementType]="AnalyticsElementTypes.BUTTON"
            [elementPosition]="1"
            [userPath]="deepLinkDataExists ?
                AnalyticsScreens.WEB_DEEP_LINK_PAGE +
                '_' + AnalyticsTagNameConstants.WEB_WELCOME_EXPLORE_BUTTON : AnalyticsScreens.WEB_WELCOME_PAGE +
                '_'  + AnalyticsTagNameConstants.WEB_WELCOME_EXPLORE_BUTTON"
            [pageFrame]="AnalyticsPageFrames.PAGE"
            [inputType]="AnalyticsInputTypes.MOUSE"
            [mercuryEvent]="AnalyticsMercuryEventConstants.EVENT_SXM_EVEREST_TAG_WEB_WELCOME_EXPLORE">
            <span class="action-button-1__text">{{ welcomePageScreenInfo.buttonTwo.text }}</span>
        </button>
    </div>

    <div class="access-now-container">
        <p>{{ footerAccessInfo.accessHeader }}</p>
        <a (click)="onNeriticAction(footerAccessInfo.accessBtn.neriticAction)"
           sxm-new-analytics
           [tagName]="AnalyticsTagNameConstants.WEB_WELCOME_ACCESSNOW"
           [screen]="AnalyticsScreens.WEB_WELCOME_PAGE"
           [linkName]="AnalyticsTagNameConstants.WEB_WELCOME_ACCESSNOW_LINK"
           [tagText]="footerAccessInfo.accessBtn.text"
           [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
           [actionSource]="AnalyticsTagActionSourceConstants.WEB_FLOW"
           [elementType]="AnalyticsElementTypes.LINK"
           [elementPosition]="2"
           [userPath]="AnalyticsScreens.WEB_WELCOME_PAGE + '_' + AnalyticsTagNameConstants.WEB_WELCOME_ACCESSNOW_LINK"
           [pageFrame]="AnalyticsPageFrames.PAGE"
           [inputType]="AnalyticsInputTypes.MOUSE"
           [mercuryEvent]="AnalyticsMercuryEventConstants.EVENT_SXM_EVEREST_TAG_WEB_WELCOME_ACCESS_NOW">
           {{footerAccessInfo.accessBtn.text}}
        </a>
    </div>

    <div class="store-buttons-container">
        <a class="store-button"
           [href]="googlePlayStoreUrl"
           [attr.aria-label]="'login.accessibility.googlePlayStore' | translate"
           target="_blank">
            <img src="../../../assets/images/playstore-app-icon.svg"
                 [title]="'login.accessibility.googlePlayStore' | translate"
                 [alt]="'login.accessibility.googlePlayStore' | translate"/>
        </a>

        <a class="store-button" href="#"
           [href]="appleStoreUrl"
           [attr.aria-label]="'login.accessibility.appleStore' | translate"
           target="_blank">
            <img src="../../../assets/images/appstore-app-icon.svg"
                 [title]="'login.accessibility.appleStore' | translate"
                 [alt]="'login.accessibility.appleStore' | translate"/>
        </a>
    </div>

    <div class="legal-links"
         *ngIf="footerAccessInfo.legalLinks">
        <ul>
            <li *ngFor="let legal of footerAccessInfo.legalLinks; let last = last">
                <!-- screen_disclaimer_text -->
                <a target="_blank" [href]="legal.url"
                    sxm-new-analytics
                    [tagName]="deepLinkDataExists ? AnalyticsTagNameConstants.WEB_DEEP_LINK_PAGE
                        : AnalyticsTagNameConstants.WEB_WELCOME_DISCLAIM"

                    [userPath]="AnalyticsUserPaths.WEB_WELCOME_PAGE + '_'
                        + AnalyticsDisclaimerLinkNames.DISCLAIMER + '_' + legal.value"
                    [tagText]="legal.value"
                    [elementType]="AnalyticsElementTypes.LINK"
                    [linkName]="AnalyticsDisclaimerLinkNames.WELCOME_DISCLAIMERS"
                    [text]="legal.value"
                    [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                    [actionSource]="AnalyticsTagActionSourceConstants.WEB_FLOW"
                    [inputType]="AnalyticsInputTypes.MOUSE"
                    [screen]="deepLinkDataExists ? AnalyticsScreens.WEB_DEEP_LINK_PAGE + '_'
                        + AnalyticsTagTextConstants.DISCLAIMER + '_' + legal.value
                        : AnalyticsScreens.WEB_WELCOME_PAGE + '_'
                        + AnalyticsTagTextConstants.DISCLAIMER + '_' + legal.value"
                    [mercuryEvent]="AnalyticsMercuryEventConstants.EVENT_SXM_EVEREST_TAG_WEB_WELCOME_DISCLAIM"
                    [pageFrame]="AnalyticsPageFrames.PAGE">
                    {{legal.value}}
                </a>
                <i *ngIf="!last"
                   class="dot-separator fa fa-circle" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
</div>

<overlay-container [showOverlay]="showRegisterOverlay"
                   (onClose) = "closeRegisterOverlay()">
    <app-register [selectedFTFeature]="selectedFTFeature"
                  [deepLinkDataExists]="deepLinkDataExists"
                  [closeRegisterOverlay]="closeRegisterOverlay.bind(this)"></app-register>
</overlay-container>
