@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/global";

.sxm-welcome-container {
    background: url("../../../assets/images/splashscreen.jpg") center;
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    display: flex;
    overflow-y: auto;
    flex: 1 auto;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;

    .logo-container {
        margin-top: 46px;
        height: 54px;

        .sxm-logo {
            margin: 0 auto 0 auto;
            height: 100%
        }
    }

    .action-buttons-container {
        padding: 24px 5px 33px;
        width: 303px;
        box-sizing: border-box;
        border-bottom: 2px solid $white;

        button {
            margin-top: 16px;
            border: 2px solid $white;
            width: 100%;
            height: 56px;
            line-height: 24px;
            letter-spacing: 1.3px;
            border-radius: 28px;
            color: $white;
            font-size: 14px;
            @include sxm-font(Gotham-Bold);
        }
        .action-button-1 {
            background-color: $white;
            color: $sxm_blue_6;
        }
    }

    .access-now-container {
        font-size: 14px;
        text-align: center;
        margin-top: 10px;

        @include sxm-font(Gotham-Book);

        a {
            text-decoration: underline;
            cursor: pointer;
            font-size: 18px;
            color: $white;
            margin-top: 4px;
            @include sxm-font(Gotham-Medium);
        }
    }

    .store-buttons-container {
        margin-top: 24px;
        a {
            text-align: center;
        }

        a:first-child {
            margin-right: 26px;
        }
    }

    .legal-links {
        margin: 20px 0;
        li {
            display: inline;
            list-style: circle;
            margin-right: 15px;

            a {
                font-size: 12px;
                color: $white;
                @include sxm-font(Gotham-Medium);
            }
            .fa {
                position: relative;
                top: -2px;
                left: 8px;
                font-size:5px;
            }
        }
    }
}
