<div #wrap
     class="video-wrap"
     [hidden]="(singletonVideoService.isIdle$ | async)"
     [ngClass]="this.videoUIModeService.singletonVideoClass$ | async">
    <div class='live-label' *ngIf='displayLiveVideoLabel$ | async'>
        <span class='live-label__dot'></span>
        <span class='live-label__text'>{{liveVideoLabel}}</span>
    </div>

    <fullscreen-video-overlay
         *ngIf="(this.videoUIModeService.videoUIMode$ | async) === eVideoUIMode.FULLSCREEN"></fullscreen-video-overlay>
    <mini-video-overlay
        *ngIf="(this.videoUIModeService.videoUIMode$ | async) === eVideoUIMode.MINI_PLAYER"></mini-video-overlay>
    <now-playing-video-overlay
        *ngIf="(this.videoUIModeService.videoUIMode$ | async) === eVideoUIMode.NOW_PLAYING"></now-playing-video-overlay>
    <free-tier-video-overlay
        *ngIf="(this.videoUIModeService.videoUIMode$ | async) === eVideoUIMode.FREE_TIER"></free-tier-video-overlay>

<loading-spinner [isLoading]="(singletonVideoService.isBuffering$ | async)"></loading-spinner>

    <div id="{{ adobeFlashId }}">
    </div>

    <ng-template #upNext>
    </ng-template>

    <ng-content>
    </ng-content>
</div>

<div [ngStyle]="{'top': wrap.style.top}" class="video-wrap"
[ngClass]="this.videoUIModeService.singletonVideoClass$ | async"
*ngIf="(singletonVideoService.isIdle$ | async)">
        <img class="poster-image"
         *ngIf = "singletonVideoService.posterImageUrl$ | async"
        [src]="singletonVideoService.posterImageUrl$ | async" alt="">
</div>
