// styles which apply to the hls video player at any size
// mini-player, now-playing, or fullscreen
@import "../../../scss/variables";
@import "../../../scss/mixins";


.live-label {
    position: absolute;
    z-index: $LiveLabelZ;
    background-color: $light-grey_2;
    border-radius: 2px;
    padding: 0 4px;
    margin: 8px;
    display: flex;
    align-items: center;

    &__dot {
        height: 8px;
        width: 8px;
        background-color: $sxm_red_1;
        border-radius: 50%;
        display: inline-block;
        margin-right: 6px;
    }
    &__text {
        @include sxm-font(Gotham-Bold);
        font-size: 9px;
        color: $black;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.poster-image {
    width: inherit;
    height: inherit;
}

.video-wrap {

    background: $black;

    &.now-playing {
        position: absolute;

        // position below the header/nav
        top: 120px;

        // position our right edge in the middle of the screen
        right: 50%;

        width: $video-width-xl;
        height: $video-height-xl;
        margin-right: 24px;

        // large
        @media (max-width: $l_max_width) {
            width: $video-width-lg;
            height: $video-height-lg;
        }

        // medium
        @media (max-width: $large_max_width) {
            width: $video-width-md;
            height: $video-height-md;
        }

        //small
        @media (max-width: $m_max_width - 1) {
            width: 702px;
            height: 396px;
            top: 120px;
            left: 50%;
            margin-left: -347px;
        }
    }

    &.fullscreen {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;

        .live-label {
            margin: 8px 30px;
        }
    }

    &.mini-player {
        position: fixed;
        bottom: 6.5em;
        left: 1.5em;
        width: $video-width-mini;
        height: $video-height-mini;
        border-radius: 3px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 4px 5px 0 rgba(0, 0, 0, 0.14);
        z-index: $playerControlZindex; // should be lesser than signIn modal

        .live-label {
            line-height: 1.3;
            &__dot{
                height: 10px;
                width: 10px;
            }
            &__text{
                font-size: 12px;
            }
        }
    }

    &.free-tier{
        position: fixed;
        z-index: 12;
        width: 100%;
        height: auto;
        top: 0;
    }

    &.dormant {
        display: none;
    }
}

