<div class="hero-image-container">
    <div class="hero-carousel">
        <ng-container  *ngFor="let image of _carouselImages">
            <div  [ngStyle]="{'background-image': getImageStyle(image),
                              'background-size': '100%',
                              'background-repeat': 'no-repeat',
                              'background-position': 'center center'}">
            </div>
        </ng-container>
    </div>
</div>
