@import "../../../scss/variables";

.hero-image-container {
    margin: 20px auto 0 auto;
    width: 496px;
    height: 305px;
    overflow-x: hidden;

    .hero-carousel {
        height: 100%;
        .slick-slide {
            background-color: #4c5765;
            width: 493px;
            height: 279px;
        }

        .slick-dots {
            margin: -5px auto 0 auto;
            height: 14px;
            text-align: center;

            li {
                position: relative;
                display: inline-block;
                cursor: pointer;
                opacity: .5;
                margin-right: 5px;
                margin-left: 5px;
                border-radius: 50%;
                background-color: transparent;
                height: 10px;
                width: 10px;
                font-size: 0;
                border: 1px solid $white;
            }

            .slick-active {
                opacity: 1;
                background-color: $white;
            }
        }
    }
}
