@import "../../scss/variables";

button.reminder-btn {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    margin-right: 16px;

    &:not(.white-back-ground) {
        background-color: $sxm_blue_2;
    }
}

/* edp page reminder button */
:host-context(.edp-reminder-btn) {
    button.reminder-btn {
        border-radius: 32px;
        background-color: $light-grey_10;
       img {
           height: 21px;
           width: 22px;
       }
    }
}
