@import "../../../../../scss/placeholders";
@import "../../../../../scss/global";
@import "../../../../../scss/mixins";


.pills-list {
    @include content-wrapper(32px, 60px);
    &__header {
        display: flex;
        align-items: center;
        height: 18px;
        margin-bottom: 16px;
        text-transform: capitalize;
        @include sxm-font(Gotham-Bold);
        font-size: 18px;
        line-height: 1.33;
        color: $title-black;
    }

    &__body{
        display: flex;
        flex-wrap: wrap;
    }
}
