
<div class="pills-list">
    <h3 class="pills-list__header">{{title | uppercase}}</h3>

    <ul class="pills-list__body">
        <li  *ngFor="let pill of pillsList; let i = index">
            <pill-tile [tileData]="pill"></pill-tile>
        </li>
    </ul>
</div>
