<nav class="sxm-navbar stickier"
     sxm-sticky
     [stickyClass]="'sticky-bar'"
     [alwaysSticky]="true"
     [ngStyle]="navStyle"
     [ngClass]="{ 'now-playing-view': isNowPlayingView, 'enhanced-edp-view': isEnhancedEdpView }">
    <ul class="icons-list"
        role="tablist">
        <li class="logo-item">
            <h1 [attr.aria-label]="'navigation.accessibility.main' | translate">
                <button class="logo-item__btn"
                        id="logoBtn"
                        (click)="home()"
                        (keyup.enter)="home()"
                        [ngClass]="{ 'cursor-off' : isHomeView }"
                        [title]="'navigation.accessibility.logo' | translate"
                        [attr.aria-selected]="isHomeView"
                        role="presentation">
                    <img [src]="isNowPlayingView || isEnhancedEdpView ? '../../assets/images/sxm-logo.svg' : '../../assets/images/sxm-logo-mobile-color.svg'"
                         [alt]="" aria-hidden="true"/>
                </button>
            </h1>
        </li>
        <!--Discover main navigation-->
        <li *ngIf="!isSearchFocusedSmallScreen"
            class="home-item"
            role="presentation">
            <button sxm-new-analytics
                    [tagName]=AnalyticsCoreNavBarTags.CNB_BROWSE_SHORTNAME
                    [userPath]=AnalyticsUserPaths.CNB_BROWSE
                    [pageFrame]="AnalyticsPageFrames.SEARCH_HEADER"
                    [elementType]="AnalyticsElementTypes.BUTTON"
                    [buttonName]=AnalyticsCoreNavBarTags.CNB_BROWSE_BUTTON_NAME
                    [elementPosition]=1
                    [skipNpData]="true"
                    [action]=AnalyticsTagActionConstants.BUTTON_CLICK
                    [inputType]=AnalyticsInputTypes.MOUSE
                    [userPathScreenPosition]="3"
                    [skipCurrentPosition]="true"
                    (click)="home()"
                    (keyup.enter)="home()"
                    [ngClass]="{ 'cursor-off selected' : isHomeView }"
                    [attr.aria-selected]="isHomeView"
                    role="tab">
                <div class="home-item__icon" aria-hidden="true"
                 [ngClass]="{ 'isHomeView' : isHomeView ,
                 'dark-bg-view' : (isNowPlayingView || isEnhancedEdpView) }">

                </div>
                <span class="home-item__text"
                      [ngClass]="{ 'dark-bg-view' : (isNowPlayingView || isEnhancedEdpView) }">
                    {{ 'navigation.discover' | translate }}
                </span>
            </button>
        </li>
        <!--Favorites main navigation-->
        <li *ngIf="!isSearchFocusedSmallScreen"
            class="favorite-item"
            role="presentation">
            <button sxm-new-analytics
                    [tagName]=AnalyticsCoreNavBarTags.CNB_FAVORITES_SHORTNAME
                    [userPath]=AnalyticsUserPaths.CNB_FAVORITES
                    [pageFrame]=AnalyticsPageFrames.SEARCH_HEADER
                    [elementType]=AnalyticsElementTypes.BUTTON
                    [buttonName]=AnalyticsCoreNavBarTags.CNB_FAVORITES_BUTTON_NAME
                    [elementPosition]=2
                    [skipNpData]="true"
                    [action]=AnalyticsTagActionConstants.BUTTON_CLICK
                    [inputType]=AnalyticsInputTypes.MOUSE
                    [userPathScreenPosition]="3"
                    [skipCurrentPosition]="true"
                    (click)="favorites()"
                    (keyup.enter)="favorites()"
                    [disabled]="gupByPass"
                    [ngClass]="{ 'cursor-off selected' : isFavoriteView || gupByPass }"
                    [attr.aria-selected]="isFavoriteView"
                    role="tab">
                <div class="favorite-item__icon" aria-hidden="true"
                     [ngClass]="{ 'isFavoriteView': isFavoriteView ,
                     'dark-bg-view': (isNowPlayingView || isEnhancedEdpView)}">
                </div>
                <span class="favorite-item__text"
                      [ngClass]="{ 'dark-bg-view' : (isNowPlayingView || isEnhancedEdpView) }">
                {{ 'navigation.favorites' | translate }}</span>
            </button>
        </li>
        <!--Recents main navigation-->
        <li *ngIf="!isSearchFocusedSmallScreen"
            class="recents-item"
            role="presentation">
            <button sxm-new-analytics
                    [tagName]=AnalyticsCoreNavBarTags.CNB_RECENTS_SHORTNAME
                    [userPath]=AnalyticsUserPaths.CNB_RECENTS
                    [pageFrame]=AnalyticsPageFrames.SEARCH_HEADER
                    [elementType]="AnalyticsElementTypes.BUTTON"
                    [buttonName]=AnalyticsCoreNavBarTags.CNB_RECENTS_BUTTON_NAME
                    [elementPosition]=3
                    [skipNpData]="true"
                    [action]=AnalyticsTagActionConstants.BUTTON_CLICK
                    [inputType]=AnalyticsInputTypes.MOUSE
                    [userPathScreenPosition]="3"
                    [skipCurrentPosition]="true"
                    (click)="recents()"
                    (keyup.enter)="recents()"
                    [disabled]="gupByPass"
                    [ngClass]="{ 'cursor-off  selected' : isRecentsView || gupByPass }"
                    [attr.aria-selected]="isRecentsView"
                    role="tab">
                <div class="recents-item__icon" aria-hidden="true"
                     [ngClass]="{ 'isRecentsView': isRecentsView ,
                     'dark-bg-view': (isNowPlayingView || isEnhancedEdpView) }">
                </div>
                <span class="recents-item__text"
                      [ngClass]="{ 'dark-bg-view' : (isNowPlayingView || isEnhancedEdpView) }">
                    {{ 'navigation.recents' | translate }}</span>
            </button>
        </li>
        <!--Search main navigation-->
        <li class="search-item"
            [ngClass]="{ 'search-form-open-on-small-screen': isSearchFocusedSmallScreen,
                         'dropdown-in-dom': isSearchFocused }"
            role="presentation">
            <button *ngIf="!isSearchFocusedSmallScreen"
                    class="search-item__icon"
                    sxm-new-analytics
                    [tagName]=AnalyticsCoreNavBarTags.CNB_SEARCH_SHORTNAME
                    [userPath]=AnalyticsUserPaths.CNB_SEARCH
                    [pageFrame]=AnalyticsPageFrames.SEARCH_HEADER
                    [elementType]="AnalyticsElementTypes.BUTTON"
                    [buttonName]=AnalyticsCoreNavBarTags.CNB_SEARCH_BUTTON_NAME
                    [elementPosition]=4
                    [skipNpData]="true"
                    [action]=AnalyticsTagActionConstants.BUTTON_CLICK
                    [inputType]=AnalyticsInputTypes.MOUSE
                    [userPathScreenPosition]="3"
                    [skipCurrentPosition]="true"
                    (click)="setSearchFocusSmallScreen(true); focusSearch();">
                <img [src]="searchIconUrl"
                     [alt]="'navigation.accessibility.search' | translate"/>
            </button>

            <form class="search-item-form"
                  #searchForm
                role="search">
                <div class="search-input-wrapper">
                    <input type="search"
                           [attr.aria-label]="'navigation.accessibility.search' | translate"
                           #inputElementRef
                           class="search-input"
                           [ngClass]="{ 'dark-bg-view': (isNowPlayingView || isEnhancedEdpView),
                                        'isSearchView': !isSearchFocused && isSearchView,
                                        'valid-input': searchKey.value }"
                           name="searchText"
                           placeholder="{{ 'navigation.searchPlaceholder' | translate }}"
                           (focus)="onInputFocus()"
                           (blur)="onInputBlur($event)"
                           sxm-new-analytics
                           [tagName]="tagName"
                           [userPath]="userPath"
                           [buttonName]="buttonName"
                           [userPathScreenPosition]="userPathScreenPos"
                           [pageFrame]=AnalyticsPageFrames.SEARCH_HEADER
                           [elementType]="AnalyticsElementTypes.BUTTON"
                           [elementPosition]=4
                           [skipNpData]="skipNpData"
                           [searchTerm]="searchKey.value ? searchKey.value : null"
                           [action]=AnalyticsTagActionConstants.BUTTON_CLICK
                           [inputType]=AnalyticsInputTypes.MOUSE
                           [skipCurrentPosition]="true"
                           (keyup.enter)="submitSearch($event.target.value, $event)"
                           [formControl]="searchKey"
                           autocomplete="off"/>

                    <sxm-search-dropdown class="search-dropdown"
                                         (focus)="onDropdownFocus()"
                                         (sameSearch)="setSearchValue($event)"></sxm-search-dropdown>

                    <button *ngIf="searchKey.value"
                            class="clear-btn lg-screen"
                            type="reset"
                            [title]="'navigation.accessibility.clearIcon' | translate"
                            (click)="clearSearch(inputElementRef);"
                            sxm-new-analytics
                            [tagName]=AnalyticsCoreNavBarTags.CNB_SEARCH_CANCEL
                            [userPath]=AnalyticsUserPaths.CNB_SEARCH_CANCEL
                            [pageFrame]=AnalyticsPageFrames.SEARCH_HEADER
                            [elementType]="AnalyticsElementTypes.BUTTON"
                            [buttonName]=AnalyticsCoreNavBarTags.CNB_SEARCH_CANCEL_BUTTON_NAME
                            [elementPosition]=4
                            [searchTerm]="searchKey.value && searchKey.value"
                            [action]=AnalyticsTagActionConstants.BUTTON_CLICK
                            [inputType]=AnalyticsInputTypes.MOUSE
                            [skipNpData]="true"
                            [skipCurrentPosition]="true"></button>

                    <button *ngIf="searchKey.value"
                            class="clear-btn sm-screen"
                            type="reset"
                            [title]="'navigation.accessibility.clearIcon' | translate"
                            (click)="clearSearch(inputElementRef); setSearchFocusSmallScreen(false);"
                            sxm-new-analytics
                            [tagName]=AnalyticsCoreNavBarTags.CNB_SEARCH_CANCEL
                            [userPath]=AnalyticsUserPaths.CNB_SEARCH_CANCEL
                            [pageFrame]=AnalyticsPageFrames.SEARCH_HEADER
                            [elementType]="AnalyticsElementTypes.BUTTON"
                            [buttonName]=AnalyticsCoreNavBarTags.CNB_SEARCH_CANCEL_BUTTON_NAME
                            [elementPosition]=4
                            [action]=AnalyticsTagActionConstants.BUTTON_CLICK
                            [inputType]=AnalyticsInputTypes.MOUSE
                            [skipNpData]="true"
                            [skipCurrentPosition]="true"></button>
                </div>
            </form>
        </li>
        <!--Settings main navigation-->
        <li *ngIf="!isSearchFocusedSmallScreen"
            class="settings-item"
            role="presentation">
            <button id="settings-dropdown-trigger"
                    class="settings-btn"
                    #profileBtn
                    [ngClass]="[ displayProfileDropdown.getValue() ? 'setting-on' : 'setting-off',
                     isNowPlayingView || isEnhancedEdpView ? 'dark-bg-view' : '' ]"
                    sxm-new-analytics
                    [tagName]=AnalyticsCoreNavBarTags.CNB_SETTINGS_SHORTNAME
                    [userPath]=AnalyticsUserPaths.CNB_SETTINGS
                    [pageFrame]="AnalyticsPageFrames.SEARCH_HEADER"
                    [elementType]="AnalyticsElementTypes.BUTTON"
                    [buttonName]=AnalyticsCoreNavBarTags.CNB_SETTINGS_BUTTON_NAME
                    [elementPosition]=5
                    [skipNpData]="true"
                    [action]=AnalyticsTagActionConstants.BUTTON_CLICK
                    [inputType]=AnalyticsInputTypes.MOUSE
                    [userPathScreenPosition]="3"
                    [skipCurrentPosition]="true"
                    (click)="onDropdownTriggerClick()"
                    aria-haspopup="true"
                    [attr.aria-expanded]="displayProfileDropdown | async"
                    [title]="'navigation.accessibility.settings' | translate"></button>

            <profile-dropdown (closeProfileDropdown)="closeProfileDropdown($event)"
                              (focusProfileDropdown)="focusProfileDropdown($event)"
                              [displayProfileDropdown]="displayProfileDropdown | async"></profile-dropdown>
        </li>
    </ul>
</nav>
