@import "../../scss/variables";
@import "../../scss/placeholders";
@import "../../scss/mixins";

// When on the Now Playing view, this enables
// our background image to start at the top of the screen.

//nav.sxm-navbar.isNowPlayingView {
//    height: 0px;
//
//    ul.icons-list {
//        // required for a <ul> element to have background-image
//        display: inline-flex;
//
//        // subtle translucent gradient covering the
//        // full width & height of nav.sxm-navbar
//        background-image: linear-gradient(to bottom, rgba(67, 89, 115, 0.25), rgba(32, 45, 63, 0.25));
//    }
//}

$search-icon--height: 20px;

.sxm-navbar {
    font-size: 14px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    width: 100%;

    &.now-playing-view {
        background-color: $default-np-background;
    }

    &.enhanced-edp-view {
        background-color: $black;
    }

    .icons-list {
        width: 100%;
        height: 60px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
    }

    .home-item,
    .favorite-item,
    .recents-item{
      button {
          display:flex;
          align-items: center;
      }
    }
    .home-item {
        display: flex;
        &__icon {
            width: 20px;
            height: 20px;
            background: no-repeat url("../../assets/images/discover-off.svg");

            &.isHomeView {
                background: no-repeat url("../../assets/images/discover-on-blue.svg");
            }

            &.dark-bg-view {
                background: no-repeat url("../../assets/images/discover-on-white.svg");
            }
        }
    }


    .favorite-item {
        display: flex;
        &__icon {
            width: 20px;
            height: 20px;
            background: no-repeat url("../../assets/images/favorite-off-nav.svg");

            &.isFavoriteView {
                background: no-repeat url("../../assets/images/favorite-on-blue.svg");
            }

            &.dark-bg-view {
                background: no-repeat url("../../assets/images/favorite-off-nav-white.svg");
            }
        }
    }

    .recents-item {
        display: flex;
        &__icon {
            width: 20px;
            height: 20px;
            background: no-repeat url("../../assets/images/recent-off.svg");

            &.isRecentsView {
                background: no-repeat url("../../assets/images/recent-on-blue.svg");
            }

            &.dark-bg-view {
                background: no-repeat url("../../assets/images/recent-on-white.svg");
            }
        }
    }

    .home-item,
    .favorite-item,
    .recents-item,
    .settings-item,
    .search-item {
        &__text {
            @include sxm-font(Gotham-Book);
            vertical-align: middle;
            margin-left: 8px;
            color: $grey-blue2;
            line-height: 20px;
            padding-top: 2px;
            border-bottom: transparent 2px solid;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            &.dark-bg-view {
                @include sxm-font(Gotham-Medium);
                color: $white;
            }
        }

        button {
            &:focus {
                span {
                    border-bottom: 2px solid $sxm_blue_6;
                }

                span.dark-bg-view {
                    border-bottom: 2px solid $white;
                }
            }

            &.selected {
                span {
                    @include sxm-font(Gotham-Bold);
                    color: $sxm_blue_6;
                }
            }

            &.settings-btn {
                &:focus {
                    border-bottom: 2px solid $sxm_blue_6;
                }

                &.dark-bg-view {
                    &:focus {
                        border-bottom: 2px solid $white;
                    }
                }
            }
        }
    }

    .logo-item {
        display: flex;
        flex-grow: 0.3;
        margin-left: 1.5%;

        h1 {
            line-height: 0;
        }

        &__btn {
            width: 190px;
            height: 36px;
            img {
                width: inherit;
                height: inherit;
                background-size: cover;
                border-bottom: 2px groove transparent;
            }
        }
    }

    .home-item,
    .favorite-item,
    .settings-item {
        flex-grow: 0.3;
        margin-right: 8px;
    }

    .recents-item {
        flex-grow: 0.3;
    }

    .settings-item {
        display: flex;

        .settings-btn {
            width: 22px;
            height: 22px;
            border-bottom: transparent 2px solid;

            &.setting-off {
                background: no-repeat url("../../assets/images/settings-off.svg");

                &.dark-bg-view {
                    background: no-repeat url("../../assets/images/settings-off-white.svg");
                }
            }

            &.setting-on {
                background: no-repeat url("../../assets/images/settings-on-blue.svg");

                &.dark-bg-view {
                    background: no-repeat url("../../assets/images/settings-on-blue.svg");
                }
            }
        }
    }

    .search-item {
        flex-grow: 5;
        display: flex;

        &__icon {
            pointer-events: none;
            display: none;
        }

        .search-item-form {
            width: 85%;
            display: flex;
            position: relative;
            justify-content: flex-end;

            .search-input-wrapper {
                position: relative;
                width: 100%;

                .search-icon {
                    position: absolute;
                    left: 16px;
                    top: calc(50% - #{$search-icon--height} / 2);;
                    background: no-repeat center url('../../assets/images/srch-off-nav.svg');
                    background-size: contain;
                    width: 14px;
                    height: $search-icon--height;
                }

                .search-input {
                    padding-left: 28px;
                    padding-right: 38px;
                    height: 30px;
                    width: 50%;
                    background: url('../../assets/images/srch-off-nav.svg') no-repeat 0px center;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    @include overlay-transition(all,.5s,ease);
                    color: $sxm_blue_6;
                    @include sxm-font(Gotham-Book);
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;

                    //remove “X” from input box field on Edge/IE
                    &::-ms-clear {
                        display: none;
                    }

                    &::placeholder {
                        font-size: 14px;
                        letter-spacing: 0.2px;
                        text-align: left;
                        color: $grey-blue2;
                        padding-left: 0.1em;
                        @include sxm-font(Gotham-Book);
                        opacity: 1;
                    }

                    &.isSearchView {
                        background: url('../../assets/images/srch-off-nav-blue.svg') no-repeat 0px center;
                        font-family: Gotham-Bold, Arial, Helvetica, sans-serif;
                        color: #0000eb;

                        &::placeholder {
                            font-family: Gotham-Bold, Arial, Helvetica, sans-serif;
                            color: #0000eb;
                        }
                    }

                    &:-ms-input-placeholder {
                        padding-left: 2.5em;
                        color: $grey-blue2;
                        @include sxm-font(Gotham-Book);
                    }

                    &.valid-input,
                    &:focus {
                        width: 100%;
                        outline: 0;
                        border-radius: 8px;
                        border: solid 1.5px $sxm_blue_6;
                        background: $white url('../../assets/images/srch-on-blue.svg') no-repeat 9px center;
                        background-size: 16px;
                        padding-left: 2.5em;
                        &::-webkit-input-placeholder {
                            opacity: 0;
                        }
                        &::-moz-placeholder{
                            opacity:0;
                        }
                        cursor: inherit;
                        @include sxm-font(Gotham-Bold);
                    }

                    &.dark-bg-view {
                        background: url('../../assets/images/srch-off-nav-white.svg') no-repeat 0px center;

                        &::placeholder {
                            color: $white;
                            @include sxm-font(Gotham-Medium);
                        }

                        &:-ms-input-placeholder {
                            color: $white;
                            @include sxm-font(Gotham-Medium);
                        }

                        &.valid-input,
                        &:focus {
                            background: $white url('../../assets/images/srch-on-blue.svg') no-repeat 9px center;
                            border: solid 1.5px $white;
                        }
                    }

                }

                .clear-btn {
                    position: absolute;
                    right: 16px;
                    top: calc(50% - #{$search-icon--height} / 2);
                    background: no-repeat center url('../../assets/images/close-icon-color.svg');
                    width: 14px;
                    height: $search-icon--height;
                    border-bottom: 0;

                    &.sm-screen{
                        display: none;
                    }

                    &:focus {
                        @extend %accessibility-outline;
                    }
                }
            }
        }

        .search-close-btn {
            display: inline-block;
            letter-spacing: 0.3px;
            text-align: left;
            color: $white;
            margin: 0 20px 0;
            padding-bottom: 0;

            &:focus {
                .search-close-btn__text {
                    @extend %focus-white-border-bottom;
                }
            }
        }

        .search-dropdown {
            display: none;
        }

        &.dropdown-in-dom {
            .search-dropdown {
                display: block;
                top: auto;
            }
        }

        &.search-form-open-on-small-screen {
            flex-grow: 3;

            .search-item-form {
                display: flex;
                .search-input-wrapper
                {
                    .clear-btn {
                        &.lg-screen {
                            display: none;
                        }

                        &.sm-screen {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    @media all and (max-width: $l_max_width) {
        .recents-item {
            flex-grow:0.4;
        }

        .logo-item {
            margin-left: 1.5%;
        }

    }

    @media all and (max-width: $m_max_width) {
        .logo-item {
            flex-grow: 0.5;
            margin-left: 1.5%;
        }

        .search-item {
            flex-grow: 1;
        }

        .home-item,
        .favorite-item,
        .recents-item,
        .settings-item,
        .search-item {
            .search-item-form {
                width: 80%;
            }

            &__icon {
                pointer-events: auto;
            }
        }
    }

    @media all and (max-width: $s_max_width) {
        .home-item,
        .favorite-item,
        .recents-item,
        .search-item,
        .settings-item {
            &__text {
                display: none;
            }

            button:focus {
                outline: 2px solid $sxm_blue_2;
            }
        }

        .search-item {
            &__icon {
                display: inline-block;
            }

            .search-item-form {
                display: none;
                width: 60%;
            }
        }
    }
}
