<div class="upsell-wrapper" *ngIf="upsellPageScreenInfo">

    <div class="upsell-container">

        <h1 class="upsell-header" role="heading">{{ upsellPageScreenInfo.header }}</h1>

        <p class="upsell-copy" role="presentation">{{ upsellPageScreenInfo.description }}</p>

        <button (click)="explore()"
                class="explore-plans-button overlay-button-1"
                [attr.aria-label]="upsellPageScreenInfo.subscribeStreaming.text"
                sxm-new-analytics
                [tagName]="AnalyticsTagNameConstants.WEB_FREE_ACCESS_LTUX_CTA"
                [screen]="AnalyticsScreens.WEB_FREE_ACCESS_LTUX"
                [mercuryEvent]="AnalyticsMercuryEventConstants.EVENT_SXM_EVEREST_TAG_WEB_FREE_ACCESS_LTUX_CTA"
                [buttonName]="AnalyticsTagNameConstants.EXPLORE_PLANS"
                [tagText]="upsellPageScreenInfo.subscribeStreaming.text"
                [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                [actionSource]="AnalyticsTagActionSourceConstants.WEB_FLOW"
                [userPath]="AnalyticsScreens.WEB_FREE_ACCESS_LTUX + '_' + AnalyticsTagNameConstants.EXPLORE_PLANS"
                [pageFrame]="AnalyticsPageFrames.PAGE"
                [elementType]="AnalyticsElementTypes.BUTTON"
                [elementPosition]="1"
                [inputType]="AnalyticsInputTypes.MOUSE"
                tabindex="2"
                data-focus-trap>
            <span>{{ upsellPageScreenInfo.subscribeStreaming.text }}</span>
        </button>

        <p class="upsell-copy upsell-copy-2" role="alert">{{ upsellPageScreenInfo.accessCopy }}</p>

        <a class="log-in" (click)="login()"
           sxm-new-analytics
           [tagName]="AnalyticsTagNameConstants.WEB_FREE_ACCESS_LTUX_LOGIN"
           [screen]="AnalyticsScreens.WEB_FREE_ACCESS_LTUX"
           [mercuryEvent]="AnalyticsMercuryEventConstants.EVENT_SXM_EVEREST_TAG_WEB_FREE_ACCESS_LTUX_LOGIN"
           [linkName]="AnalyticsTagNameConstants.SIGN_IN"
           [tagText]="upsellPageScreenInfo.logIn.text"
           [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
           [actionSource]="AnalyticsTagActionSourceConstants.WEB_FLOW"
           [userPath]="AnalyticsScreens.WEB_FREE_ACCESS_LTUX + '_' + AnalyticsTagNameConstants.SIGN_IN"
           [pageFrame]="AnalyticsPageFrames.PAGE"
           [elementType]="AnalyticsElementTypes.LINK"
           [elementPosition]="2"
           [inputType]="AnalyticsInputTypes.MOUSE">
            {{ upsellPageScreenInfo.logIn.text }}
        </a>

    </div>
</div>

<overlay-container [showOverlay]="showRegisterOverlay"
                   (onClose) = "closeRegisterOverlay()">
    <app-register [selectedFTFeature]="selectedFTFeature"
                  [closeRegisterOverlay]="closeRegisterOverlay.bind(this)"></app-register>
</overlay-container>
