@import "../../../scss/variables";
@import "../../../scss/mixins";

.upsell-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.83);

    .upsell-container {
        background-color: $sxm_blue_6;
        text-align: center;
        color: $white;
        width: 400px;
        border-radius: 10px;
        margin: 0 auto 0 auto;
        padding: 40px;

        .upsell-header {
            font-size: 40px;
            @include sxm-font(Gotham-Black);
        }

        .upsell-copy {
            font-size: 16px;
            margin-top: 22px;
        }

        .upsell-copy-2 {
            margin-top: 78px;
        }

        .explore-plans-button {
            width: 272px;
            height: 48px;
            margin-top: 20px;
            line-height: 1;
            border-radius: 28px;
            color: $sxm_blue_6;;
            background-color: $white;

            span {
                @include sxm-font(Gotham-Bold);
                text-transform: uppercase;
                font-size: 14px;
                border-radius: 28px;
                text-align: center;
            }
        }

        .log-in {
            @include sxm-font(Gotham-Bold);
            font-size: 16px;
            margin-top: 10px;
            cursor: pointer;
        }
    }
}


