@font-face {
    font-family: "GothamNarrSSm-Light";
    font-style: normal;
    src: url("./GothamNarrSSm-Light.otf");
}

.splash-screen--container {
    display: flex;
    align-items: center;
    background: url("./assets/images/splashscreen.jpg") center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    flex-flow: column;
}

img {
    padding-top: 120px;
}

.beta-over {
    display: flex;
    flex-flow: column;
    align-items: center;
}

h2 {
    font-family: GothamNarrSSm-Light;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #fff;
}

span {
    display: inline-block;
}

span:first-child {
    padding-top: 90px;
    padding-bottom: 20px;
}

a {
    width: 240px;
    background-color: #2498eb;
    height: 40px;
    border-radius: 4px;
    margin-top: 90px;
    text-decoration: none;
    text-align: center;
    line-height: 2.5;
    font-family: GothamNarrSSm-Light;
    color: #fff;
    cursor: pointer;
}

a:visited {
    color: #a3b2bf;
}

a:hover {
    opacity: .8;
    text-decoration: underline;
}

a:active {
    background-color: #8bc0e6;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}
