/***********************************************************
// Imports
/***********************************************************/
@import "~font-awesome/css/font-awesome.css";
@import "scss/global.scss";
@import "scss/placeholders";

/***********************************************************
// Fonts
/***********************************************************/
@font-face {
    font-family: "GothamNarrSSm-Black";
    font-style: normal;
    src: url("./assets/fonts/GothamNarrSSm-Black.otf");
}

@font-face {
    font-family: "GothamNarrSSm-Black";
    font-style: italic;
    src: url("./assets/fonts/GothamNarrSSm-BlackItalic.otf");
}

@font-face {
    font-family: "GothamNarrSSm-Bold";
    font-style: normal;
    src: url("./assets/fonts/GothamNarrSSm-Bold.otf");
}

@font-face {
    font-family: "GothamNarrSSm-Bold";
    font-style: italic;
    src: url("./assets/fonts/GothamNarrSSm-BoldItalic.otf");
}

@font-face {
    font-family: "GothamNarrSSm-Book";
    font-style: normal;
    src: url("./assets/fonts/GothamNarrSSm-Book.otf");
}

@font-face {
    font-family: "GothamNarrSSm-Book";
    font-style: italic;
    src: url("./assets/fonts/GothamNarrSSm-BookItalic.otf");
}

@font-face {
    font-family: "GothamNarrSSm-Light";
    font-style: normal;
    src: url("./assets/fonts/GothamNarrSSm-Light.otf");
}

@font-face {
    font-family: "GothamNarrSSm-Light";
    font-style: italic;
    src: url("./assets/fonts/GothamNarrSSm-LightItalic.otf");
}

@font-face {
    font-family: "GothamNarrSSm-Medium";
    font-style: normal;
    src: url("./assets/fonts/GothamNarrSSm-Medium.otf");
}

@font-face {
    font-family: "GothamNarrSSm-Medium";
    font-style: italic;
    src: url("./assets/fonts/GothamNarrSSm-MediumItalic.otf");
}

@font-face {
    font-family: "GothamNarrSSm-XLight";
    font-style: normal;
    src: url("./assets/fonts/GothamNarrSSm-XLight.otf");
}

@font-face {
    font-family: "GothamNarrSSm-XLight";
    font-style: italic;
    src: url("./assets/fonts/GothamNarrSSm-XLightItalic.otf");
}

@font-face {
    font-family: "Gotham-Black";
    font-style: normal;
    src: url("./assets/fonts/Gotham-Black.otf");
}

@font-face {
    font-family: "Gotham-Black";
    font-style: italic;
    src: url("./assets/fonts/Gotham-BlackItalic.otf");
}

@font-face {
    font-family: "Gotham-Bold";
    font-style: normal;
    src: url("./assets/fonts/Gotham-Bold.otf");
}

@font-face {
    font-family: "Gotham-Bold";
    font-style: italic;
    src: url("./assets/fonts/Gotham-BoldItalic.otf");
}

@font-face {
    font-family: "Gotham-Book";
    font-style: normal;
    src: url("./assets/fonts/Gotham-Book.otf");
}

@font-face {
    font-family: "Gotham-Book";
    font-style: italic;
    src: url("./assets/fonts/Gotham-BookItalic.otf");
}

@font-face {
    font-family: "Gotham-Light";
    font-style: normal;
    src: url("./assets/fonts/Gotham-Light.otf");
}

@font-face {
    font-family: "Gotham-Light";
    font-style: italic;
    src: url("./assets/fonts/GothamNarrSSm-LightItalic.otf");
}

@font-face {
    font-family: "Gotham-Medium";
    font-style: normal;
    src: url("./assets/fonts/Gotham-Medium.otf");
}

@font-face {
    font-family: "Gotham-Medium";
    font-style: italic;
    src: url("./assets/fonts/Gotham-MediumItalic.otf");
}

@font-face {
    font-family: "Gotham-Thin";
    font-style: normal;
    src: url("./assets/fonts/Gotham-Thin.otf");
}

@font-face {
    font-family: "Gotham-Thin";
    font-style: italic;
    src: url("./assets/fonts/Gotham-ThinItalic.otf");
}

@font-face {
    font-family: "Gotham-Ultra";
    font-style: normal;
    src: url("./assets/fonts/Gotham-Ultra.otf");
}

@font-face {
    font-family: "Gotham-Ultra";
    font-style: italic;
    src: url("./assets/fonts/Gotham-UltraItalic.otf");
}
