@import "../../../scss/placeholders";
@import "../../../scss/mixins";

%button-defaults {
    width: 40px;
    height: 40px;
    background-color: $pale-grey_5;

    .btn-focus-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:disabled {
        opacity: 0.5;
    }
}

.center-buttons-list__item {
    height: inherit;

    .play-pause-btn,
    .skip-back-15-btn,
    .skip-forward-15-btn,
    .skip-back-btn,
    .skip-forward-btn,
    .thumbs-up-btn,
    .thumbs-down-btn {
        @extend %button-defaults;
        &:focus, &:active{
            @include sxm-font(Gotham-Bold);
            border: 2px solid $sxm_blue_7;
        }
    }

    .thumbs-up-btn,
    .thumbs-down-btn{
        border: 2px solid transparent;
        width: 44px;
        height: 44px;
    }

    /* Microsoft Edge Browser 12+ (All) - @supports method */
    @supports (-ms-ime-align:auto) {
        .play-pause-btn__img {
            width:23px;
        }
    }

    @media (max-width: $s_max_width) {
        justify-content: space-around;

        .skip-back-15-btn,
        .skip-forward-15-btn {
            display: none;
        }
    }

    @media (max-width: $m_max_width) {
        .thumbs-up-btn,
        .thumbs-down-btn {
            display: none;
        }
    }
}

.restart-btn,
.go-live-btn,
.back-1-hr-btn {
    @extend %button-defaults;
    @include controls-focus-active($sxm_blue_7, $sxm_blue_7, $white, $white);

    .btn-focus-container {
        line-height: 1;
        width: 40px;
        margin: auto;
    }
}

.restart-btn,
.go-live-btn,
.back-1-hr-btn {
    color: $sxm_blue_7;
    font-size: 10px;
    @include sxm-font(Gotham-Medium);

    &:disabled {
        color: $grey-blue;
    }

    &.french-btn {
        height: 50px;
        width: 50px;
        font-size:8px;
    }
}

.go-live-btn {
    .btn-focus-container {
        padding: 0 5px;
    }
}

/* Button Color Transparent Setting */
:host-context(.transparent) {
    .restart-btn,
    .go-live-btn,
    .back-1-hr-btn {
        color: $white;
        background-color: transparent;
        @include controls-focus-active($white, $white, $sxm_blue_7, $sxm_blue_7);
    }

    .center-buttons-list__item {
        .play-pause-btn,
        .skip-back-15-btn,
        .skip-forward-15-btn,
        .skip-back-btn,
        .skip-forward-btn {
            background-color: transparent;
            &:focus, &:active{
                @include sxm-font(Gotham-Bold);
                border: 2px solid $white;
            }
        }
    }
}

:host{
    height: inherit;
}
