<sxm-channel-list *ngIf="isChannelView()"
                  [carouselData]="carouselStoreService.subCategoryCarousels | async"></sxm-channel-list>

<sxm-on-demand-list *ngIf="isOnDemandView()"
                    [groupedCarouselData]="carouselStoreService.filteredShowCarousels | async"></sxm-on-demand-list>
