@import "../../../../../scss/mixins";
@import "../../../../../scss/variables";

:host {
    display: flex;
    width: 100%;

    /* Square Tile Size styles */
    &.square {
        .channel-image {
            &.left-top,
            &.center-left {
                /* Left Image Ratio 5:4 for Square */
                width: 45%;
                height: 36%;
                margin: 22px 0 auto 4%;
            }
            &.center {
                /* Center Image Ratio 5:4 for Square */
                width: 48%;
                height: 38%;
                margin: 26px auto;

                &.category,
                &.superCategory {
                    width: auto;
                }
            }
            &.seededradio {
                width: 50%;
                height: 50%;
            }
            &.iris-image {

                &.show {
                    margin: auto;
                    width: 100%;
                    height: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                &.episode {
                    width: auto;
                    //min-height: 56px @ 400px , max-height: 91 @ 1920px
                    @include progressive-calc(height, 56, 91, 400, 1920, 100vw);
                }
            }
        }
    }

    /* 16x9 (Rectangle) Tile Size styles */
    &.rectangle {
        .channel-image {
            &.left-top,
            &.center-left {
                /* Left Image Ratio 5:4 for Rectangle */
                width: 32%;
                height: 40%;
                margin: 22px 0 auto 4%;
            }

            &.center {
                /* Center Image Ratio 5:4 for Rectangle */
                width: 38%;
                height: 54%;
                margin: 16px auto;
            }
            &.category {
                height: 65px;
                width: 65px;
            }
        }
    }

    .image-alt-text {
        margin: 15% 20% 15% 5%;
        overflow: hidden;
        font-size: 14px;
        @include sxm-font(GothamNarrSSm-Book);
        color: $white;
        &.iris-alt-text {
            margin: auto;
            font-size: 16px;
            @include sxm-font(GothamNarrowSSm-Medium);
            text-align: center;
            padding: 0 15px 0 15px;

        }
    }
}


/* promo tile styles */
:host-context(.promo) {
    .image-alt-text {
        display: none;
    }
}

:host-context(.vod-container) {
    &.rectangle {
        .channel-image {
            &.left-top,
            &.center-left {
                position: absolute;
                top: 0;
            }
        }
    }
}
