@import "../../../../scss/variables";
@import "../../../../scss/mixins";

$message-width: 300px;
$message-limit-width: 320px;

%skip-message-base {
    @include sxm-font(GothamNarrSSm-Bold);
    position: fixed;
    left: calc(50% - #{$message-width/2});
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: $message-width;
    border-radius: 57px;
    font-size: 14px;
    text-align: center;
    background-color: $white;
    color: #000000;
    padding: 0 20px 0 20px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5);

}

.skip-message {
    @extend %skip-message-base;
    bottom: 50px;
}

.skip-message.skip-limit-reached {
    width: $message-limit-width;
    left: calc(50% - #{$message-limit-width/2});
}

.skip-animation {
    animation-name: bounceInUp;
    animation-duration: 2.5s;
}

@keyframes bounceInUp {
    5% { bottom: 103px; }
    10% { bottom: 98px }
    15% { bottom: 100px }
    75% { bottom: 100px }
    100% { bottom: 50px; }
}

.casting-skip-message {
    @extend %skip-message-base;
    bottom: 100px;
}

.casting-skip-animation {
    animation-name: castingBounceInUp;
    animation-duration: 2.5s;
}

@keyframes castingBounceInUp {
    5% { bottom: 153px; }
    10% { bottom: 148px }
    15% { bottom: 150px }
    75% { bottom: 150px }
    100% { bottom: 100px; }
}
