<div class="splash-screen--container">
    <img src="../../../../assets/images/sxm-logo.svg"/>
    <p class="alert-hidden"
       tabindex="-1"
       id="loadingText"
       role="alert">
       {{ 'common.loading' | translate }}
    </p>
</div>
