@import "../../../../scss/variables";
@import "../../../../scss/mixins";
@import "../../../../scss/placeholders";

.splash-screen--container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../../../assets/images/splashscreen.jpg") center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
}

.alert-hidden {
    @extend %accessibility-hidden;
}
