@import "../../scss/variables";

.context-menu-btn {
    width: 20px;
    height: 24px;
    padding: 2px 0;
    background-color: transparent;
    background-size: 3px 15px;
    fill: white;
}

.context-menu-btn {
    &:focus {
        outline: 2px solid $sxm_blue_2;
    }
}

:host {
    &.positioned-absolutely {
        .context-menu-btn {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    &.animated {
        .context-menu-btn {
            opacity: 0;

            &:focus, &:hover {
                opacity: 1;
                transition: opacity $hover-transition-time linear;
            }
        }
    }
}

:host-context(.gray-icon) .context-menu--icon {
    fill: $grey-blue2;
}
