@import "../../scss/variables";
@import "../../scss/mixins";

.context-menu-list {
    position: fixed;
    z-index: $contextMenuZIndex;
    border-radius: 2px;
    background-color: $white;
    box-shadow: $box-shadow-blue;
    width: auto;

    &__item {
        &__btn {
            display: flex;
            align-items: center;
            height: 36px;
            width: 100%;
            padding: 0 24px;
            color: $grey2;
            @include sxm-font(Gotham-Bold);
            font-size: 13px;
            margin: 2px 0;
            outline: none;

            &:hover {
                color: $white;
                @include sxm-font(Gotham-Black);
                background-color: $sxm_blue_7;
            }

            .cursor-off:hover {
                text-decoration: none;
                cursor: default;
                background-color: $white;
            }
        }
    }
}
