@import "../../../../scss/variables";

.close {
    position:absolute;
    width: 48px;
    height: 48px;
    top: 21.5%;
    right: 36px;
    z-index: $VideoBufferZ;

    img {
        width: 100%;
        height:100%;
    }
}

@media (min-width: $xl_max_width) {
    .close {
        top: 18%;
    }
}
