@import "../../../../scss/variables";
@import "../../../../scss/placeholders";
@import "../../../../scss/mixins";

.expand-btn {
    width: 90px;
    height: 40px;
    margin-right: 32.5px;
    border-radius: 20px;
    @extend %secondary-button-transparent-blue;

    @media (max-width: $m_max_width) {
        margin-right: 20px
    }

    @media (max-width: $s_max_width) {
        margin-right: 32.5px
    }

    &__text {
        @include sxm-font(Gotham-Bold);
        font-size: 11px;
        text-align: center;
        line-height: 2.18;
        letter-spacing: 1px;
    }

    &__image {
        display: none;
    }

    &:focus,
    &:hover {
        // there's a scale effect on playback buttons
        // that we don't want on the "Expand" button
        transform: none;
    }

    // make the expand button a square at or below 768px
    @media (max-width: $s_max_width) {
        width: 40px;
        border-radius: 12px;
        @include primary-button-blue();

        &__text {
            display: none;
        }

        &__image {
            display: inline-block;

        }
    }
}

