<button *ngIf="shouldDisplay"
        class="expand-btn"
        sxm-new-analytics
        [tagName]="AnalyticsTagNameConstants.MNP_EXPAND"
        [userPath]="AnalyticsUserPaths.MINI_CONTEXP"
        [userPathScreenPosition]="3"
        [pageFrame]="AnalyticsPageFrames.MODAL"
        [modal]="AnalyticsModals.MINI_NOW_PLAYING_BAR"
        [elementType]="AnalyticsElementTypes.SCREEN"
        [buttonName]="AnalyticsTagNameConstants.MNP_EXPAND_BUTTON_NAME"
        [elementPosition]=10
        [action]="AnalyticsTagActionConstants.OPEN"
        [actionSource]="AnalyticsTagActionSourceConstants.MININP"
        [inputType]=AnalyticsInputTypes.MOUSE
        (click)="onExpandButtonClick()"
        attr.aria-label="{{'playerControls.expand' | translate}}
                         {{'nowPlaying.accessibility.expand' | translate}}">
    <span class="expand-btn__text">{{ 'playerControls.expand' | translate | uppercase }}</span>
    <img src="../../../../assets/images/expand-button.svg"
         class="expand-btn__image"
         alt=""/>
</button>

