@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/placeholders";

:host {

    visibility: visible;
    position: absolute;
    z-index: 1000;
    top: 57px;
    width: 100%;
    max-height: 340px;
    overflow: auto;
    padding: 1em;
    left: 0;
    background: $white;
    border-radius: 4px;
    box-shadow: $box-shadow-blue;
    @include sxm-font(Gotham-Medium);

    .title {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.3px;
        text-align: left;
        color: $grey-blue2;
        border-bottom: 2px solid transparent;
        font-weight: 500;

        .view-all-results-btn:focus,
        .clear-search-history-btn:focus {
            .view-all-results-btn__text,
            .clear-search-history-btn__text {
                @extend %focus-blue-border-bottom;
            }
        }
    }

    button {
        text-align: left;
        width: 100%;
    }

    .list-group {
        .list-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            line-height: 1.25;
            text-align: left;
            padding: 0.8em 0;
            border-bottom: 1px solid $pale-grey;
            color: $grey-blue2;
            @include sxm-font(Gotham-Book);

            .icon-container {
                width: 20px;
                height: 20px;
                display: inline-flex;
            }

            &__search-icon {
                height: 16px;
                width: 16px;
            }

            .play-icon-container {
                background-color: $sxm_blue_1;
                border-radius: 50%;
                justify-content: center;

                .play-icon {
                    filter: brightness(0) invert(1);
                    height: 12px;
                    width: 8px;
                    align-self: center;
                }
            }

            .direct-tune-btn,
            .suggested-search-btn {
                display: flex;
                align-items: center;

                &__text {
                    margin: 0 1em;
                    font-size: 14px;
                    @include sxm-font(Gotham-Book);
                    color: $grey-blue2;
                    letter-spacing: -1px;
                    line-height: 20px;
                }

                &:focus {
                    .direct-tune-btn__text,
                    .suggested-search-btn__text {
                        @extend %focus-blue-border-bottom;
                    }
                }
            }

            &__arrow-icon {
                height: 12px;
                width: 6px;
                margin-left: auto;
            }

            &:focus {
                .list-item__text {
                    @extend %focus-blue-border-bottom;
                }
            }

            .recent:focus {
                .recent__text {
                    @extend %focus-blue-border-bottom;
                }
            }
        }
    }

    .clear-search {
        padding-top: 10px;

        button {
            color: $sxm_blue_7;
            padding: 0;
            font-size: 14px;
            @include sxm-font(Gotham-Medium);
            height: 16px;
        }
    }

    .no-recent-search,
    .search-loader {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1em;
        text-align: center;

        &-icon {
            margin: 1em;
        }

        &-text {
          width: 210px;
          padding-bottom: 10px;
        }

        p {
            // IE11 bugfix
            width: 100%;
            color: $slate;
        }
    }

    .search-loader {
        color: $sxm_blue_1;
        letter-spacing: 0.3px;
        padding: 1em;

        .no-recent-search-icon {
            display: block;
            position: relative;
            padding: 2em;
        }

        &__spinner {
            position: absolute;
            top: calc(50% - 30px);
            left: 50%;
            z-index: 10001;
            width: 50px;
            height: 50px;
            margin-left: -25px;
            margin-top: 4px;
            background: none;
            -webkit-animation: spin 1.5s infinite linear;
            animation: rotation 1.5s infinite linear;

            &::selection {
                background: none;
            }
        }

        &__search-icon {
            width: 20px;
            height: 20px;
        }

        &-description {
            font-size: 16px;
        }
    }
}


@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}
