<div *ngIf="!displayRecentSearchResults && !displaySuggestedSearchResults">
    <h4 class="title">{{ 'search.title' | translate }}</h4>
    <div class="no-recent-search">
        <img class="no-recent-search-icon"
             src="../../../assets/images/srch-on-blue.svg"
             [alt]="" aria-hidden="true">
        <p class="no-recent-search-text">{{ 'search.recentSearch.emptyData' | translate }}</p>
    </div>
</div>

<div class="recent-search-container"
     *ngIf="displayRecentSearchResults">
    <h4 class="title">{{ 'search.recentSearch.title' | translate }}</h4>

    <ul class="list-group">
        <li class="list-item"
            *ngFor="let recentSearch of recentSearchResults">

            <button class="recent"
                    type="button"
                    (click)="getSearchResults(recentSearch.searchString)"
                    (focus)="focus.emit($event)"
                    sxm-new-analytics
                    [tagName]="AnalyticsTagNameConstants.SEARCH_RECENT"
                    [userPath]="AnalyticsUserPaths.SEARCH_RECENT"
                    [carouselName]="AnalyticsCarouselNames.RECENT_SEARCHES"
                    [buttonName]="AnalyticsTagNameConstants.SEARCH_RECENT_BUTTON_NAME"
                    [elementPosition]="0"
                    [searchTerm]="recentSearch.searchString"
                    [elementType]="AnalyticsElementTypes.BUTTON"
                    [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                    [actionSource]="AnalyticsTagActionSourceConstants.MAIN"
                    [inputType]="AnalyticsInputTypes.MOUSE"
                    [skipCurrentPosition]="true">
                <span class="recent__text">{{ recentSearch.searchString }}</span>
            </button>

            <img class="list-item__search-icon"
                 role="presentation"
                 src="../../../assets/images/srch-on-blue.svg"
                 [alt]="" aria-hidden="true">
        </li>
    </ul>

    <div class="title clear-search">
        <button class="clear-search-history-btn"
                type="button"
                (click)="clearSearchHistory()"
                (focus)="focus.emit($event)"
                sxm-new-analytics
                [tagName]="AnalyticsTagNameConstants.SEARCH_CLEAR_HISTORY"
                [userPath]="AnalyticsUserPaths.SEARCH_CLEAR_HISTORY"
                [carouselName]="AnalyticsCarouselNames.RECENT_SEARCHES"
                [buttonName]="AnalyticsTagNameConstants.SEARCH_CLEAR_HISTORY_BUTTON_NAME"
                [elementPosition]="0"
                [elementType]="AnalyticsElementTypes.BUTTON"
                [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                [actionSource]="AnalyticsTagActionSourceConstants.MAIN"
                [inputType]="AnalyticsInputTypes.MOUSE"
                [skipCurrentPosition]="true">
            <span class="clear-search-history-btn__text">{{ 'search.recentSearch.footer' | translate }}</span>
        </button>
    </div>
</div>

<div class="suggest-search-container"
     *ngIf="displaySuggestedSearchResults">
    <h4 class="title">{{ 'search.suggestedSearch.title' | translate }}</h4>

    <ul class="list-group">
        <li class="list-item"
            *ngFor="let channel of directTuneSearchResults">
            <button class="direct-tune-btn"
                    attr.aria-label="{{ 'search.directTune' | translate }} {{ channel.name }}"
                    type="button"
                    sxm-new-analytics
                    [tagName]="AnalyticsTagNameConstants.SRCH_LAUNCH"
                    [userPath]="AnalyticsUserPaths.SRCH_LAUNCH  + '_' + AnalyticsCarouselNames.SUGGESTED_SEARCHES"
                    [carouselName]="AnalyticsCarouselNames.SUGGESTED_SEARCHES"
                    [buttonName]="AnalyticsTagNameConstants.SRCH_LAUNCH_BUTTON_NAME"
                    [elementPosition]="0"
                    [skipCurrentPosition]="true"
                    [elementType]="AnalyticsElementTypes.BUTTON"
                    [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                    [actionSource]="AnalyticsTagActionSourceConstants.MAIN"
                    [inputType]="AnalyticsInputTypes.MOUSE"
                    [tileType]="AnalyticsTileTypes.UNKNOWN"
                    [tileContentType]="AnalyticsContentTypes.UNKNOWN"
                    [findingMethod]="AnalyticsFindingMethods.SEARCH"
                    [searchTerm]="searchKeyword"
                    [bannerInd]="AnalyticsBannerInds.UNAVAILABLE"
                    (click)="goToNowPlayingPage(channel)"
                    (focus)="focus.emit($event)">
                <span class="icon-container play-icon-container">
                    <img class="play-icon"
                         role="presentation"
                         alt=""
                         src="../../../assets/images/play.svg">
                </span>

                <span class="direct-tune-btn__text">{{ channel.name }}</span>

                <img class="list-item__arrow-icon"
                     role="presentation"
                     src="../../../assets/images/srch-chevron.svg"
                     [alt]="'search.accessibility.searchArrowIcon' | translate">
            </button>
        </li>
    </ul>

    <div class="search-loader"
         *ngIf="isLoading && directTuneSearchResults.length < 1">
        <div class="no-recent-search-icon">
            <img class="search-loader__spinner"
                 role="presentation"
                 alt=""
                 src="../../../assets/images/buffering-blue.png"
                 srcset="../../assets/images/buffering-blue@2x.png 2x,
                 ../../assets/images/buffering-blue@3x.png 3x">

            <img class="search-loader__search-icon"
                 role="presentation"
                 src="../../../assets/images/srch-off-nav.svg"
                 [alt]="" aria-hidden="true">
        </div>
        <p class="search-loader-description">{{ 'search.suggestedSearch.loading' | translate }}...</p>
    </div>

    <div class="search-loader"
         *ngIf="!isLoading && displayEmptySuggestedSearchResults ">
        <p>{{ 'search.suggestedSearch.noresults.header' | translate}} " {{searchKeyword }} "</p>
    </div>

    <ul class="list-group"
        *ngIf="!isLoading">
        <li class="list-item"
            *ngFor="let searchItem of suggestSearchResults">
            <button class="suggested-search-btn"
                    type="button"
                    (click)="getSearchResults(searchItem.suggestion)"
                    (focus)="focus.emit($event)"
                    sxm-new-analytics
                    [tagName]="AnalyticsTagNameConstants.SEARCH_INPUT"
                    [userPath]="AnalyticsUserPaths.SEARCH_INPUT"
                    [carouselName]="AnalyticsCarouselNames.SUGGESTED_SEARCHES"
                    [buttonName]="AnalyticsTagNameConstants.SEARCH_INPUT_BUTTON_NAME"
                    [pageFrame]="AnalyticsPageFrames.SEARCH_HEADER"
                    [elementPosition]="0"
                    [skipCurrentPosition]="true"
                    [searchTerm]="searchItem.suggestion"
                    [elementType]="AnalyticsElementTypes.BUTTON"
                    [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                    [actionSource]="AnalyticsTagActionSourceConstants.MAIN"
                    [inputType]="AnalyticsInputTypes.MOUSE">
                <img class="list-item__search-icon"
                     role="presentation"
                     src="../../../assets/images/srch-off-nav.svg"
                     [alt]="" aria-hidden="true">
                <span class="suggested-search-btn__text"> {{ searchItem.suggestion }}</span>
                <img class="list-item__arrow-icon"
                     role="presentation"
                     src="../../../assets/images/srch-chevron.svg"
                     [alt]="'search.accessibility.searchArrowIcon' | translate">
            </button>
        </li>
    </ul>

    <div class="title clear-search">
        <button class="view-all-results-btn"
                type="button"
                (click)="viewAllResults()"
                (focus)="focus.emit($event)">
            <span class="view-all-results-btn__text">{{ 'search.suggestedSearch.footer' | translate }}</span>
        </button>
    </div>
</div>
