@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/placeholders";


.set-reminder-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 32px;
    border-radius: 20px;
    border: solid 1px $white;
    background-color: transparent;
    color: $white;
    @include sxm-font(Gotham-Bold);
    font-size: 8px;
    padding: 0 12px;
    text-transform: capitalize;
    margin-bottom: 8px;
    @extend %secondary-button-transparent-white;

    &__img {
        width: 14px;
        height: 14px;
        margin-right: 8px;
    }

    &__text {
        text-transform: uppercase;
        line-height: 10px;
    }
}
