@import "../../../../scss/variables";
@import "../../../../scss/mixins";
@import "../../../../scss/placeholders";

$play-pause--width: 18px;
$play-pause--height: 26px;

:host {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $VideoHoverZ;
    width: $video-width-mini;
    height: $video-height-mini;
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0.22) 48%, $circle_dark);
    opacity: 0;

    button {
        background-color: transparent;
    }

    .play-pause-btn,
    .close {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        &:focus {
            @extend %accessibility-outline;
        }
    }

    .play-pause-btn {
        left: calc(50% - #{$play-pause--width} / 2);
        top: calc(50% - #{$play-pause--height} / 2);
        width: $play-pause--width;
        height: $play-pause--height;
    }

    .close {
        top: 8px;
        right: 8px;
        width: 22px;
        height: 22px;
    }

    .bottom-row-btns {
        display: flex;
        width: 100%;
        align-items: flex-end;
        justify-content: space-between;
        margin: 6px;

        .series-name {
            height: 16px;
            font-size: 14px;
            line-height: 1.14;
            color: $white;

            &::after {
                content: '>';
            }

            &:focus {
                .series-name__text {
                    @extend %focus-white-border-bottom;
                }
            }
        }

        .right-btns {
            display: flex;
            align-items: center;

            .expander,
            .fullscreen-toggle {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;

                &:focus {
                    @extend %accessibility-outline;
                }
            }

            .expander {
                margin-right: 12px;

                &__img {
                    width: 20px;
                    height: 16px;
                }
            }
        }
    }

    &:hover {
        opacity: 1;
    }

    &.focused-within {
        opacity: 1;
    }
}
