<button class="close"
        [title]="'playerControls.closeMiniPlayer' | translate"
        sxm-new-analytics
        [tagName]="AnalyticsTagNameConstants.MV_CLOSE"
        [userPath]="AnalyticsUserPaths.MV_CLOSE"
        [userPathScreenPosition]="3"
        [pageFrame]="AnalyticsPageFrames.MODAL"
        [modal]="AnalyticsModals.MINI_VIDEO"
        [elementType]="AnalyticsElementTypes.BUTTON"
        [buttonName]="AnalyticsTagNameConstants.MV_CLOSE_BUTTON_NAME"
        [elementPosition]="0"
        [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
        [actionSource]="AnalyticsTagActionSourceConstants.MININP"
        [inputType]="AnalyticsInputTypes.MOUSE"
        (click)="closeVideoPlayer()"
        (focus)="onChildFocused()"
        (blur)="onChildBlurred()">
    <img class="close__img"
         role="presentation"
         alt=""
         src="../../../../assets/images/close-white.svg"
         tabindex="-1"/>
</button>

<button class="play-pause-btn"
        title="{{ (singletonVideoService.isPlaying() ?
                      'playerControls.pause' :
                      'playerControls.play') | translate }}"
        sxm-new-analytics
        [tagName]="AnalyticsTagNameConstants.MV_PLAY_PAUSE"
        [userPath]="(singletonVideoService.isPlaying() ?
                      AnalyticsUserPaths.MV_PAUSE :
                      AnalyticsUserPaths.MV_PLAY)"
        [userPathScreenPosition]="3"
        [pageFrame]="AnalyticsPageFrames.MODAL"
        [modal]="AnalyticsModals.MINI_VIDEO"
        [elementType]="AnalyticsElementTypes.BUTTON"
        [buttonName]="AnalyticsTagNameConstants.MV_PLAY_PAUSE_BUTTON_NAME"
        [tagText]="(singletonVideoService.isPlaying() ?
                        AnalyticsTagTextConstants.NP_PAUSE :
                        AnalyticsTagTextConstants.NP_PLAY)"
        [elementPosition]="1"
        [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
        [actionSource]="AnalyticsTagActionSourceConstants.MININP"
        [inputType]="AnalyticsInputTypes.MOUSE"
        (click)="singletonVideoService.togglePausePlay()"
        (focus)="onChildFocused()"
        (blur)="onChildBlurred()">
    <img [src]="singletonVideoService.isPlaying() ?
                   '../../../../assets/images/playback-pause.svg' :
                   '../../../../assets/images/play-white.svg'"
         role="presentation"
         alt=""
         tabindex="-1"/>
</button>

<div class="bottom-row-btns">
    <button class="series-name"
            sxm-new-analytics
            [tagName]="AnalyticsTagNameConstants.NP_SHOW_EDP"
            [userPath]="AnalyticsUserPaths.NP_SHOW_EDP"
            [screen]="AnalyticsScreens.NOW_PLAYING"
            [pageFrame]="AnalyticsPageFrames.NOW_PLAYING_MAIN"
            [elementType]="AnalyticsElementTypes.BUTTON"
            [buttonName]="AnalyticsTagNameConstants.NP_SHOW_EDP_BUTTON_NAME"
            [elementPosition]="2"
            [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
            [actionSource]="AnalyticsTagActionSourceConstants.MININP"
            [inputType]="AnalyticsInputTypes.MOUSE"
            (click)="singletonVideoService.selectShow()"
            (focus)="onChildFocused()"
            (blur)="onChildBlurred()"
            [title]="'pip.episodeListing' | translate">
        <span class="series-name__text">{{ getSeriesName(singletonVideoService.overlaySeriesName) }}</span>
    </button>

    <div class="right-btns">
        <button class="expander"
                [title]="'pip.expand' | translate"
                sxm-new-analytics
                [tagName]="AnalyticsTagNameConstants.MV_EXPAND_NP"
                [userPath]="AnalyticsUserPaths.MV_EXPAND_NP"
                [userPathScreenPosition]="3"
                [pageFrame]="AnalyticsPageFrames.MODAL"
                [modal]="AnalyticsModals.MINI_VIDEO"
                [elementType]="AnalyticsElementTypes.BUTTON"
                [buttonName]="AnalyticsTagNameConstants.MV_EXPAND_NP_BUTTON_NAME"
                [elementPosition]="3"
                [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                [actionSource]="AnalyticsTagActionSourceConstants.MININP"
                [inputType]="AnalyticsInputTypes.MOUSE"
                (click)="onMiniPlayerClick()"
                (focus)="onChildFocused()"
                (blur)="onChildBlurred()">
            <img class="expander__img"
                 role="presentation"
                 alt=""
                 src="../../../../assets/images/pip-expand@3x.png"
                 tabindex="-1"/>
        </button>

        <button class="fullscreen-toggle"
                toggleFullscreen
                sxm-new-analytics
                [tagName]="AnalyticsTagNameConstants.MV_EXPAND"
                [userPath]="AnalyticsUserPaths.MV_EXPAND"
                [userPathScreenPosition]="3"
                [pageFrame]="AnalyticsPageFrames.MODAL"
                [modal]="AnalyticsModals.MINI_VIDEO"
                [elementType]="AnalyticsElementTypes.BUTTON"
                [buttonName]="AnalyticsTagNameConstants.MV_EXPAND_BUTTON_NAME"
                [elementPosition]="4"
                [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                [actionSource]="AnalyticsTagActionSourceConstants.MININP"
                [inputType]="AnalyticsInputTypes.MOUSE"
                [title]="'pip.fullscreen' | translate"
                (focus)="onChildFocused()"
                (blur)="onChildBlurred()">
            <img class="fullscreen-toggle__img"
                 role="presentation"
                 alt=""
                 src="../../../../assets/images/fullscreen-on-white.svg"
                 tabindex="-1"/>
        </button>
    </div>
</div>

