@import "../../../../scss/placeholders";
@import "../../../../scss/global";
@import "../../../../scss/mixins";

$playing-indicator--right: 71px;
$transition-time: 0.2s;

:host {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    .favorites-btn {
        margin: 0 3% 0 1%;

        @media (max-width: $xs_max_width) {
            display: none;
        }
    }

    .center-column {
        display: flex;
        align-items: center;
        @extend %overflow-ellipsis;
        white-space: nowrap;
        margin-right: auto;
        flex-grow: 1;

        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 30px;
            width: 160px;
            height: 90px;
            border-radius: 4px;
            background-color: rgba(234, 238, 243, 0.5);
            background-size: cover;
            background-repeat: no-repeat;
            transition: all $transition-time;

            @media (max-width: $m_max_width) {
                width: 130px;
                height: 73px;
            }

            @media (max-width: $s_max_width) {
                width: 140px;
                height: 80px;
            }

            @media (max-width: $xs_max_width) {
                width: 150px;
                height: 86px;
            }
        }

        .info-container {
            flex-basis: 65%; //IE fix
            max-width: 65%;
            text-align: left;
            color: $grey-blue;
            font-size: 14px;
            @include sxm-font(Gotham-Book);
            transition: all $transition-time;

            @media (max-width: $s_max_width) {
                max-width: 55%;
                font-size: 12px;
            }

            &__title {
                display: block;
                font-size: 18px;
                @include sxm-font(Gotham-Medium);
                color: $title-black;

                span {
                    border-bottom: 2px solid transparent;
                }

                @media (max-width: $s_max_width) {
                    font-size: 14px;
                }
            }

            &__description {
                display: block;
                @extend %overflow-ellipsis;
            }

            &__episode-description {
                display: flex;
                white-space: normal;
                max-height: 40px;
                overflow: visible;
             }
        }

        &:focus {
            .info-container {
                &__title {
                    span {
                        border-color: $sxm_blue_1;
                        display: inline;
                    }
                }
            }
        }
    }

    .right-column {
        display: flex;
        margin-right: 25px;

        .now-playing-indicator {
            width: 24px;
            height: 24px;
            margin-top: -3px;
            margin-right: 71px;

            @media (max-width: $m_max_width) {
                margin-right: 56px;
            }

            @media (max-width: $s_max_width) {
                margin-right: 24px;
            }
        }

        @media (max-width: $xs_max_width) {
            flex-direction: column-reverse;
            align-items: center;

            .now-playing-indicator {
                margin-top: 14px;
                margin-right: 0;
            }
        }
    }

    &:last-child { border-bottom: 0; }
}


