@import '../variables';

%accessibility-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

%accessibility-outline {
    outline: 2px solid $sxm_blue_6;
}

@mixin accessibility-outline($color) {
    outline: 2px solid $color;
}
