@import "../variables/colors.scss";

%primary-button-blue {
    color: $white;
    background-color: $sxm_blue_6;

    &:hover {
        color: $light-grey_7;
        background-color: $sxm_blue_7;
    }

    &:focus,
    &:active {
        color: $sxm_white_2;
        background-color: $sxm_blue_8;
    }
}

%secondary-button-transparent-blue {
    color: $sxm_blue_6;
    background-color: transparent;
    border: 2px solid $sxm_blue_6;

    &:hover {
        color: $sxm_blue_7;
        background-color: $sxm_blue_9;
        border: 2px solid $sxm_blue_7;
    }

    &:focus,
    &:active {
        color: $sxm_blue_8;
        background-color: $sxm_blue_10;
        border: 2px solid $sxm_blue_8;
    }
}

%primary-button-white {
    color: $sxm_blue_6;
    background-color: $white;

    &:hover {
        background-color: $light-grey_7;
    }

    &:focus,
    &:active {
        color: $sxm_blue_8;
        background-color: $light-grey_6;
    }
}

%secondary-button-transparent-white {
    color: $white;
    background-color: transparent;
    border: 2px solid $white;

    &:hover {
        color: $light-grey_6;
        background-color: $light-grey_8;
        border: 2px solid $light-grey_6;
    }

    &:focus,
    &:active {
        color: $light-grey_6;
        background-color: $light-grey_9;
        border: 2px solid $light-grey_6;
    }
}


%primary-button-white-disabled {
   color: $grey3;
    background-color: $light-grey_5;
}

//mixin to be used for media queries only
@mixin primary-button-blue {
    color: $white;
    background-color: $sxm_blue_6;

    &:hover {
        color: $light-grey_7;
        background-color: $sxm_blue_7;
    }

    &:focus,
    &:active {
        color: $sxm_white_2;
        background-color: $sxm_blue_8;
    }
}


