@import "../variables/colors.scss";

%focus-white-border-bottom {
    border-bottom: 2px solid $white;
}

%focus-black-border-bottom {
    border-bottom: 2px solid $title-black;
}

%focus-blue-border-bottom {
    border-bottom: 2px solid $sxm_blue_1;
}

%focus-blue7-border-bottom {
    border-bottom: 3px solid $sxm_blue_7;
}

%focus-blue2-border-bottom {
    border-bottom: 3px solid $sxm_blue_2;
}

%focus-blue6-border-bottom {
    border-bottom: 3px solid $sxm_blue_6;
}

%focus-blue6-border-bottom2 {
    border-bottom: 2px solid $sxm_blue_6;
}

%focus-gray-border-bottom {
    border-bottom: 2px solid $grey_blue;
}

%focus-sub-category {
    box-shadow: $box-shadow-blue;
}

%focus-tile-border {
    border-radius: 4px;
    border-color: $sxm_blue_1;
    -webkit-box-shadow: 6px 0 7px -4px rgba(0,0,0,1);
    -moz-box-shadow: 6px 0 7px -4px rgba(0,0,0,1);
    box-shadow: 6px 0 7px -4px rgba(0,0,0,1);
}
