@import "../variables";
@import "focus";

%selected-blue {
    color: $sxm_blue_1;
    font-weight: bold;
}

%selected-blue2 {
    color: $sxm_blue_2;
    font-weight: bold;
}

%selected-blue6 {
    color: $sxm_blue_6;
}

%selected-blue7 {
    color: $sxm_blue_7;
}

%selected-blue-underline {
    @extend %selected-blue;
    text-decoration: underline;
}

%selected-blue-border-bottom {
    @extend %selected-blue;
    @extend %focus-blue-border-bottom;
}

%selected-blue2-border-bottom {
    @extend %selected-blue2;
    @extend %focus-blue2-border-bottom;
}

%selected-blue6-border-bottom {
    @extend %selected-blue6;
    @extend %focus-blue6-border-bottom;
}

%selected-blue7-border-bottom {
    @extend %selected-blue7;
    @extend %focus-blue7-border-bottom;
}
