<div id="autoplay"
     class="autoplay-overlay"
     [ngClass]="{ 'fullscreen': screenfull.isFullscreen }">

    <div class="modal" role="alertdialog" aria-labelledby="up-next__header" aria-describedby="up-next__tile">
        <div class="modal__body">
            <div class="up-next">
                <h2 id="up-next__header" class="up-next__header">{{ 'autoplay.upNext' | translate }}</h2>
                <div class="up-next__tile--container"
                     sxm-new-analytics
                     [tagName]="AnalyticsTagNameConstants.MDL_CAROUSEL_TILE"
                     [userPath]="AnalyticsUserPaths.MDL_CAROUSEL_TILE"
                     [screen]="AnalyticsScreens.MODAL"
                     [carouselName]="AnalyticsCarouselNames.RELATED_EPISODE"
                     [modal]="AnalyticsTagNameConstants.MDL_UP_NEXT_MODAL_NAME"
                     [carouselPosition]="0"
                     [elementPosition]="0"
                     [elementType]="AnalyticsElementTypes.BUTTON"
                     [buttonName]="AnalyticsTagNameConstants.MDL_CAROUSEL_TILE_BUTTON_NAME"
                     [action]=AnalyticsTagActionConstants.BUTTON_CLICK
                     [inputType]=AnalyticsInputTypes.MOUSE
                     [tileType]="upNextTile.tileContentType"
                     [bannerInd]="upNextTile.tileBanner ? (upNextTile.tileBanner.bannerText | uppercase) : null"
                     [consumedPerc]="upNextTile.percentConsumed"
                     [skipCurrentPosition]="true"
                     [skipActionSource]="true"
                     [findingMethod]="AnalyticsFindingMethods.MODAL"
                    (click)="neriticLinkService.takePrimaryTileAction(upNextTile); close()"
                    (keyup.enter)="neriticLinkService.takePrimaryTileAction(upNextTile); close()"
                    tabindex="0"
                    data-focus-trap>

                    <episode-content-tile id="up-next__tile"
                                          class="up-next__tile"
                                          [tileData]="upNextTile"
                                          [tileShape]="'square'"></episode-content-tile>

                    <context-menu [getOptionsFunc]="getCMOptionsFunc(upNextTile)"
                                  [ngClass]="'positioned-absolutely animated'"
                                  [ariaText]="upNextTile.ariaText"></context-menu>
                </div>

                <countdown *ngIf="isAutoplayEnabled" [countdownNumber]="countdownNumber"></countdown>
            </div>

            <div class="related-episodes"
                 *ngIf="upNextCarousel.length > 0">
                <h2 class="related-episodes__header">{{ 'autoplay.relatedEpisodes' | translate }}</h2>

                <div class="related-episodes-carousel">
                    <ul id="autoplay-carousel"
                        class="related-episodes-carousel__list">
                        <li class="related-episodes-carousel__list__tile"
                            *ngFor="let tile of upNextCarousel; let index = index"
                            sxm-new-analytics
                            [tagName]="AnalyticsTagNameConstants.MDL_CAROUSEL_TILE"
                            [userPath]="AnalyticsUserPaths.MDL_CAROUSEL_TILE"
                            [screen]="AnalyticsScreens.MODAL"
                            [carouselName]="AnalyticsCarouselNames.RELATED_EPISODE"
                            [modal]="AnalyticsTagNameConstants.MDL_UP_NEXT_MODAL_NAME"
                            [carouselPosition]="0"
                            [elementPosition]="2+index"
                            [elementType]="AnalyticsElementTypes.BUTTON"
                            [buttonName]="AnalyticsTagNameConstants.MDL_CAROUSEL_TILE_BUTTON_NAME"
                            [action]=AnalyticsTagActionConstants.BUTTON_CLICK
                            [inputType]=AnalyticsInputTypes.MOUSE
                            [tileType]="tile.tileContentType"
                            [bannerInd]="tile.tileBanner ? (tile.tileBanner.bannerText | uppercase) : null"
                            [consumedPerc]="tile.percentConsumed"
                            [skipCurrentPosition]="true"
                            [skipActionSource]="true"
                            [findingMethod]="AnalyticsFindingMethods.MODAL"
                            (click)="neriticLinkService.takePrimaryTileAction(tile); close()"
                            (keyup.enter)="neriticLinkService.takePrimaryTileAction(tile); close()">
                            <episode-content-tile *ngIf="carouselService.isEpisodeTile(tile)"
                                                  [tileData]="tile"
                                                  [tileShape]="'square'"></episode-content-tile>

                            <show-content-tile *ngIf="carouselService.isShowTile(tile)"
                                               [tileData]="tile"
                                               [tileShape]="'square'"></show-content-tile>

                            <context-menu [getOptionsFunc]="getCMOptionsFunc(tile)"
                                          [ngClass]="'positioned-absolutely animated'"
                                          [ariaText]="tile.ariaText"></context-menu>
                        </li>
                    </ul>

                    <div class="carousel-arrows">
                        <button id="autoplay-carousel-arrow__prev"
                                class="carousel-arrows__prev"
                                [title]="'navigation.accessibility.previousIcon' | translate"
                                sxm-new-analytics
                                [tagName]="AnalyticsTagNameConstants.MDL_CAROUSEL_NAV_BF"
                                [userPath]="AnalyticsUserPaths.MDL_CAROUSEL_NAV_BWD"
                                [screen]="AnalyticsScreens.MODAL"
                                [carouselName]="AnalyticsCarouselNames.RELATED_EPISODE"
                                [modal]="AnalyticsTagNameConstants.MDL_UP_NEXT_MODAL_NAME"
                                [elementType]="AnalyticsElementTypes.BUTTON"
                                [buttonName]="AnalyticsTagNameConstants.MDL_CAROUSEL_NAV_BF_BUTTON_NAME"
                                [tagText]="AnalyticsTagTextConstants.MDL_CAROUSEL_NAV_BWD"
                                [elementPosition]="0"
                                [action]=AnalyticsTagActionConstants.BUTTON_CLICK
                                [inputType]=AnalyticsInputTypes.MOUSE
                                [skipCurrentPosition]="true"
                                [skipActionSource]="true"
                                data-focus-trap></button>
                        <button id="autoplay-carousel-arrow__next"
                                class="carousel-arrows__next"
                                [title]="'navigation.accessibility.nextIcon' | translate"
                                sxm-new-analytics
                                [tagName]="AnalyticsTagNameConstants.MDL_CAROUSEL_NAV_BF"
                                [userPath]="AnalyticsUserPaths.MDL_CAROUSEL_NAV_FWD"
                                [screen]="AnalyticsScreens.MODAL"
                                [carouselName]="AnalyticsCarouselNames.RELATED_EPISODE"
                                [modal]="AnalyticsTagNameConstants.MDL_UP_NEXT_MODAL_NAME"
                                [elementType]="AnalyticsElementTypes.BUTTON"
                                [buttonName]="AnalyticsTagNameConstants.MDL_CAROUSEL_NAV_BF_BUTTON_NAME"
                                [tagText]="AnalyticsTagTextConstants.MDL_CAROUSEL_NAV_FWD"
                                [elementPosition]="0"
                                [action]=AnalyticsTagActionConstants.BUTTON_CLICK
                                [inputType]=AnalyticsInputTypes.MOUSE
                                [skipCurrentPosition]="true"
                                [skipActionSource]="true"
                                data-focus-trap></button>
                    </div>
                </div>
            </div>
        </div>

        <p class="turn-off-autoplay-text">{{ (isAutoplayEnabled ? 'autoplay.turnOff' : 'autoplay.turnOn') | translate }}</p>

        <button class="close-button"
                sxm-new-analytics
                [tagName]="AnalyticsTagNameConstants.MDL_CLOSE"
                [screen]="AnalyticsScreens.MODAL"
                [modal]="AnalyticsTagNameConstants.MDL_UP_NEXT_MODAL_NAME"
                [userPath]="AnalyticsUserPaths.MDL_CLOSE"
                [elementType]="AnalyticsElementTypes.BUTTON"
                [buttonName]="AnalyticsTagNameConstants.MDL_CLOSE_BUTTON_NAME"
                [elementPosition]="0"
                [action]=AnalyticsTagActionConstants.BUTTON_CLICK
                [actionSource]="AnalyticsTagActionSourceConstants.NOW_PLAYING_MAIN"
                [inputType]=AnalyticsInputTypes.MOUSE
                [skipCurrentPosition]="true"
                (click)="close()"
                [title]="'navigation.close' | translate"
                data-focus-trap>
            <img [src]="screenfull.isFullscreen ? '../../../../assets/images/close-white.svg' : '../../../../assets/images/close-black.svg'"
                 role="presentation"
                 alt="">
        </button>
    </div>
</div>
