@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../scss/placeholders";
@import "../../scss/components/carousel";

.autoplay-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: $OverlayZ;
    background-color: rgba(0, 0, 0, 0.32);
    text-align: center;

    .modal {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 309px;
        width: 700px;
        background-color: $autoplay-white;
        border-radius: 8px;
        padding: 0 32px;

        @media screen and (max-width: $s_max_width - 1) {
            width: 475px;

            .modal__body {
                .related-episodes {
                    width: 48.66%;
                }
            }
        }

        &__body {
            display: flex;
            position: relative;
            text-align: left;
            align-items: baseline;

            .up-next {
                position: relative;
                margin-right: 7%;
                width: 184px;

                &__header {
                    @include sxm-font(GothamNarrSsm-Black);
                    font-size: 24px;
                    color: $title-black;
                    text-align: left;
                    margin-bottom: 16px;
                }

                countdown {
                    position: absolute;
                    bottom: 8px;
                    right: 8px;
                }

                &__tile--container {
                    border: 1px solid transparent;
                    position: relative; // for context-menu

                    &:focus {
                        @extend %focus-tile-border;
                    }
                }
            }

            .related-episodes {
                width: 64.50%;

                &__header {
                    @include sxm-font(GothamNarrSsm-Medium);
                    font-size: 14px;
                    color: $grey-blue;
                    align-self: flex-end;
                    margin-bottom: 16px;
                }

                .related-episodes-carousel {
                    position: relative;

                    &__list {
                        display: inline-block;
                        width: 100%;
                        overflow: hidden;

                        &__tile {
                            margin-right: 24px;
                            border: 1px solid transparent;
                            position: relative;

                            @media screen and (max-width: $s_max_width) {
                                margin-right: 16px;
                            }

                            &:focus {
                                @extend %focus-tile-border;
                            }
                        }
                    }

                    .carousel-arrows {
                        &__prev {
                            background: url("../../assets/images/carousel-arrow-prev.svg") no-repeat;
                        }

                        &__next {
                            background: url("../../assets/images/carousel-arrow-next.svg") no-repeat;
                        }
                    }
                }
            }
        }

        .turn-off-autoplay-text {
            @include sxm-font(GothamNarrSsm-Book);
            font-size: 12px;
            color: $grey-blue;
            text-align: center;
            margin-top: 28px;
        }

        .close-button {
            position: absolute;
            top: 16px;
            right: 16px;

            img {
                width: 24px;
            }

            &:focus {
                @extend %accessibility-outline;
            }
        }
    }
}

/* Fullscreen Overlay Specific Styles */
$four-tile-carousel: 77.5%;
$three-tile-carousel: 73.5%;
$two-tile-carousel: 65.5%;
$one-tile-carousel: 50%;

$up-next-tile--margin: 5%;

.fullscreen {
    .modal {
        position: unset;

        height: unset;
        width: 80%;
        background-color: transparent;
        padding: 0;

        .turn-off-autoplay-text {
            font-size: 16px;
            color: $white;
        }

        &__body {
            .up-next {
                width: 23%;
                margin-right: 3%;

                &__header {
                    color: $white;
                    font-size: 3vw;
                }

                @media screen and (max-width: $l_max_width - 1) {
                    width: 32%;
                    margin-right: 4%;
                }

                @media screen and (max-width: $s_max_width - 1) {
                    width: 46%;
                    margin-right: 6%;
                }
            }

            .related-episodes {
                width: 74%;

                &__header {
                    color: $white;
                    font-size: 2vw;
                    margin-bottom: 20px;
                }

                @media screen and (max-width: $l_max_width - 1) {
                    width: 66%;
                }

                @media screen and (max-width: $s_max_width - 1) {
                    width: 48%;
                }
            }
        }
    }
}
