@import "../../scss/variables";

$countdown-timer: 10s;

body {
    height: 100%;
    width: 100%;
    background-color: #333;
}

.countdown {
    position: relative;
    height: 40px;
    width: 40px;
    text-align: center;

    &__number {
        position: relative;
        z-index: 1;
        color: white;
        display: inline-block;
        line-height: 40px;
        font-size: 20px;
    }

    svg {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        background-color: $dark;
        border-radius: 50px;
        transform: rotateY(-180deg) rotateZ(-90deg);

        circle {
            stroke-dasharray: 113px;
            stroke-dashoffset: 0;
            stroke-linecap: round;
            stroke-width: 2px;
            stroke: $sxm_blue_2;
            fill: none;
            animation: countdown $countdown-timer linear forwards;
        }
    }
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 113px;
    }
}
