<div sxm-sticky
     [stickyClass]="'sticky-bar'"
     class="header-section">
    <button class="breadcrumb"
            (click)="navigationService.goBack()"
            [attr.title]="'allVideo.accessibility.back' | translate"
            sxm-new-analytics
            [tagName]="AnalyticsTagNameConstants.BREADCRUMB_BACK"
            [userPath]="AnalyticsUserPaths.BREADCRUMB_BACK"
            [userPathScreenPosition]="2"
            [pageFrame]="AnalyticsPageFrames.HEADER"
            [elementPosition]="0"
            [carouselName]="pageTitle"
            [skipActionSource]="true"
            [skipNpData]="true"
            [elementType]="AnalyticsElementTypes.BUTTON"
            [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
            [inputType]="AnalyticsInputTypes.MOUSE"
            [skipCurrentPosition]="true">
        <span class="breadcrumb__img"></span>
        <span class="breadcrumb__text">{{ pageTitle  }}</span>
    </button>
</div>


<div class="all-on-video-container" *ngIf="carouselData$ | async">
    <div *ngFor="let zone of (carouselData$ | async)?.zone">

        <h2 class="super-categories-header-container" *ngIf="zone.zoneTitle">{{zone.zoneTitle}}</h2>
        <sxm-hero-carousel
            categoryType="superCategory"
            [zoneId]="zone.zoneId"
            [carouselData]="zone.hero"></sxm-hero-carousel>

        <content-carousel
            [zoneId]="zone.zoneId"
            [carouselData]="zone.content">
        </content-carousel>

        <div *ngIf="(carouselData$ | async)?.category" progressCursor>
            <pills-list [title]="(carouselData$ | async)?.category?.title?.textValue"
                                [pillsList]="(carouselData$ | async).category?.tiles">
            </pills-list>
        </div>

    </div>
</div>
