<header class="recents-header">
    <h2 class="recents-header__text">{{ 'recentlyPlayed.recents' | translate }}</h2>

    <button class="recents-header__clear"
            sxm-new-analytics
            [tagName]="AnalyticsTagNameConstants.RCNT_CLEAR_ALL"
            [userPath]="AnalyticsUserPaths.RCNT_CLEAR_ALL"
            [carouselName]="AnalyticsCarouselNames.RECENT_CAROUSEL"
            [elementType]="AnalyticsElementTypes.BUTTON"
            [buttonName]="AnalyticsTagNameConstants.RCNT_CLEAR_ALL_BUTTON_NAME"
            [elementPosition]="0"
            [skipNpData]="true"
            [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
            [actionSource]="AnalyticsTagActionSourceConstants.MAIN"
            [inputType]="AnalyticsInputTypes.MOUSE"
            [userPathScreenPosition]="1"
            [skipCurrentPosition]="true"
            *ngIf="(recentlyPlayedTiles$ | async)?.length>0"
            attr.aria-label="{{ 'recentlyPlayed.clearAll' | translate }} {{ 'recentlyPlayed.recents' | translate }}"
            (click)="openClearAllRecentsModal()">
        {{ 'recentlyPlayed.clearAll' | translate }}
    </button>
</header>

<section class="recent-content-wrapper"
         attr.aria-label="{{ 'recentlyPlayed.recentlyPlayed' | translate }}">
    <sxm-no-results [results]="recentlyPlayedTiles$ | async"
                    [pageName]="noResultsPageName"></sxm-no-results>

    <ul class="recents-tile-list"
        *ngIf="recentlyPlayedTiles$ | async"
        attr.aria-label="{{ 'recentlyPlayed.recentlyPlayed' | translate }}">
        <li *ngFor="let tile of (recentlyPlayedTiles$ | async); let index = index"
            (click)="onClickTile(tile)"
            (keyup.enter)="carouselService.onKeyNeriticLinkAction(tile)"
            sxm-new-analytics
            [isTile]="true"
            [bannerInd]="tile.tileBanner ? (tile.tileBanner.bannerText | uppercase) : null"
            [consumedPerc]="tile.percentConsumed"
            [tileType]="tile.tileContentType | lowercase"
            [tileContentType]="tile.primaryNeriticLink && tile.primaryNeriticLink.contentType | lowercase"
            [elementPosition]="index">

            <channel-content-tile *ngIf="carouselService.isChannelTile(tile)"
                                  [tileData]="tile"
                                  [tileOrientation]="(recentlyPlayedCarousel$ | async).carouselOrientation"></channel-content-tile>

            <episode-content-tile *ngIf="carouselService.isEpisodeTile(tile)"
                                  [tileData]="tile"
                                  [tileOrientation]="(recentlyPlayedCarousel$ | async).carouselOrientation"></episode-content-tile>

            <context-menu [ngClass]="'positioned-absolutely animated'"
                          [ariaText]="tile.ariaText"
                          [getOptionsFunc]="getCMOptionsFunc(tile)"></context-menu>
        </li>
    </ul>
</section>
