@import "../../scss/variables";
@import "../../scss/placeholders";
@import "../../scss/mixins";

.recents-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include content-wrapper(24px, 16px);

    &__text {
        @include sxm-font(Gotham-Black);
        color: $title-black;
        font-size: 28px;
        font-weight: 500;
    }

    &__clear {
        @include sxm-font(Gotham-Medium);
        color: $sxm_blue_7;
        font-size: 12px;
        border-bottom: 2px solid transparent;

        &:focus {
            @extend %focus-blue-border-bottom;
        }
    }
}

.recent-content-wrapper {
    @include content-wrapper(24px, 16px);

    .recents-tile-list {
        display: flex;
        flex-flow: row wrap;

        li {
            outline: none;
            border-radius: 4px;
            margin: 0 24px 24px 0;
            position: relative;  // for context-menu

            &:focus, &:active {
                @include tile-focus();
            }
        }
        li:active {
            z-index: 10;
        }
    }
}


