@import "../../../scss/variables";
@import "../../../scss/placeholders";
@import "../../../scss/mixins";
@import "../../../scss/components/carousel";

.hero-carousel {
    position: relative;
    @include content-wrapper();

    .tile-list-wrapper {
        overflow: hidden;
        white-space: nowrap;

        .slick-slide {
            outline: none;
            margin-right: $hero-tile-gutter--large;
            cursor: pointer;
            position: relative;
            border: 1px solid transparent;
            border-radius: 3.8px;
            overflow: hidden;
            max-width: 100%;

            &.hero-tile {
                //min-width: 352px @ 400px , max-width: 522px @ 1920px
                @include progressive-calc(width, 352, 522, 400, 1920, 100vw);

                //min-height: 198px @ 400px , max-height: 294px @ 1920px
                @include progressive-calc(height, 198, 294, 400, 1920, 100vw);
            }

            .tile-wrapper {
                height: 0;
                padding-top: 56.25%; /* 16:9 Tile Ratio */
                background-size: cover;
                background-color: $grey-blue; /* fallback background color */

                .tile-content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                .channel-image {
                    margin: 30px 0 0 16px;

                    /* Image Ratio 5:4 for Hero 16:9 */
                    //min-width: 70px @ 400px , max-width: 190px @ 1920px
                    @include progressive-calc(width, 90, 190, 400, 1920, 100vw);

                    //min-height: 56px @ 400px , max-height: 152px @ 1920px
                    @include progressive-calc(height, 72, 152, 400, 1920, 100vw);

                    &.seededradio{
                        width: auto;
                        height: 50%;
                    }

                    &.iris-episode-image {
                        width: auto;
                    }

                    &.iris-show-image {
                        width: auto;
                        margin: auto;
                        height: 85%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .play-image {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                .img-alt-text {
                    width: 123px;
                    margin: 16px 0 0 16px;
                    color: $white;
                    font-size: 14px;
                    @include sxm-font(GothamNarrSSm-Book);

                    &.iris-episode-alt-text {
                        font-size: 24px;
                        margin-top: 92px;
                    }

                    &.iris-show-alt-text {
                        @include sxm-font(GothamNarrowSSm-Medium);
                        white-space: normal;
                        width: 100%;
                        text-align: center;
                        padding: 0 20px 0 20px;
                        position: absolute;
                        display: block;
                        margin: auto;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 24pt;
                    }
                }

                .tile-text {
                    position: absolute;
                    bottom: 16px;
                    left: 16px;
                    width: 90%;
                    color: $white;

                    &__first-line {
                        display: flex;

                        &__img {
                            width: 16px;
                            height: 16px;
                            margin-right: 8px;
                            align-self: center;
                        }

                        &__text {
                            font-size: 14px;
                            @include sxm-font(GothamNarrSSm-Book);
                        }
                    }

                    &__ch-name {
                        font-size: 16px;
                        @include sxm-font(GothamNarrSSm-Medium);
                        @extend %overflow-ellipsis;
                        display: inline-block;
                        width: 100%;
                    }

                    &__additional-info {
                        @extend %overflow-ellipsis;
                        font-size: 16px;
                        @include sxm-font(GothamNarrSSm-Medium);
                    }
                }

                /* Contextual Banner Styles */
                .tile-banner {
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    border-radius: 2px;
                    padding: 0 4px;
                    display: flex;

                    &--fullwidth {
                        left: 0;
                        top: 0;
                        right: 0;
                        width: 80%;
                        height: 26px;
                    }
                    &--center {
                        margin: auto;
                        display: flex;
                        justify-content: center;
                        .tile-banner__text {
                            margin: auto 5px;
                            font-size: 16px;
                        }
                    }

                    &__text {
                        @include sxm-font(GothamNarrSSm-Book);
                        font-size: 14px;
                        color: $white;
                        margin: 3px;
                    }

                    &__dot {
                        margin: 4px;
                        height: 10px;
                        width: 10px;
                        background-color: $sxm_red_1;
                        border-radius: 50%;
                        align-self: center;
                    }
                }

                /* Promo Tile Styles */
                &.promo {
                    .tile-banner,
                    .tile-text,
                    .img-alt-text {
                        display: none;
                    }
                }

                /* Tile Image/Icon alignment Styles */
                .center {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .channel-image {
                        margin: 0;
                    }
                }
            }

            &:hover,
            &:active {
                background-color: $white;
                border-radius: 4px;
                box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2),
                0 3px 14px 3px rgba(0, 0, 0, 0.12),
                0 8px 10px 1px rgba(0, 0, 0, 0.14);
                transition: all $hover-transition-time linear;
            }

            &:focus {
                @extend %focus-tile-border;
            }

            &:last-child {
                margin-right: 0;
            }

            @media screen and (max-width: $s_max_width) {
                margin-right: $hero-tile-gutter--small;
            }

            &:active {
                opacity: 0.8;
            }
        }
    }

    .carousel-arrows {
        &__prev,
        &__next {
            top: 0;
            bottom: 0;
            //min-height: 198px @ 400px , max-height: 294px @ 1920px -- match with hero tile height
            @include progressive-calc(height, 198, 294, 400, 1920, 100vw);
        }

        &__next {
            right: calc(-#{$arrow-width / 2});
        }
    }
}
