<section class="hero-carousel"
     *ngIf="isCarouselAvailable()"
     attr.aria-label="{{ 'carousels.accessibility.heroCarousel' | translate }}
        {{ getHeroCarousels().length }}
        {{ 'carousels.accessibility.tiles' | translate }}">

    <div *ngFor="let carousel of getHeroCarousels(); trackBy: trackCarousel; let i = index; last as isLastCarousel">
        <div class="tile-list-wrapper">
            <ul class="hero-tiles-list" id="hero-carousel-{{i}}-{{this.zoneId}}"
                role="presentation">
                <li class="hero-tile"
                    *ngFor="let tile of carousel.tiles; let index = index"
                    sxm-new-analytics
                    [isTile]="true"
                    [carouselName]="AnalyticsCarouselNames.HERO_CAROUSEL"
                    [elementPosition]="index"
                    [carouselPosition]="i"
                    [bannerInd]="tile.tileBanner ? (tile.tileBanner.bannerText | uppercase) : null"
                    [tileType]="tile.tileContentType | lowercase"
                    [tileContentType]="tile.primaryNeriticLink && tile.primaryNeriticLink.contentType | lowercase"
                    [tileContentSubType]="tile.tileContentSubType"
                    [consumedPerc]="tile.percentConsumed"
                    [zoneTitle]="zoneTitle"
                    [zoneOrder]="zoneOrder"
                    [pageName]="pageName"
                    [collectionGuid]="tile.tileAssets[0].assetInfoValue"
                    (click)="onCarouselTileClick(tile)"
                    (keyup.enter)="carouselService.onKeyNeriticLinkAction(tile)">
                    <div *ngIf="!carouselService.isViewAllTile(tile)"
                         double-tap-context-menu
                         [contextMenuOptions]="tileContextMenuOptionsService.getCMOptions(tile)"
                         class="tile-wrapper {{ tile.fgImageType }}"
                         [lazyLoad]="(onSlickInit$| async) ? getLazyLoadUrl(tile) : null"
                         [ngStyle]="getFallbackStyle(tile, index)"
                         attr.aria-label="{{ ((tile.isTunedTo$   | async) ? 'carousels.accessibility.currentlyPlaying' : '') | translate }}
                                      {{ tile.tileBanner.bannerText }}
                                      {{ carouselService.getAriaLabelContentType(tile) | translate }}
                                      {{ tile.ariaText | localizeTileText }}
                                      {{ tile.line2 | localizeTileText }}
                                      {{ tile.line3 | localizeTileText }}"
                         role="button"
                         tabindex="0">
                        <div class="tile-content"
                             tabindex="-1">
                            <div class="tile-banner"
                                 *ngIf="tile.tileBanner.display && tile.tileBanner.bannerText && tile.tileBanner.bannerColor"
                                 [ngClass]="{ 'tile-banner--fullwidth tile-banner--center': tile.tileBanner.bannerClass == liveBanner }"
                                 [hidden]="tile?.tileBanner?.bannerClass === liveBanner && !configService.liveVideoEnabled()"
                                 [ngStyle]="{'background-color': tile.tileBanner.bannerColor}">
                                <span *ngIf="tile.tileBanner.bannerClass == liveBanner" class='tile-banner__dot'></span>
                                <p class="tile-banner__text"
                                   role="presentation"
                                   aria-hidden="true">
                                    {{ tile.tileBanner.bannerText }}
                                </p>
                            </div>

                            <div *ngIf="!!tile.fgImageUrl && !isTileImageFailedList[index]; then image else text"></div>

                            <ng-template #image>
                                <img class="channel-image {{tile.tileContentSubType}}"
                                     [ngClass]="{ 'iris-show-image': isIrisShowTile(tile),
                                                  'iris-episode-image': isIrisEpisodeTile(tile) }"
                                     role="presentation"
                                     alt=""
                                     (error) = "onFGImageError(tile, index)"
                                     [src]="tile.fgImageUrl">
                            </ng-template>

                            <ng-template #text>
                                <p class="img-alt-text"
                                    [ngClass]="{ 'iris-show-alt-text': isIrisShowTile(tile),
                                                 'iris-episode-alt-text': isIrisEpisodeTile(tile)}">
                                    {{ carouselService.getImageAltText(tile.imageAltText) }}
                                </p>
                            </ng-template>

                            <img *ngIf="tile.tileContentSubType === vodContentType && tile.fgImageType !== promoImageType"
                                 class="play-image"
                                 [src]="(tile.isTunedTo$ | async) ? '../../../../assets/images/play-button-tap.svg'
                                                                        : '../../../../assets/images/play-button.svg'"
                                 alt=""
                                 role="presentation"
                                 aria-hidden="true"/>

                            <div class="tile-text" *ngIf="!isIrisShowTile(tile)">
                                <div class="tile-text__first-line">
                                    <img class="tile-text__first-line__img"
                                         role="presentation"
                                         *ngIf="tile.iconImageUrl"
                                         [src]="tile.iconImageUrl"
                                         alt="">
                                    <p class="tile-text__first-line__text"
                                       role="presentation"
                                       aria-hidden="true">{{ tile.line1 | localizeTileText }}</p>
                                </div>

                                <p class="tile-text__ch-name"
                                   role="presentation"
                                   aria-hidden="true">
                                    {{ tile.line2 | localizeTileText }}
                                </p>

                                <!-- Not all tiles will have a third line of text -->
                                <p class="tile-text__additional-info"
                                   role="presentation"
                                   aria-hidden="true"
                                   *ngIf="tile.line3">
                                    {{ tile.line3 | localizeTileText }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <view-all-tile *ngIf="carouselService.isViewAllTile(tile)"
                                   [tileData]="tile"
                                   [carouselData]="carousel"></view-all-tile>

                    <context-menu [getOptionsFunc]="getCMOptionsFunc(tile)"
                                  [ngClass]="'positioned-absolutely animated'"
                                  ariaText="{{ ((tile.isTunedTo$ | async) ? 'carousels.accessibility.currentlyPlaying' : '') | translate }}
                                      {{ tile.tileBanner.bannerText }}
                                      {{ carouselService.getAriaLabelContentType(tile) | translate }}
                                      {{ tile.ariaText | localizeTileText }}
                                      {{ tile.line2 | localizeTileText }}
                                      {{ tile.line3 | localizeTileText }}"></context-menu>
                </li>
            </ul>
        </div>

        <div class="carousel-arrows">
            <button id="hero-carousel-{{i}}-{{this.zoneId}}-prev"
                    class="carousel-arrows__prev"
                    [title]="'navigation.accessibility.previousIcon' | translate"
                    sxm-new-analytics
                    [tagName]="AnalyticsTagNameConstants.CAROUSEL_NAV_BACK_FWD"
                    [userPath]="AnalyticsUserPaths.CAROUSEL_NAV_BACK_FWD + '_' + AnalyticsCarouselNames.HERO_CAROUSEL + '_' + AnalyticsTagTextConstants.CAROUSEL_NAV_BACK"
                    [userPathScreenPosition]="2"
                    [pageFrame]="AnalyticsPageFrames.PAGE"
                    [carouselName]="AnalyticsCarouselNames.HERO_CAROUSEL"
                    [buttonName]="AnalyticsTagNameConstants.CAROUSEL_NAV_BF_BUTTON_NAME"
                    [tagText]="AnalyticsTagTextConstants.CAROUSEL_NAV_BACK"
                    [elementPosition]="0"
                    [skipActionSource]="true"
                    [elementType]="AnalyticsElementTypes.BUTTON"
                    [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                    [inputType]="AnalyticsInputTypes.MOUSE"
                    [skipCurrentPosition]="true">
                <img src="../../../assets/images/carousel-arrow-prev.svg"
                     [alt]="'navigation.accessibility.previousIcon' | translate"/>
            </button>
            <button id="hero-carousel-{{i}}-{{this.zoneId}}-next"
                    class="carousel-arrows__next"
                    [title]="'navigation.accessibility.nextIcon' | translate"
                    sxm-new-analytics
                    [tagName]="AnalyticsTagNameConstants.CAROUSEL_NAV_BACK_FWD"
                    [userPath]="AnalyticsUserPaths.CAROUSEL_NAV_BACK_FWD + '_' + AnalyticsCarouselNames.HERO_CAROUSEL + '_' + AnalyticsTagTextConstants.CAROUSEL_NAV_FWD"
                    [userPathScreenPosition]="2"
                    [pageFrame]="AnalyticsPageFrames.PAGE"
                    [carouselName]="AnalyticsCarouselNames.HERO_CAROUSEL"
                    [buttonName]="AnalyticsTagNameConstants.CAROUSEL_NAV_BF_BUTTON_NAME"
                    [tagText]="AnalyticsTagTextConstants.CAROUSEL_NAV_FWD"
                    [elementPosition]="0"
                    [skipActionSource]="true"
                    [elementType]="AnalyticsElementTypes.BUTTON"
                    [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                    [inputType]="AnalyticsInputTypes.MOUSE"
                    [skipCurrentPosition]="true">
                <img src="../../../assets/images/carousel-arrow-next.svg"
                     [alt]="'navigation.accessibility.nextIcon' | translate"/>
            </button>
        </div>
    </div>

</section>
