<header class="enhanced-edp-page-header">
    <div class="edp-info-container">
        <div class="edp-breadcrumb-nav">
            <button class="back-button"
                    (click)="navigationService.goBack()"
                    [title]="'allChannels.accessibility.back' | translate"
                    sxm-new-analytics
                    [tagName]="AnalyticsTagNameConstants.EDP_BACK"
                    [userPath]="AnalyticsUserPaths.EDP_BACK + '_' + (carousel.screen === carouselTypeAnaConst.ENHANCED_SHOW_EDP ?
                                    AnalyticsEDPNames.SHOW : AnalyticsEDPNames.CHANNEL)"
                    [buttonName]="AnalyticsTagNameConstants.EDP_BACK_BUTTON_NAME"
                    [elementType]="AnalyticsElementTypes.BUTTON"
                    [pageFrame]="AnalyticsPageFrames.EDP"
                    [skipScreenName]="true"
                    [edp]="carousel.screen === carouselTypeAnaConst.ENHANCED_SHOW_EDP ?
                                    AnalyticsEDPNames.SHOW : AnalyticsEDPNames.CHANNEL"
                    [tileType]="anaTileAsset.contentType"
                    [tileContentType]="anaTileAsset.subContentType"
                    [elementPosition]="0"
                    [action]=AnalyticsTagActionConstants.BUTTON_CLICK
                    [inputType]=AnalyticsInputTypes.MOUSE>
                <img class="chevron-left"
                     src="../../assets/images/left-chevron-white.svg"
                     role="presentation"
                     alt=""/>
                <span class="back-button__text">{{ 'common.back' | translate }}</span>
            </button>
        </div>

        <div class="edp-info-row">
            <div class="logo-buttons-div">
                <div class="edp-page-logo">
                    <div *ngIf="carousel.pageLogo?.imageLink && isPageLogoLoaded; then image else text"></div>
                    <ng-template #image>
                        <img class="edp-page-logo__img"
                             [src]="carousel.pageLogo.imageLink"
                             role="presentation"
                             (error)="onPageLogoError()"
                             alt=""/>
                    </ng-template>

                    <ng-template #text>
                        <span class="edp-page-logo__alt-text" [ngClass]="{ 'edp-page-logo__bg-color' : isIrisPodcast }">
                            {{ carousel.pageLogo?.imageAltText }}
                        </span>
                    </ng-template>
                </div>

                <ul class="edp-buttons">
                    <li *ngIf="carousel.pageAction?.primaryAction">
                        <button class="primary-action-btn"
                                sxm-new-analytics
                                [tagName]="AnalyticsTagNameConstants.EDP_LSTN_NW"
                                [userPath]="AnalyticsUserPaths.EDP_LSTN_NW"
                                [pageFrame]="AnalyticsPageFrames.EDP"
                                [edp]="carousel.screen === carouselTypeAnaConst.ENHANCED_SHOW_EDP ?
                                    AnalyticsEDPNames.SHOW : AnalyticsEDPNames.CHANNEL"
                                [skipScreenName]="true"
                                [elementType]="AnalyticsElementTypes.BUTTON"
                                [buttonName]="AnalyticsTagNameConstants.EDP_LSTN_NW_BUTTON_NAME"
                                [elementPosition]="0"
                                [action]=AnalyticsTagActionConstants.BUTTON_CLICK
                                [inputType]=AnalyticsInputTypes.MOUSE
                                [findingMethod]="AnalyticsFindingMethods.BROWSE"
                                [tileType]="anaTileAsset.contentType"
                                [tileContentType]="anaTileAsset.subContentType"
                                [skipCurrentPosition]="true"
                                (click)="takeButtonAction(carousel.pageAction.primaryAction)"
                                [title]="primaryButtonText">
                            <span class="back-button__text">{{ primaryButtonText }}</span>
                        </button>
                    </li>

                    <li *ngIf="carousel.pageAction?.addToFavorites"
                        class="edp-fav-btn"
                        sxm-new-analytics>
                        <favorite-btn
                            color="white"
                            [viewType]="edpView"
                            [listAsset]="favoriteAsset">
                        </favorite-btn>
                    </li>
                    <li *ngIf="carousel.pageAction?.setShowReminder"
                        class="edp-reminder-btn">
                        <reminder-button [reminderAssets]="reminderAssets" viewType="header"></reminder-button>
                    </li>
                </ul>
            </div>

            <div class="edp-text-connect-info-div">
                <div class="edp-page-text">
                    <span class="edp-page-title">{{ carousel.pageTextLine1 }}</span>
                    <app-line-clamp
                        [showDescriptionCopy]="pageTextLine2$ | async"
                        [carousel]="carousel"
                        [anaTileAsset]="anaTileAsset">
                    </app-line-clamp>
                    <app-line-clamp
                        [showDescriptionCopy]="pageTextLine3$ | async"
                        [carousel]="carousel"
                        [anaTileAsset]="anaTileAsset">
                    </app-line-clamp>
                </div>

                <div class="edp-connect-info-div"
                     *ngIf="connectInfo">
                    <div class="edp-connect-info-div__header"> {{ 'enhancedEdp.connectWith' | translate }} {{ connectAssetName }} </div>

                    <ul class="connect-info">
                        <li *ngIf="carousel.pageAssetInfo?.connectEmail"
                            class="connect-info-text">
                            <a title="{{ 'enhancedEdp.connectThroughEmail' | translate }}"
                               href="mailto:{{carousel.pageAssetInfo.connectEmail}}">
                                <img class="connect-info-img"
                                     [src]="carousel.pageAssetInfo?.connectEmailIcon"
                                     role="presentation"
                                     alt=""/>
                                <span class="connect-info-detail">{{ carousel.pageAssetInfo.connectEmail }}</span>
                            </a>
                        </li>
                        <li *ngIf="carousel.pageAssetInfo?.connectTwitter"
                            class="connect-info-text">
                            <a target="_blank"
                               rel="noopener noreferrer"
                               href="{{ carousel.pageAssetInfo.connectTwitterLink }}"
                               aria-describedby="new-window">
                                <img class="connect-info-img"
                                     [src]="carousel.pageAssetInfo?.connectTwitterIcon"
                                     role="presentation"
                                     alt=""/>
                                <span title="{{ 'enhancedEdp.connectThroughTwitter' | translate }}" class="connect-info-detail">{{ carousel.pageAssetInfo.connectTwitter }}</span>
                            </a>
                        </li>
                        <li *ngIf="carousel.pageAssetInfo?.connectFacebook"
                            class="connect-info-text">
                            <a target="_blank"
                               rel="noopener noreferrer"
                               href="{{ carousel.pageAssetInfo.connectFacebookLink }}"
                               aria-describedby="new-window">
                                <img class="connect-info-img"
                                     [src]="carousel.pageAssetInfo?.connectFacebookIcon"
                                     role="presentation"
                                     alt=""/>
                                <span title="{{ 'enhancedEdp.connectThroughFacebook' | translate }}" class="connect-info-detail">{{ carousel.pageAssetInfo.connectFacebook }}</span>
                            </a>
                        </li>
                        <li *ngIf="carousel.pageAssetInfo?.connectPhone"
                            class="connect-info-text">
                            <img class="connect-info-img"
                                 [src]="carousel.pageAssetInfo?.connectPhoneIcon"
                                 role="presentation"
                                 alt=""/>
                            <span class="connect-info-detail">{{ carousel.pageAssetInfo.connectPhone }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="tab-container"
            role="tablist">
            <li *ngFor=" let segment of segments "
                [ngClass]="{'selected': tabTitle === segment.title}">
                <button class="tab-btn"
                        role="tab"
                        [ngClass]="{'selected': tabTitle === segment.title}"
                        [attr.aria-selected]="tabTitle === segment.title"
                        (click)="tabTitle = segment.title">
                    {{ segment.title }}
                </button>
            </li>
        </ul>
    </div>
</header>

<div *ngIf="segments && segments.length > 0"
     class="edp-segment-list-container">
    <div [ngSwitch]="tabTitle">
        <span *ngFor="let segment of segments ">
            <ng-template [ngSwitchCase]="segment.title" *ngIf="isListAvailable(segment)">
                <vertical-list [carouselData]="edpSegmentListCarousel" [showHeader]="false" [pageTitleAna]="carousel.pageTextLine1"></vertical-list>
            </ng-template>
            <ng-template [ngSwitchCase]="segment.title" *ngIf="isScheduleAvailable(segment)">
                <vertical-list-edp-schedule *ngIf="edpSegmentScheduleCarousel"
                                            [carouselData]="edpSegmentScheduleCarousel"
                                            [scheduleType]="carousel.screen"></vertical-list-edp-schedule>
            </ng-template>
        </span>
    </div>
</div>
