@import "../../scss/variables";
@import "../../scss/placeholders";
@import "../../scss/mixins";

/** Header Styles **/
$transition-time: 0.3s;

/** margins for breadcrumb-nav and edp-info-row **/
.div-margins {
    margin: auto 287px;

    @media all and (max-width: $l_max_width) {
        margin: auto 162px;
    }

    @media all and (max-width: $m_max_width) {
        margin: auto 32px;
    }
}

.edp-info-container {
    text-align: center;
    @include sxm-font(Gotham-Book);
    color: $slate;
    overflow: hidden;
    transition: all $transition-time;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $black;

    .edp-breadcrumb-nav {
        display: flex;
        @extend .div-margins;

        .back-button{
            background: transparent;
            color: $pale-grey_2;
            @include sxm-font(Gotham-Medium);
            font-size: 14px;
            font-weight: 500;
            letter-spacing: -0.2px;
            margin-top: 16px;
            border-bottom: 2px solid transparent;
            display: flex;
            align-items: center;

            .chevron-left {
                margin-right: 14px;
            }

            &:focus {
                .back-button__text {
                    @extend %focus-white-border-bottom
                }
            }
        }
    }

    .edp-info-row {
        display: flex;
        flex-flow: row nowrap;
        @extend .div-margins;
        padding-top: 8px;
        transition: all $transition-time ease;
        margin-bottom: 30px;

        .edp-page-logo {
            overflow: hidden;
            width: 250px;
            height: 200px;
            transition: all $transition-time;
            margin-bottom: 16px;

            @media all and (max-width: $l_max_width) {
                width: 261px;
                height: 209px;
            }

            @media all and (max-width: $m_max_width) {
                width: 222px;
                height: 178px;
            }
            @media all and (max-width: $s_max_width) {
                width: 224px;
                height: 180px;
            }

            @media all and (max-width: $xs_max_width) {
                width: 168px;
                height: 135px;
            }

            &__img {
                height: inherit;
                width: auto;
            }

            &__alt-text {
                align-items: center;
                color: $pale-grey_7;
                display: flex;
                height: inherit;
                justify-content: center;
                text-align: center;
                width: inherit;
            }

            &__bg-color {
                background-color: $default-np-background;
            }
        }

        ul.edp-buttons {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            button {
                height: 36px;
                border-radius: 4px;
                background-color: $light-grey_10;
                margin-right: 16px;
                color: white;
                vertical-align: middle;
                margin-bottom: 10px;

                &.primary-action-btn {
                    font-size: 12px;
                    border: solid 2px $white;
                    width: 126px;
                    line-height: 14px;
                    padding: 0 10px;
                    border-radius: 16px;
                }

                &.show-reminder-btn,
                &.favorite-btn {
                    width: 32px;

                    img {
                        width: 22px;
                        height: 22px;
                        margin: 1px;
                    }
                }
            }
        }

        .edp-text-connect-info-div {
            margin-left: 20px;
            width: 100%;

            .edp-page-text {
                display: flex;
                text-align: left;
                color: $white;
                @include sxm-font(Gotham-Book);
                flex-direction: column;
                transition: all $transition-time;

                .edp-page-title {
                    font-size: 24px;
                    display: block;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    max-width: 36vw;
                    transition: all $transition-time;
                    line-height: 1;
                    letter-spacing: 0.45px;
                    margin-bottom: 9px;
                    @include sxm-font(Gotham-Medium);
                }
            }

            .edp-connect-info-div {
                display: flex;
                flex-flow: column;
                margin-top: 24px;


                &__header {
                    @include sxm-font(Gotham-Medium);
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: -0.25px;
                    text-align: center;
                    color: $white;
                    margin-bottom: 2px;
                    line-height: 1;
                }

                ul.connect-info {
                    flex-flow: row wrap;
                    margin: 16px auto 0 auto;
                    list-style: none;
                    color: $white;
                    background-color: rgba(255, 255, 255, 0);

                    li.connect-info-text {
                        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
                        height: 32px;
                        padding-right: 20px;
                        float:left;
                        font-size: 11px;
                        display: flex;
                        align-items: center;
                        @include sxm-font(GothamNarrSSm-Book);

                        a {
                            color: $white;
                            text-decoration: none;
                            display: flex;

                            &:focus {
                                text-decoration: underline;
                            }
                        }

                        .connect-info-img {
                            width: 21px;
                            height: 21px;
                            background-size: cover;
                            margin-right: 4px;
                        }

                        .connect-info-detail {
                            line-height: 21px;
                        }
                    }
                }
            }
        }
    }

    ul.tab-container {
        background-color: $progress-bar-dark;
        height: 60px;
        justify-content: space-around;
        display: flex;
        align-items: center;
        z-index: 2;

        //sticky header styles
        &.shrink {
            position: fixed;
            width: 100%;
        }

        li {
            width: inherit;
            height: inherit;
            display: flex;
            justify-content: center;

            &.selected {
                @extend %selected-blue2-border-bottom ;
            }

            &:first-child:nth-last-child(1) {
                width: 100%;
            }

            &:first-child:nth-last-child(2),
            &:first-child:nth-last-child(2) ~ li {
                width: 50%;
            }

            button.tab-btn {
                letter-spacing: 0.2px;
                color: $pale-grey_7;
                font-size: 14px;
                @include sxm-font(Gotham-Medium);
                text-align: center;
                width: auto;

                &.selected {
                    @include sxm-font(Gotham-Bold);
                    color: $sxm_blue_2;
                }
            }
        }
    }
}

.edp-schedule-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: inherit;
}

.edp-segment-list-container
{
    z-index: 1;
    overflow-y: auto;

    //sticky header styles
    &.header-fixed {
        padding-top:406px;
    }
}


.enhanced-edp-page-header
{
    z-index: 1;
    transition: all $transition-time ease;

    //sticky header styles
    &.header-fixed {
        position: fixed;
        width: 100%;
        .edp-breadcrumb-nav,
        .edp-info-row {
            display: none;
        }

        .edp-info-row {
            height: 100%;
            padding-top: 6px;
        }

        .edp-page-logo {
            display: none;
        }
    }
}
