@import "../scss/variables";
@import "../scss/global";
@import "../scss/placeholders";
@import "../scss/mixins";

.sxm-portal-container {
    padding-top: 1em;
    background: url("../assets/images/splashscreen.jpg") center;
    background-size: cover;
    min-height: 100vh;
    color: $white;
    display: flex;
    overflow-y: auto;
    flex: 1 auto;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    justify-content: space-between;

    .sxm-landing-logo {
        height: 3em;
        width: 18em;
    }

    .info-container {
        width: 35%;
        text-align: center;
        @include sxm-font(Gotham-Medium);
        color: $white;
        min-height: 13em;

        .sub-title-text {
            font-size: 24px;
            letter-spacing: -0.4px;
            text-align: center;
        }
    }

}
