<div class="sxm-portal-container">

    <div class="info-container">
        <img class="sxm-landing-logo" src="../assets/images/sxm-logo.svg"/>

        <p class="sub-title-text">
            {{ 'portal TEST Page' }}
        </p>
    </div>
</div>
