@import "../../../../scss/variables";
@import "../../../../scss/placeholders";
@import "../../../../scss/mixins";
@import "../../../../scss/pages/login";

.overlay-container {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $btn-casting-icon-bg-color;
    z-index: $castingWelcomeZIndex;

    .overlay-close {
        position: fixed;
        right: 15px;
        top: 10px;
        cursor: pointer;
        width: 29.7px;
        height: 29.7px;
        border: solid 1.5px #a3b2c0;
        border: solid 1.5px var(--bluey-grey);
        
        img {
            width: 40px;
            height: 40px;
        }
    }

    .overlay-header {
        margin-top: 3em;
    }

    .overlay-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        margin-top: 3em;
        height: 90%;

        .form-header {
            @include sxm-font(GothamNarrSsm-Book);
            font-size: 20px;
            text-align: center;
            margin-bottom: 1em;
        }
    }

    .footer {
        flex: auto;
        margin-bottom: 90px;
        text-align: right;
        margin-left: 84%;
        margin-right: 1%;
        color: $white;
        cursor: auto;
    }
    .circle {
        padding-left: 10px;
        padding-bottom: 9px;
        padding-top: 7px;
        margin-left: 96%;
        margin-bottom: 20px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: solid 3px #ffffff;
        float: right;
        background-color: $btn-casting-icon-bg-color;
    }
}
