<div class="overlay-container"
     id="chromecast-overlay">
    <div class="overlay-body">
            <button class="overlay-close"
            (click)="close()"
            [attr.type]= "click"
            [title]="'close' | translate"
            tabindex="0"
            data-focus-trap>
            <img src="../../../../assets/images/close-white.svg"
                [alt]="'close' | translate">
        </button>
    </div>

    <footer class="footer">
        <h1 class="form-header" role="alert">Tap to connect
            <span class="form-header" role="alert">to your device</span>
        </h1>
    </footer>
    <div class="circle">
        <img src="../../../../assets/images/chromecast/chromecast-connected.svg"
        [alt]="'Chromecast Icon' | translate">
    </div>
</div>
