@import "../../../scss/global";

#progress-bar-container,
#progress-bar-background,
#live-point,
#current-listening-position,
.segment-marker {
    height: $playerControlsProgressBarHeight;
    margin: 0;
    border-radius: 8px;
}

.pointed-cursor {
    cursor: pointer;
}

// layer 1 - dark blue base
#progress-bar-container {
    width: 100%;
    position: relative;
    background-color: $progress-bar-dark;
}

// layer 2 - "DCMA allowed" point (AKA "restricted timeline")
#progress-bar-background {
    width: 100%;
    background-color: $grey-blue;
}

// layer 3 - "live point" (AKA "available timeline")
.mini-now-playing-view {
    background-color: $pale-grey_6;
}

.fullscreen-video-view {
    background-color: $grey-blue;
}

// layer 4 - current position
#current-listening-position {
    background-color: $sxm_blue_7;
    margin-top: -4px;
}

// layer 5 - dark blue tick marks (rounded hourglass shapes)
.segment-marker {
    position: absolute;

    img {
        position: absolute;
        height: 100%;
    }
}
