<div id="progress-bar-container"
     (window:resize)="onResize()"
     (mouseup)="onClick($event)">

    <!--
     // ------------------------------------------------------------------------------------------------------
     // BACKGROUND: Dark gray bar.
     //
     // Just the background color or anchor for the timeline's light blue playhead bar and light
     // gray live point bar.
     // ------------------------------------------------------------------------------------------------------
     -->
    <div id="progress-bar-background"
         #progressBarBackground
         [ngClass]="{ 'pointed-cursor': isDmcaUnrestricted}">
        <!--
        // ------------------------------------------------------------------------------------------------------
        // LIVE POINT: Light gray bar.
        //
        // Gray bar that's one of two things:
        // 1) The live point in time for a Live broadcast stream. This is also known as the "Live Point".
        // 2) For On Demand content this spans the entire width of the playhead to show segments.
        //
        // NOTE: Only show the progress bars when the duration is valid, otherwise we see some wonkiness
        // with the bars moving around. How is it possible to get a bad duration? The hls player might
        // not propagate the correct duration when loading, so this mitigates that issue from
        // cascading to the UI.
        // ------------------------------------------------------------------------------------------------------
        -->
        <div id="live-point"
             class="mini-now-playing-view"
             [ngClass]="{ 'fullscreen-video-view': isVideo }"
             [style.width.%]="progressBarService.liveTimePercentage$ | async "
             role="slider"
             [attr.aria-label]="'playerControls.accessibility.progressBarLabel' | translate"
             [attr.aria-valuemin]="0"
             [attr.aria-valuemax]="mediaTimestampService.durationTimestamp"
             [attr.aria-valuetext]="mediaTimestampService.playheadTimestamp | timeDisplayPipe"
             (keydown)="progressBarService.onKeyboardScrub($event)"
             tabindex="0"
             title="{{ 'playerControls.accessibility.progressBar' | translate}}"
             *ngIf="mediaTimestampService.durationTimestamp > 0">
        </div>

        <!--
        // ------------------------------------------------------------------------------------------------------
        // CURRENT LISTENING POSITION: Bright blue bar.
        //
        // The bright blue bar in the foreground that indicates the user's current playing position within
        // the current playing episode.
        // ------------------------------------------------------------------------------------------------------
        -->
        <div id="current-listening-position"
             *ngIf="mediaTimestampService.durationTimestamp > 0"
             [style.width.%]="progressBarService.playheadPercentage$ | async ">

            <!--
            // ------------------------------------------------------------------------------------------------------
            // SEGMENT MARKERS: Dark spacers.
            //
            // The dark spaces or lines between the live-point gray bar or the bright blue current position bar;
            // these markers indicate the beginning and end of a segment that users can navigate to if the
            // currently playing episode provides DMCA unrestricted access.
            //
            // NOTE: Currently these markers render a rounded hourglass shape for each segment marker.
            // ------------------------------------------------------------------------------------------------------
            -->
            <div *ngIf="isDmcaUnrestricted && segments && segments.length > 1">
                <div *ngFor="let segment of (segments | segmentsStartInEpisodePipe); let i = index; trackBy: trackByFn">
                    <span class="segment-marker"
                          *ngIf="i > 0"
                          [style.left.%]="progressBarService.progressInPercentage(segment.secondsFromBeginningOfEpisode)">
                        <img src="../../assets/images/progress-bar-segment-marker.svg"/>
                    </span>
                </div>
            </div>

            <!--
            // ------------------------------------------------------------------------------------------------------
            // SCRUBBER BALL
            //
            // The little gray ball that users can drag along the timeline to scrub or seek.
            // ------------------------------------------------------------------------------------------------------
            -->
            <scrub-ball [segments]="segments"
                        [isDmcaUnrestricted]="isDmcaUnrestricted"
                        [segmentInfo]="segmentInfo"
                        (segmentTitleChange)="segmentInfo=$event">
            </scrub-ball>
        </div>
    </div>
</div>
