$xl_max_width: 1920px;
$l_max_width: 1440px;
$ml_max_width: 1200px;
$m_max_width: 1024px;
$ms_max_width: 850px;
$s_max_width: 768px;
$xs_max_width: 600px;
$xxs_max_width: 400px;

/* Bootstrap's Media Queries */
$xlarge_min_width: 1200px;
$large_min_width: 992px;
$medium_min_width: 768px;
$small_min_width: 576px;

$large_max_width: 1199px;
$medium_max_width: 991px;
$small_max_width: 767px;
$xsmall_max_width: 575px;
