$black: #000;
$almost-black: #09121c;
$circle_dark: #0a121c;
$title-black: #09111d;
$dark: #172533;
$btn-active-bg-black: #161f2c;
$header-black: #2a4654;
$slate: #3a4a59;

$white: #fff;
$grey: #a3b2c0;
$grey2: #636363;
$grey3: #56525e;
$grey4: #736E7D;
$pale-grey: #e7edf3;
$pale-grey_2: #e6ecf2;
$pale-grey_3: #ccd5de;
$pale-grey_4: #ebeef3;
$pale-grey_5: #f5f7f9;
$pale-grey_6: #b1b9c2;
$pale-grey_7: #e4e7e9;
$pale-grey_8: #f5f5f5;
$light-grey: #a3b2bf;
$light-grey_2: #d8d8d8;
$light-grey_3: #eaeef3;
$light-grey_4: #eaeaea;
$light-grey_5: #e4e5e8;
$light-grey_6: #d4d4d4;
$light-grey_7: #e9eef8;
$light-grey_8: rgba(212, 212, 212, 0.15);
$light-grey_9: rgba(212, 212, 212, 0.35);
$light-grey_10: rgba(255, 255, 255, 0.15);
$header-grey: #f1f6fb;
$consumption-bar-blue: #cecece;
$grey-blue: #637485;
$grey-blue2: #736e7d;
$orange-grapefruit: #ff5500;
$btn-hover-bg-grey: #4c5765;
$autoplay-white: #fafafa;
$btn-casting-icon-bg-color: rgba(10, 18, 28, 0.8);
$default-np-background: #243a5c;

$navy: #002c4c;
$sxm_blue_1: #2598ea;
$sxm_blue_2: #2ba7ff;
$sxm_blue_3: #0778c9;
$sxm_blue_4: #084d7e;
$sxm_blue_5: #1384b5;
$sxm_blue_6: #0000eb;
$sxm_blue_7: #006ed7;
$sxm_blue_8: #322790;
$sxm_blue_9: rgba(0, 110, 215, .15);
$sxm_blue_10: rgba(50, 39, 144, 0.15);
$sxm_blue_11: #138cff;
$sxm_aqua_1: #00e3b9;
$btn-primary-blue: #208ee7;
$btn-active-blue: #1e75b3;
$active-button-blue: #8bc0e6;
$btn-hover-blue: #55b9ff;
$playhead-blue: #265f88;
$progress-bar-blue: #265f88;
$progress-bar-dark: #202d3f;
$dark-sky-blue: #2498eb;
$darker-blue: #00adef;
$cloudy-blue: #ccd6de;
$progress-indicator-green: #00e3b9;

$sxm_yellow: #f7bc2d;
$sxm_red: #e33522;
$sxm_red_1: #ef021f;
$sxm_red_2: #c70119;
$sxm_red_3: #d90909;
$orange: #f7941d;
$sxm_white_2: rgba(255,255,255,0.8);

$box-shadow-blue: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
