$playerControlsHeight: 90px;
$playerControlsProgressBarHeight: 4px;
$playerControlsPdtAdjustment: 3px;
$playerControlsAudioProgressBarHeight: 8px;
$playerChromeCastHeight: 30px;
$playerControlChromeCastHeight: 120px;
