@import "../../../scss/variables";
@import "../../../scss/placeholders";
@import "../../../scss/mixins";

.seeded-settings {
    @include content-wrapper(16px);
    color: $grey-blue;
    align-items: center;

    &__header {
        display: flex;
        justify-content: space-between;

        .seeded-settings__text {
            @include sxm-font(GothamNarrSSm-Medium);
            font-size: 16px;
            color: $slate;
            text-align: left;
        }

        .remove-all-btn {
            @include sxm-font(GothamNarrSSm-Medium);
            font-size: 16px;
            text-align: right;
            color: $sxm-blue_1;

            &:focus {
                .remove-all-btn__text {
                    @extend %focus-blue-border-bottom;
                }
            }
        }
    }

    .seeded-stations-list {
        margin-bottom: 17px;
        padding-bottom: 17px;
    }

    .seeded-station-list__item {
        border-bottom: 2px solid $pale-grey;
        height: 123px;
    }
}

