<div class="seeded-settings">
    <sxm-no-results [results]="tiles$ | async"
                    [pageName]="noResultsPageName"></sxm-no-results>

    <div *ngIf="pageHeader$ | async">
        <div class="seeded-settings__header">
            <h2 class="seeded-settings__text">{{ pageHeader$ | async }}</h2>
            <button class="remove-all-btn"
                    (click)="openRemoveAllSeededStationsModal()">
                <span class="remove-all-btn__text">{{ 'profile.seededSettings.removeAll' | translate }}</span>
            </button>
        </div>

        <ul class="seeded-stations-list">
            <li class="seeded-station-list__item"
                *ngFor="let tile of tiles$ | async; trackBy : trackTile
                        let index = index">
                <channel-list-item [tileData]="tile"
                                   [index]="index"
                                   [line1Classes]="['focusable', 'bold-font']"
                                   [line2Classes]="[]"
                                   sxm-new-analytics
                                   [tagName]="AnalyticsTagNameConstants.ARTIST_RADIO_TILE"
                                   [userPath]="AnalyticsUserPaths.ARTIST_RADIO_TILE"
                                   [screen]="AnalyticsScreens.MANAGE_ARTIST_RADIO"
                                   [carouselName]="AnalyticsCarouselNames.ARTIST_RADIO"
                                   [findingMethod]="AnalyticsFindingMethods.ARTIST_RADIO"
                                   [buttonName]="AnalyticsTagNameConstants.ARTIST_RADIO_TILE_BUTTON_NAME"
                                   [elementType]="AnalyticsElementTypes.BUTTON"
                                   [elementPosition]="1"
                                   [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                                   [actionSource]="AnalyticsTagActionSourceConstants.MAIN"
                                   [inputType]="AnalyticsInputTypes.MOUSE"
                                   [tileType]="tile.tileContentType | lowercase"
                                   [tileContentType]="tile.primaryNeriticLink && tile.primaryNeriticLink.contentType | lowercase"
                ></channel-list-item>
            </li>
        </ul>
    </div>
</div>
