@import "../../../../scss/placeholders";
@import "../../../../scss/variables";

$overlay-opacity--active: 0.6;

:host {
    position: absolute;
    z-index: $VideoHoverZ;
    width: 100%;
    height: 100%;
    background-color: $title-black;
    opacity: 0;

    .fullscreen-toggle {
        position: absolute;
        right: 16px;
        bottom: 16px;

        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        width: 24px;

        &:focus {
            @extend %accessibility-outline;
        }
    }

    &:hover {
        opacity: $overlay-opacity--active;
    }

    &.focused-within {
        opacity: $overlay-opacity--active;
    }
}

