@import "../../scss/placeholders";
@import "../../scss/mixins";

.super-category {
    @include sxm-font(GothamNarrSSm-Book);

    .super-category-header-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include content-wrapper(24px, 10px);

        .super-category-header {
            display: flex;
            flex-wrap: wrap;
            width:100%;

            .sxm-breadcrumb {
                display: flex;
                border-bottom: 2px solid transparent;
                margin-right: 48px;
                padding-bottom: 16px;

                &__img {
                    width: 13px;
                    height: 23px;
                    margin-right: 18px;
                    align-self: center;
                    background-image: url("../../assets/images/left-chevron-categories-dark-blue.svg");
                    background-repeat: no-repeat;
                }

                &:focus, &:hover {
                    .sxm-breadcrumb__img {
                        background-image: url("../../assets/images/left-chevron-categories-hover-blue.svg");
                    }
                }

                &__text {
                    font-size: 28px;
                    line-height: 1;
                    @include sxm-font(Gotham-Black);
                    color: $title-black;
                }
            }

            .category-header-buttons {
                display: flex;
                flex: 1;
            }

            .tab-container {
                align-self: center;
                height: 100%;

                .tab-btn {
                    letter-spacing: 0.2px;
                    color: $grey-blue2;
                    font-size: 14px;
                    @include sxm-font(Gotham-Book);
                    text-align: center;
                    width: auto;
                    line-height: 1.43;
                    text-decoration: none;
                    cursor: pointer;

                    &.channel-btn {
                        margin-right: 24px;
                        white-space: nowrap;
                    }

                    &:focus {
                        @extend %focus-blue-border-bottom;
                    }
                }

                .select {
                    border-bottom: 3px solid $sxm_blue_7;
                    color: $sxm_blue_7;
                    @include sxm-font(Gotham-Bold);
                }
            }
            .segment-buttons {
                display: flex;
                flex: 1;
                justify-content: flex-end;
            }
        }
    }

    .category-list-section {
        .category-channel-list-section {
            @include content-wrapper(10px);

            .category-channel-list-header {
                @include sxm-font(Gotham-Bold);
                font-size: 18px;
                line-height: 1.8;
                text-align: left;
                color: $title-black;
            }
        }
    }
}




