<div class="super-category">
    <div class="super-category-header-section">
        <div class="super-category-header">
            <button class="sxm-breadcrumb"
                    (click)=" navigationService.goBack(skipPageCount)"
                    [attr.title]="'category.accessibility.back' | translate"
                    sxm-new-analytics
                    [tagName]="AnalyticsTagNameConstants.BREADCRUMB_BACK"
                    [userPath]="AnalyticsUserPaths.BREADCRUMB_BACK"
                    [userPathScreenPosition]="2"
                    [pageFrame]="AnalyticsPageFrames.HEADER"
                    [elementPosition]="0"
                    [carouselName]="categoryName"
                    [skipActionSource]="true"
                    [skipNpData]="true"
                    [elementType]="AnalyticsElementTypes.BUTTON"
                    [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                    [inputType]="AnalyticsInputTypes.MOUSE"
                    [skipCurrentPosition]="true">
                <span class="sxm-breadcrumb__img"></span>
                <span class="sxm-breadcrumb__text">{{ categoryName }}</span>
            </button>

            <div class="category-header-buttons">
                <!-- TODO: BMR: 08/2017: Consider making the tabs a component. -->
                <div class="tab-container" *ngIf="(carouselStoreService.subCategoryCarousels | async) && !isHoward && segmentCount > 1">
                <span *ngFor="let selector of (carouselStoreService.subCategoryCarousels | async).selectors">
                    <span *ngIf="selector.class === 'contentToggleSelector'">
                        <a *ngFor="let segment of selector.segments; let i = index"
                           (click) = "switchTabs(appRouteConstants.CATEGORY, segment.key)"
                           queryParamsHandling="preserve"
                           class="tab-btn channel-btn"
                           [ngClass]="{'select' : displayView === segment.key.toLowerCase() || demandView === segment.key.toLowerCase() }"
                           (click)="blurFocusedState($event)"
                           [attr.aria-label]="'category.moreChannels' | translate"
                           [attr.aria-current]="displayView === segment.key.toLowerCase() || demandView === segment.key.toLowerCase() ? 'page': false"
                           sxm-new-analytics
                           [tagName]="getCategoryAnaTags(segment.key)?.tagName"
                           [userPath]="getCategoryAnaTags(segment.key)?.userPath"
                           [userPathScreenPosition]="3"
                           [pageFrame]="AnalyticsPageFrames.PAGE"
                           [carouselName]="AnalyticsCarouselNames.CATEGORIES"
                           [elementPosition]="i+2"
                           [buttonName]="getCategoryAnaTags(segment.key)?.buttonName"
                           [skipActionSource]="true"
                           [skipNpData]="true"
                           [elementType]="AnalyticsElementTypes.BUTTON"
                           [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                           [inputType]="AnalyticsInputTypes.MOUSE"
                           [skipCurrentPosition]="true">{{ segment.title | titlecase}}</a>

                    </span>
                </span>
                </div>

                <div class="segment-buttons" *ngIf="(carouselStoreService.subCategoryCarousels | async)">
                    <div *ngFor="let selector of (carouselStoreService.subCategoryCarousels | async).selectors">
                        <selector-tile *ngIf="selector.class === 'moreSelector'"
                                       [selector]='selector'></selector-tile>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="category-list-section"
         *ngIf="(carouselStoreService.subCategoryCarousels | async) && !isHoward">

        <div *ngFor="let zone of (carouselStoreService.subCategoryCarousels | async).zone">
            <sxm-hero-carousel
                categoryType="superCategory"
                [carouselData]="zone.hero"></sxm-hero-carousel>
        </div>


        <div class="category-channel-list-section">
            <h4 class="category-channel-list-header"
                *ngIf="displayView === 'channels'">{{ categoryName }} {{ 'common.channels' | translate }}</h4>

            <channel-list-container [displayView]="displayView"></channel-list-container>
        </div>
    </div>

    <div class="category-list-section" *ngIf="isHoward">
        <howard></howard>
    </div>

</div>
<!--
// ------------------------------------------------------------------------------------
// Footer
// ------------------------------------------------------------------------------------
-->
<sxm-footer *ngIf="showFooter"></sxm-footer>
