<div class="overlay-container"
     id="open-access-overlay">
    <div class="overlay-body" #oaOverlay>
        <div class="overlay-content">
            <div class="language-selection"
                 *ngIf="appConfig?.deviceInfo?.appRegion === 'CA'">
                <language-toggle></language-toggle>
            </div>

            <h2 class="overlay-header" role="alert">{{ 'openAccess.openAccessOverlay.header' | translate }}</h2>

            <p class="overlay-text" role="alert">{{ 'openAccess.openAccessOverlay.description' | translate }}</p>

            <button (click)="closeOpenAccessOverlay()"
                    class="overlay-button-1"
                    [attr.aria-label]="'openAccess.openAccessOverlay.buttonOne.text' | translate"
                    tabindex="2"
                    data-focus-trap>
                <span class="overlay-button-1__text">{{ 'openAccess.openAccessOverlay.buttonOne.text' | translate}}</span>
            </button>

            <p class="overlay-text" role="alert">{{ 'openAccess.openAccessOverlay.descriptionSecondary' | translate }}</p>

            <button (click)="openLoginOverlay(); closeOpenAccessOverlay()"
                    class="overlay-button-2"
                    [attr.aria-label]="'openAccess.openAccessOverlay.buttonTwo.text' | translate"
                    tabindex="2"
                    data-focus-trap>
                <span class="overlay-button-2__text">{{ 'openAccess.openAccessOverlay.buttonTwo.text' | translate}}</span>
            </button>

            <footer class="footer">
                <p class="footer-text" role="alert">{{ 'openAccess.openAccessOverlay.footerText' | translate }}</p>

                <div class="footer-links">
                    <a [href]="loginService.privacyPolicyUrl"
                       [attr.aria-label]="'login.accessibility.privacyPolicy' | translate"
                       target="_blank"
                       class="footer-link"
                       data-focus-trap
                       aria-describedby="new-window"
                       sxm-new-analytics
                       [tagName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER"
                       [userPath]="AnalyticsUserPaths.LOGIN_DISCLAIMER"
                       [pageFrame]="AnalyticsPageFrames.MODAL"
                       [elementType]="AnalyticsElementTypes.LINK"
                       [elementPosition]="0"
                       [tagText]="'openAccess.privacyPolicy' | translate"
                       [linkName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER_LINK_NAME"
                       [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                       [inputType]="AnalyticsInputTypes.MOUSE"
                       [skipCurrentPosition]="true">{{ 'openAccess.privacyPolicy' | translate }}</a>

                    <button class="locating-you"
                            [attr.aria-label]="'login.accessibility.locatingYou' | translate"
                            [ngClass]="{ 'visited': locatingYouVisited }"
                            (click)="openOverlay(); updateVisitedLink('locatingYou')"
                            tabindex="0"
                            data-focus-trap
                            sxm-new-analytics
                            [tagName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER"
                            [userPath]="AnalyticsUserPaths.LOGIN_DISCLAIMER"
                            [pageFrame]="AnalyticsPageFrames.MODAL"
                            [elementType]="AnalyticsElementTypes.LINK"
                            [elementPosition]="0"
                            [tagText]="'openAccess.locatingYou' | translate"
                            [linkName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER_LINK_NAME"
                            [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                            [inputType]="AnalyticsInputTypes.MOUSE"
                            [skipCurrentPosition]="true">
                        {{ 'openAccess.locatingYou' | translate }}
                    </button>

                    <a *ngIf="loginService.dataPrivacyUrl"
                       [href]="loginService.dataPrivacyUrl"
                       [attr.aria-label]="'login.accessibility.doNotSellMyInfo' | translate"
                       target="_blank"
                       class="footer-link"
                       data-focus-trap
                       aria-describedby="new-window"
                       sxm-new-analytics
                       [tagName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER"
                       [userPath]="AnalyticsUserPaths.LOGIN_DISCLAIMER"
                       [pageFrame]="AnalyticsPageFrames.MODAL"
                       [elementType]="AnalyticsElementTypes.LINK"
                       [elementPosition]="0"
                       [tagText]="'login.doNotSellMyInfo' | translate"
                       [linkName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER_LINK_NAME"
                       [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                       [inputType]="AnalyticsInputTypes.MOUSE"
                       [skipCurrentPosition]="true">{{ 'login.doNotSellMyInfo' | translate }}</a>
                </div>
            </footer>
        </div>
    </div>
</div>
