@import "../../../../scss/variables";
@import "../../../../scss/placeholders";
@import "../../../../scss/mixins";
@import "../../../../scss/pages/login";

.overlay-container {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(9, 17, 29, 0.95);
    z-index: 97;
    // Hard coding this z index for now.
    // Eventually we will want to move the management of
    // this overlay into the overlay component and overlay service
    // Overlay component will manage the stacking by using
    // a nice priority stack and html order.
    // Until that refactor happens do not add a variable to this z-index.
    // But you can change it around to fix any bugs.
    // Just know that eventually it will get removed.

    overflow-y: scroll;
    -ms-overflow-style: scrollbar;

    .overlay-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        width: 400px;
        min-height: 381px;
        background-color: $white;
        border-radius: 8px;

        .overlay-content {
            margin: 0 26px;
            display: flex;
            align-items: center;
            flex-direction: column;

            .language-selection {
                width: 100%;
                height: 40px;
                margin-top: 30px;
                display: flex;
                align-items: flex-end;
                justify-content: center;
            }

            .overlay-header {
                margin-top: 32px;
                margin-bottom: 16px;
                text-align: center;
                @include sxm-font(Gotham-Medium);
                font-size: 18px;
                line-height: 1.33;
                word-wrap: break-word;
                color: $title-black;
            }

            .overlay-text {
                text-align: center;
                @include sxm-font(Gotham-Book);
                font-size: 16px;
                word-wrap: break-word;
                color: $title-black;
                display: flex;
                width: 80%;
                justify-content: center;
            }

            .overlay-text.cold-start {
                margin: 0 0 16px 0;
                width: auto;
            }

            .overlay-button-1,
            .overlay-button-2 {
                width: 272px;
                height: 48px;
                margin-top: 8px;
                line-height: 1;
                border-radius: 28px;

                &__text {
                    @include sxm-font(Gotham-Bold);
                    text-transform: uppercase;
                    font-size: 12px;
                    border-radius: 28px;
                    text-align: center;
                }
            }

            .overlay-button-1 {
                color: $white;
                @extend %primary-button-blue;
                margin-bottom: 27px;
            }

            .overlay-button-2 {
                color: $sxm_blue_6;
                @extend %secondary-button-transparent-blue;
                margin-bottom: 42px;
            }

            footer {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 41px;
                    width: 100%;

                .footer-text {
                    text-align: center;
                    @include sxm-font(Gotham-Book);
                    font-size: 16px;
                    line-height: 1.33;
                    word-wrap: break-word;
                    color: $title-black;
                    margin-bottom: 8px;
                }

                .footer-links {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 100%;

                    button {
                        color: $sxm_blue_6;
                        font-size: 12px;
                        white-space: nowrap;
                    }

                    .footer-link {
                        color: $sxm_blue_6;
                        font-size: 12px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    .overlay-body.cold-start {
        min-height: auto;
    }
}
