<footer class="sxm-footer">
	<div class="footer-btn-wrapper">
		<h2 class="footer-heading">{{ 'footer.heading' | translate }}</h2>
		<ul class="footer-list">
			<li class="footer-list__item"
                *ngFor="let footerBtn of footerBtnInfo; let i = index">
				<div class="footer-list__item__circle">
					<img class="footer-list__item--{{ footerBtn.class }}"
					     [src]="footerBtn.img"
					     alt=""/></div>
				<button class="footer-list__item__btn"
				        (click)="routeOnClick(footerBtn.class)">
					<span>{{ 'footer.' + footerBtn.name | translate }}</span>
				</button>
			</li>
		</ul>
	</div>
</footer>

