@import "../../scss/placeholders";
@import "../../scss/mixins";

.sxm-footer {
    display: flex;
    @include sxm-font(GothamNarrSSm-Medium);
    height: 162px;
    background-color: $pale-grey;
    align-items: center;

    .footer-btn-wrapper {
        width: 100%;
        margin: 0 7%;

        .footer-heading {
            color: $title-black;
            font-size: 16px;
        }

        .footer-list {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            margin-left: 20px;

            &__item {
                display: flex;
                flex-grow: 1;
                height: 60px;

                &__circle {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    background-color: $white;
                    border-radius: 50px;
                }

                &--channel,
                &--ondemand,
                &--video {
                    width: 14px;
                    height: 11px;
                    color: $dark-sky-blue;
                    background-color: $white;
                    align-self: center;
                }

                &--ondemand {
                    width: 23px;
                    height: 14px;
                }

                &--video {
                    width: 20px;
                }

                &__btn {
                    background-color: transparent;
                    color: $dark-sky-blue;
                    padding: 0;
                    vertical-align: middle;
                    margin-left: 21px;
                    @include sxm-font(GothamNarrSSm-Medium);

                    &:focus {
                        span {
                            @extend %selected-blue-border-bottom;
                        }
                    }
                }
            }

            @media all and (max-width: $xs_max_width) {
                flex-flow: column nowrap;
            }
        }
    }

    @media all and (max-width: $xs_max_width) {
        height: 282px;
    }
}

