<div class='sxm-now-playing-container'
     [ngClass]="{ 'video': isVideo }"
     [ngStyle]="{ 'background-color': backgroundColor, 'background-image': 'url(../../assets/images/np-overlay.svg)', 'background-size': 'cover'}">

    <div class="now-playing-info-container"
         [ngClass]="{ 'video': isVideo }">

        <div class="channel-arrow__prev">
            <previous-channel-arrow
                *ngIf="!isAIC && !isSeededRadio && !isIrisPodcast"
                [isOnDemand]="isOnDemand"
                [prevChannel]="prevChannel"
                (playPreviousChannel)="playChannel($event)">
            </previous-channel-arrow>
        </div>

        <div class="now-playing-center-wrap"
             [ngClass]="{ 'shrink-width': !isVideo && !isOnDemand, 'end-align': isVideo }">
            <div class="side-panel-left"
                 [ngClass]="{ 'shrink-left': !isVideo, 'extend-margin': isAIC || isSeededRadio }"
                 *ngIf="isVideo || albumImage">
                <div class="side-panel-column">
                    <sxm-video-apron
                        [isLiveVideoAvailable]="isLiveVideoAvailable"
                        [liveVideoPDT]="liveVideoPDT"
                        *ngIf="isVideo"
                        [allowApron]="true"
                        [mediaAssetMetadata]="mediaAssetMetadata"
                        (selectShowName)="onSelectShow($event)">
                        <!-- TODO consider removing mediaAssetMetadata in light of @Input() vodEpisode -->
                    </sxm-video-apron>

                    <album-image [albumImageUrl]="albumImage"
                                 [channelLogoUrl]="channelLogoUrl"
                                 [channelLogoAltText]="channelLogoAltText"></album-image>
                </div>
            </div>

            <div class="side-panel-right"
                 [ngClass]="[ isVideo ? 'video-spacer' : 'expand-right', albumImage ? '' : 'no-album-center' ]">
                <div class="side-panel-column">
                    <div>
                        <div class="side-panel-show-info">
                            <sxm-channel-info-container>
                            </sxm-channel-info-container>

                            <button #backBtn
                                    class="back-btn"
                                    sxm-new-analytics
                                    [tagName]="AnalyticsTagNameConstants.NP_MIN"
                                    [userPath]="AnalyticsUserPaths.NP_MIN"
                                    [userPathScreenPosition]="1"
                                    [pageFrame]="AnalyticsPageFrames.NOW_PLAYING_MAIN"
                                    [elementType]="AnalyticsElementTypes.BUTTON"
                                    [buttonName]="AnalyticsTagNameConstants.NP_MIN_BUTTON_NAME"
                                    [elementPosition]="3"
                                    [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                                    [actionSource]="AnalyticsTagActionSourceConstants.NOW_PLAYING_MAIN"
                                    [inputType]="AnalyticsInputTypes.MOUSE"
                                    (click)='goToPreviousScreen()'
                                    [title]="'nowPlaying.accessibility.back' | translate">
                            </button>
                        </div>

                        <!--
                      // ------------------------------------------------------------------------------------------------------
                      // Now playing PDT Container: Album art, artist and track info.
                      // Ignored by video since it renders its PDT data in <sxm-video-player>
                      // ------------------------------------------------------------------------------------------------------
                      -->
                        <sxm-program-data-text-container
                            [isVideo]="isVod">
                        </sxm-program-data-text-container>

                        <sxm-apron-segments-container
                            *ngIf="isDmcaUnrestricted"
                            [content]="content">
                        </sxm-apron-segments-container>
                    </div>
                </div>
            </div>
        </div>

        <div class="channel-arrow__next">
            <next-channel-arrow
                *ngIf="!isAIC && !isSeededRadio && !isIrisPodcast"
                [isOnDemand]="isOnDemand"
                [nextChannel]="nextChannel"
                (playNextChannel)="playChannel($event)">
            </next-channel-arrow>
        </div>
    </div>
</div>

<div *ngIf="carouselStoreService.nowPlayingCarousels | async"
     [ngClass]="{ 'remove-margin-bottom': youJustHeard.length > 0 }">

    <div *ngFor="let zone of (carouselStoreService.nowPlayingCarousels | async).zone">
        <content-carousel
            [carouselData]="zone.content"
            [zoneOrder]="zone.zoneOrder"
            [zoneTitle]="zone.zoneTitle">
        </content-carousel>
    </div>

    <!--
    // ------------------------------------------------------------------------------------------------------
    // Songs Just Heard
    // ------------------------------------------------------------------------------------------------------
    -->
    <sxm-you-just-heard
        *ngIf="isDmcaRestricted"
        [mediaType]="mediaType"
        [youJustHeard]="youJustHeard">
    </sxm-you-just-heard>
</div>
