@import "../../scss/variables";
@import "../../scss/placeholders";
@import "../../scss/mixins";

.sxm-now-playing-container {
    @include sxm-font(Gotham-Book);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 459px;
    height: auto;
    width: auto;
    overflow-x: hidden;
    position: relative;

    @media (max-width: $m_max_width - 1) {
        height: auto;
    }

    // Each channel has a unique background color.
    // This prevents a split-second flash of white
    // that would otherwise occur while the color loads.
    background-color: $default-np-background;

    .video {
        height: 640px;
        // large
        @media (max-width: $l_max_width) {
            height: 573px;
        }
        // medium
        @media (max-width: $large_max_width) {
            height: 500px;
        }
        //small
        @media (max-width: $m_max_width - 1) {
            height: 396px;
        }
    }

    .now-playing-info-container {
        letter-spacing: 0.4px;
        padding-bottom: 36px;
        padding-top: 8px;
        display: flex;
        flex-flow: row;
        flex-basis: auto;
        margin-left: 0;

        @media (max-width: $m_max_width - 1) {
            height: auto;
        }

        .now-playing-arrow-div {
            display: flex;
        }

        .now-playing-center-wrap {
            display: flex;
            width: 100%;
            @include content-wrapper(60px,32px);


            @media (max-width: $m_max_width - 1) {
                flex-flow: column;
                align-content: center;
                justify-content: space-around;
            }

            &.end-align {
                @media (max-width: $m_max_width - 1) {
                    align-content: flex-end;
                }
            }

            &.shrink-width {
                @media (max-width: $m_max_width - 1) {
                    flex-flow: column;
                    align-content: center;
                    justify-content: space-around;
                    margin-top: 40px;
                }
            }

            & .extend-margin {
                margin-left: 40px
            }

            .back-btn {
                width: 40px;
                height: 40px;
                min-width: 40px;
                min-height: 40px;
                background: rgba(255,255,255,.1) url("../../assets/images/back-btn.svg") center no-repeat;
                border-radius: 50%;
                align-self: center;
                margin-left: 20px;


                &:hover {
                    color: $light-grey_6;
                    background-color: $light-grey_8;
                    border: 2px solid $light-grey_6;
                }

                &:focus,
                &:active {
                    color: $light-grey_6;
                    background-color: $light-grey_9;
                    border: 2px solid $light-grey_6;
                }
            }
        }


        // left-hand PDT container
        .side-panel-left {
            display: flex;
            justify-content: flex-start;
            flex: 0.1 0 auto;
            padding-right: 10px;
            margin-top: 40px;


            @media (max-width: $m_max_width - 1) {
                &.shrink-left {
                    max-width: 100%;
                    justify-content: center;
                }
            }

            .side-panel-column {
                width: auto;

                @media (max-width: $xs_max_width) {
                    width: 97%;
                }
            }

        }

        // right-hand segments container
        .side-panel-right {
            max-width: 50%;
            display: flex;
            justify-content: space-between;
            flex: 1 0 auto;
            padding-left: 10px;
            margin-top: -20px;

            &.expand-right {
                max-width: 80%;

                &.no-album-center {
                    max-width: 100%;
                }
            }

            &.video-spacer {
                margin-left: 50%;
            }

            .side-panel-column {
                width: 100%;

                @media (max-width: $xs_max_width) {
                    width: 97%;
                }
            }

            @media (max-width: $m_max_width - 1) {
                width: 90%;
                flex-flow: column;
                align-items: center;
                margin-top: 50px;

                // makes room for video player which is position:absolute
                &.video-spacer {
                    margin-top: 345px;
                    flex: 1 1 auto;
                    max-width: 90%;
                    margin-left: auto;
                }

                &.expand-right {
                    max-width: 90%;
                }
            }

            // when the Now Playing page is in a single-column view
            @media (max-width: $m_max_width - 1) {
                margin: 0 auto;
                &.expand-right {
                    max-width: 90%;
                }
            }

            .side-panel-show-info {
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 1px solid rgba(234, 238, 243, 0.1);
            }
        }

        .artist-info-container {
            background-color: $dark;
            margin-top: 72px;

            .about-artist-title,
            .artist-details-less,
            .artist-details-more,
            .show-more,
            .show-less {
                padding-top: 20px;
                margin: 0 15%;
                font-size: 16px;
                @include sxm-font(Gotham-Book);
                text-align: left;
                display: block;
            }

            .about-artist-title,
            .artist-details-less {
                color: $white;
                overflow: hidden;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }

            .artist-details-less {
                height: 13vh;
                background-image: linear-gradient(to top, rgba(255, 255, 255, 0), $white);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                padding-bottom: 20px;
            }

            .artist-details-more {
                height: auto;
                background-image: none;
                -webkit-text-fill-color: $white;
                padding-bottom: 20px;
            }

            .show-more,
            .show-less {
                color: $sxm_blue_2;
                padding-top: 10px;
                cursor: pointer;
                width: 40px;
                padding-bottom: 20px;
            }
        }

        .channel-arrow
        {
            &__next {
                margin-left: -40px;
                display: flex;
            }

            &__prev {
                margin-right: -40px;
                display: flex;
            }
        }
    }
}

.audiohead-btn {
    padding-top: 10px;
    display: block;
    margin: 0 auto;
}

.sxm-playhead-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.sxm-playhead-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sxm-playhead-button {
    background-color: $pale-grey;
    margin: 5px;
}
