@import "../../../../scss/variables";
@import "../../../../scss/placeholders";
@import "../../../../scss/mixins";

.overlay-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: $OverlayZ;

    &.neriticLinkErrorMessage {
        z-index: 13;
        background-color: rgba(10, 18, 28, 0.95);

        .overlay
        {
            width: 40%;
            height: 20%;
        }
    }

    .overlay {
        display: flex;
        visibility: hidden;
        align-items: center;
        background-color: $white;
        text-align: center;
        width: 50%;
        overflow: auto;
        position: relative;
        min-height: 250px;
        box-shadow: 0 -1px 2px 0 rgba(155, 155, 155, 0.4);

        &-close-wrapper{
            display: flex;
            flex-direction: row-reverse;
        }

        &-close {
            position: absolute;
            right: 2px;
            top: 2px;

            img {
                width: 40px;
                height: 40px;
            }

            &:focus {
                @extend %accessibility-outline;
            }
        }

        &-content--container {
            margin: 10px 45px;
            .overlay-title {
                @include sxm-font(GothamNarrSSm-Medium);
                font-size: 18px;
                word-wrap: break-word;
                line-height: 1.33;
            }

            .overlay-description {
                @include sxm-font(GothamNarrSSm-Book);
                font-size: 16px;
                margin: 20px 0;
            }
        }

        &-footer {
            position: absolute;
            bottom: 0;
            left: 50%;

            .overlay-error-code {
                height: 16px;
                @include sxm-font(GothamNarrSSm-Book);
                font-size: 9px;
                line-height: 1.33;
                color: $grey-blue;
            }
        }
    }
}
