<div class="overlay-container {{overlayInformation.config?.overlayData.class}}"
     *ngIf="overlayInformation.open" #overlaycontainer>
    <div class="overlay" #overlayBody>
        <div class="overlay-close-wrapper">
            <button class="overlay-close" (click)="close()" data-focus-trap
                    [title]="'openAccess.loginOverlay.altText.close' | translate"
                    sxm-new-analytics
                    [tagName]="AnalyticsTagNameConstants.OVERLAY_CLOSE"
                    [userPath]="AnalyticsUserPaths.OVERLAY + '_' + overlayNameAnaProp +  '_'+ AnalyticsTagNameConstants.OVERLAY_CLOSE_BUTTON_NAME"
                    [skipScreenName]="true"
                    [pageFrame]="AnalyticsPageFrames.OVERLAY"
                    [overlayName]="overlayNameAnaProp"
                    [elementType]="AnalyticsElementTypes.BUTTON"
                    [buttonName]="AnalyticsTagNameConstants.OVERLAY_CLOSE_BUTTON_NAME"
                    [elementPosition]="0"
                    [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                    [skipActionSource]="true"
                    [inputType]="AnalyticsInputTypes.MOUSE"
                    [skipCurrentPosition]="true">
                <img src="../../../../assets/images/close-black.svg"
                     [alt]="'openAccess.loginOverlay.altText.close' | translate"
                     [title]="'openAccess.loginOverlay.altText.close' | translate">
            </button>
        </div>

        <div class="overlay-content--container">
            <img *ngIf="overlayInformation.config?.overlayData.imagePath"
                [src]="overlayInformation.config?.overlayData.imagePath"/>
            <h1 class="overlay-title" role="alert">{{ overlayInformation.config?.overlayData.header }}</h1>
            <p class="overlay-description">{{ overlayInformation.config?.overlayData.description }}</p>
        </div>

        <div class="overlay-footer"
             *ngIf="overlayInformation.config?.overlayData.errorCode">
            <p class="overlay-error-code">{{ overlayInformation.config?.overlayData.errorCode }}</p>
        </div>
    </div>
</div>
