<!--
// ------------------------------------------------------------------------------------
// Super Categories Navigation
// ------------------------------------------------------------------------------------
-->
<div progressCursor *ngIf="superCategoryCarousels$ | async">
    <header class="super-categories-header-container">
        <div class="super-categories-header">
            <ul class="super-categories-header__tabs" role="tablist">
                <li *ngFor="let superCategory of (channelListStore$ | async).superCategories; trackBy : trackCategory; let i = index;"
                    role="presentation">
                    <button class="super-category-btn"
                            (click)="selectSuperCategory(superCategory, $event)"
                            [ngClass]="{ 'selected' : isSelectedSuperCategory(superCategory) }"
                            [attr.aria-selected]="isSelectedSuperCategory(superCategory)"
                            role="tab"
                            progressCursor
                            sxm-new-analytics
                            [tagName]="AnalyticsTagNameConstants.SUPER_CAT_MENU"
                            [userPath]="AnalyticsUserPaths.SUPER_CATEGORY_MENU + '_' + ('superCategory.' + superCategory.key | translate)"
                            [pageFrame]="AnalyticsPageFrames.SUPER_CATEGORY_MENU"
                            [carouselName]="AnalyticsCarouselNames.HERO_CAROUSEL"
                            [elementPosition]="i"
                            [buttonName]="AnalyticsTagNameConstants.SUPER_CAT_MENU_BUTTON_NAME"
                            [elementType]="AnalyticsElementTypes.BUTTON"
                            [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                            [inputType]="AnalyticsInputTypes.MOUSE"
                            [tagText]="('superCategory.' + superCategory.key | translate)"
                            [skipNpData]="true"
                            [skipCurrentPosition]="true"
                            [skipActionSource]="true"
                            [pageName]="pageName">
                        {{ 'superCategory.' + superCategory.key | translate }}
                    </button>
                </li>
            </ul>
        </div>
        <div *ngFor="let selector of (superCategoryCarousels$ | async).selectors">

            <selector-tile *ngIf="selector.class === 'moreSelector'"
                           [selector]='selector'></selector-tile>
        </div>
    </header>

    <ng-container *ngIf="!(displayNoConnectivity$ | async) && activeSuperCategory">
        <!--
        // ------------------------------------------------------------------------------------
        // Carousel Section
        // ------------------------------------------------------------------------------------
        -->
        <div class="zone-container" *ngFor="let zone of (superCategoryCarousels$ | async).zone">

            <div class="super-categories-header-container"
                 *ngIf="zone.zoneTitle && (zone.hero.length > 0 || zone.content.length > 0)">
                <button class="sxm-breadcrumb"
                        (click)="goToZoneLink(zone)"
                        [attr.title]="'category.accessibility.back' | translate"
                        sxm-new-analytics
                        [tagName]="AnalyticsTagNameConstants.ZONE_CAT_MENU"
                        [userPath]="AnalyticsUserPaths.ZONE_CAT_MENU + '_' + zone.zoneTitle"
                        [userPathScreenPosition]="2"
                        [pageFrame]="AnalyticsPageFrames.PAGE"
                        [elementPosition]="0"
                        [buttonName]="AnalyticsTagNameConstants.ZONE_CAT_MENU_BUTTON_NAME"
                        [zoneTitle]="zone.zoneTitle"
                        [zoneOrder]="zone.zoneOrder"
                        [skipActionSource]="true"
                        [skipNpData]="true"
                        [elementType]="AnalyticsElementTypes.BUTTON"
                        [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                        [inputType]="AnalyticsInputTypes.MOUSE"
                        [skipCurrentPosition]="true"
                        [pageName]="pageName">
                    <span class="sxm-breadcrumb__text">{{ zone.zoneTitle | uppercase }}</span>
                    <span class="sxm-breadcrumb__img"></span>
                </button>
            </div>

            <sxm-hero-carousel
                categoryType="superCategory"
                [zoneId]="zone.zoneId"
                [zoneOrder]="zone.zoneOrder"
                [zoneTitle]="zone.zoneTitle"
                [carouselData]="zone.hero"
                [pageName]="pageName">
            </sxm-hero-carousel>

            <!--
            // ------------------------------------------------------------------------------------
            // Categories Navigation
            // ------------------------------------------------------------------------------------
            -->
            <div *ngIf="zone.subCategories.length > 0" progressCursor
                 class="sub-categories">
                <h3 class="sub-categories__header">{{ selectedSuperCategory.name }} {{ 'category.categories' | translate }}</h3>

                <button class="category"
                        *ngFor="let category of zone.subCategories; trackBy : trackCategory; let i = index"
                        (click)="selectCategory(category)"
                        progressCursor
                        attr.aria-label="{{ category.name }} {{ 'category.category' | translate }}"
                        sxm-new-analytics
                        [tagName]="AnalyticsTagNameConstants.SUB_CATEGORY_LIST"
                        [userPath]="AnalyticsUserPaths.SUB_CATEGORY_LIST + '_' + category.name"
                        [userPathScreenPosition]="2"
                        [pageFrame]="AnalyticsPageFrames.PAGE"
                        [elementPosition]="i"
                        [buttonName]="AnalyticsTagNameConstants.SUB_CATEGORY_LIST_BUTTON_NAME"
                        [elementType]="AnalyticsElementTypes.BUTTON"
                        [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                        [inputType]="AnalyticsInputTypes.MOUSE"
                        [tagText]="category.name"
                        [skipNpData]="true"
                        [skipCurrentPosition]="true"
                        [skipActionSource]="true">
                    <img class="category-icon"
                         *ngIf="category.imageList"
                         [src]="getCategoryImage(category)"
                         alt=""
                         role="presentation"/>
                    <span class="category__name">{{ category.name }}</span>
                </button>
            </div>

            <content-carousel
                [zoneId]="zone.zoneId"
                [zoneOrder]="zone.zoneOrder"
                [zoneTitle]="zone.zoneTitle"
                [carouselData]="zone.content"
                [pageName]="pageName">
            </content-carousel>

        </div>
    </ng-container>


    <ng-container *ngIf="displayNoConnectivity$ | async">
        <no-connectivity></no-connectivity>
    </ng-container>
</div>

<!--
// ------------------------------------------------------------------------------------
// Footer
// ------------------------------------------------------------------------------------
-->
<sxm-footer *ngIf="showFooter"></sxm-footer>
