@import "../../scss/placeholders";
@import "../../scss/mixins";

$subcategory-gutter: 30px;

@mixin super-categories-header() {
    .super-categories-header {
        display: flex;
        flex-direction: column;
        align-items: normal;

        li:not(:first-child) {
            margin-left: 24px;
        }

        &__tabs {
            .super-category-btn:first-child {
                margin: 0;
            }
        }
    }
}

.super-categories-header-container {
    @include content-wrapper(24px, 16px);
    display: flex;
    align-items: center;
    @include sxm-font(GothamNarrSSm-Black);
    font-size: 32px;
    line-height: 0.88;
    color: $title-black;
    white-space: nowrap;
    justify-content: space-between;

    .sxm-breadcrumb {
        display: flex;
        height: 28px;

        &__text {
            font-size: 28px;
            line-height: 1;
            @include sxm-font(Gotham-Black);
            color: $title-black;
        }

        &__img {
            width: 13px;
            height: 23px;
            background-image: url("../../assets/images/carousel-right-arrow.svg");
            background-repeat: no-repeat;
            margin: auto auto auto 17px;

        }
    }


    .super-categories-header {
        display: flex;

        li:not(:first-child) {
            margin-left: 32px;
        }

        &__tabs {
            white-space: nowrap;
            display: flex;
            align-items: center;
            margin-right: 8px;

            .super-category-btn {
                height: 20px;
                @include sxm-font(Gotham-Book);
                font-size: 14px;
                border-bottom: 2px solid transparent;
                color: $grey-blue2;

                &:focus {
                    outline: solid 2px $sxm_blue_6;
                }

                &.selected {
                    @include sxm-font(Gotham-Bold);
                    @extend %selected-blue6-border-bottom;
                    outline: none;
                }
            }
        }
    }

    @media (max-width: $s_max_width){
        @include super-categories-header();
    }

    @media (max-width: $large_max_width) and (-ms-high-contrast: none), (-ms-high-contrast: active){
        @include super-categories-header();
    }
}

.zone-container{
    margin-bottom: 60px;
}

.sub-categories {
    @include content-wrapper(32px, -8px);
    &__header {
        display: flex;
        align-items: center;
        height: 18px;
        margin-bottom: 16px;
        @include sxm-font(Gotham-Bold);
        font-size: 18px;
        line-height: 1.33;
        color: $title-black;
    }

    .category {
        height: 36px;
        margin: 0 8px 8px 0;
        @include sxm-font(Gotham-Medium);
        font-size: 16px;
        border-radius: 18px;
        @extend %primary-button-blue;

        &__name {
            margin-right: 18px;
        }

        &-icon {
            background: transparent;
            width: 28px;
            height: 28px;
            margin: 4px 6px 4px 8px;
        }

        &:focus {
            @extend %focus-sub-category;
        }
    }
}
