@import "../../scss/variables";

.ie-message {
    text-align: center;
    color: $white;
    width: 100%;
    padding: 12px 0 12px 0;
    background-color: $sxm_blue_7;

    a {
        color: $white;
    }

    button {
        position: fixed;
        right: 15px;
    }
}
