@import "../../../../scss/variables";
@import "../../../../scss/global";
@import "../../../../scss/placeholders";
@import "../../../../scss/mixins";

.now-playing-program-div {
    display: flex;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 40px;
    justify-content: space-between;
}

.now-playing-channel-album-info {
    display: flex;
    align-items: center;


    @media (max-width: $m_max_width - 1) {
        justify-content: center;
    }

    // extra small
    @media (max-width: $xs_max_width) {
        margin-left: 5%;
    }

    &.no-album-info {
        display: flex;
        flex-direction: row;
        margin-left: 0px;
    }

    .album-image-cell {
        margin-right: 3%;
        display: flex;
        align-content: center;
        justify-content: center;
        border-radius: 4px;
        background-image: linear-gradient(234deg, #09111d, #202d3f);

        .channel-logo-image {
            border-radius: 4px;
            display: block;
            display: flex;
            align-self: center;

            // This seems to be the optimal width for logo resolution, regardless of screen size.
            // In order to avoid stretching rectangular channel logo images, do not set height.
            width: 190px;
            margin: 49px 30px;


            // large
            @media all and (max-width: $l_max_width) {
                margin: 54px 35px;
            }

            // medium
            @media all and (max-width: $m_max_width) {
                margin: 35px 16px;
            }

            // small
            @media all and (max-width: $s_max_width) {
                margin: 54px 35px;
            }
        }

        .album-image {
            width: 250px;
            height: 250px;
            border-radius: 4px;
            display: block;

            // large
            @media all and (max-width: $l_max_width) {
                width: 261px;
                height: 261px;
            }

            // medium
            @media all and (max-width: $m_max_width) {
                width: 222px;
                height: 222px;
            }

            // small
            @media all and (max-width: $s_max_width) {
                width: 261px;
                height: 261px;
            }
        }
    }

    .now-playing-info-cell {
        // necessary to enforce text-overflow:ellipsis on artist name
        min-width: 275px;

        .now-playing-info-label {
            max-width: 150px;
            height: 16px;
            opacity: 0.6;
            border-radius: 8px;
            background-color: $light-grey_7;
            display: flex;
            margin-bottom: 8px;
            justify-content: center;

            &__text {
                word-wrap: normal;
                font-size: 10px;
                vertical-align: middle;
                @include sxm-font(Gotham-Medium);
                padding: 0 12px;
                align-self: center;
            }
        }

        @media (max-width: $m_max_width - 1) {
            min-width: auto;
        }

        &.no-album-info-cell {
            display: flex;
            flex-direction: column;
            margin-left: 0;
            margin-top: 0;
        }

        .channel-info-cell {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            background: transparent;
        }

        .logo-img-wrap {
            width: 90px;
            margin: 0 4px;

            img {
                width: 88px;
                margin: auto;

                color: $white;
                cursor: default;
                font-size: 12px;
                text-wrap: normal;
                pointer-events: none;
            }

            // fallback text
            .show-name-alt {
                color: $white;
                padding-top: 12px;
            }
        }

        .channel-name {
            display: inline;
            max-width: 450px;
            word-wrap: normal;
        }

        .artist-name,
        .track-name,
        .episode-name{
            display: block;
            max-width: 450px;
            color: $white;
            text-align: left;
            height: auto;
            overflow: hidden;
            white-space: normal;
            margin-bottom: 4px;
        }

        .track-name,
        .episode-name{
            font-size: 18px;
            line-height: 1.33;
            @include sxm-font(Gotham-Medium);
        }

        .artist-name {
            font-size: 24px;
            line-height: 1.17;
            @include sxm-font(Gotham-Bold);
        }

        .pandora-station {
            font-family: GothamNarrSSm-Book;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            line-height: 1.33;
            color: $white;
        }

        .create-seeded-button {
            margin-top: 20px;
            img {
                width: 228px;
                height: 30px;
            }
        }

        .playback-btn {
            margin-top: 24px;
        }

        .show-name-button {
            @include sxm-font(Gotham-Book);
            background: transparent;
            color: $white;
            padding: 0;
            border-bottom: 2px solid transparent;
            font-size: 14px;
            text-align: left;
            margin-bottom: 4px;

            &:focus {
                @extend %focus-blue-border-bottom;
            }
            &:disabled {
                cursor: default;
                border: none;
                font-weight: normal;
            }
        }
    }
}
