<div class="now-playing-program-div">
    <div [ngClass]="'now-playing-channel-album-info'">
        <div [ngClass]="'now-playing-info-cell'">
            <div class="now-playing-info-label">
                <p class="now-playing-info-label__text">{{label}}</p>
            </div>
            <button sxm-new-analytics
                    [tagName]="AnalyticsTagNameConstants.NP_SHOW_EDP"
                    [userPath]="AnalyticsUserPaths.NP_SHOW_EDP"
                    [screen]="AnalyticsScreens.NOW_PLAYING"
                    [pageFrame]="AnalyticsPageFrames.NOW_PLAYING_MAIN"
                    [elementType]="AnalyticsElementTypes.BUTTON"
                    [buttonName]="AnalyticsTagNameConstants.NP_SHOW_EDP_BUTTON_NAME"
                    [elementPosition]="2"
                    [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                    [actionSource]="AnalyticsTagActionSourceConstants.NOW_PLAYING_MAIN"
                    [inputType]="AnalyticsInputTypes.MOUSE"
                    (click)="onSelectShowClick(channel, show)"
                    [attr.aria-label]="showName + clickShowLabel"
                    [ngClass]="albumImageUrl ? 'show-name-button' : 'show-name-button no-album-center'"
                    *ngIf="showName">
                <span class="channel-name">{{ showName }}</span>
                <!-- right pointing angle -->
                <span>&nbsp;&rsaquo;</span>
            </button>

            <span *ngIf="isSeededRadio" class="pandora-station">{{ 'artistRadio.pandoraStation' | translate }}</span>
            <span class="artist-name">{{ artistName }}</span>
            <span *ngIf="!isOnDemand" [ngClass]="albumImageUrl ? 'track-name' : ' track-name no-album-center'">{{ trackName }}</span>
            <span *ngIf="isOnDemand" [ngClass]="albumImageUrl ? 'episode-name' : ' episode-name no-album-center'">{{ episodeName }}</span>

            <button *ngIf="npArtistSelectorSegment && !(isInterstitial$ | async)"
                    class="create-seeded-button"
                    (click)="takeArtistRadioButtonAction(npArtistSelectorSegment)"
                    [title]="(isCreateSeededRadio ? 'artistRadio.createSeeded': 'artistRadio.tuneSeeded') | translate"
                    sxm-new-analytics
                    [tagName]="AnalyticsTagNameConstants.NP_CREATE_ARTIST_RADIO"
                    [userPath]="(isCreateSeededRadio ? AnalyticsTagTextConstants.NP_CREATE_ARTIST_RADIO: AnalyticsTagTextConstants.NP_PLAY_ARTIST_RADIO) + '_' + AnalyticsUserPaths.ARTIST_RADIO"
                    [screen]="AnalyticsScreens.NOW_PLAYING"
                    [buttonName]="AnalyticsTagNameConstants.NP_CREATE_PLAY_ARTIST_RADIO_BUTTON_NAME"
                    [tagText]="isCreateSeededRadio ? AnalyticsTagTextConstants.NP_CREATE_ARTIST_RADIO : AnalyticsTagTextConstants.NP_PLAY_ARTIST_RADIO"
                    [userPathScreenPosition]="1"
                    [pageFrame]="AnalyticsPageFrames.NOW_PLAYING_MAIN"
                    [elementType]="AnalyticsElementTypes.BUTTON"
                    [elementPosition]="1"
                    [findingMethod]="AnalyticsFindingMethods.ARTIST_RADIO"
                    [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                    [actionSource]="AnalyticsTagActionSourceConstants.MAIN"
                    [inputType]="AnalyticsInputTypes.MOUSE">
                <img *ngIf="isCreateSeededRadio"
                     role="presentation"
                     src="../../../../assets/images/create-pandora-web@3x.png"
                     alt=""
                     tab-index="-1">

                <img *ngIf="!isCreateSeededRadio"
                     role="presentation"
                     src="../../../../assets/images/play-pandora-web@3x.png"
                     tab-index="-1"
                     alt="">
            </button>

            <div class="playback-btn">
                <switch-playback-button
                    *ngIf="showSwitchPlaybackBtn()"></switch-playback-button>
            </div>
        </div>
    </div>
    <div class="side-panel-show-info">
        <div class="side-panel-show-info__actions">
            <div class="side-panel-show-info__actions__fav">
                <secondary-favorite-button [show]="show"></secondary-favorite-button>
            </div>
            <div class="side-panel-show-info__actions__reminders">
                <set-reminder-button [show]="show" [isOnDemand]="isOnDemand"></set-reminder-button>
                <set-live-video-reminder-button [show]="show"
                                                [isOnDemand]="isOnDemand"></set-live-video-reminder-button>
            </div>
        </div>
    </div>
</div>
