@import "../scss/variables";
@import "../scss/global";
@import "../scss/placeholders";
@import "../scss/mixins";

.sxm-landing-container {
    padding-top: 1em;
    background: url("../assets/images/splashscreen.jpg") center;
    background-size: cover;
    min-height: 100vh;
    color: $white;
    display: flex;
    overflow-y: auto;
    flex: 1 auto;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    justify-content: space-between;

    .sxm-landing-logo {
        height: 3em;
        width: 18em;
    }

    .info-container {
        width: 35%;
        text-align: center;
        @include sxm-font(Gotham-Medium);
        color: $white;
        min-height: 13em;

        .sxm-landing-art-logo {
            margin-top: 10px;
            max-height: 10em;
            max-width: 16em;
        }

        .sub-title-text {
            font-size: 24px;
            letter-spacing: -0.4px;
            text-align: center;
        }

        .title-text {
            margin-top: 8px;
            font-size: 28px;
            letter-spacing: -0.4px;
        }

        .description-text {
            text-align: center;
            margin-top: 8px;
            font-size: 18px;
            letter-spacing: -0.3px;
            max-height: 110px;
            overflow: hidden;
        }

        @media (max-width: $xsmall_max_width) {
            margin-bottom: 0em;
             width: 75%;
            .description-text {
                font-size: 15px;
             }
        }
    }

    .button-container {
        margin: 20px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .app-install {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }

        button {
            width: 350px;
            height: 48px;
            border-radius: 28px;
            text-transform: uppercase;
            margin: 4px;
            @include sxm-font(Gotham-Bold);
            font-size: 14px;
            text-align: center;
            padding: 11px;
            &, * {
                font-size: 14px;
            }
        }

        button.open-in-app-button {
            @extend %secondary-button-transparent-white;

        }

        button.action-button {
            @extend %primary-button-white;
        }

        button.open-button {
            text-transform: none;
            color: $white;
            text-decoration: underline;
        }

        @media (max-width: $xsmall_max_width) {
            width: 347px;
        }
    }

    .app-logo-container {
        display: flex;
        color: $white;
        flex-direction: column;
        text-align: center;

        @media (max-width: $xsmall_max_width) {
            align-items: center;
            flex: 1;
        }

        & a:focus {
            border-bottom: none;

            img {
                @extend %focus-gray-border-bottom;
            }
        }

        .text-small {
            font-size: 14px;
            margin-bottom: 22px;
            @media (max-width: $xsmall_max_width) {
                margin-bottom: 10px;
            }
        }

        .images-container {
            margin: 3px 0;
            .app-store-image {
                cursor: pointer;
                margin-right: 1em;
                background: transparent;

                @media (max-width: $xxs_max_width) {
                    margin-right: 0em;
                    width: 8em;
                }
            }

            button {
                background: transparent;
            }
        }
    }
}
