<div class="sxm-landing-container" *ngIf="contextualLandingData.contextualData.buttonText">
    <img class="sxm-landing-logo" src="../assets/images/sxm-logo.svg"/>

    <div class="info-container">
        <img class="sxm-landing-art-logo" *ngIf="contextualLandingData.contextualData.imageUrl"
             src="{{contextualLandingData.contextualData.imageUrl}}"/>
        <p class="sub-title-text" *ngIf=" contextualLandingData.contextualData.subTitle">
            {{ contextualLandingData.contextualData.subTitle}}
        </p>
        <p class="title-text" *ngIf="contextualLandingData.contextualData.title">
            {{ contextualLandingData.contextualData.title}}

            <span *ngIf="contextualLandingData.contextualData.title2">
                  <br>
                {{ contextualLandingData.contextualData.title2}}
            </span>
        </p>
        <p class="description-text" *ngIf="contextualLandingData.contextualData.description">
            {{ descriptionPrefix }} {{ contextualLandingData.contextualData.description}}
        </p>
    </div>

    <div class="button-container">
       <button *ngIf="!contextualLandingData.isIOS" class="open-in-app-button" (click)="openApp()">
            {{ 'landing.openApp' | translate }}
        </button>

        <button class = 'action-button'
                (click)="downloadAction()">
            {{ contextualLandingData.actionButtonText | translate }}
        </button>

        <div class="app-install" *ngIf="contextualLandingData.isIOS">
            <p class="text-small">
                {{ 'landing.alreadyAppInstalled' | translate }}
            </p>
            <button class = 'open-button' (click)="openApp()">
                {{ 'landing.open' | translate }}
            </button>
        </div>
    </div>

    <div class="app-logo-container"
         *ngIf="contextualLandingData.contextualLandingAppInfo.appImageSrc">
        <p class="text-small">
            {{ 'landing.downloadApp' | translate }}
        </p>
        <div class="images-container">
            <button (click)="openStore()"
                    attr.aria-label="{{ contextualLandingData.contextualLandingAppInfo.accessibiltyLabel | translate }}">
                <img class="app-store-image" src="{{contextualLandingData.contextualLandingAppInfo.appImageSrc}}"/>
            </button>
        </div>
    </div>
</div>
