@import "../scss/variables";
@import "../scss/global";
@import "./../scss/placeholders";

.prevent-scroll {
    overflow: hidden;
}

iframe {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: $iframe-z-index;
    background-color: #fff;
}

.player-controls-padding {
    padding-bottom: $playerControlsHeight;
}

.alert-hidden {
    @extend %accessibility-hidden;
}

