<div class="app-wrap"
     [ngClass]="{ 'nav-visible': showNavControl,
                  'prevent-scroll': (modalService.modalIsOpen || playbackCompleteService.shouldPreventScroll) }">
    <div>
        <p class="alert-hidden"
           id="loadedText"
           *ngIf="showNavControl"
           role="alert">
        </p>
    </div>

    <iframe [title]="'login.accessibility.getStarted' | translate"
            *ngIf="flepzScreenService.getStartedIframe"
            [src]="flepzScreenService.srcUrl"
            name="iframe_getStarted" id="iframe_getStarted"></iframe>
    <iframe [title]="'login.accessibility.forgotUsernamePassword' | translate"
            *ngIf="flepzScreenService.forgotUsernamePasswordIframe"
            [src]="flepzScreenService.srcUrl"
            name="iframe_forgotUsernamePassword" id="iframe_forgotUsernamePassword"></iframe>

    <app-overlay></app-overlay>

    <div *ngIf="showNavControl; then topNavAndAlerts"></div>

    <ng-template #topNavAndAlerts>
        <navbar-control></navbar-control>
        <ie-support-banner></ie-support-banner>
        <open-access-buttons></open-access-buttons>
        <app-upsell-banner></app-upsell-banner>
        <show-reminders></show-reminders>
    </ng-template>

    <div [style.padding-top.px]="this.paddingTopPx$ | async"
         [ngClass]="{ 'player-controls-padding': showNavControl && showMiniPlaying }">
        <router-outlet></router-outlet>
    </div>


    <toast-overlay [isMiniPlayerEnabled]='showNavControl && showMiniPlaying && !screenfull.isFullscreen'></toast-overlay>

    <!--Only one player control will be enabled at a time- either full video screen or rest of the app-->
    <player-controls *ngIf="showNavControl && showMiniPlaying && !screenfull.isFullscreen"></player-controls>

    <!-- After the app has bootstrapped,
         create a single instance of the video player
         to live for the duration of the app. -->
    <singleton-video-player *ngIf="(showNavControl || isFreeTier) && !loadingScreenService.isOpen">
        <context-menu-list *ngIf="isCMInFullscreenMode()"></context-menu-list>
    </singleton-video-player>
</div>

<context-menu-list *ngIf="isCMInDefaultMode()"></context-menu-list>

<notification-overlay></notification-overlay>

<!-- Opens in new window accessibility messages -->
<div hidden>
    <span id="new-window" tabindex="-1">{{ 'common.newwindow' | translate }}</span>
</div>
