@import "../../scss/variables";
@import "../../scss/placeholders";
@import "../../scss/mixins";

.invalid-login {
    border: 1.5px solid $orange !important;
}

input {
    @include sxm-font(Gotham-Book);
    background-color: transparent;
    color: $white;
    height: 3em;
    width: 100%;
    margin-bottom: 16px;
    padding-left: .5em;

    border: none;
    border-bottom: 1px solid $white;

    &::placeholder {
        color: $white;
    }

    &:focus {
        outline: 0;
        border-bottom: 2px solid $sxm_aqua_1;
    }
}

.text-large {
    font-size: 36px;
    line-height: 1.11em;
}

.text-medium {
    font-size: 21px;
    @include sxm-font(Gotham-Medium);
    line-height: 1.38;
    padding: 11px 0 11px 0;
}

.sxm-logo {
    height: 3.4em;
    margin-bottom: 15px;
}

.error-message--container {
    color: $white;
    @include sxm-font(Gotham-Bold);
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin-right: 1em;
        width: 3em;
    }
}

.get-started-button {
    @include sxm-font(Gotham-Bold);
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 28px;
    height: 56px;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    @extend %secondary-button-transparent-white;

    &__text {
        line-height: 56px;
    }
}

.forgot-username-password {
    color: $white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1em;
    border-bottom: 2px solid transparent;
}

.login-button {
    @include sxm-font(Gotham-Bold);
    height: 56px;
    border-radius: 28px;
    opacity: unset;
    cursor: default;
    font-size: 14px;
    width: 100%;
    text-transform: uppercase;
    @extend %primary-button-white-disabled;

    &__text {
        line-height: 56px;
    }

    &.enabled {
        @extend %primary-button-white;
    }
}


.footer {
    color: $white;
    font-size: 12px;
    @include sxm-font(Gotham-Medium);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: inherit;
        text-decoration: none;
    }

    a:visited,
    .locating-you.visited {
        color: $light-grey;
    }

    a:hover,
    .locating-you:hover {
        opacity: .8;
    }

    .dot-separator {
        font-size: .4em;
        color: $white;
        margin: 0 1em 0 1em;
    }

    button {
        color: $white;
        border-bottom: 2px solid transparent;
    }

    a:focus,
    a:hover,
    button:hover,
    button:focus {
        text-decoration: none;
        border-bottom: 2px solid;
    }
}
