@import "../../scss/variables";
@import "../../scss/placeholders";
@import "../../scss/mixins";

.settings {
   @include content-wrapper();

    &__header {
        font-size: 16px;
        font-weight: 500;
        @include sxm-font(Gotham-Medium);
        text-align: left;
        color: $slate;
        margin: 18px auto 22px auto;
    }
}

.checkbox-settings-list__item {
    display: flex;
    @include sxm-font(Gotham-Book);
    align-items: center;
    height: 90px;
    border-bottom: 1px solid $pale-grey_2;

    @media (max-width: $xs_max_width) {
        height: 110px;
    }

    .checkbox-settings-item__text {
        margin-left: 6%;
        letter-spacing: -0.2px;

        &__header {
            font-size: 16px;
            color: $slate;
            margin-bottom: 6px;
        }

        &__description {
            font-size: 14px;
            color: $grey-blue;
        }
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    min-width: 40px;
    height: 20px;

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;

        &:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }
    }

    &.checked > .slider {
        background-color: $sxm-blue-2;

        &:before {
            transform: translateX(20px);
        }
    }

    &:focus {
        @extend %accessibility-outline;
    }
}
