@import "../../../../../scss/placeholders";
@import "../../../../../scss/mixins";

@mixin segment-buttons ($break) {

    width: 160px;
    height: 32px;
    border-radius: 28px;
    text-transform: uppercase;
    @extend %primary-button-blue;

        font-family: Gotham-Bold;
        font-size: 10px;
        line-height: 32px;
        vertical-align: middle;

    @media all and (max-width: $break) {

        width: 72px;
        border-radius: 18px;

        .btn__text {
            display: none;
        }

        .btn__img {
            display: inline-block;
            width: 24px;
            height: 13px;
            margin: 10px 24px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;

            &.channels_all {
                background-image: url("../../../../../assets/images/all-channels-list.svg");
            }

            &.onlyAdditionalChannels {
                background-image: url("../../../../../assets/images/shuffle-white.svg");
            }

            &.podcasts_all {
                background-image: url("../../../../../assets/images/headphones-filled.svg");
            }

            &.video_landing {
                background-image: url("../../../../../assets/images/video-white.svg");
            }
        }
    }
}

:host
{
    display: flex;
}

.segment-buttons {
    display: flex;

    &:not(:last-child){
        margin-right:24px;
    }

    .btn {

        /* for you screen */
        &.normal {
            @include segment-buttons($ml_max_width);
        }
        /* search query screen */
        &.query {
            @include segment-buttons($ms_max_width);
        }

    }
}

// remove margin-top for category page - all channels button
:host-context(.super-category-header-section) {
    .btn {
        @media all and (max-width: $s_max_width) {
            margin: 0 0 0 8px;
        }
    }
}

:host-context(.sxm-search-landing){
    .segment-buttons:not(:last-child){
        margin-right: 16px;
    }
}
