<div class="segment-buttons" *ngFor="let segment of selector.segments; let i = index">

    <button class="btn"
            [ngClass]="route === '/query' ? 'query' : 'normal'"
            [attr.aria-label]="segment.title"
            [title]="segment.title"
            (click)="neriticLinkService.navigateNeriticAction(segment.neriticLinkData)"
            sxm-new-analytics
            [tagName]="getSegmentButtonAnaTags(segment.key).tagName"
            [userPath]="getSegmentButtonAnaTags(segment.key).userPath"
            [userPathScreenPosition]="2"
            [pageFrame]="AnalyticsPageFrames.PAGE"
            [buttonName]="getSegmentButtonAnaTags(segment.key).buttonName"
            [tagText]="getSegmentButtonAnaTags(segment.key).tagText"
            [elementPosition]="i"
            [skipActionSource]="true"
            [skipNpData]="true"
            [elementType]="AnalyticsElementTypes.BUTTON"
            [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
            [inputType]="AnalyticsInputTypes.MOUSE"
            [skipCurrentPosition]="true">
        <span class="btn__img {{segment.neriticLinkData.contentType}}"></span>
        <span class="btn__text"> {{ 'selectorTile.' + (segment.key | lowercase) | translate | uppercase }}</span>
    </button>
</div>


