<div *ngIf=showOverlay
     class="overlay-container">
    <button *ngIf=enableCloseIcon
            class="close"
            (click)=onOverlayClose()>
        <img class="close__img"
             role="presentation"
             alt=""
             src="../../../../assets/images/close-white.svg"
             tabindex="-1"/>
    </button>
    <div class="child-content">
        <ng-content></ng-content>
    </div>
</div>
