@import "../../../../scss/variables";
@import "../../../../scss/placeholders";
@import "../../../../scss/mixins";

.overlay-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    background-color: $black;
    flex-direction: column;
    z-index: $playerControlZindex;

    .close {
        align-self: flex-end;
        width: 48px;
        height: 48px;
        margin: 36px 36px 0 0;

        img {
            width: 100%;
            height:100%;
        }
    }

    .child-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
