@import "../../../scss/variables";
@import "../../../scss/placeholders";
@import "../../../scss/mixins";
@import "../../../scss/pages/login";

iframe {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

// The following is a fix for IE
// The min-height property on a flex container isn't recognized by flex items in IE11.
// fix: https://stackoverflow.com/questions/40775317/align-items-align-self-not-working-on-ie11
:host {
    display: flex;
}


.login-page {
    background: url("../../../assets/images/splashscreen.jpg") center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;

    .group-1 {
        width: 100%;
    }

    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 120px;
    }

    .language-selection {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .description-container {
        color: $white;
        @include sxm-font(Gotham-Bold);

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .description-text {
        width: 450px;
    }

    .text-medium {
        display: none;
    }

    .group-2 {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .form-container {
        width: 293px;
        color: $white;
        @include sxm-font(Gotham-Book);
        display: flex;
        flex-direction: column;
        align-items: center;

        .login-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .sign-in--header {
                @include sxm-font(Gotham-Book);
                font-size: 20px;
                padding-bottom: 11px;
                text-align: center;
            }
        }
    }


    .additional-btns-container {
        width: 293px;
        @include sxm-font(Gotham-Book);
        text-align: center;
        padding-top: 16px;


        .get-started--container {
            color: $white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding-top: 36px;
            margin-bottom: 15px;

            .get-started--header {
                padding-bottom: 1em;
            }
        }
    }


    .app-logo-container {
        color: $white;
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .app-logo-header {
            font-size: 14px;
            margin-top: 3em;
            margin-bottom: 1em;
        }

        .agreement-text {
            font-size: 13px;
            margin-top: 2em;
            margin-bottom: 1em;
        }

        a {
            text-decoration: none;
        }

        .app-store-link-space {
            margin-right: 1em;
            display: inline-block;
        }

        a:focus {
            .app-store-image {
                @include accessibility-outline($sxm_aqua_1);
            }
        }

        .app-store-image {
            cursor: pointer;
        }

        .windows-logo {
            height: 40px;
        }
    }


    .footer {
        width: 100%;
        text-align: center;
        align-self: flex-end;
        padding: 3em 0 1em 0;
    }

    @media (max-width: $s_max_width) {
        .group-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    @media (min-width: $s_max_width) {
        .group-1 {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 44px;
        }

        .group-2 {
            width: 40%;
            padding: 128px 0 0 0;
        }

        .app-logo-container {
            width: 60%;
        }

        .app-logo-container {
            justify-content: flex-start;
            padding-left: 44px;
        }

        .description-text {
            width: 100%;
        }

        .description-container {
            width: 452px;
        }

        .logo-container {
            align-items: flex-start;
            height: 200px;
        }

        .description-container {
            text-align: left;
        }

        .text-medium {
            display: block;
        }

        .language-selection {
            width: 452px;
            justify-content: flex-start;
        }
    }
}

