﻿<div class="login-page">
    <div class="group-1">
        <div class="language-selection"
             *ngIf="appConfig?.deviceInfo?.appRegion === 'CA'">
            <language-toggle></language-toggle>
        </div>

        <div class="logo-container">
            <img class="sxm-logo"
                 role="presentation"
                 src="../../../assets/images/sxm-logo.svg"
                 alt=""/>
        </div>

        <div class="description-container"
             *ngIf="!deepLinkDataExists">
            <div class="description-text">
                <p class="text-large">
                    {{ 'login.whatYouLoveIs' | translate | uppercase }} <br>
                    {{ 'login.on' | translate | uppercase}} <br>
                    {{ 'login.now' | translate | uppercase}}
                </p>
                <p class="text-medium">{{ 'login.enjoyUnparalledEntertainment' | translate }}</p>
            </div>
        </div>
        <contextual-data-control (deepLinkExists)="getDeepLinkExists($event)"></contextual-data-control>
    </div>

    <div class="group-2">
        <login-component [viewContainerRef]="viewContainerRef"></login-component>

        <div class="additional-btns-container">
            <a *ngIf="settingsService.isSettingOn('ForgotLink', 'enableForgotLink')"
               [href]="loginService.forgotPasswordUrl"
               target="{{ loginService.getTarget(loginService.forgotPasswordUrl,'iframe_forgotUsernamePassword') }}"
               (click)="enableIframe('forgotUsernamePassword', loginService.forgotPasswordUrl, 'iframe_forgotUsernamePassword')"
               [attr.aria-label]="'login.accessibility.forgotUsernamePassword' | translate"
               class="forgot-username-password"
               sxm-new-analytics
               [tagName]="AnalyticsTagNameConstants.LOGIN_FORGOT"
               [userPath]="AnalyticsUserPaths.LOGIN_FORGOT"
               [pageFrame]="AnalyticsPageFrames.PAGE"
               [elementType]="AnalyticsElementTypes.LINK"
               [elementPosition]="0"
               [linkName]="AnalyticsTagNameConstants.LOGIN_FORGOT_LINK_NAME"
               [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
               [inputType]="AnalyticsInputTypes.MOUSE"
               [skipCurrentPosition]="true">
                {{ 'login.forgotUsernamePassword' | translate }}
            </a>

            <div *ngIf="onBoardingSettings && onBoardingSettings.onboardingEnabled && loginService.getStartedUrl.length > 0"
                 class="get-started--container">
                <p class="get-started--header">{{ 'login.setupCredentials' | translate }}</p>
                <a class="get-started-button"
                   [href]="loginService.getStartedUrl"
                   [attr.aria-label]="'login.accessibility.onBoarding' | translate"
                   target="{{ loginService.getTarget(loginService.getStartedUrl, 'iframe_getStarted') }}"
                   (click)="enableIframe('getStarted', loginService.getStartedUrl, 'iframe_getStarted')"
                   sxm-new-analytics
                   [tagName]="AnalyticsTagNameConstants.LOGIN_GET_STARTED"
                   [userPath]="AnalyticsUserPaths.LOGIN_GET_STARTED"
                   [pageFrame]="AnalyticsPageFrames.PAGE"
                   [elementType]="AnalyticsElementTypes.BUTTON"
                   [elementPosition]="0"
                   [buttonName]="AnalyticsTagNameConstants.LOGIN_GET_STARTED_BUTTON_NAME"
                   [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                   [inputType]="AnalyticsInputTypes.MOUSE"
                   [skipCurrentPosition]="true">
                    <span class="get-started-button__text">{{ 'login.getStarted' | translate }}</span>
                </a>
            </div>
        </div>
    </div>


    <div class="app-logo-container">
        <div class="app-store-link-space">
            <a class="app-store-link" [href]="loginService.appDownloadUrls.android"
               attr.aria-label="{{ 'login.accessibility.googlePlayStore' | translate }}"
               target="_blank"
               sxm-new-analytics
               [tagName]="AnalyticsTagNameConstants.LOGIN_PLATFORM_DOWNLOAD"
               [userPath]="AnalyticsUserPaths.LOGIN_PLATFORM_DOWNLOAD + '_' + AnalyticsTagTextConstants.GOOGLE_PLAY"
               [pageFrame]="AnalyticsPageFrames.PAGE"
               [elementType]="AnalyticsElementTypes.BUTTON"
               [elementPosition]="0"
               [buttonName]="AnalyticsTagNameConstants.LOGIN_PLATFORM_DOWNLOAD_BUTTON_NAME"
               [tagText]="AnalyticsTagTextConstants.GOOGLE_PLAY"
               [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
               [inputType]="AnalyticsInputTypes.MOUSE"
               [skipCurrentPosition]="true">
                <img class="app-store-image windows-logo"
                     src="../../../assets/images/playstore-app-icon.svg"
                     [title]="'login.accessibility.googlePlayStore' | translate"
                     [alt]="'login.accessibility.googlePlayStore' | translate"/>
            </a>
        </div>
        <div class="app-store-link-space">
            <a class="app-store-link" [href]="loginService.appDownloadUrls.apple"
               attr.aria-label="{{ 'login.accessibility.appleStore' | translate }}"
               target="_blank"
               sxm-new-analytics
               [tagName]="AnalyticsTagNameConstants.LOGIN_PLATFORM_DOWNLOAD"
               [userPath]="AnalyticsUserPaths.LOGIN_PLATFORM_DOWNLOAD + '_' + AnalyticsTagTextConstants.APP_STORE"
               [pageFrame]="AnalyticsPageFrames.PAGE"
               [elementType]="AnalyticsElementTypes.BUTTON"
               [elementPosition]="1"
               [buttonName]="AnalyticsTagNameConstants.LOGIN_PLATFORM_DOWNLOAD_BUTTON_NAME"
               [tagText]="AnalyticsTagTextConstants.APP_STORE"
               [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
               [inputType]="AnalyticsInputTypes.MOUSE"
               [skipCurrentPosition]="true">
                <img class="app-store-image windows-logo"
                     src="../../../assets/images/appstore-app-icon.svg"
                     [title]="'login.accessibility.appleStore' | translate"
                     [alt]="'login.accessibility.appleStore' | translate"/>
            </a>
        </div>
        <div class="app-store-link-space">
            <a class="app-store-link" [href]="loginService.appDownloadUrls.windows"
               attr.aria-label="{{ 'login.accessibility.windowsStore' | translate }}"
               target="_blank"
               sxm-new-analytics
               [tagName]="AnalyticsTagNameConstants.LOGIN_PLATFORM_DOWNLOAD"
               [userPath]="AnalyticsUserPaths.LOGIN_PLATFORM_DOWNLOAD + '_' + AnalyticsTagTextConstants.WINDOWS_STORE"
               [pageFrame]="AnalyticsPageFrames.PAGE"
               [elementType]="AnalyticsElementTypes.BUTTON"
               [elementPosition]="2"
               [buttonName]="AnalyticsTagNameConstants.LOGIN_PLATFORM_DOWNLOAD_BUTTON_NAME"
               [tagText]="AnalyticsTagTextConstants.WINDOWS_STORE"
               [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
               [inputType]="AnalyticsInputTypes.MOUSE"
               [skipCurrentPosition]="true">
                <img class="app-store-image windows-logo"
                     src="../../../assets/images/win-10-app-icon@2x.png"
                     srcset="../../../assets/images/win-10-app-icon@3x.png 3x"
                     [title]="'login.accessibility.windowsStore' | translate"
                     [alt]="'login.accessibility.windowsStore' | translate"/>
            </a>
        </div>
    </div>

    <footer class="footer">
        <a [href]="loginService.customerAgreementUrl"
           [attr.aria-label]="'login.accessibility.customerAgreement' | translate"
           target="_blank"
           aria-describedby="new-window"
           sxm-new-analytics
           [tagName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER"
           [userPath]="AnalyticsUserPaths.LOGIN_DISCLAIMER"
           [pageFrame]="AnalyticsPageFrames.PAGE"
           [elementType]="AnalyticsElementTypes.LINK"
           [elementPosition]="0"
           [tagText]="'login.customerAgreement' | translate"
           [linkName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER_LINK_NAME"
           [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
           [inputType]="AnalyticsInputTypes.MOUSE"
           [skipCurrentPosition]="true">{{ 'login.customerAgreement' | translate }}</a>

        <i class="dot-separator fa fa-circle" aria-hidden="true"></i>

        <a [href]="loginService.privacyPolicyUrl"
           [attr.aria-label]="'login.accessibility.privacyPolicy' | translate"
           target="_blank"
           aria-describedby="new-window"
           sxm-new-analytics
           [tagName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER"
           [userPath]="AnalyticsUserPaths.LOGIN_DISCLAIMER"
           [pageFrame]="AnalyticsPageFrames.PAGE"
           [elementType]="AnalyticsElementTypes.LINK"
           [elementPosition]="0"
           [tagText]="'login.privacyPolicy' | translate"
           [linkName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER_LINK_NAME"
           [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
           [inputType]="AnalyticsInputTypes.MOUSE"
           [skipCurrentPosition]="true">{{ 'login.privacyPolicy' | translate }}</a>

        <i class="dot-separator fa fa-circle" aria-hidden="true"></i>

        <button class="locating-you"
           [attr.aria-label]="'login.accessibility.locatingYou' | translate"
           [title]="'login.accessibility.locatingYou' | translate"
           [ngClass]="{ 'visited': locatingYouVisited }"
           (click)="openOverlay(); updateVisitedLink('locatingYou')"
           sxm-new-analytics
           [tagName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER"
           [userPath]="AnalyticsUserPaths.LOGIN_DISCLAIMER"
           [pageFrame]="AnalyticsPageFrames.PAGE"
           [elementType]="AnalyticsElementTypes.LINK"
           [elementPosition]="0"
           [tagText]="'login.locatingYou' | translate"
           [linkName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER_LINK_NAME"
           [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
           [inputType]="AnalyticsInputTypes.MOUSE"
           [skipCurrentPosition]="true">
           {{ 'login.locatingYou' | translate }}
        </button>

        <i class="dot-separator fa fa-circle" aria-hidden="true"
           *ngIf="loginService.dataPrivacyUrl"></i>

        <a *ngIf="loginService.dataPrivacyUrl"
           [href]="loginService.dataPrivacyUrl"
           [attr.aria-label]="'login.accessibility.doNotSellMyInfo' | translate"
           target="_blank"
           aria-describedby="new-window"
           sxm-new-analytics
           [tagName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER"
           [userPath]="AnalyticsUserPaths.LOGIN_DISCLAIMER"
           [pageFrame]="AnalyticsPageFrames.PAGE"
           [elementType]="AnalyticsElementTypes.LINK"
           [elementPosition]="0"
           [tagText]="'login.doNotSellMyInfo' | translate"
           [linkName]="AnalyticsTagNameConstants.LOGIN_DISCLAIMER_LINK_NAME"
           [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
           [inputType]="AnalyticsInputTypes.MOUSE"
           [skipCurrentPosition]="true">{{ 'login.doNotSellMyInfo' | translate }}</a>

    </footer>
</div>
