@import "../list-items";

.center-column {
    .image-container {
        img {
            width: 70%;
            height: auto;
            background-color: transparent;
        }

        &.seededradio {
            img {
                width: 50%;
                height: auto;
            }
            background-color: transparent;
        }
        .img-alt-text {
            width: inherit;
            font-size: 14px;
            line-height: 1.2;
            @include sxm-font(GothamNarrSSm-Book);
            text-align: center;
            overflow: hidden;
        }
    }

    .info-container {
        .focusable {
            display: inline;
            border-bottom: 2px solid transparent;
        }

        .bold-font {
            font-size: 18px;
            @include sxm-font(GothamNarrSSm-Medium);
            color: $title-black;

            @media (max-width: $s_max_width) {
                font-size: 14px;
            }
        }
    }

    &:focus {
        .info-container {
            .focusable {
                border-color: $sxm_blue_1;
            }
        }
    }
}
