<favorite-btn
    class="favorites-btn"
    [viewType]="listView"
    [listAsset]="favoriteAssetInfo">
</favorite-btn>

<button class="center-column"
        (click)="neriticLinkService.takePrimaryTileAction(tileData)"
        attr.aria-label="{{ ((tileData.isTunedTo$ | async) ? 'carousels.accessibility.currentlyPlaying' : '') | translate }}
                         {{ tileData.tileAssetInfo.channelName }}
                         {{ tileData.line1$ | async }}
                         {{ tileData.line2$ | async }}
                         {{ tileData.line3$ | async }}">
    <div class="image-container {{tileData.tileContentSubType}}"
         [lazyLoad]="lazyLoadUrl"
         [ngStyle]="backgroundStyle">
        <div *ngIf="tileData.fgImageUrl; then image else text"></div>
        <ng-template #image>
            <img [src]="tileData.fgImageUrl"
                 alt=""
                 class="{{tileData.tileContentSubType}}"
                 role="presentation"/>
        </ng-template>

        <ng-template #text>
            <span class="img-alt-text">{{ tileData.tileAssetInfo.channelName }}</span>
        </ng-template>
    </div>

    <div class="info-container">
        <div *ngIf="isAdditionalChannel; then addlChannel else channel"></div>
        <ng-template #addlChannel>
            <p class="info-container__line1"
               [ngClass]="line1Classes">
                <img src="../../../assets/images/shuffle-blue.svg" />
                {{ tileData.line1 }}</p>
            <p class="info-container__line2"
               [ngClass]="line2Classes">{{ tileData.line2 }}</p>
        </ng-template>

        <ng-template #channel>
            <p class="info-container__line1"
               [ngClass]="line1Classes">{{ tileData.line1$ | async }}</p>
            <p class="info-container__line2"
               [ngClass]="line2Classes">{{ tileData.line2$ | async }}</p>
            <p class="info-container__line3"
               [ngClass]="line3Classes">{{ tileData.line3$ | async }}</p>
        </ng-template>
    </div>
</button>

<div class="right-column">
    <img  [ngClass]="{'visibility-hidden': !(tileData.isTunedTo$ | async)}"
          class="now-playing-indicator"
          [src]="nowPlayingIndicatorService.playingIndicatorSrc$ | async"
          alt=""
          role="presentation"/>

    <context-menu class="context-menu gray-icon"
                  [getOptionsFunc]="getCMOptionsFunc"
                  ariaText="{{ tileData.tileAssetInfo.channelName }}
                            {{ tileData.line1$ | async }}
                            {{ tileData.line2$ | async }}
                            {{ tileData.line3$ | async }}"></context-menu>
</div>
