@import "../../scss/placeholders";
@import "../../scss/mixins";

$transition-time: 0.1s;

.sxm-player-controls {
    position: fixed;
    position: -ms-device-fixed; //prevents IE MiniNP bouncing while scrolling
    z-index: $playerControlZindex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $playerControlsHeight;
    -webkit-backdrop-filter: blur(3.7px);
    backdrop-filter: blur(3.7px);
    background-color: $pale-grey_8;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    transition: all $transition-time;

    .chromecast-icon {
        width: 24px;
        height: 24px;
        cursor: pointer;
        margin-right: 32px;
        margin-left: 32px;
        --connected-color: #{$sxm_blue_6} ;
        --disconnected-color: #{$sxm_blue_6};

        @media (max-width: $s_max_width) {
            margin-right: 9px;
            margin-left: 32px;
        }

        @media (max-width: $m_max_width) {
            margin-left: 24px;
            margin-right: 5px;
        }
    }

    .left-buttons {
        display: flex;
        flex: 1 1 310px;
        height: 80px;
        margin-right: 30px;

        favorite-btn {
            margin-right: 21px;

            :focus, :not(.white):active {
                // overrides the styles applied when the favoriting icon
                // is used elsewhere in the app
                border-bottom-color: transparent;
            }
        }

        // This aligns the buttons correctly. Needs to be removed with refactoring the scss for the player-controls
        program-descriptive-text {

            display: flex;

            sxm-video-player {
                cursor: pointer;
            }
        }
    }

    .center-buttons {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        flex: 0 1 608px;
        max-width: 608px;

        .center-buttons__main-controls {
            width: 100%;
            margin: 0 auto 3px auto;
            justify-content: space-between;
            display: flex;
            align-items: center;
            line-height: 1;

            .center-buttons-list {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 300px;
                height:40px;
            }
        }

        .no-special-buttons {
            restart-btn,
            back-1-hour {
                visibility: hidden;
            }
        }
    }

    .right-buttons-list {
        display: flex;
        justify-content: flex-end;
        flex: 1 1 310px;
        align-items: center;
        margin-left: 20px;
    }

    time-display {
        width: 100%;
        margin: 6px 0 0 0;
        @include sxm-font(Gotham-Medium);
        white-space: nowrap;
        font-size: 10px;
        color: #000000
    }


    @media (max-width: $l_max_width) {
        .center-buttons {
            flex: 0 1 400px;
            max-width: 400px;
        }
    }

    @media (max-width: $m_max_width) {
        padding: 0 15px;

        .left-buttons {
            flex: 0 1 240px;
            max-width: 240px;

            favorite-btn {
                display: none;
            }
        }

        .center-buttons {
            flex: 0 1 350px;
            max-width: 350px;
        }

        .right-buttons-list {
            flex: 0 1 215px;
            max-width: 215px;
        }
    }

    @media (max-width: $s_max_width) {
        .left-buttons {
            flex: 0 0 200px;
            min-width: 200px;
            max-width: 200px;
        }

        .center-buttons {
            flex: 0 0 210px;
            max-width: 210px;
            min-width: 210px;
        }

        .right-buttons-list {
            flex: 0 1 190px;
            max-width: 190px;
        }
    }

    @media (max-width: $xs_max_width) {
        .left-buttons {
            flex: 0 0 75px;
            min-width: 75px;
            max-width: 75px;
        }

        .center-buttons {
            flex: 0 0 200px;
            max-width: 200px;
            min-width: 200px;
        }

        .right-buttons-list {
            flex: 0 1 150px;
            max-width: 150px;

            .chromecast-icon {
                margin-right: 0px;
            }
        }
    }
}

.player-with-chromecast {
    bottom: $playerChromeCastHeight;
}

.chromecast-toast {
    position: fixed;
    z-index: $playerControlZindex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $playerChromeCastHeight;
    background-color: $sxm_blue_7;
    text-align: center;
    padding-top: 5px;
    color: $light-grey_4;
    @include sxm-font(Gotham-Medium);
    font-size: 14px;
}
