<toast-overlay [isMiniPlayerEnabled]='showNavControl && showMiniPlaying && !screenfull.isFullscreen'></toast-overlay>

<div class="sxm-player-controls no-select"
     (mousemove)="onDragMouse($event)"
     (touchmove)="onDragMouse($event)"
     (mouseup)="onDragStop($event)"
     (mouseleave)="onDragStop($event)"
     #playerControls
     [ngClass]="{'player-with-chromecast' : showCastingToast }">

    <div class="left-buttons">
        <favorite-btn
            [viewType]="nowPlaying"
            [isMiniNPView]=true>
        </favorite-btn>

        <program-descriptive-text
            [channel]="channel$ | async"
            [channelLogoUrl]="channelLogoUrl$ | async"
            [albumName]="albumName$ | async"
            [albumImageUrl]="albumImageUrl$ | async"
            [artistName]="artistName$ | async"
            [trackName]="trackName$ | async"
            [episode]="episode$ | async"
            [mediaType]="mediaType$ | async"
            [isOnDemand]="isOnDemand$ | async"
            [isSeededRadio]="isSeededRadio$ | async"
            [isLive] ="isLive$ | async">
        </program-descriptive-text>
    </div>

    <div class="center-buttons">
        <div class="center-buttons__main-controls" [ngClass]="{'no-special-buttons' : isAICChannel }" >
            <restart-btn
                *ngIf="!isPlaceholderShow"
                [isVisibilityHidden]="!(canRestart$ | async)"
                [isFrench]="translator.currentLang === languageConstants.FRENCH"
                (restart)="restart($event)"
                [canGoToLive]="canGotoLive$ | async"
                [content]="nowPlayingData$ | async">
            </restart-btn>

            <back-1-hour
                *ngIf="isPlaceholderShow"
                [isLiveAndDisallowed]="isLiveAndDisallowed"
                [isFrench]="translator.currentLang === languageConstants.FRENCH"
                [content]="nowPlayingData$ | async">
            </back-1-hour>

            <ul class="center-buttons-list"
                [attr.aria-label]="'playerControls.accessibility.mainControls' | translate">
                <skip-back-15-seconds
                    *ngIf="skip15SecondsService.displaySkip15BackBtn()"
                    [content]="nowPlayingData$ | async">
                </skip-back-15-seconds>

                <affinity-button (affinityClick)="showDislikeCoachMark($event)"
                                 [affinityType]="affinityConstants.DISLIKE"
                                 [content]="nowPlayingData$ | async">
                </affinity-button>

                <skip-back-button
                    [isLiveAndDisallowed]="isLiveAndDisallowed"
                    [content]="nowPlayingData$ | async">
                </skip-back-button>

                <play-button
                    [content]="nowPlayingData$ | async">
                </play-button>

                <skip-forward-button
                    [isLiveAndDisallowed]="isLiveAndDisallowed"
                    [content]="nowPlayingData$ | async">
                </skip-forward-button>

                <affinity-button (affinityClick)="showLikeCoachMark($event)"
                                 [affinityType]="affinityConstants.LIKE"
                                 [content]="nowPlayingData$ | async">
                </affinity-button>

                <skip-forward-15-seconds
                    *ngIf="skip15SecondsService.displaySkip15FwdBtn()"
                    [content]="nowPlayingData$ | async">
                </skip-forward-15-seconds>
            </ul>

            <go-to-live-btn
                [isLiveAndDisallowed]="isLiveAndDisallowed"
                [isFrench]="translator.currentLang === languageConstants.FRENCH"
                [canShowGoToLive]="canShowGotoLive$ | async"
                [canGoToLive]="canGotoLive$ | async"
                [content]="nowPlayingData$ | async"
                (goToLive)="goToLive($event)">
            </go-to-live-btn>
        </div>

        <progress-bar
            [isDmcaUnrestricted]="isDmcaUnrestricted$ | async"
            [segments]="segments$ | async"
            [content]="nowPlayingData$ | async">
        </progress-bar>

        <time-display></time-display>
    </div>

    <ul class="right-buttons-list" role="presentation">
        <expand-button [content]="nowPlayingData$ | async"></expand-button>

        <sxm-volume [content]="nowPlayingData$ | async"></sxm-volume>
        <google-cast-launcher
            sxm-new-analytics
            [tagName]="AnalyticsTagNameConstants.MNP_CAST"
            [userPath]="AnalyticsUserPaths.MNP_CAST"
            [pageFrame]="AnalyticsPageFrames.MODAL"
            [modal]="AnalyticsModals.MINI_NOW_PLAYING_BAR"
            [elementType]="AnalyticsElementTypes.BUTTON"
            [buttonName]="AnalyticsTagNameConstants.MNP_CAST_BUTTON_NAME"
            [tagText]="AnalyticsTagTextConstants.MNP_CAST"
            [elementPosition]="14"
            [action]=AnalyticsTagActionConstants.BUTTON_CLICK
            [inputType]=AnalyticsInputTypes.MOUSE
            [actionSource]="AnalyticsTagActionSourceConstants.MININP"
            #googleCastLauncher
            class="chromecast-icon">
        </google-cast-launcher>
    </ul>
</div>
<div *ngIf="showCastingToast" class="chromecast-toast">
    {{castingData.castStatusMessage | translate}}
    <span [innerHTML]="castingData.deviceName"> </span>
</div>
<skip-message></skip-message>
