<div double-tap-context-menu
     [contextMenuOptions]="showCMOptions"
     class="tile-wrapper {{ tileOrientation }}"
     [ngClass]="tileShape"
     attr.aria-label="{{ ((tileData.isTunedTo$ | async) ? 'carousels.accessibility.currentlyPlaying' : '') | translate }}
        {{ tileData.tileBanner.bannerText }}
        {{ carouselService.getAriaLabelContentType(tileData) | translate }}
        {{ tileData.line1$ | async }}
        {{ tileData.line2$ | async }}
        {{ tileData.line3$ | async }}"
     role="button"
     tabindex="0">
    <div class="tile-background {{ tileData?.fgImageType }}"
         [ngClass]="{ 'updating': isUpdating }"
         [lazyLoad]="(lazyLoadEvent$ |async) ? lazyLoadUrl : null"
         [ngStyle]="backgroundStyle">

        <div class="tile-banner"
            *ngIf="tileData.tileBanner.display && tileData.tileBanner.bannerText && tileData.tileBanner.bannerColor"
            [ngStyle]="{'background-color': tileData.tileBanner.bannerColor}">
            <p class="tile-banner__text"
               role="presentation"
               aria-hidden="true">
                {{ tileData.tileBanner.bannerText }}
            </p>
        </div>

        <tile-image [class]="tileShape"
                    [tileData]="tileData"
                    (error)="onTileImageError($event)">
        </tile-image>

        <div class="tile-text" *ngIf="!tileData.tileAssetInfo.isPandoraPodcast">
            <div class="tile-text__first-line">
                <img *ngIf="(tileData.isTunedTo$ | async)"
                     class="now-playing-indicator"
                     [src]="nowPlayingIndicatorService.playingIndicatorSrc$ | async"/>
                <p class="tile-text__first-line__text"
                   [ngClass]="tileShape"
                   role="presentation"
                   aria-hidden="true">
                    <img class="tile-icon {{tileData.tileContentSubType}}"
                         *ngIf="tileData.iconImageUrl"
                         [src]="tileData.iconImageUrl"
                         alt=""
                         role="presentation">
                    {{ tileData.line1$ | async | localizeTileText }}
                </p>
            </div>

            <p *ngIf="tileData.line2$ | async"
               class="tile-text__title"
               [ngClass]="tileShape"
               role="presentation"
               aria-hidden="true"
               #titleLine>
               {{ tileData.line2$ | async | localizeTileText }}
            </p>

            <p *ngIf="tileData.line3$ | async"
               class="tile-text__description"
               role="presentation"
               aria-hidden="true">
               {{ tileData.line3$ | async | localizeTileText }}
            </p>
        </div>
    </div>
</div>

