@import "../../../../scss/variables";
@import "../../../../scss/placeholders";

$spinner--height: 120px;
$spinner--width: 120px;

.loading-spinner {
    position: absolute;
    top: calc(50% - #{$spinner--height} / 2);
    left: calc(50% - #{$spinner--height} / 2);;
    z-index: $VideoBufferZ;
    width: $spinner--width;
    height: $spinner--height;
    background: none;
    -moz-animation: spin 1.5s infinite linear;
    -webkit-animation: spin 1.5s infinite linear;
    animation: rotation 1.5s infinite linear;

    // prevent the browser's default blue highlight if the spinner is selected
    &::selection {
        background: none;
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.alert-hidden {
    @extend %accessibility-hidden;
}
