<div double-tap-context-menu
     *ngIf="tileData"
     [contextMenuOptions]="channelCMOptions"
     class="tile-wrapper {{ tileOrientation }}"
     [ngClass]="tileData.tileShape"
     attr.aria-label="{{ ((tileData.isTunedTo$ | async) ? 'carousels.accessibility.currentlyPlaying' : '') | translate }}
                      {{ tileData.tileBanner.bannerText }}
                      {{ tileData.line1$ | async }}
                      {{ tileData.line2$ | async }}
                      {{ tileData.line3$ | async }}"
     role="button"
     tabindex="0">
    <div class="tile-background {{ tileData.fgImageType }}"
         [ngClass]="{ 'updating': isUpdating }"
         [lazyLoad]="(lazyLoadEvent$| async) ? lazyLoadUrl : null"
         [ngStyle]="backgroundStyle">

        <div class="tile-banner"
             *ngIf="tileData.tileBanner?.display && tileData.tileBanner?.bannerText && tileData.tileBanner?.bannerColor"
             [ngClass]="{ 'tile-banner--fullwidth tile-banner--center': tileData?.tileBanner?.bannerClass === liveBanner }"
             [hidden]="tileData?.tileBanner?.bannerClass === liveBanner && !configService.liveVideoEnabled()"
             [ngStyle]="{ 'background-color': tileData.tileBanner.bannerColor }">
            <span [hidden]="tileData?.tileBanner?.bannerClass !== liveBanner"
                  class='tile-banner__dot'>
            </span>
            <p class="tile-banner__text"
               role="presentation"
               aria-hidden="true">
               {{ tileData?.tileBanner?.bannerText }}
            </p>
        </div>

        <tile-image [class]="tileData.tileShape" [tileData]="tileData"></tile-image>

        <div class="tile-text">
            <div class="tile-text__first-line">
                <img *ngIf="(tileData.isTunedTo$ | async)"
                     class="now-playing-indicator"
                     [src]="(nowPlayingIndicatorService.playingIndicatorSrc$ | async)"
                     alt=""
                     role="presentation"/>
                <p class="tile-text__channel-number"
                   role="presentation"
                   aria-hidden="true">
                    <img class="tile-icon tile-icon--aic"
                         *ngIf="tileData.iconImageUrl"
                         [src]="tileData.iconImageUrl"
                         alt=""
                         role="presentation">
                    {{ tileData.line1$ | async }}
                </p>
            </div>

            <p class="tile-text__title"
               [ngClass]="{'tile-text__pre-wrap' : !(tileData.line2$ | async).trim() }"
               role="presentation"
               aria-hidden="true" #titleLine>{{ tileData.line2$ | async }}</p>

            <p class="tile-text__description"
               *ngIf="!isAdditionalChannel"
               [ngClass]="{'tile-text__pre-wrap' : !!(tileData.line3$ | async).trim()}"
               role="presentation"
               aria-hidden="true">{{ tileData.line3$ | async }}</p>
        </div>
    </div>
</div>
