@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/global";

.overlay-body {
    width: 360px;
    margin: 0 auto 0 auto;
    color: $white;
}

.overlay-header {
    margin: 0 auto 0 auto;
    .sxm-logo {
        height:65px;
        width:100%;
    }
    h2 {
        margin-top: 32px;
        font-size: 14px;
        text-align: center;
        font-style: italic;
        @include sxm-font(Gotham-Book);
    }
}

.register-errors {
    margin-top: 30px;

    .message {
        display: inline-block;
        width: 300px;
        font-size: 16px;
        font-weight: bold;
    }
    .close-icon-red {
        vertical-align: top;
        margin-top: 4px;
        margin-right: 10px;
        margin-left: 16px;
        width: 16px;
        height: 16px;
    }
}

.register-form {
    margin: 0 auto 0 auto;
    width: 320px;
    fieldset {
        width: 320px;
    }
    input {
        width: 320px;
        background-color: transparent;
        height: 48px;
        margin-top: 32px;
        font-size: 18px;
        color: $white;
        border: 0;
        outline: none;
        @include sxm-font(Gotham-Book);
    }

    .username {
        border-bottom: 1px solid $white;
    }

    .show-hide-password {
        border-bottom: 1px solid $white;

        .password {
            width: 280px;
        }
    }

    .username.invalid, .show-hide-password.invalid {
        border-bottom: 1px solid $sxm_red_3;
    }

    .password-append {
        margin-left:10px;
        cursor: pointer;
        img {
            width: 30px;
        }
    }

    button {
        margin-top: 26px;
        border: 2px solid $white;
        width: 320px;
        height: 56px;
        line-height: 1;
        border-radius: 28px;
        background-color: $white;
        span {
            @include sxm-font(Gotham-Bold);
            color: $sxm_blue_6;
            text-transform: uppercase;
            font-size: 14px;
            text-align: center;
        }
    }

    button:disabled {
        background-color: $light-grey_6;
        border: 2px solid $light-grey_6;
        span {
            color: $grey4;
        }
    }

    .forgot-password {
        margin-top: 32px;
        text-align: center;
        a {
            cursor: pointer;
            color: $white;
            font-size: 14px;
            @include sxm-font(Gotham-Book);
            text-decoration: underline;
        }
    }
}

.subscribe-screen {
   width:100%;
   margin-top: 105px;
}

.access-screen {
    margin: 45px auto 0;
    text-align: center;
}

.sub-screen-now-wrapper {
    hr {
        width: 320px;
    }

    .instructions {
        color: $white;
        font-size: 14px;
        text-align: center;
        margin: 12px auto 0 auto;
        width: 345px;
        @include sxm-font(Gotham-Book);
    }

    .get-started-button {
        display: inline-block;
        background-color: transparent;
        margin: 20px 0 0 0;
        border: 2px solid $white;
        width: 320px;
        height: 56px;
        border-radius: 28px;
        text-decoration: none;
        span {
            color: $white;
            line-height: 52px;
        }
    }

    .access-now-container {
        text-align: center;
        margin-top: 10px;
        a {
            @include sxm-font(Gotham-Medium);
            font-size: 18px;
            text-decoration: underline;
            color: $white;
            cursor: pointer;
        }
    }

    .legal-links {
        margin: 20px 0;

        ul {
            text-align: center;
            color: $white;
        }

        li {
            display: inline;
            list-style: circle;
            margin-right: 15px;

            a {
                font-size: 12px;
                color: $white;
                @include sxm-font(Gotham-Medium);
            }
            .fa {
                position: relative;
                top: -2px;
                left: 8px;
                font-size:5px;
            }
        }

        li:last-child {
            margin-right: 0;
        }

        .hide-link {
            display: none;
        }
    }
}
