<div class="overlay-body" *ngIf="overlayScreenInfo">

    <div class="overlay-header">
        <img class="sxm-logo"
             [src]="overlayScreenInfo.logo"
             role="presentation"
             [alt]="'openAccess.loginOverlay.altText.sxmLogo' | translate"/>
        <h2>{{ overlayScreenInfo.registerNow}}</h2>
    </div>

    <div *ngIf="errorMsg" class="register-errors">
        <img class="close-icon-red" src="../../../assets/images/error-white.svg" role="presentation"/>
        <p class="message">{{ errorMsg }}</p>
    </div>
    <div class="register-form">
        <form #registrationForm="ngForm"
              (ngSubmit)="onSubmit()"
              name="registerForm"
              novalidate>
            <fieldset>
                <input class="username"
                       name="username"
                       type="text"
                       [(ngModel)]="userName"
                       [ngClass]="authError ? 'invalid' : ''"
                       placeholder="{{ overlayScreenInfo.username }}"
                       attr.label="{{ overlayScreenInfo.username }}"
                       autocomplete="off"/>
                <div class="show-hide-password" [ngClass]="authError ? 'invalid' : ''">
                    <input class="password"
                           name="password"
                           [type]="fieldTextType"
                           [(ngModel)]="password"
                           placeholder="{{ overlayScreenInfo.password }}"
                           attr.label="{{ overlayScreenInfo.password }}"
                           autocomplete="off"/>

                    <a class="password-append"
                       role="button"
                       (click)="togglePasswordField()"
                        sxm-new-analytics
                        [tagName]="AnalyticsTagNameConstants.WEB_OVERLAY_BUTTON"
                        [tagText]="tagText"
                        [inputType]="AnalyticsInputTypes.MOUSE"
                        [elementPosition]="1"
                        [userPath]="getUserPathByContext() + '_' + tagText"
                        [pageFrame]="AnalyticsPageFrames.OVERLAY"
                        [overlayName]="overlayName"
                        [action]="AnalyticsTagActionConstants.BUTTON_CLICK">
                            <img class="visible-on"
                                [src]="fieldTextType === 'password'
                                    ? '../../../assets/images/password/visibleOff.svg'
                                    : '../../../assets/images/password/visibleOn.svg'"
                                role="presentation"
                                [alt]="'freeTierRegister.show' | translate"/>
                    </a>
                </div>
            </fieldset>
            <app-terms-checkbox *ngIf="!isAccessNow"
                                [checkboxText]="overlayScreenInfo.checkbox"
                                [(checked)]="isTermsAccepted"
                                [screenName]="overlayScreenInfo.subScreenName"
                                [userPath]="getUserPathByContext()"
                                [overlayName]="overlayName">
            </app-terms-checkbox>

            <button [disabled]="!password || password.length < passwordMinLength || !userName || (!isTermsAccepted && !isAccessNow)"
                    sxm-new-analytics
                    [tagName]="AnalyticsTagNameConstants.WEB_OVERLAY_BUTTON"
                    [tagText]="AnalyticsTagTextConstants.ACCESS_NOW"
                    [inputType]="AnalyticsInputTypes.MOUSE"
                    [elementPosition]="3"
                    [userPath]="getUserPathByContext() + '_' + overlayScreenInfo.submitBtn.text"
                    [pageFrame]="AnalyticsPageFrames.OVERLAY"
                    [overlayName]="overlayName"
                    [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                    class="register-button">
                <span>{{ overlayScreenInfo.submitBtn.text }}</span>
            </button>
        </form>

        <p class="forgot-password" *ngIf="isAccessNow">
            <a [href]="overlayScreenInfo.forgotPassword.url"
               sxm-new-analytics
               [tagName]="AnalyticsTagNameConstants.LOGIN_FORGOT"
               [userPath]="AnalyticsUserPaths.LOGIN_FORGOT"
               [pageFrame]="AnalyticsPageFrames.OVERLAY"
               [elementType]="AnalyticsElementTypes.LINK"
               [elementPosition]="0"
               [linkName]="AnalyticsTagNameConstants.LOGIN_FORGOT_LINK_NAME"
               [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
               [inputType]="AnalyticsInputTypes.MOUSE"
               [skipCurrentPosition]="true"
               target="{{ loginService.getTarget(overlayScreenInfo.forgotPassword.url,'iframe_forgotUsernamePassword') }}"
               (click)="enableIframe('forgotUsernamePassword', overlayScreenInfo.forgotPassword.url,
            'iframe_forgotUsernamePassword')">
                {{overlayScreenInfo.forgotPassword.value }}
            </a>
        </p>
    </div>
</div>

<div class="sub-screen-now-wrapper"
     *ngIf="overlayScreenInfo"
     [ngClass]="isAccessNow ? 'access-screen' : 'subscribe-screen'">
    <hr/>
    <p class="instructions">
        {{ footerAccessInfo.accessHeader }}
    </p>

    <a *ngIf="isAccessNow" class="get-started-button"
            [href]="loginService.getStartedUrl"
            target="{{ loginService.getTarget(loginService.getStartedUrl, 'iframe_getStarted') }}"
            (click)="enableIframe('getStarted', loginService.getStartedUrl, 'iframe_getStarted')">
        <span>{{ footerAccessInfo.accessBtn.text }}</span>
    </a>

    <div *ngIf="!isAccessNow"
         class="access-now-container">
        <a class="access-now-button" (click)="openAccessOverlay()"
           sxm-new-analytics
           [tagName]="AnalyticsTagNameConstants.WEB_OVERLAY_BUTTON"
           [tagText]="AnalyticsTagTextConstants.ACCESS_NOW"
           [inputType]="AnalyticsInputTypes.MOUSE"
           [elementPosition]="4"
           [userPath]="getUserPathByContext()"
           [pageFrame]="AnalyticsPageFrames.OVERLAY"
           [overlayName]="overlayName"
           [action]="AnalyticsTagActionConstants.BUTTON_CLICK">
            {{footerAccessInfo.accessBtn.text}}
        </a>
    </div>
    <div class="legal-links" *ngIf="footerAccessInfo.legalLinks">
        <ul>
            <li *ngFor="let legal of footerAccessInfo.legalLinks; let last = last;  let i = index"
                [ngClass]="legal.name==='ccpa_request' || isAccessNow ? '' : 'hide-link'">
                    <a *ngIf="legal.name==='ccpa_request' || isAccessNow"
                        target="_blank"
                        [href]="legal.url"
                       sxm-new-analytics
                       [tagName]="AnalyticsTagNameConstants.WEB_OVERLAY_BUTTON"
                       [tagText]="legal.value"
                       [inputType]="AnalyticsInputTypes.MOUSE"
                       [elementPosition]="i + 5"
                       [userPath]="getDisclaimerContext() + '_'
                            + AnalyticsDisclaimerLinkNames.DISCLAIMER + '_'
                            + legal.value"
                       [pageFrame]="AnalyticsPageFrames.OVERLAY"
                       [overlayName]="overlayName"
                       [action]="AnalyticsTagActionConstants.BUTTON_CLICK">
                            {{legal.value}}
                            <i *ngIf="!last && isAccessNow"
                                class="dot-separator fa fa-circle"
                                aria-hidden="true"></i>
                    </a>
             </li>
        </ul>
    </div>
</div>
