@import "../variables.scss";
@import "../variables/breakpoints";

.carousel-arrows {
    &__prev,
    &__next {
        background-color: transparent;
        position: absolute;
        top: calc(50% - #{$arrow-width / 2});
        width: $arrow-width;
        height: $arrow-height;

        img {
            width: $arrow-width;
            height: $arrow-height;
        }

        &:focus {
            width: 38px;
            height: 38px;
            transition: opacity $hover-transition-time linear;
        }
    }

    &__prev {
        left: calc(#{-$arrow-width} / 2);
        background-size: contain;
    }

    &__next {
        right: calc(#{$arrow-width / 2} - #{$hero-tile-gutter--large / 2});
        background-size: contain;
    }

    @media screen and (max-width: $s_max_width) {
        right: calc(-#{$arrow-width / 2});
    }
}

/* hide left/right arrows when not needed */
.slick-arrow.slick-hidden,
.slick-arrow.slick-disabled {
    display: none !important;
}
