<!-- this div is designed to occupy
    the exact same space as our singleton video player -->
<!-- <div class="video-spacer"></div> -->

 <div class="apron-pdt"
      *ngIf="allowApron">
    <div [ngClass]="liveVideoClass | async">
        <switch-playback-button></switch-playback-button>
    </div>
</div>
