@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/placeholders";

.apron-pdt {
    // Xlarge and large
    display: flex;
    justify-content: flex-end;
    flex-flow: row;
    padding: 16px 0 10px 0;
    align-items: flex-start;

    position: absolute; // position below the header/nav
    top: 455px; // position our right edge in the middle of the screen
    right: 50%;
    width: $video-width-xl;
    @include sxm-font(GothamNarrSsm-Medium);
    margin-right: 24px;

    // large
    @media (max-width: $l_max_width) {
        width: $video-width-lg;
        top: 385px;
    }

    // medium
    @media (max-width: $large_max_width) {
        width: $video-width-md;
        top: 340px;
    }

    //small
    @media (max-width: $m_max_width - 1) {
        align-items: center;
        width: 702px;
        left: 50%;
        top: 420px;
        margin-left: -347px;
        justify-content: center;
    }

    & > button {
        padding-bottom: 1.2em;
    }

    .pdt-container {
        height: auto;

        .series-name-btn {
            padding-top: 10px;
            padding-left: 0;
            font-size: 14px;
            letter-spacing: -0.2px;
            background: transparent;
            color: $sxm_blue_1;
            border-bottom: 2px solid transparent;

            &:focus {
                .series-name-btn__text {
                    @extend %focus-blue-border-bottom;
                }
            }
        }

        .title-container {
            display: flex;
            flex-direction: row;
            max-width: 800px;
            justify-content: space-between;

            .apron-pdt-episode-title {
                width: 304px;
                font-size: 18px;
                line-height: 1.39;
                letter-spacing: -0.3px;
                color: $white;
                @extend %overflow-ellipsis;
            }
        }
    }

    .live-video-btn-container {
        display: flex;
        // this is to position the button under the video player which is postion:absolute
        // TODO: consider placing this component the singleton-video.component.html
        @media (max-width: $m_max_width - 1) {
            justify-content: flex-end;
        }
    }
}
