@import "../../../scss/placeholders";

:host {
    display: flex;
    align-items: center;

    button {
        height: 26px;
        width: 24px;
        background-color: transparent;
        border-bottom: 2px solid transparent;
        border-radius: 0;
        transition-duration: 0.25s;

        &:focus {
            @extend %focus-blue6-border-bottom2;
        }

        &.white:focus {
            border: none;
        }

        &.white:active {
            border-radius: 50%;
            box-shadow: 0 0 16px 9px white inset;
        }

        &.white:disabled,
        &.blue:disabled {
            cursor: default;
            pointer-events: none;
        }

        .fav-accessibility-text {
            position: absolute;
            left: -10000px;
            overflow: hidden;
        }
    }
}

/* edp page favorite button */
:host-context(.edp-fav-btn) {
    button {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        background-color: $light-grey_10 !important;
        color: white;
        display: flex;
        margin-right: 16px;
        justify-content: center;
        img {
            width: 22px;
            height: 21px;
        }
    }
}

/* np page favorite button */
:host-context(.np-fav-btn) {
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,.1);
    border-radius: 50%;

    button {
        margin: 8px;
    }
}
