@import "../../../../scss/variables";
@import "../../../../scss/placeholders";
@import "../../../../scss/mixins";

.tile-wrapper {
    position: relative;
    height: 100%;
    cursor: pointer;

    &.square {
        //min-width: 140px @ 400px,max-width: 224px @ 1920px
        @include progressive-calc(width, 140, 224, 400, 1920, 100vw);
        padding-top: 100%;
    }

    &.rectangle {
        //min-width: 248px @ 400px, max-width: 398px @ 1920px
        @include progressive-calc(width, 248, 398, 400, 1920, 100vw);

        //min-height: 140px @ 400px, max-height: 224px @ 1920px
        @include progressive-calc(height, 140, 224, 400, 1920, 100vw);
        padding-top: 56.25%;
    }


    /* Category Tile Styles (Search Landing Page and Collection Carousel) */
    //We only need to overwrite the styles for rectangle category-tiles for now
    &.category-tile {
        &.rectangle {
            width: 222px;
            height: 104px;
            padding-top: 56.25%;
        }
    }

    /* Grid Tile Styles (Favorites, Recents) */
    &.grid {
        //min-width: 140px @ 400px,max-width: 224px @ 1920px
        @include progressive-calc(width, 140, 224, 400, 1920, 100vw);

        //min-height: 140px @ 400px,max-width: 224px @ 1920px
        @include progressive-calc(height, 140, 224, 400, 1920, 100vw);
        padding: 0;

        @media screen and (max-width: $s_max_width) {
            margin: 0 16px 16px 0;
        }

        .tile-background {
            .tile-text {
                &__first-line__text,
                &__channel-number,
                &__title,
                &__description {
                    font-size: 13px;
                }
                &__pre-wrap {
                    white-space: pre-wrap;
                }
            }
        }
    }

    &.video-playback {
        width: 168px;
        height: 168px;
        padding: 0;
        margin: 0;

        .tile-background {
            .tile-text {
                &__first-line__text,
                &__channel-number,
                &__title,
                &__description {
                    font-size: 13px;
                }
                &__pre-wrap {
                    white-space: pre-wrap;
                }
            }
        }
    }

    .tile-background {
        display: flex;
        background-size: cover;
        background-position: bottom;
        background-color: $grey-blue; /* fallback */
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &:hover,
        &:active {
            border-radius: 4px;
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2),
            0 3px 14px 3px rgba(0, 0, 0, 0.12),
            0 8px 10px 1px rgba(0, 0, 0, 0.14);
            transition: all $hover-transition-time linear;
        }

        &:active {
            opacity: 0.8;
        }

        &.vod-container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .play-image {
                height: 25%;
                width: 25%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }

            .tile-text {
                &__first-line__text {
                    font-size: 12px;
                }

                &__title {
                    font-size: 14px;
                }
            }
        }

        &.updating {
            visibility: hidden;
        }

        .tile-banner {
            position: absolute;
            top: 4px;
            left: 4px;
            border-radius: 2px;

            &__text {
                @include sxm-font(GothamNarrSSm-Book);
                font-size: 12px;
                color: $white;
                padding: 0 4px;
            }

            &--fullwidth {
                left: 0;
                top: 0;
                right: 0;
                width: 80%;
                height: 26px;
            }
            &--center {
                margin: auto;
                display: flex;
                justify-content: center;
                .tile-banner__text {
                    margin: auto 5px;
                    font-size: 16px;
                }
            }

            &__dot {
                margin: 4px;
                height: 10px;
                width: 10px;
                background-color: $sxm_red_1;
                border-radius: 50%;
                align-self: center;
            }
        }

        .tile-text {
            position: absolute;
            bottom: 8%;
            right: 4%;
            left: 4%;
            color: $white;

            img.tile-icon {
                width: 16px;
                height: 16px;
                margin-right: 6px;
                align-self: center;

                &--aic {
                    width: 12px;
                    height: 11px;
                }
            }

            &__first-line__text,
            &__channel-number,
            &__description {
                @include sxm-font(GothamNarrSSm-Book);
                white-space: nowrap;
                @extend %overflow-ellipsis;
                font-size: 12px;
            }

            &__title {
                @include sxm-font(GothamNarrSSm-Medium);
                white-space: nowrap;
                @extend %overflow-ellipsis;
                font-size: 14px;
            }

            &__first-line {
                display: flex;
                align-items: flex-end;

                .now-playing-indicator {
                    margin-left: -5px;
                }

                &__text {
                    display: flex;
                    align-self: flex-end;
                }
            }

            &__channel-number {
                display: flex;
                align-items: center;
            }

            &__title {
                @include sxm-font(GothamNarrSSm-Medium);
            }

            &.category {
                text-align: center;
            }
        }

        /* Promo Tile Styles */
        &.promo {
            .tile-banner,
            .channel-image,
            .tile-text,
            .episode-progress-bar {
                display: none;
            }
        }

        @media (min-width: $xl_max_width) {
            .tile-banner {
                &__text {
                    font-size: 16px;
                }
            }

            .tile-text {
                &__first-line__text,
                &__channel-number,
                &__description {
                    font-size: 14px;
                }

                &__title {
                    font-size: 16px;
                }
            }
        }
    }
}

.view-all-tile {
    position: relative;
    height: 100%;
    padding-top: 100%;
    background-image: linear-gradient(#006ed7, #0000eb);
    border-radius: 4px;

    /* Square Tile Size styles */
    &.square {
        //min-width: 140px @ 400px,max-width: 224px @ 1920px
        @include progressive-calc(width, 140, 224, 400, 1920, 100vw);
        padding-top: 100%;
    }

    /* 16x9 (Rectangle) Tile Size styles */
    &.rectangle {
        //min-width: 248px @ 400px, max-width: 398px @ 1920px
        @include progressive-calc(width, 248, 398, 400, 1920, 100vw);

        //min-height: 140px @ 400px, max-height: 224px @ 1920px
        @include progressive-calc(height, 140, 224, 400, 1920, 100vw);
        padding-top: 56.25%;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 40px;
            height: 40px;
            margin-bottom: .5em;
        }

        p {
            @include sxm-font(GothamNarrSsm-Book);
            font-size: 14px;
            color: $white;
        }
    }
}


//Styles for view-all tiles on hero tiles.
:host-context(.hero-tile)
{
    .view-all-tile {
        width: inherit;
        height: 100%;

        /* Square Tile Size styles */
        &.square {
            padding-top: 100%;
        }

        /* 16x9 (Rectangle) Tile Size styles */
        &.rectangle {
            padding-top: 56.25%;
        }
    }
}


//Styles for auto-play up-next tiles
//Styles for auto-play related-episode tiles
:host-context(.up-next__tile),
:host-context(.related-episodes-carousel__list__tile)
{
   .tile-wrapper {
       /* Square Tile Size styles */
       &.square {
          width: 100%;
       }
   }
    .tile-background {

        .tile-banner {
            &__text {
                @include progressive-calc(font-size, 11, 12, 500, 1920, 100vw);
            }
        }

        .tile-text {
            &__first-line__text,
            &__description {
                @include progressive-calc(font-size, 11, 12, 500, 1920, 100vw);
            }

            &__title {
                @include progressive-calc(font-size, 13, 14, 500, 1920, 100vw);

            }
        }
    }
}

