@import "../../scss/variables";
@import "../../scss/placeholders";
@import "../../scss/mixins";

.profile-dropdown {
    min-width: 270px;
    position: absolute;
    top: 61px;
    right: 3%;
    background-color: white;
    border-radius: 2px;
    color: $grey-blue;
    outline: 1px $pale-grey solid;
    z-index: 12;

    &.not-displayed {
        display: none;
    }

    &.displayed {
        display: block;
    }

    &__profile {
        height: 72px;
        background-color: $pale-grey_5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;

        .avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: $light-grey_2;
            border-radius: 50%;
        }

        .avatar img {
            height: 17.8px;
            width: 17.8px;
        }

        .listener {
            display: inline-block;
            width: 57%;
        }

        .pen {
            background: url(../../assets/images/edit.svg) no-repeat;
            width: 24px;
            height: 24px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 367px;
        padding: 23px 24px 23px 24px;

        &__item {
            a, button {
                border-bottom: 2px solid transparent;

                &:focus,
                &:hover {
                    @extend %focus-blue-border-bottom;
                }
            }
        }
    }

    .manage-settings {
        height: 32px;
        width: 100%;
        text-align: center;
        margin: 0;
        border-radius: 28px;
        background-color: $sxm_blue_6;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            @include sxm-font(Gotham-Bold);
            border: none;
            line-height: 32px;
            letter-spacing: normal;
            color: $white;
            font-size: 10px;
        }

        &:hover {
            background-color: $sxm_blue_11;
        }

        &:active, &:focus {
            background-color: $sxm_blue_11;
        }
    }

    a, button {
        color: $grey-blue2;
        text-decoration: none;
        @include sxm-font(Gotham-Book);
        letter-spacing: -1px;
    }

    a.cursor-off {
        &:hover {
            text-decoration: none;
        }
    }

    .login {
        display: flex;
        justify-content: center;

        button {
            color: $sxm_blue_6;
            @include sxm-font(Gotham-Medium);
        }
    }
}
