<div class="profile-dropdown"
     [ngClass]="{ 'not-displayed': !displayProfileDropdown,
                  'displayed': displayProfileDropdown }">
     <!-- Below was commented out because the profile name/avatar image has been delayed until AFTER launch -->
    <!-- <div class="profile-dropdown__profile">
        <div class="avatar">
            <img src="../../assets/images/profile-off.svg"
                 alt="{{ 'profile.settings.profileImage' | translate }}" />
        </div>
        <span class="listener">
            Listener
        </span>
        <div class="pen">
        </div>
    </div> -->
    <ul class="profile-dropdown__list"
        *ngIf="!isLoading"
        #dropdownMenu
        role="menu">
        <li class="profile-dropdown__list__item"
            role="presentation">
            <a [routerLink]="gupByPass ? null : 'reminder-settings'" queryParamsHandling="preserve"
               [ngClass]="{'cursor-off' : gupByPass}"
               role="menuitem">
                {{ 'profile.settings.reminders' | translate }}
            </a>
        </li>
        <li class="profile-dropdown__list__item"
            role="presentation">
            <a [routerLink]="gupByPass ? null : 'messaging-settings'" queryParamsHandling="preserve"
               [ngClass]="{'cursor-off' : gupByPass}"
               role="menuitem">
                {{ 'profile.settings.messaging' | translate }}
            </a>
        </li>
        <li class="profile-dropdown__list__item"
            role="presentation">
            <a [routerLink]="gupByPass ? null : 'application-settings'" queryParamsHandling="preserve"
               [ngClass]="{'cursor-off' : gupByPass}"
               role="menuitem">
                {{ 'profile.settings.application' | translate }}
            </a>
        </li>
        <li class="profile-dropdown__list__item"
            role="presentation"
            *ngIf="((appConfig.deviceInfo.clientCapabilities.indexOf('seededRadio') > -1)
                    && appConfig.clientConfiguration.seededRadioSubscribed === true)">
            <a [routerLink]="gupByPass ? null : 'manage-pandora-stations'" queryParamsHandling="preserve"
               [ngClass]="{'cursor-off' : gupByPass}"
               role="menuitem">
                {{ 'profile.settings.seededStations' | translate }}
            </a>
        </li>
        <li class="profile-dropdown__list__item"
            role="presentation">
            <a [href]="profileConfigs?.FAQURL?.value" target="_blank" rel="noopener noreferrer"
               role="menuitem"
               aria-describedby="new-window">
                {{ 'profile.settings.helpAndSupport' | translate }}
            </a>
        </li>
        <li class="profile-dropdown__list__item"
            role="presentation">
            <a [href]="profileConfigs?.FeedbackUrl?.value" (click)="sendLogs(null,$event)" target="_blank" rel="noopener noreferrer"
               role="menuitem"
               aria-describedby="new-window">
                {{ 'profile.settings.feedback' | translate }}
            </a>
        </li>
        <li class="profile-dropdown__list__item"
            role="presentation">
            <a [href]="profileConfigs?.CustomerAgreement?.value" target="_blank" rel="noopener noreferrer"
               role="menuitem"
               aria-describedby="new-window">
                {{ 'profile.settings.customerAgreement' | translate }}
            </a>
        </li>
        <li class="profile-dropdown__list__item"
            role="presentation">
            <a [href]="profileConfigs?.PrivacyPolicy?.value" target="_blank" rel="noopener noreferrer"
               role="menuitem"
               aria-describedby="new-window">
                {{ 'profile.settings.privacyPolicy' | translate }}
            </a>
        </li>
        <li class="profile-dropdown__list__item"
            role="presentation"
            *ngIf="dataPrivacyUrl">
            <a [href]="dataPrivacyUrl" target="_blank" rel="noopener noreferrer"
               role="menuitem"
               aria-describedby="new-window">
                {{ 'profile.settings.doNotSellMyInfo' | translate }}
            </a>
        </li>
        <li class="profile-dropdown__list__item manage-settings"
            role="presentation">
            <a [href]="profileConfigs?.OAC?.value"
               *ngIf="!isLoading"
               target="_blank" rel="noopener noreferrer"
               role="menuitem"
               aria-describedby="new-window">
                {{ 'profile.settings.account' | translate | uppercase }}
            </a>
        </li>
        <li class="profile-dropdown__list__item login"
            role="presentation">
            <button *ngIf="!session.activeOpenAccessSession; else loginButton"
                    class="btn-item"
                    (click)="displayLogoutModal()"
                    role="menuitem">
                {{ 'profile.settings.logout' | translate }}
            </button>

            <ng-template #loginButton>
                <button class="btn-item"
                        role="menuitem"
                        (click)="openLoginOverlay()">
                    {{ 'profile.settings.login' | translate }}
                </button>
            </ng-template>
        </li>
    </ul>
</div>
