<div class="favorites-btn"></div>
<button class="center-column"
        (click)="neriticLinkService.takePrimaryTileAction(tileData)"
        attr.aria-label="{{ tileData.line1$ | async }}
                         {{ tileData.line2$ | async }}
                         {{ tileData.line3$ | async }}">
    <div class="image-container {{tileData.tileContentSubType}}"
         [lazyLoad]="lazyLoadUrl"
         [ngStyle]="backgroundStyle">
        <div *ngIf="tileData.fgImageUrl; then image else text"></div>
        <ng-template #image>
            <img [src]="tileData.fgImageUrl"
                 alt=""
                 class="{{tileData.tileContentSubType}}"
                 role="presentation"/>
        </ng-template>

        <ng-template #text>
            <span class="img-alt-text">{{ tileData.imageAltText }}</span>
        </ng-template>
    </div>

    <div class="info-container">
        <div>
            <p class="info-container__line1"
               [ngClass]="line1Classes">{{ tileData.line1$ | async }}</p>
            <p class="info-container__line2"
               [ngClass]="line2Classes">{{ tileData.line2$ | async }}</p>
        </div>
    </div>
</button>
