@import "../list-items";

.left-spacer-div {
    width:24px;
    margin: 0 3% 0 1%;
    @media (max-width: $xs_max_width) {
        display: none;
    }
}

.center-column {
    .image-container {
        img {
            width: 32px;
            height: 32px;
            background-color: transparent;
        }
    }
}
