<div class="left-spacer-div"></div>
<button class="center-column"
        (click)="carouselService.onClickNeriticLinkAction(tileData)"
        attr.aria-label="{{ tileData.line1 }}
                         {{ tileData.line2 }}">
    <div class="image-container"
         [lazyLoad]="lazyLoadUrl"
         [ngStyle]="backgroundStyle">
        <img *ngIf="!lazyLoadUrl" src={{tileData.iconImageUrl}}
             alt=""
             role="presentation"/>
    </div>

    <div class="info-container">
        <p class="info-container__title"><span>{{ tileData.line1 }}</span></p>
        <p class="info-container__description">{{ tileData.line2 }}</p>
    </div>
</button>
