<section id="show-reminders"
         class="show-reminders-container"
         role="presentation"
         [style.padding-top.px]="this.paddingTopPx$ | async"
         *ngIf="displayReminders">

    <ul class="show-reminder-list"
        role="list">
        <li class="show-reminder-list__item"
            role="listitem"
            *ngFor="let showReminder of showReminders; let i = index;"
            sxm-new-analytics
            [tagName]="AnalyticsTagNameConstants.MSG_TOAST"
            [userPath]="AnalyticsUserPaths.MSG_TOAST + '_' + showReminder.messageType"
            [userPathScreenPosition]="getAnaUserPathScreenPosn(showReminder.messageType)"
            [buttonName]="AnalyticsTagNameConstants.MSG_TOAST_BUTTON_NAME"
            [elementType]="AnalyticsElementTypes.TOAST"
            [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
            [inputType]="AnalyticsInputTypes.MOUSE"
            [messageType]="showReminder.messageType"
            [toast]="showReminder.outOfAppText ? AnalyticsToastNameTags.AUDIO_TOAST_NAME : AnalyticsToastNameTags.VIDEO_TOAST_NAME"
            [skipContentSource]="true"
            [skipOrientation]="true"
            [skipCurrentPosition]="true">

            <div class="alertContent"
                 *ngIf="showReminder">

                <div *ngIf="showReminder.outOfAppText; then apiReminder else manualReminder"></div>
                <ng-template #apiReminder>
                    <p class="message" role="alert" aria-live="assertive">{{ showReminder.outOfAppText }}</p>
                    <button class="listen-now-btn"
                            [title]="showReminder.buttons.primaryButton.label"
                            attr.aria-label="{{ showReminder.buttons.primaryButton.label }}"
                            (click)="reminderAction(showReminder)"
                            sxm-new-analytics
                            [tagName]="AnalyticsTagNameConstants.MSG_TOAST_CLICK"
                            [userPath]="AnalyticsUserPaths.MSG_TOAST_CLICK + '_' + showReminder.messageType"
                            [userPathScreenPosition]="getAnaUserPathScreenPosn(showReminder.messageType)"
                            [elementPosition]="1"
                            [buttonName]="AnalyticsTagNameConstants.MSG_TOAST_CLICK_BUTTON_NAME"
                            [elementType]="AnalyticsElementTypes.TOAST"
                            [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                            [inputType]="AnalyticsInputTypes.MOUSE"
                            [tagText]="showReminder.buttons.primaryButton.label"
                            [findingMethod]="AnalyticsFindingMethods.TOAST"
                            [messageType]="showReminder.messageType"
                            [toast]="AnalyticsToastNameTags.AUDIO_TOAST_NAME"
                            [skipContentSource]="true"
                            [skipOrientation]="true"
                            [skipCurrentPosition]="true">
                        <span class="listen-now-btn__text">{{ showReminder.buttons.primaryButton.label | uppercase }}</span>
                    </button>
                </ng-template>
                <ng-template #manualReminder>
                    <p class="message" role="alert" aria-live="assertive">{{ showReminder.titleText }} {{ 'showReminders.isLiveOnVideo' | translate }}</p>
                    <button class="watch-now-btn"
                            title="{{showReminders.watchNow | translate}}"
                            attr.aria-label="{{ showReminders.watchNow | translate }}"
                            (click)="reminderAction(showReminder)"
                            sxm-new-analytics
                            [tagName]="AnalyticsTagNameConstants.MSG_TOAST_CLICK"
                            [userPath]="AnalyticsUserPaths.MSG_TOAST_CLICK + '_' + showReminder.messageType"
                            [userPathScreenPosition]="getAnaUserPathScreenPosn(showReminder.messageType)"
                            [elementPosition]="1"
                            [buttonName]="AnalyticsTagNameConstants.MSG_TOAST_CLICK_BUTTON_NAME"
                            [elementType]="AnalyticsElementTypes.TOAST"
                            [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                            [inputType]="AnalyticsInputTypes.MOUSE"
                            [tagText]="showReminder.buttons.primaryButton.label"
                            [findingMethod]="AnalyticsFindingMethods.TOAST"
                            [messageType]="showReminder.messageType"
                            [toast]="AnalyticsToastNameTags.VIDEO_TOAST_NAME"
                            [skipContentSource]="true"
                            [skipOrientation]="true"
                            [skipCurrentPosition]="true">
                        <span class="listen-now-btn__text">{{ 'showReminders.watchNow' | translate | uppercase }}</span>
                    </button>
                </ng-template>
            </div>
        </li>
    </ul>

    <button class="dismiss-btn"
            [title]="'showReminders.accessibility.dismiss' | translate"
            attr.aria-label="{{ 'showReminders.accessibility.dismiss' | translate }}"
            *ngIf="showReminders.length > 1"
            (click)="dismiss()">
        <span class="dismiss-btn__text">{{ 'showReminders.dismiss' | translate }}</span>
    </button>
</section>
