@import "../../scss/variables";
@import "../../scss/placeholders";

.show-reminders-container {
    display: flex;
    flex-flow: column;
    width: 380px;
    position: absolute;
    right: 32px;
    top: 0;
    z-index: 1;
    margin-bottom: 110px;

    .show-reminder-list {
        &__item {
            width: 350px;
            background: $sxm_blue_7;
            display: flex;
            justify-content: space-between;
            padding: 12px 10px 12px 16px;
            margin-bottom: 10px;

            > .alertContent {
                display: flex;
            }
            .message {
                color: $white;
                font-size: 14px;
                font-family: Gotham-Medium;
                max-width: 196px;
                align-self: center;
                line-height: 1.29;
            }
            .listen-now-btn,
            .watch-now-btn {
                width: 126px;
                height: 40px;
                border-radius: 28px;
                font-size: 10px;
                letter-spacing: 0.9px;
                align-self: center;
                font-family: Gotham-Bold;
                @extend %primary-button-white;
            }
        }
    }

    .dismiss-btn {
        margin-top: 6px;
        width: 190px;
        height: 32px;
        border-radius: 4px;
        font-size: 14px;
        color: $title-black;
        background: $light-grey_3;
        align-self: center;

        &__text {
            border-bottom: 2px solid transparent;
        }

        &:focus {
            .dismiss-btn__text {
                @extend %focus-black-border-bottom;
            }
        }
    }
}
