<section *ngIf="isCarouselAvailable()">
    <div *ngFor="let carousel of getContentCarousels(); trackBy : trackCarousel; let i = index; last as isLastCarousel">

        <div *ngIf="isCarouselVertical(carousel.carouselOrientation); then verticalCarousel else horizantalCarousel"></div>

        <ng-template #verticalCarousel>
            <div [ngClass]="{'last-item': isLastCarousel}" class="vertical-carousel">
                <vertical-list [carouselData]="carousel"></vertical-list>
            </div>
        </ng-template>

        <ng-template #horizantalCarousel>
            <section class="content-carousel"
                     [ngClass]="{'last-item': isLastCarousel}"
                     attr.aria-label="{{ carousel.title.textValue }}
                                      {{ 'carousels.accessibility.carousel' | translate  }}
                                      {{ carousel.tiles.length }}
                                      {{ 'carousels.accessibility.tiles' | translate }}">
                <header class="header"
                        *ngIf="carousel.tiles.length > 0"
                        progressCursor>

                    <h3 class="header__text"
                        attr.aria-label="{{ carousel.title.textValue }} {{ 'carousels.accessibility.carousel' | translate }}">
                        {{ carousel.title.textValue }}
                    </h3>

                    <button class="header__view-all-text"
                            sxm-new-analytics
                            [tagName]="AnalyticsTagNameConstants.VIEW_ALL"
                            [userPath]="AnalyticsUserPaths.VIEW_ALL + '_' + carousel.title.textValue"
                            [userPathScreenPosition]="3"
                            [pageFrame]="AnalyticsPageFrames.PAGE"
                            [zoneTitle]="zoneTitle ? zoneTitle : AnalyticsZoneNames.UNKNOWN"
                            [zoneOrder]="zoneOrder"
                            [carouselName]="carousel.title.textValue"
                            [carouselPosition]="i"
                            [elementType]="AnalyticsElementTypes.BUTTON"
                            [buttonName]="AnalyticsTagNameConstants.VIEW_ALL_BUTTON_NAME"
                            [tagText]="AnalyticsTagTextConstants.VIEW_ALL"
                            [elementPosition]="0"
                            [skipActionSource]="true"
                            [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                            [inputType]=AnalyticsInputTypes.MOUSE
                            [skipNpData]="true"
                            [skipCurrentPosition]="true"
                            [pageName]="pageName"
                            (click)="viewAllCarouselAction(carousel)"
                            *ngIf="carousel.carouselViewAll.showViewAll"
                            progressCursor
                            attr.aria-label="{{ 'carousels.content.viewAll' | translate }}
                                             {{ carousel.title.textValue }}
                                             {{ 'carousels.accessibility.tiles' | translate }}">
                         {{ 'carousels.content.viewAll' | translate }}
                    </button>
                </header>

                <div class="content-carousel__wrapper">
                    <ul id="content-carousel-{{i}}-{{this.zoneId}}"
                        class="content-tile-list"
                        role="presentation">

                        <li *ngFor="let tile of carousel.tiles; trackBy: trackTile, let index = index"
                            (click)="onCarouselTileClick(tile)"
                            (keyup.enter)="carouselService.onKeyNeriticLinkAction(tile)"
                            sxm-new-analytics
                            [isTile]="true"
                            [bannerInd]="tile.tileBanner ? (tile.tileBanner.bannerText | uppercase) : null"
                            [consumedPerc]="tile.percentConsumed"
                            [tileType]="tile.tileContentType | lowercase"
                            [tileContentType]="tile.primaryNeriticLink && tile.primaryNeriticLink.contentType | lowercase"
                            [tileContentSubType]="tile.tileContentSubType"
                            [zoneTitle]="zoneTitle"
                            [zoneOrder]="zoneOrder"
                            [carouselName]="carousel.title.textValue"
                            [elementPosition]="index"
                            [carouselPosition]="i"
                            [searchTerm] = "searchText"
                            [pageName]="pageName">
                            <channel-content-tile *ngIf="carouselService.isChannelTile(tile)"
                                                  [tileData]="tile"
                                                  [lazyLoadEvent$]="onSlickInit$"></channel-content-tile>

                            <episode-content-tile *ngIf="carouselService.isEpisodeTile(tile)"
                                                  [tileData]="tile"
                                                  [lazyLoadEvent$]="onSlickInit$"></episode-content-tile>

                            <show-content-tile *ngIf="carouselService.isShowTile(tile)"
                                               [tileData]="tile"
                                               [lazyLoadEvent$]="onSlickInit$"></show-content-tile>

                            <category-content-tile *ngIf="carouselService.isCategoryTile(tile)"
                                                   [tileData]="tile"
                                                   [lazyLoadEvent$]="onSlickInit$"></category-content-tile>

                            <collection-content-tile *ngIf="carouselService.isCollectionTile(tile)"
                                                     [tileData]="tile"
                                                     [lazyLoadEvent$]="onSlickInit$"></collection-content-tile>

                            <view-all-tile *ngIf="carouselService.isViewAllTile(tile)"
                                           [tileData]="tile"
                                           [carouselData]="carousel"></view-all-tile>

                            <context-menu [ngClass]="'positioned-absolutely animated'"
                                          [getOptionsFunc]="getCMOptionsFunc(tile)"
                                          [ariaText]="tile.ariaText"></context-menu>
                        </li>
                    </ul>

                    <div class="carousel-arrows">
                        <button id="content-carousel-{{i}}-{{this.zoneId}}-prev"
                                class="carousel-arrows__prev"
                                [title]="'navigation.accessibility.previousIcon' | translate"
                                sxm-new-analytics
                                [tagName]="AnalyticsTagNameConstants.CAROUSEL_NAV_BACK_FWD"
                                [userPath]="AnalyticsUserPaths.CAROUSEL_NAV_BACK_FWD + '_' + carousel.title.textValue + '_' + AnalyticsTagTextConstants.CAROUSEL_NAV_BACK"
                                [userPathScreenPosition]="2"
                                [pageFrame]="AnalyticsPageFrames.PAGE"
                                [carouselName]="carousel.title.textValue"
                                [buttonName]="AnalyticsTagNameConstants.CAROUSEL_NAV_BF_BUTTON_NAME"
                                [tagText]="AnalyticsTagTextConstants.CAROUSEL_NAV_BACK"
                                [elementPosition]="0"
                                [skipActionSource]="true"
                                [elementType]="AnalyticsElementTypes.BUTTON"
                                [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                                [inputType]="AnalyticsInputTypes.MOUSE"
                                [skipCurrentPosition]="true">
                                <img src="../../../assets/images/carousel-arrow-prev.svg"
                                    [alt]="'navigation.accessibility.previousIcon' | translate"/>
                        </button>

                        <button id="content-carousel-{{i}}-{{this.zoneId}}-next"
                                class="carousel-arrows__next"
                                [title]="'navigation.accessibility.nextIcon' | translate"
                                sxm-new-analytics
                                [tagName]="AnalyticsTagNameConstants.CAROUSEL_NAV_BACK_FWD"
                                [userPath]="AnalyticsUserPaths.CAROUSEL_NAV_BACK_FWD + '_' + carousel.title.textValue + '_' + AnalyticsTagTextConstants.CAROUSEL_NAV_FWD"
                                [userPathScreenPosition]="2"
                                [pageFrame]="AnalyticsPageFrames.PAGE"
                                [carouselName]="carousel.title.textValue"
                                [buttonName]="AnalyticsTagNameConstants.CAROUSEL_NAV_BF_BUTTON_NAME"
                                [tagText]="AnalyticsTagTextConstants.CAROUSEL_NAV_FWD"
                                [elementPosition]="0"
                                [skipActionSource]="true"
                                [elementType]="AnalyticsElementTypes.BUTTON"
                                [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                                [inputType]="AnalyticsInputTypes.MOUSE"
                                [skipCurrentPosition]="true">
                            <img src="../../../assets/images/carousel-arrow-next.svg"
                                 [alt]="'navigation.accessibility.nextIcon' | translate"/>
                        </button>
                    </div>
                </div>

            </section>
        </ng-template>
    </div>
</section>
