@import "../../../scss/variables";
@import "../../../scss/placeholders";
@import "../../../scss/mixins";
@import "../../../scss/components/carousel";
@import "../../common/component/tiles/content-tile";

.content-carousel {
    display: flex;
    @include sxm-font(GothamNarrSSm-Medium);
    flex-flow: column nowrap;
    justify-content: center;
    @include content-wrapper(32px);

    .header {
        display: flex;
        font-size: 16px;
        align-self: center;
        align-items: center;
        width: 100%;
        height: 18px;
        margin-bottom: 16px;
        flex-flow: row nowrap;
        justify-content: space-between;
        letter-spacing: -0.1px;

        &__text {
            color: $title-black;
            white-space: nowrap;
            font-size: 18px;
            height:18px;
            @include sxm-font(Gotham-Bold);
        }

        &__view-all-text {
            @include sxm-font(Gotham-Medium);
            font-size: 12px;
            font-weight: 500;
            color: $sxm_blue_7;
            padding: 0;
            border-bottom: 2px solid transparent;
            height: 18px;

            &:focus {
                @extend %focus-blue-border-bottom;
            }
        }
    }

    .slick-slide {
        outline: none;
    }

    .content-carousel__wrapper {
        position: relative;

        .content-tile-list {
            display: inline-block;
            width: 100%;
            overflow: hidden;

            li {
                position: relative;  // for context-menu
                margin-right: 24px;
                border: 1px solid transparent;

                @media screen and (max-width: $s_max_width) {
                    margin-right: 16px;
                }

                &:focus {
                    @extend %focus-tile-border;
                }
            }
        }

        .carousel-arrows {
            &__prev,
            &__next {
                top: 0;
                bottom: 0;
                //min-height: 140px @ 400px , max-height: 224 @ 1920px --- match with square/rectangle tile height
                @include progressive-calc(height, 140, 224, 400, 1920, 100vw);
            }

            &__next {
                right: calc(-#{$arrow-width / 2});
            }
        }
    }
}

.last-item {
    margin-bottom: 60px;
}

.vertical-carousel {
    margin-top: 60px;
}

//remove-bottom-padding on now playing page
:host-context(.remove-margin-bottom) {
    .content-carousel {
        &:last-child {
            margin-bottom: 0;
        }
    }
}
