<div class="manage-show-reminders">
    <sxm-no-results [results]="showRemindersCarousel.tiles"
                    [pageName]="noResultsPageName"></sxm-no-results>

    <div *ngIf="showRemindersCarousel.tiles.length > 0 ">
        <div class="manage-show-reminders__header">
            <h2 class="manage-show-reminders__text">{{ 'manageShowReminders.manageShowReminders' | translate }}</h2>
            <button class="remove-all-btn"
                    (click)="openRemoveAllRemindersModal()">
                <span class="remove-all-btn__text">{{ 'manageShowReminders.removeAll' | translate }}</span>
            </button>
        </div>

        <ul class="show-reminders-list">
            <li class="show-reminders-list__item"
                *ngFor="let tile of showRemindersCarousel.tiles; let index = index">
                <show-list-item [tileData]="tile"
                                [index]="index"></show-list-item>
            </li>
        </ul>
    </div>
</div>
