
<div class="settings reminder-detail" *ngIf="tile">
    <h2 class="settings__header">
        {{ 'profile.reminderSettings.details.header' | translate }}
    </h2>

    <ul class="show-reminders-list" >
        <li class="show-reminders-list__item">
            <show-list-item [tileData]="tile"
                            [index]="0"
                            [showContextMenu]="false"></show-list-item>
        </li>
    </ul>
    <div class="reminder-detail-settings">
        <span class="reminder-detail-settings__header">{{'profile.reminderSettings.details.notifySectionHeader' | translate}}</span>

        <ul class="checkbox-settings-list">
            <li class="checkbox-settings-list__item">
                <button class="switch"
                        [ngClass]="{ 'checked': tile.reminders.showReminderSet }"
                        [attr.aria-checked]="tile.reminders.showReminderSet"
                        attr.aria-label="{{ 'profile.reminderSettings.details.showStartToggle' | translate }}"
                        role="checkbox"
                        (click)="updateReminder(AlertType.SHOW)">
    
                    <span class="slider"></span>
                </button>
    
                <div class="checkbox-settings-item__text">
                    <span class="checkbox-settings-item__text__description">{{ 'profile.reminderSettings.details.showStartToggle' | translate }}</span>
                </div>
            </li>
            <li class="checkbox-settings-list__item">
                <button class="switch"
                        [ngClass]="{ 'checked': tile.reminders.liveVideoReminderSet }"
                        [attr.aria-checked]="tile.reminders.liveVideoReminderSet"
                        attr.aria-label="{{ 'profile.reminderSettings.details.liveVideoStartToggle' | translate }}"
                        role="checkbox"
                        (click)="updateReminder(AlertType.LIVE_VIDEO_START)">
    
                    <span class="slider"></span>
                </button>
    
                <div class="checkbox-settings-item__text">
                    <span class="checkbox-settings-item__text__description">{{ 'profile.reminderSettings.details.liveVideoStartToggle' | translate }}</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="reminder-detail__delete">
        <button type=button
            (click)="removeAllRemindersForShow()">
            {{ 'profile.reminderSettings.details.deleteReminder' | translate}}
        </button>
    </div>
</div>
