@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/pages/settings";

.reminder-detail {

    .settings__header {
        color: $slate;
    }
    .show-reminders-list {
        border-bottom: 1px solid $light-grey_3;
        margin-bottom: 17px;
        padding-bottom: 17px;
    }
    .reminder-detail-settings{
        &__header {
            color: $slate;
        }
    }       
     &__delete {
        margin-top: 50px;
        text-align: center;

        button {
            font-size: 14px;
            color: $sxm_red;
        }
    }
}

.checkbox-settings-list__item {
    align-items: center;
    height: 71px;
    padding-left: 25px;

    @media (max-width: $xs_max_width) {
        height: 110px;
    }
}