@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/pages/settings";

.application-settings {
    &__header,
    .section-header {
        display: flex;
        align-items: center;
        height: 49px;
        @include sxm-font(Gotham-Book);
        font-size: 16px;
        color: $slate;
    }

    .section-header {
        height: 40px;
        @include sxm-font(Gotham-Medium);
        background-color: $pale-grey_2;
    }

    &__footer {
        font-size: 14px;
        line-height: 1.43;
        text-align: center;
        padding: 256px 0 101px;
        color: $grey-blue;
        @include sxm-font(Gotham-Book);
    }

    .section {
        padding: 0 11.5%;
    }

    .radio-settings-list__item,
    .checkbox-settings-list__item {
        padding-left: 6%;
    }

    .radio-settings-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 152px;

        &__item {
            display: flex;
            align-items: center;
            @include sxm-font(Gotham-Book);

            .radio {
                width: 25px;
                height: 25px;
                -webkit-appearance: none;
                border-radius: 50%;
                outline: none;
                position: relative;
                border: 1px solid grey;

                &:checked {
                    border: 1px solid $sxm_blue_2;
                    &:before {
                        background-color: $sxm_blue_2;
                    }
                }

                &::-ms-check {
                    border: 1px solid $sxm_blue_2;
                    color: $sxm_blue_2;
                }

                &:focus {
                    @extend %accessibility-outline;
                }

                &:before {
                    content: '';
                    display: block;
                    width: 75%;
                    height: 75%;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                }



            }

            .radio-label {
                font-size: 16px;
                line-height: 1.25;
                letter-spacing: -0.3px;
                color: $grey-blue;
                margin-left: 8%;
                margin-bottom: 0px;
            }
        }
    }
}


