<p *ngIf="isLoading">Loading...</p>

<div class="application-settings"
     *ngIf="!isLoading">

    <h2 class="section application-settings__header">
        {{ 'profile.applicationSettings.header' | translate }}
    </h2>

    <div class="quality-settings">
        <h3 class="section section-header">{{ 'profile.applicationSettings.quality.header' | translate }}</h3>

        <fieldset attr.aria-label="{{ 'profile.applicationSettings.quality.header' | translate }}">
        <div class="radio-settings-list section">
            <div class="radio-settings-list__item"
                 *ngFor="let option of streamingQualityOptions">
                <input (change)="updateQuality(option.value)"
                       attr.id="{{option.label}}"
                       class="radio"
                       type="radio"
                       name="streamingQuality"
                       [attr.checked]="audioQuality === option.value ? true : null">
                <label attr.for="{{option.label}}" class="radio-label">
                    {{ 'profile.applicationSettings.quality.' + option.label | translate }}
                </label>

            </div>
        </div>
        </fieldset>
    </div>

    <div class="other-settings">
        <h3 class="section section-header">{{ 'profile.applicationSettings.otherSettings.header' | translate }}</h3>

        <ul class="checkbox-settings-list section">
            <li class="checkbox-settings-list__item">
                <button class="switch"
                        [ngClass]="{ 'checked': enableTuneStart }"
                        role="checkbox"
                        [attr.aria-checked]="enableTuneStart"
                        attr.aria-label="{{ 'profile.applicationSettings.otherSettings.tuneStart.header' | translate }}
                                         {{ 'profile.applicationSettings.otherSettings.tuneStart.text' | translate }}"
                        (click)="updateTuneStart()">
                    <span class="slider"
                          tabindex="-1"></span>
                </button>

                <div class="checkbox-settings-item__text" aria-hidden="true">
                    <h4 class="checkbox-settings-item__text__header">
                        {{ 'profile.applicationSettings.otherSettings.tuneStart.header' | translate }}
                    </h4>
                    <p class="checkbox-settings-item__text__description">
                        {{ 'profile.applicationSettings.otherSettings.tuneStart.text' | translate }}
                    </p>
                </div>
            </li>

            <li class="checkbox-settings-list__item">
                <button class="switch"
                        [ngClass]="{ 'checked': enableMiniPlay }"
                        role="checkbox"
                        [attr.aria-checked]="enableMiniPlay"
                        attr.aria-label="{{ 'profile.applicationSettings.otherSettings.miniPlay.header' | translate }}
                                         {{ 'profile.applicationSettings.otherSettings.miniPlay.text' | translate }}"
                        (click)="updateMiniPlay()">
                    <span class="slider"></span>
                </button>

                <div class="checkbox-settings-item__text" aria-hidden="true">
                    <h4 class="checkbox-settings-item__text__header">
                        {{ 'profile.applicationSettings.otherSettings.miniPlay.header' | translate }}
                    </h4>
                    <p class="checkbox-settings-item__text__description">
                        {{ 'profile.applicationSettings.otherSettings.miniPlay.text' | translate }}
                    </p>
                </div>
            </li>

            <li class="checkbox-settings-list__item">
                <button class="switch"
                        [ngClass]="{ 'checked': enableAutoplay }"
                        role="checkbox"
                        [attr.aria-checked]="enableAutoplay"
                        attr.aria-label="{{ 'profile.applicationSettings.otherSettings.autoPlay.header' | translate }}
                                         {{ 'profile.applicationSettings.otherSettings.autoPlay.text' | translate }}"
                        (click)="updateAutoplay()">
                    <span class="slider"></span>
                </button>

                <div class="checkbox-settings-item__text" aria-hidden="true">
                    <h4 class="checkbox-settings-item__text__header">
                        {{ 'profile.applicationSettings.otherSettings.autoPlay.header' | translate }}
                    </h4>
                    <p class="checkbox-settings-item__text__description">
                        {{ 'profile.applicationSettings.otherSettings.autoPlay.text' | translate }}
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <footer class="application-settings__footer">
        <p>{{ 'profile.applicationSettings.footer.version' | translate }} {{ appConfig.deviceInfo.sxmAppVersion }}</p>
        <p class="application-settings__build-number"
             (click)="toggleBuildNumber()">
            <span *ngIf="displayTeamCityBuildNumber; else gitHashNumber">
                {{ 'profile.applicationSettings.footer.build' | translate }} {{ appConfig.deviceInfo.sxmTeamCityBuildNumber }}
            </span>

            <ng-template #gitHashNumber>
                {{ 'profile.applicationSettings.footer.git' | translate}} {{ appConfig.deviceInfo.sxmGitHashNumber }}
            </ng-template>
        </p>

        <p>{{ 'profile.applicationSettings.footer.company' | translate }}</p>
    </footer>
</div>
