@import "../../scss/variables";

@mixin tile-breakpoint($extra_large_height: "", $extra_large_width: "",
                       $large_height: "", $large_width: "",
                       $medium_height: "", $medium_width: "",
                       $small_height: "", $small_width: "",
                       $extra_small_height: "", $extra_small_width: "") {

    /**
     * KEEP THIS HERE for handling very large screens (1920px)
     * PLEASE DO NOT REMOVE THIS
     */
    @media screen and (max-width: $xl_max_width) {
        width: $extra_large_width;
        height: $extra_large_height;
    }

    @media screen and (max-width: $l_max_width) {
        width: $large_width;
        height: $large_height;
    }

    @media screen and (max-width: $m_max_width) {
        width: $medium_width;
        height: $medium_height;
    }

    @media screen and (max-width: $s_max_width) {
        width: $small_width;
        height: $small_height;
    }

    @media screen and (max-width: $xs_max_width) {
        width: $extra_small_width;
        height: $extra_small_height;
    }
}

@mixin tile-focus()
{
    -webkit-box-shadow: 5px 0 7px 0  black;
    -moz-box-shadow: 5px 0 7px 0  black;
    box-shadow: 5px 0 7px 0  black;
}
