<div class="overlay-container"
     id="locating-you-overlay">
    <div class="overlay-body">

        <button class="overlay-close"
                (click)="close()"
                [attr.type]= "click"
                [title]="'openAccess.loginOverlay.altText.close' | translate"
                tabindex="0"
                data-focus-trap>
            <img src="../../../../assets/images/close-black.svg"
                 [alt]="'openAccess.loginOverlay.altText.close' | translate">
        </button>

        <div class="overlay-content">
            <h2 class="overlay-header">{{ 'login.locatingYouOverlay.header' | translate }}</h2>
            <p class="overlay-text">{{ 'login.locatingYouOverlay.description' | translate }}</p>
        </div>
    </div>
</div>
