@import "../../../../scss/variables";
@import "../../../../scss/placeholders";
@import "../../../../scss/mixins";
@import "../../../../scss/pages/login";

.overlay-container {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: $OverlayZ;
    overflow-y: scroll;
    -ms-overflow-style: scrollbar;

    .overlay-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        width: 400px;
        min-height: 381px;
        background-color: $white;
        border-radius: 8px;


        .overlay-close {
            cursor: pointer;
            align-self: flex-end;
            margin-right: 8px;

            img {
                width: 40px;
                height: 40px;
            }

            &:focus {
                @extend %accessibility-outline;
            }
        }

        .overlay-content {
            margin: 0 30px;
            display: flex;
            align-items: center;
            flex-direction: column;

            .overlay-header {
                margin-bottom: 28px;
                text-align: center;
                @include sxm-font(Gotham-Medium);
                font-size: 18px;
                line-height: 1.33;
                word-wrap: break-word;
                color: $title-black;
            }

            .overlay-text {
                text-align: center;
                @include sxm-font(Gotham-Book);
                font-size: 16px;
                line-height: 1.33;
                word-wrap: break-word;
                color: $title-black;
            }
        }
    }
}
