<li class="center-buttons-list__item affinity-button"
    *ngIf="showButton$ | async">
    <button class="{{buttonClass$ | async}}"
            sxm-new-analytics
            [tagName]="ArtistRadioAnalyticsTags.NP_ARTS_RDIO_RTNG"
            [tagType]="AnalyticsTagActionConstants.BUTTON_CLICK"
            [tagText]="affinityButtonTitle"
            [pageFrame]="AnalyticsPageFrames.NOW_PLAYING_MAIN"
            [elementType]="AnalyticsElementTypes.BUTTON"
            [screen]="AnalyticsScreens.NOW_PLAYING"
            (click)="toggleAffinity()"
            title="{{affinityButtonTitle}}">
        <span class="btn-focus-container"
             tabindex="-1">
            <img class="{{buttonClass$ | async}}__img"
                 [src]="imageUrl$ | async"
                 alt="{{affinityButtonTitle}}" />
        </span>
    </button>
</li>
