<div *ngIf="displaySegments"
     class="apron-segments-list-wrapper"
     [ngClass]="{'scrollbar-wrapper' : segments.length > 4}" #segmentsListWrapper>

    <ol class="apron-segments-list"
        [attr.aria-label]="'apronSegments.accessibility.list' | translate"
        role="tablist">
        <li class="apron-segments-list__item"
            *ngFor="let segment of orderedSegments()
                    let i = index;
                    trackBy: trackByFn"
            role="presentation">
            <div class="segment-container"
                 [ngClass]="{ 'current-segment-row': currentlyPlayingSegment === segment,
                              'focused-within': i === currentlyFocusedIndex }">

                <img class="now-playing-indicator"
                     [ngClass]="{ 'visibility-hidden': currentlyPlayingSegment !== segment }"
                     [src]="nowPlayingIndicatorService.playingIndicatorSrc$ | async"
                     role="presentation"
                     alt=""/>

                <button class="segment-title"
                        sxm-new-analytics
                        [tagName]="AnalyticsTagNameConstants.NP_AVAIL_SEG"
                        [userPath]="AnalyticsUserPaths.NP_AVAIL_SEG"
                        [userPathScreenPosition]="1"
                        [pageFrame]="AnalyticsPageFrames.NOW_PLAYING_MAIN"
                        [carouselName]="AnalyticsCarouselNames.AVAILABLE_SEGMENTS"
                        [elementType]="AnalyticsElementTypes.BUTTON"
                        [buttonName]="AnalyticsTagNameConstants.NP_AVAIL_SEG_BUTTON_NAME"
                        [elementPosition]="i"
                        [action]=AnalyticsTagActionConstants.BUTTON_CLICK
                        [inputType]=AnalyticsInputTypes.MOUSE
                        [actionSource]="AnalyticsTagActionSourceConstants.NOW_PLAYING_MAIN"
                        [tileType]="AnalyticsTagNameConstants.UNKNOWN"
                        [tileContentType]="AnalyticsTagNameConstants.UNKNOWN"
                        [findingMethod]="'AvailableSegments'"
                        (click)="onClickApronRow(segment)"
                        (focus)="onFocusApronRow(i)"
                        (blur)="onBlurApronRow()"
                        [attr.aria-label]="getSegmentTitle(segment)"
                        [title]="getSegmentTitle(segment)"
                        [attr.aria-selected]="currentlyPlayingSegment === segment"
                        role="tab">
                    <span class="segment-title__text">{{ segment.title }}</span>
                </button>

                <button *ngIf="segment.videoMarker"
                        class="video-marker-icon"
                        [title]="'apronSegments.liveVideo' | translate"
                        [attr.aria-label]="'apronSegments.liveVideo' | translate"
                        [ngClass]="{ 'action-disabled' : isVideo && currentlyPlayingSegment === segment }"
                        (click)="onClickApronRowVideoIcon(segment)"
                        (focus)="onFocusApronRow(i)"
                        (blur)="onBlurApronRow()">
                    <img role="presentation"
                         src="../../assets/images/video-white.svg"
                         alt=""
                         tabindex="-1"/>
                </button>

                <button class="segment-time"
                        [attr.aria-label]="getSegmentTitle(segment)"
                        [title]="getSegmentTitle(segment)"
                        (click)="onClickApronRow(segment)"
                        tabindex="-1">
                    {{ (currentlyPlayingSegment === segment && !isBehindLivePoint
                    ? 'apronSegments.live'
                    : segment.timeDisplay) | translate }}
                </button>
            </div>
        </li>
    </ol>
</div>
