@import "../../scss/variables";
@import "../../scss/placeholders";
@import "../../scss/mixins";

.apron-segments-list-wrapper {
    margin-top: 15px;
    border-radius: 3px;
    background-color: transparent;

    &.scrollbar-wrapper {
        height: 164px;
        overflow: auto;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        &::-webkit-scrollbar:vertical {
            width: 11px;
        }
        &::-webkit-scrollbar:horizontal {
            height: 11px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            width: 8px;
            background-color: $light-grey_6;
        }
    }

    .apron-segments-list {
        width: 100%;
        color: $white;

        &__item {
            display: flex;
            height: 40px;
            border-bottom: 1px solid $light-grey_6;
            overflow: hidden;

            &:last-child {
                border-bottom-style: none;
            }

            .segment-container {
                display: flex;
                align-items: center;
                flex: 1;
                color: $white;

                &:focus-within {
                    background-color:rgba($white, .2);
                }

                &.focused-within {
                    background-color:rgba($white, .2);
                }

                button {
                    color: $white;

                    &.action-disabled {
                        cursor: not-allowed;

                        img {
                            content: url("../../assets/images/video.svg");
                        }
                    }
                }

                .now-playing-indicator {
                    margin: 0 10px;
                }

                .segment-title {
                    flex: 10;
                    @extend %overflow-ellipsis;
                    white-space: nowrap;
                    text-align: left;

                    @media (max-width: $xlarge_min_width)  and (min-width: $m_max_width){
                        flex: 7;
                    }

                    &:focus {
                        .segment-title__text {
                            @extend %focus-white-border-bottom;
                        }
                    }

                    &__text {
                        border-bottom: 2px solid transparent;
                    }
                }

                .video-marker-icon {
                    margin: 0 10px;
                    flex: 1;
                    border-bottom: 2px solid transparent;

                    &:focus {
                        @extend %focus-white-border-bottom;
                    }
                }

                .segment-time {
                    padding-right: 15px;
                    flex: 2;
                }
            }
        }

        .current-segment-row {
            background-color:rgba($white, .1);
            cursor: default;
        }
    }
}


