@import "../../../../scss/variables";

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
}

.loading-screen--container {
    height: 100vh;
    width: 100vw;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $almost-black;
    opacity: 0.95;

    .flash {
        animation: flash linear 3s infinite
    }
}
