<section class="content-container" attr.aria-label="{{ title }}">
    <ul class="tile-list">
        <li class="tile-list__item"
            *ngFor="let tile of carouselData.tiles; trackBy: trackByFn">
            <edp-schedule-item [tileData]="tile" [scheduleType]="scheduleType"></edp-schedule-item>
        </li>
    </ul>
</section>
