@import "../../../../../scss/variables";
@import "../../../../../scss/mixins";

.content-container {
    overflow-y: auto;

    .tile-list {
        display: flex;
        flex-direction: column;
        margin: 0 7%;

        &__item {
            display: flex;
            border-bottom: 2px solid $pale-grey;
            height: 100px;
            align-items: center;

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}
