@import "../../../../scss/variables";
@import "../../../../scss/global";
@import "../../../../scss/placeholders";
@import "../../../../scss/mixins";

.channel-info {
    display: flex;
    align-items: center;
    height: 88px;
    min-width: 75%;
    margin-bottom: 5px;

    @media (max-width: $m_max_width - 1) {
        margin-top: 40px;
    }

    .logo-img-wrap {
        margin: 0 16px;
        cursor: pointer;

        img {
            width: auto;
            height: 88px;
            color: $white;
            cursor: default;
            font-size: 12px;
            text-wrap: normal;
            pointer-events: none;
            &.circle
            {
                width: 80px;
                height: 80px;
            }
        }

        // fallback text
        .show-name-alt {
            color: $white;
            padding-top: 12px;
        }
    }

    .np-fav-btn {
        & + .channel-text-wrap {
                margin-left: 16px;
        }
    }

    .channel-text-wrap {
        color: $white;

        .channel-name {
            font-size: 18px;
            @include sxm-font(Gotham-Medium);
            line-height: 1.33;
        }

        .channel-number,
        .on-demand {
            @include sxm-font(Gotham-Book);
            font-size: 16px;
            line-height: 1.5;
        }
    }
}
