<div class="channel-info">
    <!-- channel or show favorite icon -->
    <div class="np-fav-btn">
        <favorite-btn
            color="white"
            [viewType]= "nowPlaying">
        </favorite-btn>
    </div>

    <!-- current channel logo -->
    <div class="logo-img-wrap"
         sxm-new-analytics
         [tagName]="AnalyticsTagNameConstants.NP_CH_EDP"
         [userPath]="AnalyticsUserPaths.NP_CH_EDP"
         [userPathScreenPosition]="1"
         [pageFrame]="AnalyticsPageFrames.NOW_PLAYING_MAIN"
         [inputType]="AnalyticsElementTypes.BUTTON"
         [buttonName]="AnalyticsTagNameConstants.NP_CH_EDP_BUTTON_NAME"
         [elementPosition]="2"
         [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
         [actionSource]="AnalyticsTagActionSourceConstants.NOW_PLAYING_MAIN"
         [inputType]="AnalyticsInputTypes.MOUSE"
         (click)="onChannelLogoClick(channel)">
        <img *ngIf="channelLogoAltText?.length && channelLogoUrl?.length"
             [ngClass]="{ 'circle': isSeededRadio }"
             [src]="channelLogoUrl"
             [alt]="channelLogoAltText"/>

        <!-- fallback text -->
        <p *ngIf="!channelLogoUrl?.length && channelLogoAltText?.length"
              class="show-name-alt">
              {{ channelLogoAltText }}
        </p>
    </div>

    <div class="channel-text-wrap">

        <p *ngIf="channel?.name && channel?.name.length && !show.hideFromChannelList"
             class="channel-name">
            {{ channel?.name }}
        </p>

        <!-- channel number for Live OR "On Demand" for AOD/VOD -->
        <p *ngIf="isLive"
            class="channel-number"
            attr.aria-label=" {{ 'nowPlaying.channel' | translate }} {{ channel?.channelNumber }}">
            {{ 'nowPlaying.ch' | translate }} {{ channel?.channelNumber }}
        </p>

        <h3 *ngIf="isOnDemand && !isVod && show.hideFromChannelList"
            class="on-demand"
            attr.aria-label="{{ 'nowPlaying.podcast' | translate }}">
            {{ "nowPlaying.podcast" | translate }}
        </h3>

        <h3 *ngIf="isVod"
            class="on-demand"
            attr.aria-label="{{ 'nowPlaying.onDemand' | translate }}">
            {{ "nowPlaying.onDemand" | translate }}
        </h3>

        <h3 *ngIf="isAic"
            class="on-demand"
            attr.aria-label="{{ 'nowPlaying.XtraChannel' | translate }}">
            {{ 'nowPlaying.XtraChannel' | translate }}
        </h3>
    </div>
</div>
