@import "../../scss/variables";
@import "../../scss/placeholders";
@import "../../scss/mixins";

.contextual-data-container {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include sxm-font(GothamNarrSSm-Book);

    @media (max-width: $medium_max_width) {
        margin-bottom: 20px;
    }

    .image-wrapper {
        position: relative;
        margin-bottom: 1em;
        max-width: 398px;
        max-height: 244px;

        .logo {
            max-width: 255px;
            max-height: 179px;

            @media (max-width: $large_max_width) {
                max-width: 216px;
                max-height: 151.2px;
            }

            @media (max-width: $medium_max_width) {
                max-width: 240px;
                max-height: 168px;
            }
        }

        .liveVideo {
            max-width: 398px;
            max-height: 244px;
        }

        .tile-banner {
            position: absolute;
            top: 0px;
            right: 0px;
            border-radius: 2px;
            padding: 0 4px;
            display: flex;
            background-color: $title-black;

            .live-video {
                background-color: $progress-bar-dark;
            }

            &__text {
                @include sxm-font(GothamNarrSSm-Book);
                font-size: 12px;
                color: $white;
                margin: 3px;
            }

            &__dot {
                margin: 4px;
                height: 10px;
                width: 10px;
                background-color: $sxm_red_1;
                border-radius: 50%;
                align-self: center;
            }
        }

        .video-icon
        {
            position: absolute;
            bottom: 13px;
            left: 13px;
            height: 27px;
            width: 48px;
        }
    }
    .sub-title-text {
        font-size: 24px;
        letter-spacing: -0.4px;
        line-height: normal;
    }

    .title-text {
        font-size: 28px;
        letter-spacing: -0.4px;
        text-align: center;
        margin-top: 24px;
        @include sxm-font(Gotham-Bold);
    }

    .sub-title-text,
    .title-text {
        max-width: 630px;
        color: $white;

        @media (max-width: $large_max_width) {
            max-width: 450px;
        }
    }

    .description-text {
        max-width:540px;
        margin-top: 24px;
        font-size: 24px;
        letter-spacing: -0.3px;
        max-height: 110px;
        overflow: hidden;
        color: $white;

        @include sxm-font(Gotham-Bold);

        @media (max-width: $large_max_width) {
            max-width: 450px;
        }
    }
}
