<div class="contextual-data-container">
    <div class="image-wrapper">
        <img [class.logo]="!isLiveVideo"
            [class.liveVideo]="isLiveVideo"
            src="{{contextualData.imageUrl}}"
            role="presentation"
            alt=""
            *ngIf="contextualData.imageUrl"/>
        <img *ngIf=isLiveVideo
            class="video-icon"
            src="../../../assets/images/video-white.svg">
        <div class="tile-banner"
            *ngIf="isLiveVideo">
           <span class='tile-banner__dot'></span>
           <p class="tile-banner__text"
              role="presentation"
              aria-hidden="true">
              {{ 'nowPlaying.switchToVideo' | translate }}
           </p>
       </div>
    </div>
    <p class="sub-title-text" *ngIf="contextualData.subTitle">
        {{ contextualData.subTitle }}
    </p>
    <p class="title-text" *ngIf="contextualData.title">
        {{ contextualData.title }}
    </p>
    <p class="description-text" *ngIf="contextualData.description">
        {{ getDescriptionPrefix() }} {{ contextualData.description }}
    </p>
</div>
