@import "../../../../scss/variables";
@import "../../../../scss/placeholders";
@import "../../../../scss/mixins";

.live-video-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 32px;
    @include sxm-font(Gotham-Bold);
    font-size: 8px;
    color: $white;
    border-radius: 20px;
    border: solid 1px $white;
    padding-right: 8px;
    padding-left: 8px;
    @extend %secondary-button-transparent-white;


    &__img {
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin-right: 8px;
    }

    &__text {
        padding-top: 2px;
        border-bottom: 2px solid transparent;
    }

    // this is to position the button under the video player which is postion:absolute
    // TODO: consider placing this component the singleton-video.component.html
    @media (max-width: $m_max_width - 1) {
        // This can be implemented when live video is functional
        //margin-top: -100px;
        //margin-right: -140px;
    }
}
