<button class="live-video-btn"
        [ngClass]="(isVideo$ | async) ? 'switch-to-audio' : 'switch-to-video'"
        *ngIf="(isLiveVideoAvailable$ | async)"
        (click)="toggleLivePlayback()"
        [attr.aria-label]="( (isVideo$ | async) ? 'nowPlaying.switchToVideo' : 'nowPlaying.switchToAudio') | translate">
    <img class="live-video-btn__img"
         [src]="(isVideo$ | async) ? '../../../../assets/images/video-icon.svg' : '../../../../assets/images/headphones-white.svg'"/>
    <span class="live-video-btn__text">{{ ( (isVideo$ | async) ? 'nowPlaying.switchToAudio' : 'nowPlaying.switchToVideo') | translate }}</span>
</button>
