@import "../../../scss/variables";
@import "../../../scss/placeholders";
@import "../../../scss/mixins";

.upsell-banner {
    display: flex;
    width: 100%;
    justify-content: center;
    box-shadow: none;
    background-color: $progress-bar-dark;

    .upsell-banner-container {
        padding: 0 36px 0 36px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        align-items: center;

        @media (max-width: $l_max_width) {
            padding-bottom: 10px;
        }

        @media (max-width: $m_max_width - 1) {
            justify-content: center;
            flex-direction: column;
        }

        .text {
            display: flex;
            height: 48px;
            justify-content: center;
            align-items: center;
            margin-right: 48px;
            @media (max-width: $m_max_width - 1) {
                margin-right: 0;
            }

            span {
                font-size: 12px;
                @include sxm-font(Gotham-Book);
                color: $white;
                text-align: center;

                .free-preview {
                    @include sxm-font(Gotham-Bold);
                }

                .timer {
                    display: inline-block;
                    width: 60px;
                    letter-spacing: 1px;
                }
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            margin-bottom: 0;
            height: 24px;

            .setup-streaming-button {
                @include sxm-font(Gotham-Bold);
                padding: 0 15px 0 15px;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                text-decoration: none;
                border-radius: 20px;
                font-size: 10px;
                margin-right: 24px;
                @extend %primary-button-white;

                .setup-streaming-button__text {
                    padding-top: 2px;
                }
            }
        }
    }
}
