<div *ngIf="session.activeFreeTierSession && upsellBannerSubscribeInfo"
    class="upsell-banner"
     sxm-sticky
     [alwaysSticky]="true"
     [stickyClass]="'sticky-bar'">
    <div class="upsell-banner-container">
        <div class="text">
            <span>
                <span class="free-preview">{{ bannerText[0] }}</span>
                <div class="timer">
                    <app-count-down-timer [previewEndTime]="previewEndTime"
                                          (freePreviewEnded)="onFreePreviewEnd($event)"
                                          (onTimeDifferenceForKochava)="trackTimerForKochava($event)"
                                          class="free-preview">
                    </app-count-down-timer>
                </div>
                {{ bannerText[1]? bannerText[1]: "" }}
            </span>
        </div>
        <div class="buttons">
            <a [href]="upsellBannerSubscribeInfo.subscribeBtn.url || 'login.links.exploreSubscriptionOffers' | translate"
               class="setup-streaming-button"
               (click)="explore()"
               [attr.aria-label]="'login.accessibility.onBoarding' | translate"
               [title]="getSignUpCopy()"
               sxm-new-analytics
               [tagName]="AnalyticsTagNameConstants.WEB_EXPLORE_SHIM_SUBSCRIBE"
               [shim]="AnalyticsTagShimConstants.WEB_EXPLORE_SHIM"
               [buttonName]="upsellBannerSubscribeInfo.subscribeBtn.text"
               [tagText]="upsellBannerSubscribeInfo.subscribeBtn.text"
               [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
               [actionSource]="AnalyticsTagActionSourceConstants.WEB_FLOW"
               [mercuryEvent]="AnalyticsMercuryEventConstants.EVENT_SXM_EVEREST_TAG_WEB_EXPLORE_SHIM_SUBSCRIBE"
               [perfVal1]="timeRemaining"
               [userPath]="AnalyticsUserPaths.WEBSHIM_EXPLORE_SHIM_SUBSCRIBE"
               [screen]="AnalyticsScreens.WEB_EXPLORE_SHIM_SUBSCRIBE"
               [pageFrame]="AnalyticsPageFrames.SHIM"
               [elementType]="AnalyticsElementTypes.BUTTON"
               [inputType]="AnalyticsInputTypes.MOUSE"
               target="_blank">
                <span class="setup-streaming-button__text">{{ upsellBannerSubscribeInfo.subscribeBtn.text }}</span>
            </a>
        </div>
    </div>
</div>
