<div *ngIf="notificationInformation.open"
     id="notification-dialog">

    <div class="overlay">

        <button class="overlay-close"
                (click)="onButtonClick('dismissButton')"
                data-focus-trap>
            <img class="overlay-closing-img" src="../../../../assets/images/close-gray.svg"
                alt="Close Overlay">
        </button>

        <div class="overlay-content--container">

            <img *ngIf="notificationInformation.data.icon"
                 src="{{ notificationInformation.data.icon }}"/>
            <h1 class="overlay-title">{{ notificationInformation.data.titleText }}</h1>
            <p class="overlay-description" role="alert">{{ notificationInformation.data.bodyText }}</p>

            <div *ngIf="notificationInformation.data.buttons !== null" class="overlay-buttons-container">

                <div *ngIf="notificationInformation.data.buttons.primaryButton !== null"
                    class="primary-button-container">
                    <button
                        *ngIf="notificationInformation.data.buttons.primaryButton.label.length"
                        (click)="onButtonClick('primaryButton')"
                        class="primary-button"
                        data-focus-trap>
                        {{ notificationInformation.data.buttons.primaryButton.label }}
                    </button>
                </div>

                <div *ngIf="notificationInformation.data.buttons.secondaryButton !== null"
                    class="secondary-button-container">
                    <button
                        *ngIf="notificationInformation.data.buttons.secondaryButton?.label.length"
                        (click)="onButtonClick('secondaryButton')"
                        class="secondary-button"
                        data-focus-trap>
                        {{ notificationInformation.data.buttons.secondaryButton.label }}
                    </button>
                </div>

                <div *ngIf="notificationInformation.data.buttons.tertiaryButton !== null"
                    class="tertiary-button-container">
                    <button
                        *ngIf="notificationInformation.data.buttons.tertiaryButton?.label.length"
                        (click)="onButtonClick('tertiaryButton')"
                        class="tertiary-button"
                        data-focus-trap>
                        {{ notificationInformation.data.buttons.tertiaryButton.label }}
                    </button>
                </div>

            </div>

        </div>

    </div>

</div>
