@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(10, 18, 28, 0.95);
    z-index: 13;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-buttons-container {
        width: 100%;
        margin: auto;
        text-align: center;

        .primary-button,
        .secondary-button,
        .tertiary-button,
        .dismiss-button {
            margin: 0.5em 1em;
        }

        .primary-button,
        .secondary-button {
            width: 95%;
            padding: 5px;
            border-radius: 4px;
        }

        .primary-button {
            background-color: $btn-primary-blue;
            color: $white
        }

        .secondary-button {
            background-color: #33414F;
            color: $btn-primary-blue;
        }

        .tertiary-button,
        .dismiss-button {
            background-color: transparent;
            color: $btn-primary-blue;
        }

    }

    &-content--container {

        padding: 5px;
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        background-color: transparent;
        width: calc(100vw / 2.4);

        @media (max-width: $small_min_width) {
            width: calc(100vw * 0.95);
        }

        .overlay-title {
            @include sxm-font(GothamNarrSSm-Medium);
            font-size: 24px;
            margin-top: 1em;
            text-align: center;
            width: calc(100vw / 3.83);
            line-height: 1.08;
            letter-spacing: -0.3px;

            @media (max-width: $s_max_width) {
                width: calc(100vw / 1.4);
            }

        }

        .overlay-description {
            @include sxm-font(GothamNarrSSm-Book);
            font-size: 16px;
            margin: 20px 0 20px 0;
            text-align: center;
            width: calc(100vw / 3.04);
            line-height: 1.25;
            letter-spacing: -0.3px;
            color: $light-grey;

            @media (max-width: $s_max_width) {
                width: calc(100vw / 1.5);
            }

        }
    }

    &-footer {
        margin: 10px auto 10px auto;
        width: 100%;

        .overlay-error-code {
            margin: 0 auto;
            height: 16px;
            @include sxm-font(GothamNarrSSm-Book);
            font-size: 9px;
            font-weight: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: center;
            color: $grey-blue;
        }
    }

    &-closing-img {
        width: 42px;
        height: 42px;
    }

    &-close {
        background-color: transparent;
        position: absolute;
        right: 1em;
        top: 1em;

        .closer-x {
            font-size: 2em;
        }

    }
}
