@import "../../scss/variables";
@import "../../scss/placeholders";
@import "../../scss/mixins";

.favorites-container {
    @include content-wrapper();

    .favorites-header {
        display: flex;
        align-items: center;
        margin: 24px 0 16px 0;

        &__title {
            @include sxm-font(Gotham-Black);
            font-size: 28px;
            color: $title-black;
        }

        .favorite-tabs {
            display: flex;

            li{
                margin-left: 24px;
            }

            li:first-child{
                margin-left: 18px;
            }

            &__btn {
                @include sxm-font(Gotham-Book);
                font-size: 14px;
                color: $grey-blue2;
                border-bottom: 3px solid transparent;

                &.selected {
                    @include sxm-font(Gotham-Bold);
                    @extend %selected-blue7-border-bottom ;
                }

                &:focus {
                    @extend %focus-blue-border-bottom;
                }
            }
        }

        @media (max-width: $xs_max_width) {
            flex-flow: column;
            align-items: flex-start;

            .favorite-tabs {
                margin-top: 12px;

                li:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    .favorite-list {
        display: flex;
        flex-flow: row wrap;

        li {
            outline: none;
            margin: 0 24px 24px 0;
            border-radius: 4px;
            position: relative;  // for context-menu

            &:focus, &:active {
                @include tile-focus();
            }
        }

        li:active {
            z-index: 10;
        }
    }

    .no-results {
        display: flex;
        flex-flow: column;
        align-items: center;
        color: $grey-blue;
        margin-top: 40px;

        &__header {
            font-size: 24px;
            @include sxm-font(GothamNarrSSm-Medium);
            letter-spacing: 0.3px;
        }

        &__body {
            font-size: 18px;
            @include sxm-font(GothamNarrSSm-Book);
            letter-spacing: 0.4px;
        }
    }

    .no-results-login {
        margin-top: 20px;

        &__signin {
            display: flex;
            flex-flow: column;
            align-items: center;
        }

        &__signinbtn {
            color: #4a90e2;
            text-decoration: underline;
        }
    }

    // hide the ghost tile
    .sortable-ghost {
        opacity: 0;
    }

    // remove the overlap on the chosen tile
    .sortable-chosen {
        z-index:14;
    }
}
