<div class="favorites-container grid-content-wrapper">
    <header class="favorites-header">
        <h2 class="favorites-header__title">{{ 'favorites.favorites' | translate }}</h2>
        <ul class="favorite-tabs" role="tablist">
            <li *ngFor="let button of favoriteTabBtns; let i = index"
                role="presentation">
                <button class="favorite-tabs__btn"
                        sxm-new-analytics
                        [tagName]="getAnaTagsFromFavType(button.name)?.tagName"
                        [userPath]="getAnaTagsFromFavType(button.name)?.userPath"
                        [carouselName]="AnalyticsCarouselNames.FAVORITES_CAROUSEL"
                        [pageFrame]="AnalyticsPageFrames.PAGE"
                        [elementType]="AnalyticsElementTypes.BUTTON"
                        [buttonName]="getAnaTagsFromFavType(button.name)?.buttonName"
                        [elementPosition]="i+1"
                        [tagText]="button.name === anaFavoriteTypesConstants.EPISODES ? AnalyticsTagTextConstants.FAV_EPISODES : null"
                        [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                        [skipActionSource]="true"
                        [inputType]="AnalyticsInputTypes.MOUSE"
                        [skipCurrentPosition]="true"
                        [ngClass]="{'selected': button.name === activeTab}"
                        (click)="tabAction(button.name)"
                        [attr.aria-selected]="button.name === activeTab"
                        attr.aria-label="{{ 'favorites.favorite' | translate }} {{ 'favorites.' + button.name | translate }}"
                        role="tab">
                    {{ 'favorites.' + button.name | translate }}
                </button>
            </li>
        </ul>
    </header>

    <ul class="favorite-list"
        id="sortable-favorites-list"
        [attr.aria-label]="'favorites.favorites' | translate">
        <li *ngFor="let tile of getTiles(); let i = index;"
            (dragend)="resetNewFavIndex()"
            (click)="carouselService.onClickNeriticLinkAction(tile)"
            (keyup.enter)="carouselService.onKeyNeriticLinkAction(tile)"
            sxm-new-analytics
            [isTile]="true"
            [elementPosition]="i"
            [newFavoriteIndex]="newFavIndex"
            [tileType]="tile.tileContentType | lowercase"
            [tileContentType]="tile.primaryNeriticLink && tile.primaryNeriticLink.contentType | lowercase"
            [tileContentSubType]="tile.tileContentSubType">

            <channel-content-tile *ngIf="carouselService.isChannelTile(tile)"
                                  [tileData]="tile"
                                  [tileOrientation]="tile.carouselOrientation"></channel-content-tile>

            <episode-content-tile *ngIf="carouselService.isEpisodeTile(tile)"
                                  [tileData]="tile"
                                  [tileOrientation]="tile.carouselOrientation"></episode-content-tile>

            <show-content-tile *ngIf="carouselService.isShowTile(tile)"
                               [tileData]="tile"
                               [tileOrientation]="tile.carouselOrientation"></show-content-tile>

            <context-menu [getOptionsFunc]="getCMOptionsFunc(tile)"
                          [ngClass]="'positioned-absolutely animated'"
                          [ariaText]="tile.ariaText"></context-menu>

        </li>
    </ul>

    <div *ngIf="!favorites[activeTab].length"
         class="no-results">
        <p class="no-results__header">{{ 'noResults.favorites.' + activeTab + '.header' | translate }}</p>
        <p class="no-results__body">{{ 'noResults.favorites.' + activeTab + '.body' | translate }}</p>
        <div class="no-results-login" *ngIf="isOpenAccessLink">
            <p class="no-results-login__signin">{{ 'noResults.login.signin' | translate }}</p>
            <button class="no-results-login__signinbtn"
                    (click)="openLoginOverlay()"
                    attr.aria-label="{{ 'noResults.login.signinbtn' | translate }}">
                {{ 'noResults.login.signinbtn' | translate }}
            </button>
        </div>
    </div>
</div>
