@import "../../../../../scss/variables";
@import "../../../../../scss/mixins";

.content-container {
    overflow-y: auto;

    .list-header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        background-color: $header-grey;

        &__text {
            @include content-wrapper();
            color: $header-black;
            font-size: 18px;
        }
    }

    .tile-list {
        display: flex;
        flex-direction: column;
        @include content-wrapper();

        &__item {
            display: flex;
            border-bottom: 2px solid $pale-grey;
            height: 123px;
            align-items: center;

            show-list-item {
                width: 100%;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}


/* View-all component styles */
:host-context(.view-all-container) .content-container{

    .list-header {
        height: 49px;
        @include sxm-font(GothamNarrSSm-Medium);
        margin-top: 24px;
        background-color: transparent;

        &__text{
            @include content-wrapper();
            color: $title-black;
            font-size: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            @include sxm-font(Gotham-Black);
        }
        &__back-arrow {
            cursor: pointer;
            &::before{
                width: 13px;
                max-height: 28px;
                margin-right: 18px;
                content: url("../../../../../assets/images/left-chevron-categories-dark-blue.svg");
            }
            &:hover,
            &:focus {
                &::before{
                    content: url("../../../../../assets/images/left-chevron-categories-hover-blue.svg");
                }

            }
        }
    }
}

/* Collection-page component styles */
:host-context(.collection-channel-list-section) .content-container{

    .list-header {
        display: none;
    }

    .tile-list {
        margin: auto 2%;
    }
}
