<section class="content-container"
         *ngIf="carouselData"
         attr.aria-label="{{ title }}">
    <header class="list-header" *ngIf="showHeader">
        <h3 class="list-header__text"
            sxm-new-analytics
            [tagName]="AnalyticsTagNameConstants.BREADCRUMB_BACK"
            [userPath]="AnalyticsUserPaths.BREADCRUMB_BACK"
            [userPathScreenPosition]="2"
            [pageFrame]="AnalyticsPageFrames.HEADER"
            [elementPosition]="0"
            [carouselName]="title ? title : pageTitleAna"
            [skipActionSource]="true"
            [skipNpData]="true"
            [elementType]="AnalyticsElementTypes.BUTTON"
            [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
            [inputType]="AnalyticsInputTypes.MOUSE"
            [skipCurrentPosition]="true"
            [ngClass]="{ 'list-header__back-arrow': enableBackButton}"
            (click)="goBack()"
            role="presentation"
            aria-hidden="true">
            {{ title }}
        </h3>
    </header>
    <ul #listElement
        class="tile-list">
        <li class="tile-list__item"
            *ngFor="let tile of (tileIterable$ | async); trackBy: trackByFn"
            sxm-new-analytics
            [isTile]="true"
            [bannerInd]="tile.tileBanner ? (tile.tileBanner.bannerText | uppercase) : null"
            [consumedPerc]="tile.percentConsumed"
            [zoneOrder]="0"
            [carouselName]="title ? title : pageTitleAna"
            [elementPosition]="2"
            [carouselPosition]="0"
            [tileType]="tile.tileContentType | lowercase"
            [tileContentType]="tile.primaryNeriticLink && tile.primaryNeriticLink.contentType | lowercase"
            [tileContentSubType]="tile.tileContentSubType">

            <channel-list-item *ngIf="carouselService.isChannelTile(tile)"
                               [tileData]="tile"
                               [line1Classes]="line1ClassesForTile(tile)"
                               [line2Classes]="line2ClassesForTile(tile)"></channel-list-item>

            <episode-list-item *ngIf="carouselService.isEpisodeTile(tile)"
                               [tileData]="tile"></episode-list-item>

            <show-list-item *ngIf="carouselService.isShowTile(tile)"
                            [tileData]="tile"></show-list-item>

            <collection-list-item *ngIf="carouselService.isCollectionTile(tile)"
                            [tileData]="tile"></collection-list-item>

            <category-list-item *ngIf="carouselService.isCategoryTile(tile)"
                            [tileData]="tile"></category-list-item>

        </li>
    </ul>
</section>
