<div class="video-player-controls no-select"
     (mousemove)="progressBarService.onDragMove($event)"
     (mouseup)="progressBarService.onDragStop($event)"
     (mouseleave)="progressBarService.onDragStop($event)"
     #playerControls>

    <progress-bar
        [isVideo]="true"
        [isDmcaUnrestricted]="isDmcaUnrestricted$ | async"
        [segments]="segments$ | async"
        [content]="nowPlayingData$ | async"
        tabindex="-1"
        data-focus-trap>
    </progress-bar>

    <div class="controls-columns-container video-time">

        <time-display></time-display>

        <div class="center-buttons">
            <div class="center-buttons__main-controls transparent">
                <restart-btn
                    [isVisibilityHidden]="isDisallowed$ | async"
                    (restart)="restart($event)"
                    [canGoToLive]="canGotoLive$ | async"
                    [content]="nowPlayingData$ | async"
                    data-focus-trap>
                </restart-btn>

                <ul class="center-buttons-list transparent"
                    [attr.aria-label]="'playerControls.accessibility.mainControls' | translate">
                    <skip-back-15-seconds
                        *ngIf="skip15SecondsService.displaySkip15BackBtn()"
                        [isVideo]="true"
                        [content]="nowPlayingData$ | async"
                        data-focus-trap>
                    </skip-back-15-seconds>

                    <skip-back-button
                        [isVideo]="true"
                        [isLiveAndDisallowed]="isLiveAndDisallowed"
                        [content]="nowPlayingData$ | async"
                        data-focus-trap>
                    </skip-back-button>

                    <play-button
                        [isVideo]="true"
                        [content]="nowPlayingData$ | async"
                        data-focus-trap>
                    </play-button>

                    <skip-forward-button
                        [isVideo]="true"
                        [isLiveAndDisallowed]="isLiveAndDisallowed"
                        [content]="nowPlayingData$ | async"
                        data-focus-trap>
                    </skip-forward-button>

                    <skip-forward-15-seconds
                        *ngIf="skip15SecondsService.displaySkip15FwdBtn()"
                        [isVideo]="true"
                        [content]="nowPlayingData$ | async"
                        data-focus-trap>
                    </skip-forward-15-seconds>
                </ul>

                <go-to-live-btn
                    [isLiveAndDisallowed]="isLiveAndDisallowed"
                    [canShowGoToLive]="canShowGotoLive$ | async"
                    [canGoToLive]="canGotoLive$ | async"
                    [content]="nowPlayingData$ | async"
                    (goToLive)="goToLive($event)"
                    data-focus-trap>
                </go-to-live-btn>
            </div>
        </div>

        <ul class="right-buttons-list video-volume"
            role="presentation">
            <sxm-volume [content]="nowPlayingData$ | async"
                        data-focus-trap>
            </sxm-volume>
            <button toggleFullscreen
                    sxm-new-analytics
                    [tagName]="tagName"
                    [pageFrame]="pageFrame"
                    [elementType]="AnalyticsElementTypes.BUTTON"
                    [buttonName]="buttonName"
                    [modal]="modal"
                    [tagText]="tagText"
                    [userPath]="userPath"
                    [userPathScreenPosition]="userPathScreenPosition"
                    [elementPosition]="elementPosition"
                    [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                    [inputType]="AnalyticsInputTypes.MOUSE"
                    title="{{ 'playerControls.exitFullscreenVideo' | translate }}"
                    class="fullscreen-toggle"
                    data-focus-trap>
            </button>
        </ul>
    </div>
</div>

<skip-message></skip-message>

