@import "../../../scss/placeholders";
@import "../../../scss/mixins";

$transition-time: 0.2s;

.video-player-controls {
    display: flex;
    position: fixed;
    z-index: $playerControlZindex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 61px;

    /* Fullscreen fade animation */
    transition: opacity $transition-time ease-out;
    opacity: 1;

    /* Add Space for Scrubbing */
    box-sizing: content-box;
    padding-top: 10%;

    progress-bar {
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .controls-columns-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: $circle_dark;
        opacity: 0.8;

        .center-buttons {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            max-width: 324px;

            .center-buttons__main-controls {
                width: 100%;
                justify-content: space-between;
                display: flex;

                .center-buttons-list {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 250px;
                    height: 40px;
                }
            }
        }

        .right-buttons-list {
            display: flex;
            align-items: center;

            sxm-volume {
                height: 24px;
                margin-right: 24px;
                background-color: transparent;
            }

            .fullscreen-toggle {
                width: 24px;
                height: 24px;
                background: no-repeat center url('../../../assets/images/fullscreen-off-white.svg');
                margin-right: 16px;
                border-bottom: 2px solid transparent;

                &:focus {
                    @extend %focus-blue-border-bottom;
                }
            }
        }

        time-display {
            display: flex;
            align-self: flex-start;
            @include sxm-font(GothamNarrSSm-Medium);
            white-space: nowrap;
            font-size: 14px;
            margin: 10px 0 0 10px;
            min-width: 100px;
        }
    }
}

:host-context(.overlay-animation) .video-player-controls {
    /* Fullscreen fade animation */
    transition: opacity $transition-time ease-in;
    opacity: 0;
}
