@import "../../../scss/variables";
:host {
    display: flex;
    align-items: center;

    .now-playing-arrow {
        width: 20px;
        background-color: transparent;

        button {
            width: 100%;
            height: 100%;
            background-color: transparent;
        }
    }

    .next-channel-arrow,
    .previous-channel-arrow {
        width: 20px;
        height: 19px;

        @media (max-width: $m_max_width - 1) {
            position: absolute;
            top: 235px;
        }
    }

    .next-channel-arrow {
        margin-left: 10px;
        margin-right: 10px;
        background: url("../../../assets/images/next-ch-arrow-white.svg") center no-repeat;

        &:hover,
        &:focus {
            background: url("../../../assets/images/next-ch-arrow-hover.svg") center no-repeat;
        }

        @media (max-width: $m_max_width - 1) {
            right: 2px;
        }
    }

    .previous-channel-arrow {
        margin-right: 10px;
        margin-left: 10px;


        background: url("../../../assets/images/prev-ch-arrow-white.svg") center no-repeat;

        &:hover,
        &:focus {
            background: url("../../../assets/images/prev-ch-arrow-hover.svg") center no-repeat;
        }

        @media (max-width: $m_max_width - 1) {
            left: 2px;
        }
    }
}
