@import "../../../scss/variables";
@import "../../../scss/placeholders";
@import "../../../scss/mixins";

.open-access-banner {
    display: flex;
    width: 100%;
    justify-content: center;
    box-shadow: none;

    .open-access-banner-container {
        padding: 0 36px 0 36px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        align-items: center;
        @include content-wrapper(16px);
        background-color: $grey4;
        border-radius: 5px;

        @media (max-width: $l_max_width) {
            padding-bottom: 10px;
        }

        @media (max-width: $m_max_width - 1) {
            justify-content: center;
            flex-direction: column;
        }

        .text {
            display: flex;
            height: 56px;
            justify-content: center;
            align-items: center;
            margin-right: 48px;
            @media (max-width: $m_max_width - 1) {
                margin-right: 0px;
            }

            span {
                font-size: 16px;
                @include sxm-font(Gotham-Book);
                color: $white;
                text-align: center;

                .free-preview {
                    margin-right: 10px;
                    @include sxm-font(Gotham-Bold);
                }
            }

        }

        .buttons {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            margin-bottom: 0;
            height: 32px;

            .setup-streaming-button {
                @include sxm-font(Gotham-Bold);
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                text-decoration: none;
                width: 181px;
                border-radius: 20px;
                font-size: 12px;
                margin-right: 24px;
                @extend %primary-button-white;

                .setup-streaming-button__text {
                    line-height: 1.2;
                    padding-top: 2px;
                }
            }

            .sign-in-button {
                @include sxm-font(Gotham-Bold);
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                text-decoration: none;
                width: 181px;
                border-radius: 20px;
                font-size: 12px;
                @extend %secondary-button-transparent-white;
            }
        }
    }
}

:host.video-open-access-btn {
    .open-access-button-container {
        display: flex;

        .sign-in-button {
            margin: 0;
        }
    }
}
