@import "../../../scss/variables";
@import "../../../scss/placeholders";
@import "../../../scss/mixins";

$pdt-hover-animation-time: 3.5s;
$pdt-hover-color: rgba(208, 213, 215, 1);
$transition-time: 0.1s;
$more-padding-after-img: 24px;
$normal-padding-after-img: 16px;

.pdt-columns-container {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    border: 4px solid transparent;
    text-align: left;
    position: relative;

    &:focus,
    &:hover {
        border: 4px solid $grey-blue2;
        background-color: $grey-blue2;

        .pdt-text-container {

            .artist-name,
            .channel-number,
            .show-title,
            .track-name,
            .artist-station-name {
               color: $white;
            }

        }

        // only apply these styles on hover
        // if the text is above a certain length
        .pdt-text-container-scroll {

            &:before,
            &:after {
                position: absolute;
                height: 100%;
                width: 100%;
                content: "";
                z-index: 1;
            }

            &:before {
                background: linear-gradient(270deg,
                    rgba(115, 110, 125, 1) 15%,
                    rgba(115, 110, 125, 0) 25%
                );
            }

            &:after {
                margin-left: -$normal-padding-after-img;
                background: linear-gradient(90deg,
                    rgba(115, 110, 125, 1) 5%,
                    rgba(115, 110, 125, 0) 20%
                );
            }

            .artist-name,
            .channel-number,
            .show-title,
            .track-name,
            .artist-station-name {
                position: relative;
                animation-duration: $pdt-hover-animation-time;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-name: pdt-text-animation;
            }

            @keyframes pdt-text-animation {
                // The text is at its "home" position to start,
                // and is about to move left.
                0% {
                    left: 0;
                }
                // The text has moved left, and is now out of view.
                49.99999% {
                    left: -100%;
                }
                // The text enters view again, coming from the right.
                50% {
                    left: 100%;
                }
                // The text is back "home".
                100% {
                    left: 0;
                }
            }
        }
    }

    img.album-image {
        width: 64px;
        min-width: 64px;
        height: 64px;
    }

    .img-alt-text {
        text-align: center;
        color: rgb(9, 17, 29);
        font-size: 12px;
        width: 76px;
        height: auto;
        word-break: break-word;
        white-space: normal;
    }

    .channel-image-container {
        width: 80px;
        min-width: 80px; // help out IE.
        height: 64px;
        border-radius: 2px;
        background-color: $progress-bar-dark;
        cursor: pointer;
        text-align: center;

        img.channel-image {
            width: auto;
            height: 56px;
            margin: 4px 5px;
            color: white;
            font-size: 12px;
            overflow: hidden;
        }
    }

    .pdt-text-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 165px;
        height: 64px;
        font-size: 12px;
        border-radius: 0 4px 4px 0;
        padding-left: $normal-padding-after-img;
        overflow: hidden;
        transition: all $transition-time;
        cursor: pointer;

        // narrower on screens at or below 768px
        @media (max-width: $s_max_width) {
            max-width: 100px;
        }

        @media (max-width: $xs_max_width) {
            display: none;
        }

        .artist-name,
        .channel-number,
        .show-title,
        .track-name,
        .artist-station-name {
            white-space: nowrap;
            @include sxm-font(Gotham-Book);
            max-width: 157px;
            color: $grey-blue;
            font-size: 12px;
        }

        .artist-station-name {
            font-weight: 500;
        }

        .channel-number {
            color: $black;
            font-size: 10px
        }

        .artist-name {
            font-size: 14px;
            color: $black;
            @include sxm-font(Gotham-Bold);
        }

        .track-name {
            @include sxm-font(Gotham-Bold);
            font-size: 10px;
            color: $black;

        }
    }

    &.square-image {
        &:focus,
        &:hover {
            .pdt-text-container-scroll {
                &:after {
                    margin-left: -$more-padding-after-img;
                }
            }
        }

        .pdt-text-container {
            padding-left: $more-padding-after-img;
        }
    }
}
