<button class="pdt-columns-container"
        [ngClass]="{ 'square-image': isSeededRadio }"
        sxm-new-analytics
        [tagName]="AnalyticsTagNameConstants.MNP_EXPAND"
        [userPath]="AnalyticsUserPaths.MINI_CONTEXP"
        [userPathScreenPosition]="3"
        [pageFrame]="AnalyticsPageFrames.MODAL"
        [modal]="AnalyticsModals.MINI_NOW_PLAYING_BAR"
        [elementType]="AnalyticsElementTypes.SCREEN"
        [buttonName]="AnalyticsTagNameConstants.MNP_EXPAND_BUTTON_NAME"
        [elementPosition]=1
        [action]="AnalyticsTagActionConstants.OPEN"
        [actionSource]="AnalyticsTagActionSourceConstants.MININP"
        [inputType]=AnalyticsInputTypes.MOUSE
        (click)="onPdtTextClick()"
     attr.aria-label="{{ ariaLabel }} {{ 'nowPlaying.accessibility.expand' | translate }}">

    <div *ngIf="isImageLoaded; then image else text"></div>

    <ng-template #image>
        <span *ngIf="!isSeededRadio && channelLogoUrl?.length"
             class="column channel-image-container">
            <img class="channel-image"
                 [alt]="albumName"
                 [src]="channelLogoUrl"
                 [attr.title]="'nowPlaying.accessibility.pdtLogo' | translate"
                 (error)="onImageError($event)" />
        </span>
    </ng-template>

    <ng-template #text>
        <p class="img-alt-text">
            {{ clipTextWithEllipsis(channel.name) }}
        </p>
    </ng-template>

    <img *ngIf="isSeededRadio && albumImageUrl?.length"
         class="album-image"
         [alt]="albumName"
         [src]="albumImageUrl"
         [download-failed]="{ contentType: mediaType, fallbackAlbumImageUrl: fallbackImageUrl,
            defaultImgClass:defaultAlbumImgClass }"
         [attr.title]="'nowPlaying.accessibility.pdtLogo' | translate" />

    <div class="pdt-text-container"
         [ngClass]="pdtTextScrollable ? 'pdt-text-container-scroll' : ''"
         #pdtTextContainer>
        <p class="show-title"
           *ngIf="isOnDemand; else channelNumber"
           aria-hidden="true">
            {{ showTitle }}
        </p>
        <ng-template #channelNumber>
            <p *ngIf="channel && channel.channelNumber && isLive"
               class="channel-number"
               aria-hidden="true">
                Ch. {{ channel.channelNumber }}
            </p>
            <p *ngIf="isSeededRadio && channel && channel.name"
               class="artist-station-name"
               aria-hidden="true">
                {{ channel.name }}
            </p>
        </ng-template>
        <p *ngIf="artistName"
           class="artist-name"
           aria-hidden="true">
           {{ artistName }}
        </p>
        <p *ngIf="trackName"
           class="track-name"
           aria-hidden="true">
            {{ trackName }}
        </p>
    </div>
</button>
