<div class="sxm-filter-container">
	<form class="filter-channel">
		<input name="channelFilter"
		       class="filter-channel--input"
               autocomplete="off"
               attr.label="{{ 'filter.' + filterType | translate }}"
		       placeholder="{{ 'filter.' + filterType | translate }}"
               (keyup)="filterChannels($event.target.value)"
               [(ngModel)]="currentFilter"
               sxm-new-analytics
               [tagName]="AnalyticsTagNameConstants.CAT_FILTER_INPUT"
               [userPath]="AnalyticsUserPaths.CAT_FILTER_INPUT"
               [userPathScreenPosition]="3"
               [carouselName]="getCarouselNameAnaInput()"
               [pageFrame]="AnalyticsPageFrames.PAGE"
               [elementPosition]="2"
               [searchTerm]="currentFilter"
               [buttonName]="AnalyticsTagNameConstants.CAT_FILTER_INPUT_BUTTON_NAME"
               [elementType]="AnalyticsElementTypes.BUTTON"
               [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
               [inputType]="AnalyticsInputTypes.MOUSE"
               [skipCurrentPosition]="true">
		<button class="filter-channel--clear-btn"
		        type="reset"
                [title]="'navigation.accessibility.clearIcon' | translate"
                (click)="filterChannels('')"
                *ngIf="currentFilter.length"
                sxm-new-analytics
                [tagName]="AnalyticsTagNameConstants.CAT_FILTER_CLEAR"
                [userPath]="AnalyticsUserPaths.CAT_FILTER_CLEAR"
                [userPathScreenPosition]="3"
                [carouselName]="getCarouselNameAnaInput()"
                [pageFrame]="AnalyticsPageFrames.PAGE"
                [elementPosition]="3"
                [searchTerm]="currentFilter"
                [buttonName]="AnalyticsTagNameConstants.CAT_FILTER_CLEAR_BUTTON_NAME"
                [elementType]="AnalyticsElementTypes.BUTTON"
                [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                [inputType]="AnalyticsInputTypes.MOUSE"
                [skipCurrentPosition]="true">
			<img src="../../assets/images/close-icon-color.svg"
			     alt=""
			     tabindex="-1"/>
        </button>
    </form>
</div>
