@import "../../scss/variables";
@import "../../scss/placeholders";
@import "../../scss/mixins";

.sxm-filter-container {
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: flex-end;

    .filter-channel {
        position: relative;
        margin: 0 20px;

        &--input {
            @include sxm-font(Gotham-Book);
            font-size: 14px;
            width: 312px;
            height: 32px;
            border-radius: 8px;
            background-color: $white;
            border: solid 1px $grey-blue;
            letter-spacing: 0.2px;
            padding-left: 1em;
            color: $sxm_blue_6;

            //remove “X” from input box field on Edge/IE
            &::-ms-clear {
                display: none;
            }

            &::placeholder {
                letter-spacing: 0.2px;
                color: $grey-blue;
            }

            &::-webkit-input-placeholder {
                letter-spacing: 0.2px;
                opacity: 1;
                color: $grey-blue;
            }

            &:-ms-input-placeholder {
                letter-spacing: 0.2px;
                opacity: 1;
                color: $grey-blue;
            }

            &::-moz-placeholder {
                color: $grey-blue;
                opacity: 1;
                @include sxm-font(Gotham-Book);
            }

            &:focus{
                outline: none;
                border-radius: 8px;
                border: solid 1px $sxm_blue_6;
            }
        }

        &--clear-btn {
            position: absolute;
            right: 15px;
            top: 12%;
            padding: 0;

            &:focus {
                @extend %accessibility-outline;
            }
        }
    }

   @media all and (max-width: $xs_max_width) {
        justify-content: center;

        .filter-channel {
            width: 100%;

            &--input {
                width: 100%;
                padding: 0;
                text-align: center;
            }
        }
    }
}
