<div class="show-description" #showDescription>
    <div class="show-copy" #showCopy>
      {{ showDescriptionCopy }}
    </div>
</div>
<a class="more-or-less"
    *ngIf="showLink"
    sxm-new-analytics
    (click)="toggleMoreLess()"
    [tagName]="AnalyticsTagNameConstants.EDP_READ_MORE_LESS"
    [pageFrame]="AnalyticsPageFrames.EDP"
    [inputType]="AnalyticsInputTypes.MOUSE"
    [elementType]="AnalyticsElementTypes.BUTTON"
    [elementPosition]="2"
    [buttonName]="AnalyticsTagNameConstants.EDP_READ_MORE_LESS_BTN_NAME"
    [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
    [skipScreenName]="true"
    [edp]="carousel.screen === carouselTypeAnaConst.ENHANCED_SHOW_EDP
            ? AnalyticsEDPNames.SHOW : AnalyticsEDPNames.CHANNEL"
    [tileContentType]="anaTileAsset.subContentType"
    [tileType]="anaTileAsset.contentType"
    [tagText]="shouldTruncate ? AnalyticsTagTextConstants.READ_MORE : AnalyticsTagTextConstants.READ_LESS"
    [userPath]="AnalyticsUserPaths.EDP_MENU + '_' + (carousel.screen === carouselTypeAnaConst.ENHANCED_SHOW_EDP ?
            AnalyticsEDPNames.SHOW : AnalyticsEDPNames.CHANNEL) + '_'
            + (shouldTruncate ? AnalyticsTagTextConstants.READ_MORE : AnalyticsTagTextConstants.READ_LESS)"
    [userPath]="AnalyticsUserPaths.EDP_MENU + '_' + (carousel.screen === carouselTypeAnaConst.ENHANCED_SHOW_EDP ?
            AnalyticsEDPNames.SHOW : AnalyticsEDPNames.CHANNEL) + '_'
            + (shouldTruncate ? AnalyticsTagTextConstants.READ_MORE : AnalyticsTagTextConstants.READ_LESS)">
    {{ moreLessButtonLabel }}
</a>
