@import "../../../../scss/mixins";

a.more-or-less {
    font-size: 14px;
    @include sxm-font(GothamNarrSSm-Book);
    color: $sxm_blue_2;
    cursor: pointer;
}

.show-description {
    font-size: 14px;
    display: block;
    overflow: hidden;
    position: relative;
    line-height: 20px;
    max-height: 100px;
    @include sxm-font(GothamNarrSSm-Book);
}

.show-description-less {

  &:after {
    content: "...";
    text-align: right;
    padding-right: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) 95%);
  }
}

.show-description-more {
  max-height: none;
  &:after {
    content: none;
  }
}

