@import "../list-items";

.center-column {
    .image-container {
        img {
            width: auto;
            height: 100%;
            background-color: transparent;
        }
    }

    .info-container {
        .available-episodes {
            display: flex;
            align-items: center;

            &__img {
                width: 24px;
                height: 20px;
                margin-right: 5px;

                &.video {
                    height: 12px;
                }
            }

            &__text {
                display: block;
                font-size: 14px;
                color: $grey-blue;
                white-space: nowrap;
            }
        }

        .line3-prefix {
            &--bold {
                font-weight: bold;
            }

            &--italic {
                font-style: italic;
            }
        }

        &__title {
            span {
                display: inline-block;
                max-height: 50px;
                overflow: visible;
                white-space: normal;
            }
        }
    }
}
