<favorite-btn
    class="favorites-btn"
    [viewType]="listView"
    [listAsset]="favoriteAssetInfo">
</favorite-btn>

<button class="center-column"
        (click)="selectShow()"
        attr.aria-label="{{ carouselService.getAriaLabelContentType(tileData) | translate }}
            {{ tileData.line1 }}
            {{ tileData.line2 }}
            {{ tileData.line3 }}">
    <div class="image-container"
         [lazyLoad]="lazyLoadUrl"
         [ngStyle]="backgroundStyle">
        <img [lazyLoad]="getFgImgLazyLoadUrl(tileData.fgImageUrl)"
             (onStateChange)="onImageStateChange($event)"
             alt=""
             role="presentation"/>
    </div>

    <div class="info-container">
        <span class="info-container__number"
              *ngIf="displayChannelNumber; else availableEpisodes">
           {{ 'show.airsOnChannel' | translate }} {{ tileData.line1 }}
        </span>

        <ng-template #availableEpisodes>
            <div class="available-episodes">
                <img class="available-episodes__img"
                     [src]="tileData.tileContentSubType === 'vod' ? '../../assets/images/video.svg'
                                   : '../../assets/images/headphones-color.svg'"
                     alt=""
                     role="presentation"/>
                <span class="available-episodes__text">{{ tileData.line1 }}</span>
            </div>
        </ng-template>

        <p class="info-container__title"><span [ellipsis]="tileData.line2"></span></p>
        <p class="info-container__description">
            <span *ngIf="tileData.line3Prefix"
                  [ngClass]="'line3-prefix--' + tileData.line3Prefix.textStyle"
                  [style.color]="tileData.line3Prefix.textColor" >
                {{ tileData.line3Prefix.textValue }}
            </span>
            {{ tileData.line3 }}
        </p>

    </div>
</button>

<div class="right-column">
    <img [ngClass]="{'visibility-hidden': !(tileData.isTunedTo$ | async)}"
         class="now-playing-indicator"
         [src]="nowPlayingIndicatorService.playingIndicatorSrc$ | async"
         alt=""
         role="presentation" />
    <context-menu class="context-menu gray-icon"
                  *ngIf="showContextMenu"
                  [getOptionsFunc]="getCMOptionsFunc"
                  ariaText="{{ carouselService.getAriaLabelContentType(tileData) | translate }}
                  {{ tileData.line1 }}
                  {{ tileData.line2 }}
                  {{ tileData.line3 }}"></context-menu>
</div>

