<fieldset class="terms">

    <a class="checkbox"
       (click)="agreeToTerms()"
       [ngClass]="checked ? 'checked' : 'check'"
       role="checkbox"
       [attr.aria-checked]="checked"
       sxm-new-analytics
       [tagName]="AnalyticsTagNameConstants.WEB_OVERLAY_BUTTON"
       [tagText]="tagText"
       [inputType]="AnalyticsInputTypes.MOUSE"
       [elementPosition]="2"
       [userPath]="userPath + '_' + tagText"
       [pageFrame]="AnalyticsPageFrames.OVERLAY"
       [overlayName]="overlayName"
       [action]="AnalyticsTagActionConstants.BUTTON_CLICK">
        <img [ngClass]="checked ? 'checked' : 'check'"
             [src]="checked
                ? '../../../assets/images/checkboxes/checkboxChecked.png'
                : '../../../assets/images/checkboxes/checkbox-empty.svg'"
             role="presentation"
             [alt]="'openAccess.loginOverlay.altText.sxmLogo' | translate"/>
    </a>

    <input type="checkbox"
           id="accept"
           name="accept"
           [value]="checked"
           [checked]="checked"
           [hidden]="true"/>

    <label for="accept" [innerHTML]="checkboxText"></label>

</fieldset>
