@import "../../../scss/variables";

.terms {
    font-size: 11px;
    margin-top: 20px;
    a {
        color: $white;
        cursor: pointer;
    }
    label {
        display: inline-block;
        width: 280px;
    }
    img.check {
        vertical-align: baseline;
        width: 23px;
        height: 23px;
        margin-right: 8px;
    }
    img.checked {
        vertical-align: baseline;
        width: 25px;
        height: 23px;
        margin-right: 6px;
    }
}
