@import "../../scss/placeholders";
@import "../../scss/global";
@import "../../scss/mixins";

.all-on-demand-container {

    .all-on-demand-header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 57px;
        font-size: 26px;
        @include sxm-font(GothamNarrSSm-Book);
        color: $slate;
        text-transform: capitalize;
    }

    .tab-container {
        display: flex;
        font-size: 14px;
        @include sxm-font(GothamNarrSSm-Book);
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: center;
        color: $slate;

        .tab-btn {
            letter-spacing: 0.2px;
            width: 252px;
            height: 100%;
            text-align: center;
            text-transform: uppercase;

            &:focus {
                @extend %focus-blue-border-bottom;
            }
        }

        .select {
            border-bottom: 2px solid $sxm_blue_1;
            font-weight: bold;
            color: $sxm_blue_1;
        }
    }

    .tile-list {
        display: flex;
        flex-flow: column nowrap;
        width: 94%;
        margin: auto;
        background-color: $white;

        &__item {
            display: flex;
            border-bottom: 2px solid $pale-grey;
            height: 123px;
            align-items: center;

            episode-list-item,
            show-list-item {
                width: 100%;
            }
        }
    }

}
