<div class="all-on-demand-container" *ngIf="dataLoading">
    <h2 sxm-sticky
        [stickyClass]="'sticky-bar'"
        class="all-on-demand-header">{{ 'common.latestOnDemand' | translate }}</h2>

    <sxm-filter #filterRef
                filterType="episodeView">
    </sxm-filter>

    <div>
        <ul class="tile-list"
            #filterList>
            <li class="tile-list__item"
                *ngFor="let item of episodes.tiles |
                   filter:filterRef.currentFilter: ['aodEpisodeInfo.longTitle'];
                           let index = index">

                <episode-list-item *ngIf="carouselService.isEpisodeTile(item)"
                                   [tileData]="item"
                                   [filterText]="filterRef.currentFilter"></episode-list-item>
            </li>
        </ul>
    </div>

    <sxm-no-results [results]="filterList.children"
                    [filterText]="filterRef.currentFilter"
                    pageName="episodes"></sxm-no-results>
</div>
