@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 7%;

    .list-header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 49px;
        @include sxm-font(GothamNarrSSm-Medium);
        margin-top: 24px;

        &__text {
            color: $slate;
            font-size: 16px;
        }
    }

    .tile-list {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        background-color: $white;

        &__item {
            display: flex;
            border-bottom: 2px solid $pale-grey;
            height: 123px;
            align-items: center;

            channel-list-item,
            episode-list-item,
            show-list-item {
                width: 100%;
            }
        }
    }
}
