<div *ngIf="isLoading">Loading...</div>

<div class="settings" *ngIf="!isLoading">

    <h2 class="settings__header">
        {{ 'profile.reminderSettings.header' | translate }}
    </h2>

    <ul class="checkbox-settings-list">
        <li class="checkbox-settings-list__item border-none">
            <button class="switch"
                    [ngClass]="{ 'checked': showReminders }"
                    [attr.aria-checked]="showReminders"
                    attr.aria-label="{{ 'profile.reminderSettings.showReminders.header' | translate }}
                                     {{ 'profile.reminderSettings.showReminders.text' | translate }}"
                    role="checkbox"
                    (click)="updateShowReminders()">

                <span class="slider"></span>
            </button>

            <div class="checkbox-settings-item__text">
                <h3 class="checkbox-settings-item__text__header">{{ 'profile.reminderSettings.showReminders.header' | translate }}</h3>
                <span class="checkbox-settings-item__text__description">{{ 'profile.reminderSettings.showReminders.text' | translate }}</span>
            </div>
        </li>

        <li>
            <button class="manage-show-reminder-btn"
                    (click)="manageShowReminders()">
                <span class="manage-show-reminder-btn__text">{{ 'profile.reminderSettings.manageShowReminders' | translate }}</span>
                <img (click)="manageShowReminders()"
                     class="manage-show-reminder-btn__img"
                     src="../../../assets/images/chevron-right-blue.svg"
                     role="presentation"
                     alt=""/>
            </button>
        </li>

        <li class="checkbox-settings-list__item">
            <button class="switch"
                    role="checkbox"
                    [ngClass]="{ 'checked': isSuggestedShowRemindersOn }"
                    [attr.aria-checked]="isSuggestedShowRemindersOn"
                    attr.aria-label="{{ 'profile.reminderSettings.suggestedShowReminders.header' | translate }}
                                     {{ 'profile.reminderSettings.suggestedShowReminders.text' | translate }}"
                    (click)="updateSuggestedShowReminders()">

                <span class="slider"></span>
            </button>

            <div class="checkbox-settings-item__text">
                <h3 class="checkbox-settings-item__text__header">{{ 'profile.reminderSettings.suggestedShowReminders.header' | translate }}</h3>
                <span class="checkbox-settings-item__text__description">{{ 'profile.reminderSettings.suggestedShowReminders.text' | translate }}</span>
            </div>
        </li>

        <li class="checkbox-settings-list__item" *ngIf="isDevEndpoint">
            <button class="switch"
                    role="checkbox"
                    [ngClass]="{ 'checked': isSuggestedLiveVideoRemindersOn }"
                    [attr.aria-checked]="isSuggestedLiveVideoRemindersOn"
                    attr.aria-label="{{ 'profile.reminderSettings.suggestedLiveVideoReminders.header' | translate }}
                                     {{ 'profile.reminderSettings.suggestedLiveVideoReminders.text' | translate }}"
                    (click)="updateSuggestedLiveVideoReminders()">
                <span class="slider"></span>
            </button>

            <div class="checkbox-settings-item__text">
                <h3 class="checkbox-settings-item__text__header">{{ 'profile.reminderSettings.suggestedLiveVideoReminders.header' | translate }}</h3>
                <span class="checkbox-settings-item__text__description">{{ 'profile.reminderSettings.suggestedLiveVideoReminders.text' | translate }}</span>
            </div>
        </li>
    </ul>
</div>
