@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/pages/settings";

.manage-show-reminder-btn {
    height: 50px;
    width: 100%;
    color: $sxm_blue_1;
    font-size: 16px;
    text-align: left;
    border-bottom: 1px solid $pale-grey_2;
    @include sxm-font(Gotham-Book);

    &:focus {
        .manage-show-reminder-btn__text {
            @extend %focus-blue-border-bottom;
        }
    }

    &__img {
        width: 24px;
        height: 24px;
        background-color: $white;
        float: right;
    }
}

.border-none {
    border: none;
}
