@import "../../../scss/variables";
@import "../../../scss/placeholders";
@import "../../../scss/mixins";
@import "../../../scss/pages/login";

.form-container {
    width: 293px;
    color: $white;
    @include sxm-font(Gotham-Book);
    display: flex;
    flex-direction: column;
    align-items: center;

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .sign-in--header {
            @include sxm-font(Gotham-Book);
            font-size: 20px;
            padding-bottom: 11px;
            text-align: center;
        }

        .login-button {
            margin-top: 40px;
        }
    }
}
