﻿ <div class="form-container">
    <div role="alert"
         class="error-message--container"
         *ngIf="loginService.loginErrorMessage">
        <img src="../../../assets/images/warning-icon.svg"
             alt=""/>
        <span>{{ loginService.loginErrorMessage }}</span>
    </div>

    <form name="form"
          class="login-form"
          (ngSubmit)="loginForm.form.valid && loginService.login(viewContainerRef, model.username, model.password, closeLoginOverLayFunction)"
          #loginForm="ngForm"
          novalidate>
        <input id="username"
               type="text"
               name="username"
               [(ngModel)]="model.username"
               #username="ngModel"
               placeholder="{{ 'login.placeholder.username' | translate }}"
               required
               data-focus-trap
               attr.label="{{ 'login.accessibility.enterUsername' | translate }}"
               [ngClass]="{ 'invalid-login': loginService.loginErrorMessage }"/>
        <input id="password"
               type="password"
               name="password"
               [(ngModel)]="model.password"
               #password="ngModel"
               placeholder="{{ 'login.placeholder.password' | translate }}"
               attr.label="{{ 'login.accessibility.enterPassword' | translate }}"
               required
               data-focus-trap
               [ngClass]="{ 'invalid-login': loginService.loginErrorMessage }"/>
        <button class="login-button"
                [disabled]="loginService.disableLoginButton(model.username, model.password)"
                [ngClass]="{ 'enabled': !loginService.disableLoginButton(model.username, model.password),
                         'inactive': loginService.disableLoginButton(model.username, model.password) }"
                sxm-new-analytics
                [tagName]="AnalyticsTagNameConstants.LOGIN_SIGN_IN_OUT"
                [userPath]="AnalyticsUserPaths.LOGIN_SIGN_IN_OUT + '_' + AnalyticsTagNameConstants.LOGIN_SIGN_IN_OUT_BUTTON_NAME"
                [userPathScreenPosition]="2"
                [pageFrame]="AnalyticsPageFrames.PAGE"
                [elementType]="AnalyticsElementTypes.BUTTON"
                [elementPosition]="0"
                [buttonName]="AnalyticsTagNameConstants.LOGIN_SIGN_IN_OUT_BUTTON_NAME"
                [tagText]="AnalyticsTagTextConstants.SIGN_IN"
                [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                [inputType]="AnalyticsInputTypes.MOUSE"
                [skipCurrentPosition]="true">
            <span class="login-button__text">{{ 'login.signInButton' | translate }}</span>
        </button>
    </form>
</div>
