<div class="view-all-tile {{tileShape}}"
     attr.aria-label="{{ 'carousels.content.viewAll' | translate }}
                                             {{ carouselData.title.textValue }}
                                             {{ 'carousels.accessibility.tiles' | translate }}"
     role="button"
     tabindex="0">
    <div class="view-all-tile__content">
        <img src="../../../assets/images/chevron-right.svg"
             role="presentation"
             alt=""/>
        <p role="presentation"
           aria-hidden="true">{{ 'carousels.content.viewAll' | translate }}</p>
    </div>
</div>
