<div class="album-image-cell">
    <img class="{{defaultAlbumImgClass}}"
         *ngIf="albumImageUrl"
         alt=""
         role="presentation"
         [src]="albumImageUrl"
         [download-failed]="{ contentType: contentType, channelLogo : channelLogoUrl, fallbackAlbumImageUrl: fallbackImageUrl, defaultImgClass:defaultAlbumImgClass }"/>

    <img *ngIf="channelLogoAltText?.length && channelLogoUrl?.length && !albumImageUrl"
         class="channel-logo-image"
         [src]="channelLogoUrl"
         [download-failed]="{ contentType: contentType, defaultImgClass:defaultChannelImgClass }"
         [alt]="channelLogoAltText"/>

    <!-- fallback text -->
    <span *ngIf="!channelLogoUrl?.length && channelLogoAltText?.length"
          class="channel-info-cell show-name-alt">
            {{ channelLogoAltText }}
    </span>
</div>
