@import "../../../scss/variables";

.album-image-cell {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    border-radius: 4px;
    margin-top: 32px;

    // medium
    @media all and (max-width: $m_max_width) {
        margin-right: 0;
        justify-content: center;
    }

    .channel-logo-image {
        border-radius: 4px;
        display: block;
        display: flex;
        align-self: center;

        // This seems to be the optimal width for logo resolution, regardless of screen size.
        // In order to avoid stretching rectangular channel logo images, do not set height.
        width: 190px;
        margin: 49px 30px;


        // large
        @media all and (max-width: $l_max_width) {

            margin: 54px 35px;
        }

        // medium
        @media all and (max-width: $m_max_width) {
            margin: 35px 16px;

        }

        // small
        @media all and (max-width: $s_max_width) {
            margin: 54px 35px;
            justify-content: center;
        }
    }

    .album-image {
        width: 250px;
        height: 250px;
        border-radius: 4px;
        display: block;

        // large
        @media all and (max-width: $l_max_width) {
            width: 261px;
            height: 261px;
        }

        // medium
        @media all and (max-width: $m_max_width) {
            width: 222px;
            height: 222px;
            justify-content: center;
        }

        // small
        @media all and (max-width: $s_max_width) {
            width: 261px;
            height: 261px;
        }
    }
}
