<div class="tile-wrapper {{ tileOrientation }} category-tile"
     [ngClass]="tileData.tileShape"
     attr.aria-label="{{ tileData.tileBanner.bannerText }} {{ tileData.line1$ | async }} {{ tileData.line2$ | async }}"
     role="button"
     tabindex="0">
    <div class="tile-background {{ tileData.fgImageType }}"
         [ngClass]="{'updating': isUpdating}"
         [lazyLoad]="(lazyLoadEvent$ | async) ? lazyLoadUrl : null">

        <div class="tile-banner"
             *ngIf="tileData.tileBanner.display && tileData.tileBanner.bannerText && tileData.tileBanner.bannerColor"
             [ngStyle]="{'background-color': tileData.tileBanner.bannerColor}">
            <p class="tile-banner__text"
               role="presentation"
               aria-hidden="true">
                {{ tileData.tileBanner.bannerText }}
            </p>
        </div>

        <tile-image [class]="tileData.tileShape" [tileData]="tileData"></tile-image>

        <div class="tile-text">
            <p class="tile-text__title"
               role="presentation"
               aria-hidden="true" #titleLine>
                {{ tileData.line1$ | async }}
            </p>
            <p class="tile-text__description"
               role="presentation"
               aria-hidden="true">
                {{ tileData.line2$ | async }}
            </p>
        </div>
    </div>
</div>
