@import "../../../scss/placeholders";

.time-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

:host-context(.video-time) .time-container {
    justify-content: flex-start;
    .elapsed-time,
    .remaining-time {
        color: $white;
    }

    .elapsed-time::after {
        content: " / ";
    }
}
