@import "../../../../scss/placeholders";
@import "../../../../scss/mixins";

$transition-time: 0.2s;

.overlay-text {
    position: absolute;
    z-index: $VideoHoverZ;
    width: 100%;
    padding: 40px 0 38px 32px;
    @include sxm-font(GothamNarrSSm-Light);
    color: $white;
    background-image: linear-gradient(to top, rgba(9, 17, 29, 0.5), $circle_dark);
    transition: opacity $transition-time ease-in;
    opacity: 1;

    .series-name {
        font-size: 14px;
        letter-spacing: -0.2px;
        background: none;
        line-height: 1.14;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        color: inherit;
        border-bottom: transparent 2px solid;
        text-align: left;
        min-width: 200px;
        width: auto;

        &:focus {
            border-bottom-color: $sxm_blue_1;
        }

        &::after {
            content: ">";
            font-size: 12px;
        }
    }

    .episode-title {
        font-size: 24px;
        line-height: 1.39;
        letter-spacing: -0.3px;
    }

    .switch-audio-button {
        display: flex;
        align-items: center;
        width: 174px;
        height: 40px;
        margin-top: 16px;
        border-radius: 4px;
        background-color: $progress-bar-dark;
        color: $white;

        &-icon {
            width: 24px;
            height: 24px;
            margin: 8px;
        }

        &__text {
            border-bottom: transparent 2px solid;
        }

        &:focus {
            .switch-audio-button__text {
                @extend %focus-white-border-bottom;
            }
        }
    }
}

.overlay-animation {
    .overlay-text {
        transition: opacity $transition-time ease-out;
        opacity: 0;
    }
}
