<div [ngClass]="{ 'overlay-animation': animateOverlay$ | async }"
     id="fullscreen-video-overlay">
    <div class="overlay-text">
        <button *ngIf="singletonVideoService.overlaySeriesName"
                class="series-name"
                sxm-new-analytics
                [tagName]="AnalyticsTagNameConstants.NP_CNTN_RTN"
                [screen]="AnalyticsScreens.NOW_PLAYING"
                [userPath]="AnalyticsUserPaths.NP_CNTN_RTN"
                [userPathScreenPosition]="1"
                [pageFrame]="AnalyticsPageFrames.NOW_PLAYING_MAIN"
                [elementType]="AnalyticsElementTypes.BUTTON"
                [buttonName]="AnalyticsTagNameConstants.NP_CNTN_RTN_BUTTON_NAME"
                [elementPosition]="0"
                [action]=AnalyticsTagActionConstants.BUTTON_CLICK
                [actionSource]="AnalyticsTagActionSourceConstants.NOW_PLAYING_MAIN"
                [inputType]=AnalyticsInputTypes.MOUSE
                (click)="singletonVideoService.selectShow()"
                tabindex="-1"
                attr.aria-label="{{ 'playerControls.seriesName' | translate }} {{ singletonVideoService.overlaySeriesName }}"
                data-focus-trap>
            {{ singletonVideoService.overlaySeriesName }}
        </button>

        <p class="episode-title">{{ singletonVideoService.overlayEpisodeTitle }}</p>

        <button class="switch-audio-button"
                *ngIf="isLiveVideoAvailable"
                (click)="toggleLivePlayback()"
                [attr.aria-label]="'nowPlaying.switchToAudio' | translate"
                [title]="'nowPlaying.switchToAudio' | translate"
                data-focus-trap>
            <img class="switch-audio-button-icon"
                 src="../../../../assets/images/headphones-white.svg"
                 role="presentation"
                 alt=""/>
            <span class="switch-audio-button__text">{{ 'nowPlaying.switchToAudio' | translate }}</span>
        </button>
    </div>

    <video-controls></video-controls>
</div>
