<div class="center-column"
        attr.aria-label="{{ 'show.onAir' | translate }}
                         {{ tileData.line1$ | async }}
                         {{ tileData.line2$ | async }}
                         {{ tileData.line3$ | async }}">
    <div class="info-container" [ngClass]="{'show-schedule' : isShowSchedule}">
        <span class="available-show">
            <span *ngIf="!isShowSchedule && isOnAir" class="on-air-tag">{{ tileData.tileBanner.bannerText | translate }}</span>
            <span class="available-show__text">{{ tileData.line1$ | async }}</span>
        </span>
        <p class="available-show__schedule" *ngIf='tileData.line2$ | async' [ngClass]="{'is-show-schedule': isShowSchedule}">{{ tileData.line2$ | async }}</p>
    </div>
</div>

<div class="right-column" *ngIf="!isShowSchedule && !tileData.tileAssetInfo.isPlaceholderShow">
    <reminder-button [reminderAssets]="reminderAssets" viewType="list"></reminder-button>
</div>
