@import "../list-items";

.center-column {

    .info-container {

        &.show-schedule {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-basis: 100%;
            min-width: 100%;
        }

        .available-show {
            display: flex;
            flex-direction: row;
            align-items: center;
            @include sxm-font(Gotham-Medium);

            &__text {
                height: 24px;
                font-size: 18px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: normal;
                color: $almost-black;
            }

            .on-air-tag {
                border: 1px solid;
                background-color: $orange-grapefruit;
                width: 60px;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.25;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
                padding: 2px 10px 2px 10px;
                margin-right: 8px;
            }

            &__schedule {
                height: 20px;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.43;
                letter-spacing: normal;
                color: $grey-blue;
                margin-top: 8px;

                &.is-show-schedule {
                    @include sxm-font(Gotham-Medium);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.5;
                    height: 24px;
                    color: $almost-black;
                }
            }
        }
    }
}

.right-column {

    .set-reminder-btn {
        &__img {
            width: 24px;
            height: 24px;
        }
    }
}
