@import "../../scss/variables";
@import "../../scss/placeholders";
@import "../../scss/mixins";

.collection-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include content-wrapper(24px, 16px);

    .sxm-breadcrumb {
        display: flex;

        &__img {
            width: 13px;
            height: 23px;
            margin-right: 18px;
            align-self: center;
            background-image: url("../../assets/images/left-chevron-categories-dark-blue.svg");
            background-repeat: no-repeat;
        }

        &:hover,
        &:focus {
            .sxm-breadcrumb__img {
                background-image: url("../../assets/images/left-chevron-categories-hover-blue.svg");
            }
        }

        &__text {
            font-size: 28px;
            line-height: 1;
            text-align: left;
            @include sxm-font(Gotham-Black);
            color: $title-black;
        }
    }
}

.collection-channel-list-section {
    @include content-wrapper(10px);

    .collection-channel-list-header {
        margin-bottom: 8px;
        @include sxm-font(GothamNarrSSm-Medium);
        font-size: 18px;
        line-height: 1.8;
        height: 32px;
        text-align: left;
        color: $title-black;
    }
}

.collection-channel-list {
    display: flex;
    flex-flow: column nowrap;
    margin: auto 2%;

    &__item {
        border-bottom: 2px solid $pale-grey;
        height: 123px;
        align-items: center;
    }
}






