<header class="collection-page-header">
    <button class="sxm-breadcrumb"
            (click)="goBack()"
            [attr.title]="'category.accessibility.back' | translate"
            sxm-new-analytics
            [tagName]="AnalyticsTagNameConstants.BREADCRUMB_BACK"
            [userPath]="AnalyticsUserPaths.BREADCRUMB_BACK"
            [userPathScreenPosition]="2"
            [pageFrame]="AnalyticsPageFrames.HEADER"
            [elementPosition]="0"
            [carouselName]="pageTitle"
            [skipActionSource]="true"
            [skipNpData]="true"
            [elementType]="AnalyticsElementTypes.BUTTON"
            [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
            [inputType]="AnalyticsInputTypes.MOUSE"
            [skipCurrentPosition]="true">
        <span class="sxm-breadcrumb__img"></span>
        <span class="sxm-breadcrumb__text">{{ pageTitle }}</span>
    </button>
</header>

<section>
    <div *ngFor="let zone of (carousel$ | async)?.zone">
        <sxm-hero-carousel
            [carouselData]="zone.hero"></sxm-hero-carousel>
    </div>


    <div class="collection-channel-list-section" *ngIf="collectionCarousel$ | async">
        <h4 class="collection-channel-list-header">{{ pageTitle }} {{ 'collection.items' | translate }}</h4>
        <vertical-list [carouselData]="collectionCarousel$ | async" [pageTitleAna]="pageTitle"></vertical-list>
    </div>
</section>
