@import "../../../scss/placeholders";
@import "../../../scss/global";
@import "../../../scss/mixins";

.sxm-search-landing {
    width: 90%;
    margin: 26px calc(0.08552632 * 100vw + 32px - 34.21052632px) 20px calc(0.08552632 * 100vw + 32px - 34.21052632px);
    .header-section {
        &__text {
            font-size: 28px;
            line-height: 0.88;
            text-align: left;
            @include sxm-font(Gotham-Black);
            color: $title-black;
        }

        selector-tile{
            margin: 24px 0 8px 0;
        }
    }

    .category
    {
        &__header{
            font-size: 18px;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $black;
            @include sxm-font(Gotham-Bold);
            margin: 32px 12px 16px 0;
        }
        .content-tile-list {
           width: 100%;
            display: flex;
            flex-flow: row wrap;
            li {
                display: inline-block;
                outline: none;
                border-radius: 4px;
                margin: 0 24px 24px 0;
                &:focus, &:active {
                    @include tile-focus();
                }
            }
            li:active {
                z-index: 10;
            }
        }
    }


}

