<div class="sxm-search-landing" *ngIf="carouselStoreService?.searchLandingCarousels | async">

    <div class="header-section">
        <span class="header-section__text">Browse</span>

        <div *ngFor="let selector of (carouselStoreService.searchLandingCarousels | async)?.selectors">

            <selector-tile *ngIf="selector.class === 'moreSelector'"
                           [selector]='selector'></selector-tile>
        </div>

    </div>



    <div class="category" *ngIf="(carouselStoreService.searchLandingCarousels | async)?.category">
        <h2 class="category__header">Categories</h2>
        <ul class="content-tile-list"
            role="presentation">
            <li *ngFor="let tile of (carouselStoreService.searchLandingCarousels | async).category.tiles; trackBy : trackTile, let index = index"
                tabindex="0"
                (click)="carouselService.onClickNeriticLinkAction(tile)"
                (keyup.enter)="carouselService.onKeyNeriticLinkAction(tile)">

                <category-content-tile *ngIf="carouselService.isCategoryTile(tile)"
                                       [tileData]="tile"
                                        sxm-new-analytics
                                       [tagName]="AnalyticsTagNameConstants.SRCH_BROWSE_CAT"
                                       [userPath]="AnalyticsUserPaths.SRCH_BROWSE_CAT + '_' + (tile?.line1$ | async)"
                                       [carouselName]="AnalyticsCarouselNames.CATEGORIES"
                                       [elementType]="AnalyticsElementTypes.BUTTON"
                                       [elementPosition]="index"
                                       [skipNpData]="true"
                                       [buttonName]="AnalyticsTagNameConstants.SRCH_BROWSE_CAT_BTN_NAME"
                                       [tagText]="tile?.line1$ | async"
                                       [inputType]="AnalyticsInputTypes.MOUSE"
                                       [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                                       [skipActionSource]="true"></category-content-tile>
            </li>
        </ul>

    </div>
</div>
