@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/pages/settings";

:host {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* Responsive height that subtracts playbar and navbar overlaying */
    height: calc(100vh - 190px);

    .footer {
        padding-bottom: 40px;

        @media (max-width: $m_max_width) {
            padding-bottom: 100px;
        }

        @include sxm-font(GothamNarrSSm-Book);
        font-size: 14px;
        text-align: center;
        color: $grey-blue;
    }
}

