<div *ngIf="isLoading">
    Loading...
</div>
<div class="settings" *ngIf="!isLoading">
    <h2 class="settings__header">
        {{ 'profile.messagingSettings.header' | translate }}
    </h2>

    <ul class="checkbox-settings-list">
        <li class="checkbox-settings-list__item">
            <button class="switch"
                    [ngClass]="{ 'checked': offersMessaging }"
                    role="checkbox"
                    [attr.aria-checked]="offersMessaging"
                    attr.aria-label="{{ 'profile.messagingSettings.offers.header' | translate }}
                                     {{ 'profile.messagingSettings.offers.text' | translate }}"
                    (click)="updateOffersMessaging()">
                <span class="slider"
                      tabindex="-1"></span>
            </button>

            <div class="checkbox-settings-item__text" aria-hidden="true">
                <h3 class="checkbox-settings-item__text__header">{{ 'profile.messagingSettings.offers.header' | translate }}</h3>
                <p class="checkbox-settings-item__text__description">{{ 'profile.messagingSettings.offers.text' | translate }}</p>
            </div>
        </li>

        <li class="checkbox-settings-list__item">
            <button class="switch"
                    [ngClass]="{ 'checked': contentMessaging }"
                    role="checkbox"
                    [attr.aria-checked]="contentMessaging"
                    attr.aria-label="{{ 'profile.messagingSettings.content.header' | translate }}
                                     {{ 'profile.messagingSettings.content.text' | translate }}"
                    (click)="updateContentMessaging()">
                <span class="slider"
                      tabindex="-1"></span>
            </button>

            <div class="checkbox-settings-item__text" aria-hidden="true">
                <h3 class="checkbox-settings-item__text__header">{{ 'profile.messagingSettings.content.header' | translate }}</h3>
                <p class="checkbox-settings-item__text__description">{{ 'profile.messagingSettings.content.text' | translate }}</p>
            </div>
        </li>

        <li class="checkbox-settings-list__item">
            <button class="switch"
                    [ngClass]="{ 'checked': updatesMessaging }"
                    role="checkbox"
                    [attr.aria-checked]="updatesMessaging"
                    attr.aria-label="{{ 'profile.messagingSettings.updates.header' | translate }}
                                     {{ 'profile.messagingSettings.updates.text' | translate }}"
                    (click)="updateUpdatesMessaging()">
                <span class="slider"
                      tabindex="-1"></span>
            </button>

            <div class="checkbox-settings-item__text" aria-hidden="true">
                <h3 class="checkbox-settings-item__text__header">{{ 'profile.messagingSettings.updates.header' | translate }}</h3>
                <p class="checkbox-settings-item__text__description">{{ 'profile.messagingSettings.updates.text' | translate }}</p>
            </div>
        </li>
    </ul>

</div>

<footer class="footer">
    <p>{{ 'profile.messagingSettings.footer.line1' | translate }}</p>
    <p>{{ 'profile.messagingSettings.footer.line2' | translate }}</p>
</footer>
