<favorite-btn
    class="favorites-btn"
    [viewType]="listView"
    [listAsset]="favoriteAssetInfo">
</favorite-btn>

<button class="center-column"
        (click)="neriticLinkService.takePrimaryTileAction(tileData)"
        attr.aria-label="{{ ((tileData.isTunedTo$ | async) ? 'carousels.accessibility.currentlyPlaying' : '') | translate }}
                         {{ tileData.tileBanner.bannerText }}
                         {{ carouselService.getAriaLabelContentType(tileData) | translate }}
                         {{ tileData.ariaText | localizeTileText }}
                         {{ tileData.line2 }}
                         {{ tileData.line3 || tileData.longDescription }}">
    <div class="image-container"
         [ngClass]="!tileData.tileAssetInfo.isPandoraPodcast ? tileData.iconImageType : ''"
         [lazyLoad]="showImageStyle"
         [ngStyle]="backgroundStyle">

        <div *ngIf="tileData.tileAssetInfo.isPandoraPodcast; then fgImg else bgImg"></div>

        <ng-template #fgImg>

            <div *ngIf="tileData.fgImageUrl && isImageLoaded; then image else text"></div>

            <ng-template #image>
                <img class="fg-image"
                [src]="tileData.fgImageUrl"
                (error) = "onFGImageError($event)"
                alt=""
                role="presentation"/>
            </ng-template>

            <ng-template #text>
                <p class="img-alt-text">{{ getImageAltText(tileData.tileAssetInfo.showName) }}</p>
            </ng-template>
        </ng-template>

        <ng-template #bgImg>
            <img class="icon-image"
                 [ngClass]="tileData.tileContentSubType"
                 [src]="iconImageUrl"
                 alt=""
                 role="presentation"/>
        </ng-template>

        <div class="episode-progress-bar"
             *ngIf="tileData.percentConsumed > 0">
        <span class="episode-progress"
              [ngClass]="{ 'fully-consumed': tileData.percentConsumed === 100 }"
              [style.width.%]="tileData.percentConsumed"></span>
        </div>
    </div>

    <div class="info-container">
        <div class="info-container__line1">
            <div class="info-container__line1__tile-banner"
                 *ngIf="tileData.tileBanner.display && tileData.tileBanner.bannerText && tileData.tileBanner.bannerColor"
                 [ngStyle]="{ 'background-color': tileData.tileBanner.bannerColor }">
                <p class="info-container__line1__tile-banner__text">{{ tileData.tileBanner.bannerText }}</p>
            </div>
            <img class="info-container__line1__img"
                 *ngIf="tileData.tileAssetInfo.isPandoraPodcast"
                 [src]="'../../assets/images/headphones-color.svg'"
                 alt=""
                 role="presentation"/>
            <p class="info-container__line1__text">{{ tileData.line1 | localizeTileText }}</p>
        </div>

        <p class="info-container__title"><span [ellipsis]="tileData.line2"></span></p>
        <p *ngIf="!tileData.tileAssetInfo.isPandoraPodcast" class="info-container__episode-description" [ellipsis]="tileData.longDescription"></p>
    </div>
</button>

<div class="right-column">
    <img [ngClass]="{'visibility-hidden': !(tileData.isTunedTo$ | async)}"
         class="now-playing-indicator"
         [src]="nowPlayingIndicatorService.playingIndicatorSrc$ | async"
         alt=""
         role="presentation"/>
    <context-menu class="context-menu gray-icon"
                  [getOptionsFunc]="getCMOptionsFunc"
                  ariaText="{{ ((tileData.isTunedTo$ | async) ? 'carousels.accessibility.currentlyPlaying' : '') | translate }}
                         {{ tileData.tileBanner.bannerText }}
                         {{ carouselService.getAriaLabelContentType(tileData) | translate }}
                         {{ tileData.ariaText | localizeTileText }}
                         {{ tileData.line2 }}
                         {{ tileData.line3 || tileData.longDescription }}"></context-menu>
</div>
