@import "../list-items";

:host {
    .center-column {

        margin-right: 10px;

        .image-container {
            position: relative;

            .fg-image {
                width: auto;
                height: 100%;
                background-color: transparent;
            }

            .icon-image {
                width: 24px;
                height: 11.5px;
                margin: auto auto 10px 7px;
                &.aod {
                    width: 24px;
                    height: 20px;
                }
            }

            &.icon-center {
                .icon-image {
                    width: 46px;
                    height: 22px;
                    margin: auto;
                    &.aod {
                        width: 46px;
                        height: 38px;
                    }
                }
            }

            &.icon-left {
                justify-content: flex-start;
                align-items: flex-end;
            }

            .img-alt-text {
                color: white;
                width: 80%;
                height: auto;
                word-break: break-word;
                white-space: normal;
            }

            .episode-progress-bar {
                position: absolute;
                bottom: 0;
                left: 0;
                display: flex;
                width: 100%;
                height: 6px;
                background-color: $consumption-bar-blue;
                border-radius: 0 0 4px 4px;

                .episode-progress {
                    border-radius: 0 0 0 4px;
                    background-color: $progress-indicator-green;
                }

                .fully-consumed {
                    border-radius: 0 0 4px 4px;
                }
            }
        }

        .info-container {
            &__line1 {
                display: flex;

                &__img {
                    width: 24px;
                    height: 20px;
                    margin-right: 5px;
                }

                &__text {
                    display: block;
                }

                &__tile-banner {
                    display: block;
                    border-radius: 2px;
                    margin-right: 8px;
                    text-align: center;

                    &__text {
                        @include sxm-font(GothamNarrSSm-Book);
                        @include slick-responsive-font(1vw, 1.2vw, 1.5vw, 2.2vw);
                        color: $white;
                        padding: 0 4px;
                    }
                }
            }
            &__title {
                span {
                    display: inline-block;
                    max-height: 50px;
                    overflow: visible;
                    white-space: normal;
                }
            }
        }
    }
}
