@import "../../../scss/variables";
@import "../../../scss/placeholders";
@import "../../../scss/mixins";
@import "../../../scss/components/carousel";

.you-just-heard-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    @include sxm-font(GothamNarrSSm-Medium);
    position: relative;
    @include content-wrapper(0, 60px);

    .header__text {
        display: flex;
        align-items: center;
        height: 48px;
        font-size: 18px;
        color: $title-black;
    }

    .slick-slide {
        outline: none;
    }

    .you-just-heard-list {
        display: inline-block;
        overflow: hidden;
        width: 100%;

        li {
            /* Default Tile margin */
            margin-right: 24px;
            border: 1px solid transparent;
            //min-width: 140px @ 400px,max-width: 224px @ 1920px
            @include progressive-calc(width, 140, 224, 400, 1920, 100vw);

            @media screen and (max-width: $s_max_width) {
                margin-right: 16px;
            }

            &:focus {
                border-color: $sxm_blue_1;
                border-radius: 6px;
                -webkit-box-shadow: 6px 0 7px -4px rgba(0,0,0,1);
                -moz-box-shadow: 6px 0 7px -4px rgba(0,0,0,1);
                box-shadow: 6px 0 7px -4px rgba(0,0,0,1);
            }
        }

        .tile-wrapper {
            position: relative;
            width: 100%;
            height: 100%;

            // album-art / default album art styles
            .tile-background,
            .tile-default {
                display: flex;
                background-size: cover;
                border-radius: 4px;
                position: relative;
                width : 100%;
                height: 78%;
            }

            // fallback when there is no album art
            .tile-default {
                background-color: $progress-bar-dark;
                .record-img {
                    width: 60%;
                    margin: 20% 20%;
                    align-self: center;
                }
            }

            .tile-title,
            .tile-artist-name {
                white-space: nowrap;
                @extend %overflow-ellipsis;
                @include sxm-font(GothamNarrSSm-Book);
                width: inherit;
            }

            .tile-title {
                font-size: 14px;
                padding-top: 7px;
                color: $title-black;
            }

            .tile-artist-name {
                font-size: 12px;
                color: $grey-blue;
            }
        }
    }

    .carousel-arrows {
        &__prev {
            background: url("../../../assets/images/carousel-arrow-prev.svg") no-repeat;
        }

        &__next {
            right: calc(-#{$arrow-width / 2});
            background: url("../../../assets/images/carousel-arrow-next.svg") no-repeat;
        }
    }
}


