<section class="you-just-heard-container"
     *ngIf="youJustHeard.length > 0"
     attr.aria-label="{{ 'youJustHeard.songsYouJustHeard' | translate }}">
    <h2 class="header__text"
        role="presentation"
        aria-hidden="true">
        {{ 'youJustHeard.songsYouJustHeard' | translate }}
    </h2>

    <ul id="just-heard-carousel"
        class="you-just-heard-list"
        role="list">
        <li *ngFor="let item of youJustHeard; let i = index"
            role="listitem">
            <div class="tile-wrapper"
                attr.aria-label="{{ item.title }} {{ item.artistName }}"
                tabindex="-1">
                <img *ngIf="item.albumImageUrl"
                     class="tile-background"
                     [src]="item.albumImageUrl"
                     [download-failed]="{ contentType: mediaType, defaultImgClass:'tile-background', fallbackClass:'tile-default', fallbackAlbumImageUrl: fallbackImageUrl }"
                     alt=""
                     role="presentation"/>

                <div *ngIf="!item.albumImageUrl"
                     class="tile-default">
                    <img class="record-img"
                         src="../../../assets/images/no-album-art-color.svg"
                         alt=""
                         role="presentation"/>
                </div>

                <p class="tile-title"
                   role="presentation"
                   aria-hidden="true">
                   {{ item.title }}
                </p>
                <p class="tile-artist-name"
                   role="presentation"
                   aria-hidden="true">
                    {{ item.artistName }}
                </p>
            </div>
        </li>
    </ul>

    <div class="carousel-arrows">
        <button id="yjh-carousel-arrow__prev"
                class="carousel-arrows__prev"
                [title]="'navigation.accessibility.previousIcon' | translate"
                sxm-new-analytics
                [tagName]="AnalyticsTagNameConstants.CAROUSEL_NAV_BACK_FWD"
                [userPath]="AnalyticsUserPaths.CAROUSEL_NAV_BACK_FWD + '_' + ('youJustHeard.songsYouJustHeard' | translate) + '_' + AnalyticsTagTextConstants.CAROUSEL_NAV_BACK"
                [userPathScreenPosition]="2"
                [pageFrame]="AnalyticsPageFrames.PAGE"
                [carouselName]="'youJustHeard.songsYouJustHeard' | translate"
                [buttonName]="AnalyticsTagNameConstants.CAROUSEL_NAV_BF_BUTTON_NAME"
                [tagText]="AnalyticsTagTextConstants.CAROUSEL_NAV_BACK"
                [elementPosition]="0"
                [skipActionSource]="true"
                [elementType]="AnalyticsElementTypes.BUTTON"
                [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                [inputType]="AnalyticsInputTypes.MOUSE"
                [skipCurrentPosition]="true"></button>
        <button id="yjh-carousel-arrow__next"
                class="carousel-arrows__next"
                [title]="'navigation.accessibility.nextIcon' | translate"
                sxm-new-analytics
                [tagName]="AnalyticsTagNameConstants.CAROUSEL_NAV_BACK_FWD"
                [userPath]="AnalyticsUserPaths.CAROUSEL_NAV_BACK_FWD + '_' + ('youJustHeard.songsYouJustHeard' | translate) + '_' + AnalyticsTagTextConstants.CAROUSEL_NAV_FWD"
                [userPathScreenPosition]="2"
                [pageFrame]="AnalyticsPageFrames.PAGE"
                [carouselName]="'youJustHeard.songsYouJustHeard' | translate"
                [buttonName]="AnalyticsTagNameConstants.CAROUSEL_NAV_BF_BUTTON_NAME"
                [tagText]="AnalyticsTagTextConstants.CAROUSEL_NAV_FWD"
                [elementPosition]="0"
                [skipActionSource]="true"
                [elementType]="AnalyticsElementTypes.BUTTON"
                [action]="AnalyticsTagActionConstants.BUTTON_CLICK"
                [inputType]="AnalyticsInputTypes.MOUSE"
                [skipCurrentPosition]="true"></button>
    </div>
</section>



