<div class="overlay-container" id="cold-start-overlay">
    <div class="overlay-body cold-start" #csOverlay>
        <div class="overlay-content">

            <h2 class="overlay-header" role="alert">{{ 'curatedColdStartLoadingModal.header' | translate }}</h2>

            <p class="overlay-text cold-start" role="alert">{{ 'curatedColdStartLoadingModal.body' | translate }}</p>

            <button (click)="closeColdStartOverlay()"
                    class="overlay-button-1"
                    [attr.aria-label]="'curatedColdStartLoadingModal.button' | translate"
                    tabindex="2"
                    data-focus-trap>
                <span class="overlay-button-1__text">{{ 'curatedColdStartLoadingModal.button' | translate }}</span>
            </button>

        </div>
    </div>
</div>

