@import "./base/_normalize.scss";
@import "./base/_typography.scss";
@import "./variables.scss";
@import "mixins";
@import '~@angular/cdk/a11y';

@include cdk-a11y();

ul, p {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    // For a cleaner appearance when a user accidentally
    // clicks and drags over buttons, disable the browser's
    // default blue 'selection' highlighting.
    //
    // SEE: https: //css-tricks.com/almanac/properties/u/user-select/
    //
    // NOTE: If we decide against applying to all buttons,
    //       consider a reusable .no-select class
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported ONLY by Chrome and Opera */

    &:focus {
        outline: none;
    }
}

a {
    border-bottom: 2px solid transparent;
}

a:focus {
    outline: none;
}

.cursor-off {
    cursor: auto;
}

.sticky-bar {
    position: fixed;
    background-color: $white;
    box-shadow: 0 2px 2px $pale-grey;
    z-index: 9;

    &.stickier {
        z-index: 10;
    }
}

.text {
    &-upperCase {
        text-transform: uppercase;
    }

    &-lowerCase {
        text-transform: lowercase;
    }
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

video {
    height: inherit;
    width: inherit;
}

object {
    height: inherit;
    width: inherit;
}

.video-wrap__dormant
{
    object {
        visibility: hidden !important;
    }
}

/**
 * Applied styling to the immediate parent element of content-tiles
 * slickjs adds a div.slick-track parent to each carousel row dynamically
 */
.slick-track{
    display: flex;

    li {
        animation: fadeIn .6s;
    }

    @keyframes fadeIn {
        0% {opacity: 0;}

        100%   { opacity: 1; }
    }
}

.carousel-content-wrapper {
   @include content-wrapper();
}

.grid-content-wrapper {
    margin: 0 calc(32px - #{$tile-grid-gutter}) 0 32px;

    @media screen and (min-width: $l_max_width) {
        margin: 0 calc(162px - #{$tile-grid-gutter}) 0 162px;
    }

    @media screen and (min-width: $xl_max_width) {
        margin: 0 calc(150px - #{$tile-grid-gutter}) 0 150px;
    }
}

// hide an element without affecting the layout
.visibility-hidden {
    visibility: hidden;
}

.web-player {
    position: absolute;
    top: -999em;
}

//Chevron style globally
.chevron{

    &:before{
        border-style: solid;
        border-width: 4px 4px 0px 0;
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        position: relative;
        top: 0.15em;
        left: 0.15em;
        transform: rotate(-45deg);
        vertical-align: top;
        border-radius: 4px;
        margin: 0 15px;
    }

    &-right:before {
        left: 0;
        transform: rotate(45deg);
    }

}
