@import "mixins/tiles";

@mixin sxm-font($font) {
  font-family: $font, Arial, Helvetica, sans-serif
}

@mixin overlay-transition($property: "all", $time: 1s, $type: "ease") {
    -webkit-transition: $property $time $type;
    -moz-transition: $property $time $type;
    -o-transition: $property $time $type;
    transition: $property $time $type;
}

@mixin slick-responsive-font($font-size-XL, $font-size-L, $font-size-M, $font-size-S) {
    font-size: $font-size-XL;

    @media screen and (max-width: $l_max_width - 1) {
        font-size: $font-size-L;
    }

    @media screen and (max-width: $m_max_width - 1) {
        font-size: $font-size-M;
    }

    @media screen and (max-width: $s_max_width - 1) {
        font-size: $font-size-S;
    }
}

@mixin controls-focus-active($focus-bg-color, $active-bg-color, $focus-color, $active-color ) {
    &:focus,
    &:active {
        border-radius: 50%;
        @include sxm-font(Gotham-Bold);
    }

    &:focus {
        background-color: $focus-bg-color;
        color: $focus-color;
    }

    &:active {
        background-color: $active-bg-color;
        color: $active-color;

    }
}

@mixin content-wrapper($top: 0, $bottom: 0) {
    margin-top: $top;
    margin-bottom: $bottom;
    @include progressive-calc(margin-right, 32, 162, 400, 1920, 100vw);
    @include progressive-calc(margin-left, 32, 162, 400, 1920, 100vw);
}

@mixin progressive-calc($css_property_name, $min_property_value, $max_property_value, $min_screen_width, $max_screen_width, $view_width) {
    // uses slope calculation to determine progressive scaling for any property name like width, height, margin etc.
    // m = (y1-yo)/(x1-x0)
    // y-y0 = m(x-x0) => y = mx - mx0 + y0 => y = mx + (y0 - mx0)
    // y: property-name (value being calculate ex:- width, height,etc)
    //y0: minimum property value (ex:- minimum height)
    //y1: maximum property value (ex:- maximum height)
    //x0: minimum screen width (ex:- 400)
    //x1: maximum screen width (ex: 1920)
    //x: view width (responsive multiplication factor) - (ex: 100vw)
    //NOTE: Only works with pixels values
    //NOTE: Only works for scenarios where there is incremental change
    // i.e.,(smaller value on a small screen to a bigger value on a bigger screen)

    $slope: ($max_property_value - $min_property_value)/($max_screen_width - $min_screen_width); // m = (y1-yo)/(x1-x0)
    $temp-var: (#{($min_property_value+px - #{($slope * $min_screen_width)+px})}); //(y0 - (m * x0))
    $final-var: #{($slope * #{$view_width})} + #{$temp-var}; // mx + (y0 - (m * x0))
    #{$css_property_name}: calc(#{$final-var}); // CSS property value assignment
}
