@import "variables/colors";
@import "variables/breakpoints";
@import "variables/player-controls";

/* Normalization Variables */
$spacer:                      1rem !default;
$paragraph-margin-bottom:     1rem !default;
$font-weight-bold:            700 !default;
$dt-font-weight:              $font-weight-bold !default;
$label-margin-bottom:         .5rem !default;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;
$headings-margin-bottom:      ($spacer / 2) !default;
$headings-font-family:        inherit !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;

/* Z-index Variables */
$playerControlZindex: 11;    // Used for player control
$OverlayZ: 100;
$VideoContextZ: 1;
$LiveLabelZ: 2;
$VideoHoverZ: 4;
$VideoBufferZ: 3;
// had to change overlay z index because of fix for
// WEBEVEREST-3158 When user is scrolled at bottom of the page & opens Setting Drop down, some part of drop down is hidden behind the Header (#2515)
// TODO: Jordan D. Nelson We neeed to fix z index creep.

//changing this value to equal overlay z-index for error messages to show up over login overlay Webeverest-3955
$dynamicModalZIndex: 97; // used for pandora, music overlay's and added as part of fix for WEBEVEREST-3780
$toastMsgZIndex: 96;
$iframe-z-index: 101;
$contextMenuZIndex: 101;
$castingWelcomeZIndex: 102;

/* Carousel Variables */
$arrow-width: 40px;
$arrow-height: 40px;

/* Tile Variables */
$hero-tile-gutter--large: 24px;
$hero-tile-gutter--small: 16px;
$tile-grid-gutter: 30px;
$content-tile-gutter: 20px;

$hover-transition-time: 0.1s;

/**
* NOTE: video aspect ratio is
* 16:9 (w:l)
*/
$video-width-xl: 661px;
$video-height-xl: $video-width-xl * (9 / 16);

$video-width-lg: 546px;
$video-height-lg: $video-width-lg * (9 / 16);

$video-width-md: 468px; // 700px; TBA
$video-height-md: $video-width-md * (9 / 16);

$video-width-sm: 468px; // 560px; TBA
$video-height-sm: $video-width-sm * (9 / 16);

$video-height-mini: 158px;
$video-width-mini: 281px;
$video-spinner-width-mini: $video-height-mini * 0.7;
