@import "../../../../scss/mixins";

.scrub-meta-data {
    position: absolute;
    bottom: 62px;
    width: auto;
    height: 30px;
    border-radius: 53px;
    text-align: center;
    background-color: $sxm_blue_2;

    &__text {
        display: inline;
        white-space: nowrap;
        @include sxm-font(GothamNarrSSm-XLight);
        font-size: 12px;
        letter-spacing: 0.2px;
        color: $white;
        vertical-align: bottom;
        padding: 0 10px 0 10px;
    }
}

// layer 6 - scrubber
#progress-indicator-ball {
    position: absolute;

    // make an 8px white circle
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: $sxm_blue_6;

    // add a very slight translucent ring around the scrub ball
    border: 0.5px solid rgba(0, 0, 0, 0.1);

    // add a drop shadow
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    // vertically raise the ball
    margin-top: -2.5px;

    // scale by 40 percent on hover
    &:hover {
        transform: scale(1.4);
    }
}

/* Fullscreen Video Styles */
:host-context(.fullscreen-video-view) .scrub-meta-data {
    bottom: 15px;
    background-color: $circle_dark;
}
