<div class="scrub-meta-data"
     *ngIf="progressBarService.isDragging && segments.length > 1"
     [style.left.%]="(progressBarService.playheadPercentage$ | async) - 11.30921">
    <p class="scrub-meta-data__text">{{ segmentInfo.segmentTime  }} | {{ segmentInfo.segmentTitle }}</p>
</div>

<!--
// ------------------------------------------------------------------------------------------------------
// SCRUBBER
//
// The circular ball that indicates the current playing position and provides users something
// to drag (aka scrubbing) to seek to a desired position. Like segment markers, this is only
// visible (and therefore accessible) if the currently playing episode provides DMCA unrestricted access.
// ------------------------------------------------------------------------------------------------------
-->
<div id="progress-indicator-ball"
     *ngIf="isDmcaUnrestricted"
     (mousedown)="onDragStart($event)"
     (touchstart)="onDragStart($event)"
     [style.left.%]="(progressBarService.playheadPercentage$ | async) - SCRUB_BALL_RADIUS"
     sxm-new-analytics
     [tagName]="AnalyticsTagNameConstants.MNP_PROGRESS_BAR"
     [userPath]="AnalyticsUserPaths.MNP_PROGRESS_BAR"
     [pageFrame]="AnalyticsPageFrames.MODAL"
     [modal]="AnalyticsModals.MINI_NOW_PLAYING_BAR"
     [elementType]="AnalyticsElementTypes.BUTTON"
     [buttonName]="AnalyticsTagNameConstants.MNP_PROGRESS_BAR_BUTTON_NAME"
     [elementPosition]="9"
     [action]=AnalyticsTagActionConstants.BUTTON_CLICK
     [inputType]=AnalyticsInputTypes.MOUSE
     [actionSource]="AnalyticsTagActionSourceConstants.MININP"></div>
