@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/placeholders";


.favorite-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 32px;
    border-radius: 20px;
    border: solid 1px $white;
    background-color: transparent;
    color: $white;
    @include sxm-font(Gotham-Bold);
    font-size: 8px;
    margin: 0 0 8px 0;
    padding: 0 12px;
    @extend %secondary-button-transparent-white;

    &__img {
        width: 14px;
        height: 14px;
        margin-right: 8px;
        flex-shrink: 0;
    }

    &__text {
        text-transform: uppercase;
        line-height: 10px;
    }

}
