<div class="language-toggle-container">
    <button [ngClass]="!isFrench() ? 'language-toggle-button' : 'language-toggle-button inactive'"
            attr.aria-label="{{ 'languageToggle.accessibility.english' | translate }}"
            (click)="toggleLang('en')">
        {{ 'languageToggle.english' | translate }}
    </button>

    <button [ngClass]="isFrench() ? 'language-toggle-button' : 'language-toggle-button inactive'"
            attr.aria-label="{{'languageToggle.accessibility.french'| translate }}"
            (click)="toggleLang('fr')">
        {{ 'languageToggle.french' | translate }}
    </button>
</div>
