@import "../../../../scss/variables";
@import "../../../../scss/placeholders";

.language-toggle-container {

    .language-toggle-button {
        width: 90px;
        height: 28px;
        border-radius: 58px;
        background-color: $darker-blue;
        text-align: center;
        font-family: GothamNarrSSm-Book;
        font-size: 14px;
        color : $white;

        &:first-child {
            margin-right: 0.5em;
        }

        &.inactive {

            background-color: rgba(231, 237, 243, 0.5);
        }
        &:focus {
            @extend %focus-gray-border-bottom;
        }
        &:hover {
            background-color:$btn-hover-blue;
        }
    }
}

:host-context(.overlay-container){
        .language-toggle-button {
            @include primary-button-blue;

            &.inactive {
                color: $sxm_blue_6;
                @extend %secondary-button-transparent-blue;
            }
        }
}
