@import "../../../scss/variables";

.section {
    width: 85%;
    margin: auto;
}

.no-results {

    &-container {
        display: flex;
        padding: 2em;
        margin: 35px auto;
        border-bottom: 1px solid $light-grey;
    }

    &-media {
        -webkit-flex: 1 0 0;
        flex: 1 0 0;
    }
    &-message {
        -webkit-flex: 10 0 0;
        flex: 6 0 0;
        .header {
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: -0.2px;
            text-align: left;
            color: $slate;
        }

        .text {
            font-size: 14px;
            line-height: 1.43;
            letter-spacing: -0.2px;
            text-align: left;
            color: $grey-blue;
        }
    }
}
