<div *ngIf="!isLoading">
    <div class="carousel-container" *ngIf="carouselStoreService.profileCarousels | async">
        <div *ngFor="let zone of (carouselStoreService.profileCarousels | async).zone">
            <content-carousel [carouselData]="zone.content">
            </content-carousel>
        </div>

    </div>

    <div class="section">

        <div class="no-results-container " *ngIf="!recentlyPlayedCarousels">

            <div class="no-results-media">
                <img src="./../../assets/images/listening-history.svg"
                     alt="{{'profile.noresults.recentlyPlayed.header' | translate}}">
            </div>

            <div class="no-results-message">
                <h4 class="header">{{'profile.noresults.recentlyPlayed.header' | translate}}</h4>
                <span class="text">
                    {{'profile.noresults.recentlyPlayed.text' | translate}}
                </span>
            </div>

        </div>

        <div class="no-results-container" *ngIf="!saveForLaterCarousels">
            <div class="no-results-media">
                <img src="./../../assets/images/save-on.svg"
                     alt="{{'profile.noresults.saveForLater.header' | translate}}">
            </div>
            <div class="no-results-message">
                <h4 class="header">{{'profile.noresults.saveForLater.header' | translate}}</h4>
                <span class="text">
                    {{'profile.noresults.saveForLater.text' | translate}}
                </span>
            </div>
        </div>
    </div>
</div>
